# 示例1: YoutubeDNN-ml_1m
https://github.com/shenweichen/DeepMatch/blob/master/examples/colab_MovieLen1M_YoutubeDNN.ipynb
    
下面已大家比较熟悉的YoutubeDNN为例子，给大家介绍如何使用deepmatch进行召回模型的训练，用户和物品向量的导出，以及使用faiss进行近似最近邻搜索。

整段代码不到100行，可以是非常的方便进行学习和使用了～

__运行环境 tf = 1.14.0, tf2会报错!!!__

## 任务
通过用户的历史点击，来预测用户下一次点击的item_id

X = [(user_id, hist_items_list, next_item, items_list_length),]

Y = [1, 0...]  二分类

In [1]:
import tensorflow as tf
print(tf.__version__)

/Users/luoyonggui/anaconda3/envs/tf14/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:516: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/Users/luoyonggui/anaconda3/envs/tf14/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:517: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/Users/luoyonggui/anaconda3/envs/tf14/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:518: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/Users/luoyonggui/anaconda3/envs/tf14/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/Users/luoyonggui/anaconda3/envs/tf14/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/Users/luoyonggui/anaconda3/envs/tf14/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:525: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

1.14.0

/Users/luoyonggui/anaconda3/envs/tf14/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:541: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/Users/luoyonggui/anaconda3/envs/tf14/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:542: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/Users/luoyonggui/anaconda3/envs/tf14/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:543: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/Users/luoyonggui/anaconda3/envs/tf14/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:544: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/Users/luoyonggui/anaconda3/envs/tf14/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:545: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/Users/luoyonggui/anaconda3/envs/tf14/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:550: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

## 导入需要的库

In [2]:
import pandas as pd
from deepctr.inputs import SparseFeat, VarLenSparseFeat
from sklearn.preprocessing import LabelEncoder
from tensorflow.python.keras import backend as K
from tensorflow.python.keras.models import Model

from deepmatch.models import *
from deepmatch.utils import sampledsoftmaxloss

## preprocess

In [3]:
import random
import numpy as np
from tqdm import tqdm
from tensorflow.python.keras.preprocessing.sequence import pad_sequences

### gen_data_set

In [4]:
def gen_data_set(data, negsample: int=0):
    """
    negsample: 负样本数相对于正样本数的倍数
    """
    data.sort_values("timestamp", inplace=True)
    item_ids = data['movie_id'].unique()

    train_set = []
    test_set = []
    for reviewerID, hist in tqdm(data.groupby('user_id')):
        pos_list = hist['movie_id'].tolist()  # 用户看过的电影列表
        rating_list = hist['rating'].tolist()  # 用户看过的电影评分列表

        if negsample > 0:
            # 产生负样本，策略：从用户没有评分的items中随机有放回采样
            candidate_set = list(set(item_ids) - set(pos_list))
            neg_list = np.random.choice(candidate_set,size=len(pos_list)*negsample,replace=True)
        for i in range(1, len(pos_list)):
            hist = pos_list[:i]
            if i != len(pos_list) - 1:
                # (user_id, items_list, next_item, label, items_list_length, next_item_rating)
                train_set.append((reviewerID, hist[::-1], pos_list[i], 1,len(hist[::-1]),rating_list[i]))
                for negi in range(negsample):
                    train_set.append((reviewerID, hist[::-1], neg_list[i*negsample+negi], 0,len(hist[::-1])))
            else:
                test_set.append((reviewerID, hist[::-1], pos_list[i],1,len(hist[::-1]),rating_list[i]))

    random.shuffle(train_set)
    random.shuffle(test_set)

    print(len(train_set[0]),len(test_set[0]))

    return train_set,test_set

### gen_model_input

In [5]:
def gen_model_input(train_set,user_profile,seq_max_len):

    train_uid = np.array([line[0] for line in train_set])
    train_seq = [line[1] for line in train_set]
    train_iid = np.array([line[2] for line in train_set])
    train_label = np.array([line[3] for line in train_set])
    train_hist_len = np.array([line[4] for line in train_set])

    train_seq_pad = pad_sequences(train_seq, maxlen=seq_max_len, padding='post', truncating='post', value=0)
    train_model_input = {"user_id": train_uid, "movie_id": train_iid, "hist_movie_id": train_seq_pad,
                         "hist_len": train_hist_len}

    for key in ["gender", "age", "occupation", "zip"]:
        train_model_input[key] = user_profile.loc[train_model_input['user_id']][key].values

    return train_model_input,train_label

## 读取数据

In [6]:
data_path = "../../data/rs/"

unames = ['user_id','gender','age','occupation','zip']
user = pd.read_csv(data_path+'ml_1m/users.dat',sep='::',header=None,names=unames)
rnames = ['user_id','movie_id','rating','timestamp']
ratings = pd.read_csv(data_path+'ml_1m/ratings.dat',sep='::',header=None,names=rnames)
mnames = ['movie_id','title','genres']
movies = pd.read_csv(data_path+'ml_1m/movies.dat',sep='::',header=None,names=mnames)

data = pd.merge(pd.merge(ratings,movies),user)#.iloc[:10000]

/Users/luoyonggui/anaconda3/envs/tf14/lib/python3.7/site-packages/ipykernel_launcher.py:4: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  after removing the cwd from sys.path.
/Users/luoyonggui/anaconda3/envs/tf14/lib/python3.7/site-packages/ipykernel_launcher.py:6: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.

/Users/luoyonggui/anaconda3/envs/tf14/lib/python3.7/site-packages/ipykernel_launcher.py:8: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.

In [7]:
data.head()

,user_id,movie_id,rating,timestamp,title,genres,gender,age,occupation,zip
0,1,1193,5,978300760,One Flew Over the Cuckoo's Nest (1975),Drama,F,1,10,48067
1,1,661,3,978302109,James and the Giant Peach (1996),Animation|Children's|Musical,F,1,10,48067
2,1,914,3,978301968,My Fair Lady (1964),Musical|Romance,F,1,10,48067
3,1,3408,4,978300275,Erin Brockovich (2000),Drama,F,1,10,48067
4,1,2355,5,978824291,"Bug's Life, A (1998)",Animation|Children's|Comedy,F,1,10,48067

## 构建特征列，训练模型，导出embedding

In [8]:
#data = pd.read_csvdata = pd.read_csv("./movielens_sample.txt")
sparse_features = ["movie_id", "user_id",
                    "gender", "age", "occupation", "zip", ]
SEQ_LEN = 50
negsample = 0

# 1.Label Encoding for sparse features,and process sequence features with `gen_date_set` and `gen_model_input`

features = ['user_id', 'movie_id', 'gender', 'age', 'occupation', 'zip']
feature_max_idx = {}
for feature in features:
    lbe = LabelEncoder()
    data[feature] = lbe.fit_transform(data[feature]) + 1
    feature_max_idx[feature] = data[feature].max() + 1

user_profile = data[["user_id", "gender", "age", "occupation", "zip"]].drop_duplicates('user_id')

item_profile = data[["movie_id"]].drop_duplicates('movie_id')

user_profile.set_index("user_id", inplace=True)

user_item_list = data.groupby("user_id")['movie_id'].apply(list)

In [9]:
user_item_list.head(2)

user_id
1    [1105, 640, 854, 3178, 2163, 1108, 1196, 2600,...
2    [1105, 2890, 2129, 1783, 1118, 1849, 1155, 126...
Name: movie_id, dtype: object

In [10]:
data.head(2)

,user_id,movie_id,rating,timestamp,title,genres,gender,age,occupation,zip
0,1,1105,5,978300760,One Flew Over the Cuckoo's Nest (1975),Drama,1,1,11,1589
1,1,640,3,978302109,James and the Giant Peach (1996),Animation|Children's|Musical,1,1,11,1589

In [11]:
train_set, test_set = gen_data_set(data, negsample)

100%|██████████| 6040/6040 [00:14<00:00, 416.82it/s]

6 6

In [12]:
train_set[:1]

[(1010,
  [1710,
   2199,
   2797,
   3652,
   2073,
   2972,
   3092,
   3703,
   3665,
   2410,
   3199,
   1598,
   498,
   3522,
   2213,
   2598,
   3398,
   1273,
   3221,
   2175,
   1502,
   2217,
   3384,
   2155,
   88,
   3592,
   3461,
   3154,
   2439,
   2333,
   2334,
   3044,
   2744,
   1112,
   2740,
   596,
   3462,
   2335,
   1289,
   2789,
   1775,
   1213,
   2174,
   1132,
   873,
   1464,
   2933,
   3706,
   3504,
   3378,
   3587,
   2756,
   2137,
   2945,
   3249,
   2702,
   3513,
   3281,
   3551,
   3509,
   2799,
   1774,
   3190,
   3134,
   1009,
   1151,
   2600,
   3494,
   1144,
   850,
   1125,
   1108,
   863,
   1119,
   852,
   853,
   3430,
   2737,
   848,
   1172,
   1114,
   2717,
   1105,
   714,
   3236,
   1501,
   1161,
   1185,
   1176,
   1296,
   803,
   1060,
   1171,
   528,
   1283,
   3012,
   1942,
   3469,
   1941,
   2219,
   2266,
   1797,
   1791,
   2441,
   2216,
   2276,
   2656,
   2074,
   2537,
   2210,
   2229,
   2513,
   3157,
   2075,
   3158,
   1275,
   2590,
   3467,
   2279,
   2735,
   2531,
   3409,
   3164,
   2467,
   2259,
   2694,
   1870,
   1908,
   3602,
   2184,
   1017,
   3210,
   1116,
   969,
   2331,
   2181,
   3447,
   1020,
   2319,
   2183,
   1963,
   1795,
   2218,
   2592,
   2583,
   2177,
   1892,
   2588,
   2226,
   2182,
   3457,
   2323,
   2120,
   3672,
   3293,
   2820,
   3292,
   1280,
   3600,
   1812,
   2280,
   1966,
   1195,
   3246,
   2211,
   3466,
   1030,
   1826,
   3549,
   2978,
   1913,
   3192,
   1277,
   2277,
   3213,
   2779,
   2051,
   3083,
   2547,
   2056,
   2440,
   3352,
   2215,
   3458,
   1935,
   2886,
   1954,
   1917,
   2532,
   2013,
   1297,
   1059,
   2072,
   1965,
   3463,
   2058,
   1052,
   1937,
   3452,
   1981,
   2284,
   3217,
   2542,
   3671,
   2823,
   3460,
   1788,
   1961,
   3269,
   2224,
   2278,
   3167,
   1842,
   1048,
   2872,
   3465,
   2804,
   3521,
   1457,
   1207,
   1960,
   1822,
   2228,
   2984,
   3191,
   1783,
   1934,
   2691,
   3117,
   1901,
   2121,
   1155,
   1832,
   1964,
   2282,
   3499,
   2160,
   1779,
   2179,
   2152,
   1959,
   2263,
   2214,
   3443,
   2271,
   2356,
   579,
   1026,
   1098,
   1204,
   1931,
   1920,
   1970,
   1843,
   2546,
   2708,
   2806,
   1938,
   3444,
   3273,
   1278,
   2883,
   3295,
   2858,
   2265,
   3132,
   2593,
   2719,
   2054,
   1166,
   2776,
   1225,
   2816,
   2826,
   3319,
   1815,
   2991,
   3294,
   1184,
   1053,
   3459,
   1527,
   1025,
   2661,
   1211,
   1538,
   1051,
   2774,
   3133,
   2889,
   2711,
   1821,
   2857,
   3369,
   1138,
   1994,
   1167,
   1097,
   1781,
   1183,
   3623,
   2710,
   1276,
   2758,
   1206,
   1216,
   2854,
   3193,
   1884,
   1896,
   2059,
   2587,
   1019,
   2122,
   1194,
   2156,
   2807,
   2512,
   2014,
   1008,
   1141,
   2541,
   3116,
   1133,
   2097,
   1179,
   1200,
   1111,
   1131,
   972,
   1149,
   1139,
   3442,
   1109,
   549,
   1175,
   1500,
   2768,
   1575,
   1657,
   530,
   1261,
   516,
   514,
   1107,
   254,
   1365,
   2098,
   2309,
   2385,
   274,
   2375,
   2348,
   2795,
   240,
   458,
   241,
   1302,
   1124,
   2015,
   36,
   345,
   217,
   1143,
   407,
   142,
   2247,
   374,
   2614,
   2613,
   1340,
   929,
   3591,
   423,
   98,
   2312,
   587,
   1397,
   2404,
   2849,
   23,
   1468,
   18,
   641,
   3026,
   219,
   1522,
   253,
   2599,
   341,
   2503,
   128,
   508,
   1361,
   364,
   611,
   2558,
   2603,
   1654,
   250,
   1615,
   3046,
   823,
   180,
   329,
   24,
   1473,
   2043,
   1517,
   1986,
   1716,
   158,
   1945,
   1988,
   1460,
   2669,
   1320,
   1021,
   1351,
   1713,
   1904,
   613,
   1552,
   48,
   1374,
   1440,
   741,
   1683,
   1611,
   597,
   2320,
   2515,
   3594,
   2197,
   2124,
   1813,
   1508,
   2365,
   2784,
   1927,
   3421,
   822,
   172,
   2136,
   191,
   394,
   267,
   3673,
   1571,
   2509,
   499,
   1825,
   1245,
   2135,
   147,
   1606,
   373,
   2692,
   3468,
   3041,
   1509,
   1306,
   2589,
   519,
   1242,
   183,
   3267,
   754,
   2506,
   1618,
   1471,
   3674,
   1669,
   3342,
   443,
   2347,
   692,
   3036,
   2766,
   1487,
   1437,
   1932,
   987,
   2352,
   56,
   1303,
   2567,
   1095,
   1631,
   468,
   784,
   1022,
   247,
   1488,
   502,
   154,
   994,
   1891,
   496,
   1536,
   1718,
   14,
   781,
   985,
   2042,
   441,
   3023,
   418,
   495,
   1311,
   1177,
   1532,
   511,
   2890,
   1180,
   399,
   2885,
   1454,
   2079,
   156,
   415,
   16,
   1260,
   2398,
   932,
   1583,
   2684,
   1546,
   1024,
   328,
   1557,
   32,
   310,
   1103,
   157,
   2745,
   285,
   249,
   1490,
   19,
   1565,
   2299,
   1358,
   1309,
   1612,
   12,
   91,
   2746,
   2680,
   3025,
   1660,
   419,
   2830,
   270,
   398,
   228,
   957,
   1363,
   941,
   476,
   233,
   1962,
   351,
   2405,
   1684,
   707,
   1848,
   2239,
   1676,
   346,
   2307,
   1862,
   402,
   1256,
   400,
   64,
   2915,
   728,
   767,
   3531,
   529,
   2706,
   190,
   1605,
   997,
   1292,
   3,
   342,
   782,
   2399,
   3020,
   422,
   1989,
   664,
   556,
   689,
   3035,
   361,
   5,
   507,
   1902,
   3024,
   62,
   2060,
   198,
   401,
   1304,
   1270,
   3624,
   1732,
   324,
   1553,
   2400,
   1705,
   3031,
   770,
   211,
   2905,
   551,
   118,
   573,
   68,
   437,
   2481,
   455,
   2133,
   1833,
   1739,
   2232,
   3040,
   363,
   3471,
   397,
   574,
   1626,
   246,
   1696,
   225,
   2502,
   743,
   3567,
   1372,
   3268,
   3219,
   3375,
   335,
   1635,
   487,
   956,
   572,
   1567,
   347,
   139,
   1614,
   3032,
   99,
   1084,
   679,
   3038,
   3130,
   1704,
   137,
   2491,
   1294,
   2111,
   427,
   2091,
   11,
   1594,
   1369,
   1399,
   2893,
   2846,
   1505,
   1667,
   1174,
   1423,
   538,
   1568,
   34,
   1740,
   1518,
   1647,
   2009,
   13,
   575,
   355,
   2202,
   2103,
   1,
   2899,
   2557,
   935,
   1494,
   704,
   2016,
   1382,
   489,
   2220,
   1436,
   155,
   646,
   2497,
   788,
   1973,
   940,
   167,
   3560,
   1384,
   199,
   392,
   665,
   2130,
   307,
   533,
   1284,
   1690,
   425,
   3597,
   3464,
   318,
   2604,
   1461,
   2775,
   1328,
   148,
   531,
   2950,
   453,
   168,
   3456,
   1656,
   3051,
   1029,
   1474,
   491,
   666,
   1421,
   973,
   2989,
   1551,
   744,
   1469,
   472,
   1624,
   1554,
   375,
   2675,
   378,
   1697,
   1224,
   1293,
   1281,
   1946,
   1531,
   2518,
   42,
   1823,
   819,
   429,
   1485,
   93,
   738,
   344,
   284,
   9,
   1375,
   2201,
   1287,
   2495,
   69,
   2083,
   466,
   494,
   982,
   1467,
   359,
   481,
   160,
   1540,
   2559,
   1477,
   280,
   2297,
   1844,
   2867,
   193,
   1400,
   1272,
   1576,
   1407,
   3033,
   2808,
   2142,
   368,
   461,
   2087,
   2892,
   1878,
   1446,
   2235,
   3187,
   107,
   797,
   44,
   753,
   1279,
   308,
   703,
   421,
   320,
   1914,
   451,
   1274,
   1866,
   534,
   371,
   10,
   1429,
   1738,
   467,
   340,
   109,
   1259,
   577,
   1827,
   700,
   1450,
   1987,
   765,
   1982,
   652,
   3209,
   1050,
   3208,
   3257,
   309,
   1562,
   2064,
   3207,
   59,
   633,
   545,
   2427,
   1741,
   358,
   746,
   122,
   580,
   1092,
   1018,
   2652,
   594,
   2660,
   2714,
   1459,
   1730,
   1495,
   1355,
   1634,
   628,
   2831,
   3050,
   2709,
   811,
   1585,
   1556,
   1298,
   818,
   140,
   21,
   480,
   1357,
   3244,
   1493,
   2839,
   582,
   1742,
   6,
   1928,
   1045,
   189,
   146,
   469,
   2705,
   684,
   1503,
   834,
   2161,
   540,
   175,
   1246,
   1480,
   3037,
   292,
   1582,
   2167,
   1047,
   45,
   1595,
   3030,
   428,
   1620,
   3048,
   501,
   462,
   1023,
   2100,
   1648,
   17,
   1479,
   755,
   170,
   1537,
   2791,
   25,
   3156,
   1027,
   3436,
   2203,
   993,
   2932,
   2496,
   1737,
   444,
   2127,
   1154,
   145,
   1564,
   1733,
   1524,
   2489,
   47,
   542,
   288,
   1486,
   576,
   50,
   736,
   1849,
   970,
   1066,
   2,
   1782,
   229,
   108,
   1121,
   2811],
  223,
  1,
  948,
  2)]

In [13]:
train_seq = [line[1] for line in train_set]

In [14]:
train_seq[:2]

[[1710,
  2199,
  2797,
  3652,
  2073,
  2972,
  3092,
  3703,
  3665,
  2410,
  3199,
  1598,
  498,
  3522,
  2213,
  2598,
  3398,
  1273,
  3221,
  2175,
  1502,
  2217,
  3384,
  2155,
  88,
  3592,
  3461,
  3154,
  2439,
  2333,
  2334,
  3044,
  2744,
  1112,
  2740,
  596,
  3462,
  2335,
  1289,
  2789,
  1775,
  1213,
  2174,
  1132,
  873,
  1464,
  2933,
  3706,
  3504,
  3378,
  3587,
  2756,
  2137,
  2945,
  3249,
  2702,
  3513,
  3281,
  3551,
  3509,
  2799,
  1774,
  3190,
  3134,
  1009,
  1151,
  2600,
  3494,
  1144,
  850,
  1125,
  1108,
  863,
  1119,
  852,
  853,
  3430,
  2737,
  848,
  1172,
  1114,
  2717,
  1105,
  714,
  3236,
  1501,
  1161,
  1185,
  1176,
  1296,
  803,
  1060,
  1171,
  528,
  1283,
  3012,
  1942,
  3469,
  1941,
  2219,
  2266,
  1797,
  1791,
  2441,
  2216,
  2276,
  2656,
  2074,
  2537,
  2210,
  2229,
  2513,
  3157,
  2075,
  3158,
  1275,
  2590,
  3467,
  2279,
  2735,
  2531,
  3409,
  3164,
  2467,
  2259,
  2694,
  1870,
  1908,
  3602,
  2184,
  1017,
  3210,
  1116,
  969,
  2331,
  2181,
  3447,
  1020,
  2319,
  2183,
  1963,
  1795,
  2218,
  2592,
  2583,
  2177,
  1892,
  2588,
  2226,
  2182,
  3457,
  2323,
  2120,
  3672,
  3293,
  2820,
  3292,
  1280,
  3600,
  1812,
  2280,
  1966,
  1195,
  3246,
  2211,
  3466,
  1030,
  1826,
  3549,
  2978,
  1913,
  3192,
  1277,
  2277,
  3213,
  2779,
  2051,
  3083,
  2547,
  2056,
  2440,
  3352,
  2215,
  3458,
  1935,
  2886,
  1954,
  1917,
  2532,
  2013,
  1297,
  1059,
  2072,
  1965,
  3463,
  2058,
  1052,
  1937,
  3452,
  1981,
  2284,
  3217,
  2542,
  3671,
  2823,
  3460,
  1788,
  1961,
  3269,
  2224,
  2278,
  3167,
  1842,
  1048,
  2872,
  3465,
  2804,
  3521,
  1457,
  1207,
  1960,
  1822,
  2228,
  2984,
  3191,
  1783,
  1934,
  2691,
  3117,
  1901,
  2121,
  1155,
  1832,
  1964,
  2282,
  3499,
  2160,
  1779,
  2179,
  2152,
  1959,
  2263,
  2214,
  3443,
  2271,
  2356,
  579,
  1026,
  1098,
  1204,
  1931,
  1920,
  1970,
  1843,
  2546,
  2708,
  2806,
  1938,
  3444,
  3273,
  1278,
  2883,
  3295,
  2858,
  2265,
  3132,
  2593,
  2719,
  2054,
  1166,
  2776,
  1225,
  2816,
  2826,
  3319,
  1815,
  2991,
  3294,
  1184,
  1053,
  3459,
  1527,
  1025,
  2661,
  1211,
  1538,
  1051,
  2774,
  3133,
  2889,
  2711,
  1821,
  2857,
  3369,
  1138,
  1994,
  1167,
  1097,
  1781,
  1183,
  3623,
  2710,
  1276,
  2758,
  1206,
  1216,
  2854,
  3193,
  1884,
  1896,
  2059,
  2587,
  1019,
  2122,
  1194,
  2156,
  2807,
  2512,
  2014,
  1008,
  1141,
  2541,
  3116,
  1133,
  2097,
  1179,
  1200,
  1111,
  1131,
  972,
  1149,
  1139,
  3442,
  1109,
  549,
  1175,
  1500,
  2768,
  1575,
  1657,
  530,
  1261,
  516,
  514,
  1107,
  254,
  1365,
  2098,
  2309,
  2385,
  274,
  2375,
  2348,
  2795,
  240,
  458,
  241,
  1302,
  1124,
  2015,
  36,
  345,
  217,
  1143,
  407,
  142,
  2247,
  374,
  2614,
  2613,
  1340,
  929,
  3591,
  423,
  98,
  2312,
  587,
  1397,
  2404,
  2849,
  23,
  1468,
  18,
  641,
  3026,
  219,
  1522,
  253,
  2599,
  341,
  2503,
  128,
  508,
  1361,
  364,
  611,
  2558,
  2603,
  1654,
  250,
  1615,
  3046,
  823,
  180,
  329,
  24,
  1473,
  2043,
  1517,
  1986,
  1716,
  158,
  1945,
  1988,
  1460,
  2669,
  1320,
  1021,
  1351,
  1713,
  1904,
  613,
  1552,
  48,
  1374,
  1440,
  741,
  1683,
  1611,
  597,
  2320,
  2515,
  3594,
  2197,
  2124,
  1813,
  1508,
  2365,
  2784,
  1927,
  3421,
  822,
  172,
  2136,
  191,
  394,
  267,
  3673,
  1571,
  2509,
  499,
  1825,
  1245,
  2135,
  147,
  1606,
  373,
  2692,
  3468,
  3041,
  1509,
  1306,
  2589,
  519,
  1242,
  183,
  3267,
  754,
  2506,
  1618,
  1471,
  3674,
  1669,
  3342,
  443,
  2347,
  692,
  3036,
  2766,
  1487,
  1437,
  1932,
  987,
  2352,
  56,
  1303,
  2567,
  1095,
  1631,
  468,
  784,
  1022,
  247,
  1488,
  502,
  154,
  994,
  1891,
  496,
  1536,
  1718,
  14,
  781,
  985,
  2042,
  441,
  3023,
  418,
  495,
  1311,
  1177,
  1532,
  511,
  2890,
  1180,
  399,
  2885,
  1454,
  2079,
  156,
  415,
  16,
  1260,
  2398,
  932,
  1583,
  2684,
  1546,
  1024,
  328,
  1557,
  32,
  310,
  1103,
  157,
  2745,
  285,
  249,
  1490,
  19,
  1565,
  2299,
  1358,
  1309,
  1612,
  12,
  91,
  2746,
  2680,
  3025,
  1660,
  419,
  2830,
  270,
  398,
  228,
  957,
  1363,
  941,
  476,
  233,
  1962,
  351,
  2405,
  1684,
  707,
  1848,
  2239,
  1676,
  346,
  2307,
  1862,
  402,
  1256,
  400,
  64,
  2915,
  728,
  767,
  3531,
  529,
  2706,
  190,
  1605,
  997,
  1292,
  3,
  342,
  782,
  2399,
  3020,
  422,
  1989,
  664,
  556,
  689,
  3035,
  361,
  5,
  507,
  1902,
  3024,
  62,
  2060,
  198,
  401,
  1304,
  1270,
  3624,
  1732,
  324,
  1553,
  2400,
  1705,
  3031,
  770,
  211,
  2905,
  551,
  118,
  573,
  68,
  437,
  2481,
  455,
  2133,
  1833,
  1739,
  2232,
  3040,
  363,
  3471,
  397,
  574,
  1626,
  246,
  1696,
  225,
  2502,
  743,
  3567,
  1372,
  3268,
  3219,
  3375,
  335,
  1635,
  487,
  956,
  572,
  1567,
  347,
  139,
  1614,
  3032,
  99,
  1084,
  679,
  3038,
  3130,
  1704,
  137,
  2491,
  1294,
  2111,
  427,
  2091,
  11,
  1594,
  1369,
  1399,
  2893,
  2846,
  1505,
  1667,
  1174,
  1423,
  538,
  1568,
  34,
  1740,
  1518,
  1647,
  2009,
  13,
  575,
  355,
  2202,
  2103,
  1,
  2899,
  2557,
  935,
  1494,
  704,
  2016,
  1382,
  489,
  2220,
  1436,
  155,
  646,
  2497,
  788,
  1973,
  940,
  167,
  3560,
  1384,
  199,
  392,
  665,
  2130,
  307,
  533,
  1284,
  1690,
  425,
  3597,
  3464,
  318,
  2604,
  1461,
  2775,
  1328,
  148,
  531,
  2950,
  453,
  168,
  3456,
  1656,
  3051,
  1029,
  1474,
  491,
  666,
  1421,
  973,
  2989,
  1551,
  744,
  1469,
  472,
  1624,
  1554,
  375,
  2675,
  378,
  1697,
  1224,
  1293,
  1281,
  1946,
  1531,
  2518,
  42,
  1823,
  819,
  429,
  1485,
  93,
  738,
  344,
  284,
  9,
  1375,
  2201,
  1287,
  2495,
  69,
  2083,
  466,
  494,
  982,
  1467,
  359,
  481,
  160,
  1540,
  2559,
  1477,
  280,
  2297,
  1844,
  2867,
  193,
  1400,
  1272,
  1576,
  1407,
  3033,
  2808,
  2142,
  368,
  461,
  2087,
  2892,
  1878,
  1446,
  2235,
  3187,
  107,
  797,
  44,
  753,
  1279,
  308,
  703,
  421,
  320,
  1914,
  451,
  1274,
  1866,
  534,
  371,
  10,
  1429,
  1738,
  467,
  340,
  109,
  1259,
  577,
  1827,
  700,
  1450,
  1987,
  765,
  1982,
  652,
  3209,
  1050,
  3208,
  3257,
  309,
  1562,
  2064,
  3207,
  59,
  633,
  545,
  2427,
  1741,
  358,
  746,
  122,
  580,
  1092,
  1018,
  2652,
  594,
  2660,
  2714,
  1459,
  1730,
  1495,
  1355,
  1634,
  628,
  2831,
  3050,
  2709,
  811,
  1585,
  1556,
  1298,
  818,
  140,
  21,
  480,
  1357,
  3244,
  1493,
  2839,
  582,
  1742,
  6,
  1928,
  1045,
  189,
  146,
  469,
  2705,
  684,
  1503,
  834,
  2161,
  540,
  175,
  1246,
  1480,
  3037,
  292,
  1582,
  2167,
  1047,
  45,
  1595,
  3030,
  428,
  1620,
  3048,
  501,
  462,
  1023,
  2100,
  1648,
  17,
  1479,
  755,
  170,
  1537,
  2791,
  25,
  3156,
  1027,
  3436,
  2203,
  993,
  2932,
  2496,
  1737,
  444,
  2127,
  1154,
  145,
  1564,
  1733,
  1524,
  2489,
  47,
  542,
  288,
  1486,
  576,
  50,
  736,
  1849,
  970,
  1066,
  2,
  1782,
  229,
  108,
  1121,
  2811],
 [952,
  2224,
  574,
  3040,
  2491,
  3292,
  1832,
  1304,
  1012,
  800,
  487,
  1944,
  2058,
  1822,
  1282,
  2456,
  3274,
  2073,
  1450,
  1527,
  2324,
  1900,
  3032,
  3168,
  3083,
  2192,
  3319,
  964,
  3167,
  2591,
  1049,
  1898,
  3220,
  1505,
  1821,
  2231,
  3219,
  584,
  1789,
  2846,
  2160,
  1131,
  3166,
  2129,
  2739,
  2708,
  2981,
  102,
  2163,
  1,
  3628,
  3133,
  1009,
  1296,
  3190,
  1203,
  1852,
  1060,
  2587,
  3135,
  3592,
  1144,
  1884,
  2657,
  2824,
  1165,
  1140,
  1457,
  1053,
  3458,
  2439,
  1936,
  2823,
  467,
  2776,
  892,
  2214,
  2953,
  577,
  909,
  1163,
  1115,
  1109,
  1196,
  1171,
  1168,
  254,
  1170,
  2262,
  2542,
  3588,
  2585,
  2580,
  1253,
  1237,
  1248,
  2359,
  1803,
  2447,
  2174,
  1289,
  1818,
  1765,
  2524,
  3236,
  852,
  1773,
  1154,
  3076,
  80,
  508,
  1930,
  1631,
  579,
  1585,
  2042,
  3350,
  2014,
  2087,
  1138,
  1357,
  1582,
  418,
  1092,
  1950,
  3500,
  3134,
  1132,
  1124,
  3108,
  2710,
  1247,
  972,
  2021,
  2023,
  2985,
  1774,
  3189,
  1149,
  864,
  2006,
  2358,
  2665,
  1980,
  868,
  1125,
  844,
  1130,
  1161,
  1486,
  1133,
  3494,
  1013,
  3437,
  1766,
  859,
  848,
  1172,
  1849,
  3239,
  108,
  1208,
  1143,
  1119,
  1185,
  288,
  514,
  803,
  1107,
  1105,
  2404,
  2675,
  703,
  1421,
  2794,
  3000,
  3445,
  1306,
  364,
  16,
  1479,
  2199,
  1493,
  1246,
  6,
  2558,
  1018,
  2932,
  580,
  594,
  2467,
  1808,
  2696,
  1790,
  1234,
  2323,
  1249,
  1795,
  596,
  1824,
  1225,
  1250,
  1938,
  2263,
  1167,
  2661,
  2097,
  2512,
  706,
  1245,
  2088,
  1508,
  2197,
  1571,
  3267,
  413,
  3244,
  2506,
  1159,
  1768,
  3352,
  1121,
  1575,
  1778]]

In [15]:
from tensorflow.python.keras.preprocessing.sequence import pad_sequences

In [16]:
pad_sequences(train_seq[:2], maxlen=50, padding='post', truncating='post', value=0)

array([[1710, 2199, 2797, 3652, 2073, 2972, 3092, 3703, 3665, 2410, 3199,
        1598,  498, 3522, 2213, 2598, 3398, 1273, 3221, 2175, 1502, 2217,
        3384, 2155,   88, 3592, 3461, 3154, 2439, 2333, 2334, 3044, 2744,
        1112, 2740,  596, 3462, 2335, 1289, 2789, 1775, 1213, 2174, 1132,
         873, 1464, 2933, 3706, 3504, 3378],
       [ 952, 2224,  574, 3040, 2491, 3292, 1832, 1304, 1012,  800,  487,
        1944, 2058, 1822, 1282, 2456, 3274, 2073, 1450, 1527, 2324, 1900,
        3032, 3168, 3083, 2192, 3319,  964, 3167, 2591, 1049, 1898, 3220,
        1505, 1821, 2231, 3219,  584, 1789, 2846, 2160, 1131, 3166, 2129,
        2739, 2708, 2981,  102, 2163,    1]], dtype=int32)

In [17]:
train_model_input, train_label = gen_model_input(train_set, user_profile, SEQ_LEN)
test_model_input, test_label = gen_model_input(test_set, user_profile, SEQ_LEN)

In [18]:
train_model_input

{'user_id': array([1010,  749, 3622, ..., 1889, 1613, 4869]),
 'movie_id': array([ 223, 2213, 1538, ...,  537,  965, 1203]),
 'hist_movie_id': array([[1710, 2199, 2797, ..., 3706, 3504, 3378],
        [ 952, 2224,  574, ...,  102, 2163,    1],
        [  39,  285,  873, ..., 1008, 1100, 2547],
        ...,
        [ 160,  165,  936, ..., 2506, 1177, 3375],
        [2206,  893, 1839, ..., 2740, 1013, 1112],
        [1289, 1060, 1125, ..., 1935, 2177, 1204]], dtype=int32),
 'hist_len': array([948, 224, 113, ..., 501, 787, 227]),
 'gender': array([2, 2, 2, ..., 2, 2, 1]),
 'age': array([3, 4, 2, ..., 2, 2, 5]),
 'occupation': array([ 1, 19,  2, ..., 15, 21,  7]),
 'zip': array([ 431, 1962,  135, ..., 2526, 2112,  244])}

In [19]:
SparseFeat('user_id', feature_max_idx['user_id'], 16)

SparseFeat(name='user_id', vocabulary_size=6041, embedding_dim=16, use_hash=False, dtype='int32', embedding_name='user_id', group_name='default_group')

In [20]:
# 2.count #unique features for each sparse field and generate feature config for sequence feature

embedding_dim = 32

user_feature_columns = [SparseFeat('user_id', feature_max_idx['user_id'], 16),
                        SparseFeat("gender", feature_max_idx['gender'], 16),
                        SparseFeat("age", feature_max_idx['age'], 16),
                        SparseFeat("occupation", feature_max_idx['occupation'], 16),
                        SparseFeat("zip", feature_max_idx['zip'], 16),
                        VarLenSparseFeat(SparseFeat('hist_movie_id', feature_max_idx['movie_id'], embedding_dim,
                                                    embedding_name="movie_id"), SEQ_LEN, 'mean', 'hist_len'),
                        ]

item_feature_columns = [SparseFeat('movie_id', feature_max_idx['movie_id'], embedding_dim)]

## Define Model and train
召回模型的网络结构

In [21]:
# 3.Define Model and train

K.set_learning_phase(True)

model = YoutubeDNN(user_feature_columns, item_feature_columns, num_sampled=200, user_dnn_hidden_units=(128,64, embedding_dim))
# model = MIND(user_feature_columns,item_feature_columns,dynamic_k=True,p=1,k_max=2,num_sampled=5,user_dnn_hidden_units=(64,16),init_std=0.001)

model.compile(optimizer="adam", loss=sampledsoftmaxloss)  # "binary_crossentropy")

WARNING:tensorflow:From /Users/luoyonggui/anaconda3/envs/tf14/lib/python3.7/site-packages/tensorflow/python/keras/initializers.py:143: calling RandomNormal.__init__ (from tensorflow.python.ops.init_ops) with dtype is deprecated and will be removed in a future version.
Instructions for updating:
Call initializer instance with the dtype argument instead of passing it to the constructor
WARNING:tensorflow:Entity <bound method SequencePoolingLayer.call of <deepctr.layers.sequence.SequencePoolingLayer object at 0x133aea250>> could not be transformed and will be executed as-is. Please report this to the AutgoGraph team. When filing the bug, set the verbosity to 10 (on Linux, `export AUTOGRAPH_VERBOSITY=10`) and attach the full output. Cause: converting <bound method SequencePoolingLayer.call of <deepctr.layers.sequence.SequencePoolingLayer object at 0x133aea250>>: AttributeError: module 'gast' has no attribute 'Num'
WARNING: Entity <bound method SequencePoolingLayer.call of <deepctr.layers.sequence.SequencePoolingLayer object at 0x133aea250>> could not be transformed and will be executed as-is. Please report this to the AutgoGraph team. When filing the bug, set the verbosity to 10 (on Linux, `export AUTOGRAPH_VERBOSITY=10`) and attach the full output. Cause: converting <bound method SequencePoolingLayer.call of <deepctr.layers.sequence.SequencePoolingLayer object at 0x133aea250>>: AttributeError: module 'gast' has no attribute 'Num'
WARNING:tensorflow:From /Users/luoyonggui/anaconda3/envs/tf14/lib/python3.7/site-packages/deepctr/layers/utils.py:167: calling reduce_sum_v1 (from tensorflow.python.ops.math_ops) with keep_dims is deprecated and will be removed in a future version.
Instructions for updating:
keep_dims is deprecated, use keepdims instead
WARNING:tensorflow:From /Users/luoyonggui/anaconda3/envs/tf14/lib/python3.7/site-packages/deepctr/layers/utils.py:193: div (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Deprecated in favor of operator or tf.math.divide.
WARNING:tensorflow:Entity <bound method NoMask.call of <deepctr.layers.utils.NoMask object at 0x133af3110>> could not be transformed and will be executed as-is. Please report this to the AutgoGraph team. When filing the bug, set the verbosity to 10 (on Linux, `export AUTOGRAPH_VERBOSITY=10`) and attach the full output. Cause: converting <bound method NoMask.call of <deepctr.layers.utils.NoMask object at 0x133af3110>>: AssertionError: Bad argument number for Name: 3, expecting 4
WARNING: Entity <bound method NoMask.call of <deepctr.layers.utils.NoMask object at 0x133af3110>> could not be transformed and will be executed as-is. Please report this to the AutgoGraph team. When filing the bug, set the verbosity to 10 (on Linux, `export AUTOGRAPH_VERBOSITY=10`) and attach the full output. Cause: converting <bound method NoMask.call of <deepctr.layers.utils.NoMask object at 0x133af3110>>: AssertionError: Bad argument number for Name: 3, expecting 4
WARNING:tensorflow:Entity <bound method NoMask.call of <deepctr.layers.utils.NoMask object at 0x133af3110>> could not be transformed and will be executed as-is. Please report this to the AutgoGraph team. When filing the bug, set the verbosity to 10 (on Linux, `export AUTOGRAPH_VERBOSITY=10`) and attach the full output. Cause: converting <bound method NoMask.call of <deepctr.layers.utils.NoMask object at 0x133af3110>>: AssertionError: Bad argument number for Name: 3, expecting 4
WARNING: Entity <bound method NoMask.call of <deepctr.layers.utils.NoMask object at 0x133af3110>> could not be transformed and will be executed as-is. Please report this to the AutgoGraph team. When filing the bug, set the verbosity to 10 (on Linux, `export AUTOGRAPH_VERBOSITY=10`) and attach the full output. Cause: converting <bound method NoMask.call of <deepctr.layers.utils.NoMask object at 0x133af3110>>: AssertionError: Bad argument number for Name: 3, expecting 4
WARNING:tensorflow:Entity <bound method NoMask.call of <deepctr.layers.utils.NoMask object at 0x133af3110>> could not be transformed and will be executed as-is. Please report this to the AutgoGraph team. When filing the bug, set the verbosity to 10 (on Linux, `export AUTOGRAPH_VERBOSITY=10`) and attach the full output. Cause: converting <bound method NoMask.call of <deepctr.layers.utils.NoMask object at 0x133af3110>>: AssertionError: Bad argument number for Name: 3, expecting 4
WARNING: Entity <bound method NoMask.call of <deepctr.layers.utils.NoMask object at 0x133af3110>> could not be transformed and will be executed as-is. Please report this to the AutgoGraph team. When filing the bug, set the verbosity to 10 (on Linux, `export AUTOGRAPH_VERBOSITY=10`) and attach the full output. Cause: converting <bound method NoMask.call of <deepctr.layers.utils.NoMask object at 0x133af3110>>: AssertionError: Bad argument number for Name: 3, expecting 4
WARNING:tensorflow:Entity <bound method NoMask.call of <deepctr.layers.utils.NoMask object at 0x133af3110>> could not be transformed and will be executed as-is. Please report this to the AutgoGraph team. When filing the bug, set the verbosity to 10 (on Linux, `export AUTOGRAPH_VERBOSITY=10`) and attach the full output. Cause: converting <bound method NoMask.call of <deepctr.layers.utils.NoMask object at 0x133af3110>>: AssertionError: Bad argument number for Name: 3, expecting 4
WARNING: Entity <bound method NoMask.call of <deepctr.layers.utils.NoMask object at 0x133af3110>> could not be transformed and will be executed as-is. Please report this to the AutgoGraph team. When filing the bug, set the verbosity to 10 (on Linux, `export AUTOGRAPH_VERBOSITY=10`) and attach the full output. Cause: converting <bound method NoMask.call of <deepctr.layers.utils.NoMask object at 0x133af3110>>: AssertionError: Bad argument number for Name: 3, expecting 4
WARNING:tensorflow:Entity <bound method NoMask.call of <deepctr.layers.utils.NoMask object at 0x133af3110>> could not be transformed and will be executed as-is. Please report this to the AutgoGraph team. When filing the bug, set the verbosity to 10 (on Linux, `export AUTOGRAPH_VERBOSITY=10`) and attach the full output. Cause: converting <bound method NoMask.call of <deepctr.layers.utils.NoMask object at 0x133af3110>>: AssertionError: Bad argument number for Name: 3, expecting 4
WARNING: Entity <bound method NoMask.call of <deepctr.layers.utils.NoMask object at 0x133af3110>> could not be transformed and will be executed as-is. Please report this to the AutgoGraph team. When filing the bug, set the verbosity to 10 (on Linux, `export AUTOGRAPH_VERBOSITY=10`) and attach the full output. Cause: converting <bound method NoMask.call of <deepctr.layers.utils.NoMask object at 0x133af3110>>: AssertionError: Bad argument number for Name: 3, expecting 4
WARNING:tensorflow:Entity <bound method NoMask.call of <deepctr.layers.utils.NoMask object at 0x133af3110>> could not be transformed and will be executed as-is. Please report this to the AutgoGraph team. When filing the bug, set the verbosity to 10 (on Linux, `export AUTOGRAPH_VERBOSITY=10`) and attach the full output. Cause: converting <bound method NoMask.call of <deepctr.layers.utils.NoMask object at 0x133af3110>>: AssertionError: Bad argument number for Name: 3, expecting 4
WARNING: Entity <bound method NoMask.call of <deepctr.layers.utils.NoMask object at 0x133af3110>> could not be transformed and will be executed as-is. Please report this to the AutgoGraph team. When filing the bug, set the verbosity to 10 (on Linux, `export AUTOGRAPH_VERBOSITY=10`) and attach the full output. Cause: converting <bound method NoMask.call of <deepctr.layers.utils.NoMask object at 0x133af3110>>: AssertionError: Bad argument number for Name: 3, expecting 4
WARNING:tensorflow:From /Users/luoyonggui/anaconda3/envs/tf14/lib/python3.7/site-packages/tensorflow/python/ops/init_ops.py:1288: calling VarianceScaling.__init__ (from tensorflow.python.ops.init_ops) with dtype is deprecated and will be removed in a future version.
Instructions for updating:
Call initializer instance with the dtype argument instead of passing it to the constructor
WARNING:tensorflow:Entity <bound method DNN.call of <deepctr.layers.core.DNN object at 0x133af6350>> could not be transformed and will be executed as-is. Please report this to the AutgoGraph team. When filing the bug, set the verbosity to 10 (on Linux, `export AUTOGRAPH_VERBOSITY=10`) and attach the full output. Cause: converting <bound method DNN.call of <deepctr.layers.core.DNN object at 0x133af6350>>: AttributeError: module 'gast' has no attribute 'Num'

WARNING: Entity <bound method DNN.call of <deepctr.layers.core.DNN object at 0x133af6350>> could not be transformed and will be executed as-is. Please report this to the AutgoGraph team. When filing the bug, set the verbosity to 10 (on Linux, `export AUTOGRAPH_VERBOSITY=10`) and attach the full output. Cause: converting <bound method DNN.call of <deepctr.layers.core.DNN object at 0x133af6350>>: AttributeError: module 'gast' has no attribute 'Num'
WARNING:tensorflow:Entity <bound method EmbeddingIndex.call of <deepmatch.layers.core.EmbeddingIndex object at 0x133afb750>> could not be transformed and will be executed as-is. Please report this to the AutgoGraph team. When filing the bug, set the verbosity to 10 (on Linux, `export AUTOGRAPH_VERBOSITY=10`) and attach the full output. Cause: converting <bound method EmbeddingIndex.call of <deepmatch.layers.core.EmbeddingIndex object at 0x133afb750>>: AssertionError: Bad argument number for Name: 3, expecting 4
WARNING: Entity <bound method EmbeddingIndex.call of <deepmatch.layers.core.EmbeddingIndex object at 0x133afb750>> could not be transformed and will be executed as-is. Please report this to the AutgoGraph team. When filing the bug, set the verbosity to 10 (on Linux, `export AUTOGRAPH_VERBOSITY=10`) and attach the full output. Cause: converting <bound method EmbeddingIndex.call of <deepmatch.layers.core.EmbeddingIndex object at 0x133afb750>>: AssertionError: Bad argument number for Name: 3, expecting 4
WARNING:tensorflow:Entity <bound method NoMask.call of <deepctr.layers.utils.NoMask object at 0x133afe110>> could not be transformed and will be executed as-is. Please report this to the AutgoGraph team. When filing the bug, set the verbosity to 10 (on Linux, `export AUTOGRAPH_VERBOSITY=10`) and attach the full output. Cause: converting <bound method NoMask.call of <deepctr.layers.utils.NoMask object at 0x133afe110>>: AssertionError: Bad argument number for Name: 3, expecting 4
WARNING: Entity <bound method NoMask.call of <deepctr.layers.utils.NoMask object at 0x133afe110>> could not be transformed and will be executed as-is. Please report this to the AutgoGraph team. When filing the bug, set the verbosity to 10 (on Linux, `export AUTOGRAPH_VERBOSITY=10`) and attach the full output. Cause: converting <bound method NoMask.call of <deepctr.layers.utils.NoMask object at 0x133afe110>>: AssertionError: Bad argument number for Name: 3, expecting 4
WARNING:tensorflow:Entity <bound method PoolingLayer.call of <deepmatch.layers.core.PoolingLayer object at 0x133b0d850>> could not be transformed and will be executed as-is. Please report this to the AutgoGraph team. When filing the bug, set the verbosity to 10 (on Linux, `export AUTOGRAPH_VERBOSITY=10`) and attach the full output. Cause: converting <bound method PoolingLayer.call of <deepmatch.layers.core.PoolingLayer object at 0x133b0d850>>: AttributeError: module 'gast' has no attribute 'Num'
WARNING: Entity <bound method PoolingLayer.call of <deepmatch.layers.core.PoolingLayer object at 0x133b0d850>> could not be transformed and will be executed as-is. Please report this to the AutgoGraph team. When filing the bug, set the verbosity to 10 (on Linux, `export AUTOGRAPH_VERBOSITY=10`) and attach the full output. Cause: converting <bound method PoolingLayer.call of <deepmatch.layers.core.PoolingLayer object at 0x133b0d850>>: AttributeError: module 'gast' has no attribute 'Num'
WARNING:tensorflow:Entity <bound method SampledSoftmaxLayer.call of <deepmatch.layers.core.SampledSoftmaxLayer object at 0x133afa750>> could not be transformed and will be executed as-is. Please report this to the AutgoGraph team. When filing the bug, set the verbosity to 10 (on Linux, `export AUTOGRAPH_VERBOSITY=10`) and attach the full output. Cause: converting <bound method SampledSoftmaxLayer.call of <deepmatch.layers.core.SampledSoftmaxLayer object at 0x133afa750>>: AssertionError: Bad argument number for Name: 3, expecting 4
WARNING: Entity <bound method SampledSoftmaxLayer.call of <deepmatch.layers.core.SampledSoftmaxLayer object at 0x133afa750>> could not be transformed and will be executed as-is. Please report this to the AutgoGraph team. When filing the bug, set the verbosity to 10 (on Linux, `export AUTOGRAPH_VERBOSITY=10`) and attach the full output. Cause: converting <bound method SampledSoftmaxLayer.call of <deepmatch.layers.core.SampledSoftmaxLayer object at 0x133afa750>>: AssertionError: Bad argument number for Name: 3, expecting 4

In [22]:
model.summary()

Model: "model"
__________________________________________________________________________________________________
Layer (type)                    Output Shape         Param #     Connected to
==================================================================================================
movie_id (InputLayer)           [(None, 1)]          0
__________________________________________________________________________________________________
embedding_index (EmbeddingIndex (3707,)              0           movie_id[0][0]
__________________________________________________________________________________________________
hist_movie_id (InputLayer)      [(None, 50)]         0
__________________________________________________________________________________________________
sparse_seq_emb_hist_movie_id (E multiple             118624      hist_movie_id[0][0]
                                                                 embedding_index[0][0]
__________________________________________________________________________________________________
user_id (InputLayer)            [(None, 1)]          0
__________________________________________________________________________________________________
gender (InputLayer)             [(None, 1)]          0
__________________________________________________________________________________________________
age (InputLayer)                [(None, 1)]          0
__________________________________________________________________________________________________
occupation (InputLayer)         [(None, 1)]          0
__________________________________________________________________________________________________
zip (InputLayer)                [(None, 1)]          0
__________________________________________________________________________________________________
hist_len (InputLayer)           [(None, 1)]          0
__________________________________________________________________________________________________
sparse_emb_user_id (Embedding)  (None, 1, 16)        96656       user_id[0][0]
__________________________________________________________________________________________________
sparse_emb_gender (Embedding)   (None, 1, 16)        48          gender[0][0]
__________________________________________________________________________________________________
sparse_emb_age (Embedding)      (None, 1, 16)        128         age[0][0]
__________________________________________________________________________________________________
sparse_emb_occupation (Embeddin (None, 1, 16)        352         occupation[0][0]
__________________________________________________________________________________________________
sparse_emb_zip (Embedding)      (None, 1, 16)        55040       zip[0][0]
__________________________________________________________________________________________________
sequence_pooling_layer (Sequenc (None, 1, 32)        0           sparse_seq_emb_hist_movie_id[0][0
                                                                 hist_len[0][0]
__________________________________________________________________________________________________
no_mask (NoMask)                multiple             0           sparse_emb_user_id[0][0]
                                                                 sparse_emb_gender[0][0]
                                                                 sparse_emb_age[0][0]
                                                                 sparse_emb_occupation[0][0]
                                                                 sparse_emb_zip[0][0]
                                                                 sequence_pooling_layer[0][0]
__________________________________________________________________________________________________
concatenate (Concatenate)       (None, 1, 112)       0           no_mask[0][0]
                                                                 no_mask[1][0]
                                                                 no_mask[2][0]
                                                                 no_mask[3][0]
                                                                 no_mask[4][0]
                                                                 no_mask[5][0]
__________________________________________________________________________________________________
no_mask_1 (NoMask)              (3707, 32)           0           sparse_seq_emb_hist_movie_id[1][0
__________________________________________________________________________________________________
flatten (Flatten)               (None, 112)          0           concatenate[0][0]
__________________________________________________________________________________________________
pooling_layer (PoolingLayer)    (3707, 32)           0           no_mask_1[0][0]
__________________________________________________________________________________________________
dnn (DNN)                       (None, 32)           24800       flatten[0][0]
__________________________________________________________________________________________________
sampled_softmax_layer (SampledS (None, 1)            3707        pooling_layer[0][0]
                                                                 dnn[0][0]
                                                                 movie_id[0][0]
==================================================================================================
Total params: 299,355
Trainable params: 295,648
Non-trainable params: 3,707
__________________________________________________________________________________________________

In [23]:
import tensorflow as tf

In [31]:
tf.keras.utils.plot_model(model)

Failed to import pydot. You must install pydot and graphviz for `pydotprint` to work.

In [45]:
history = model.fit(train_model_input, train_label,  # train_label,
                    batch_size=512, epochs=24, verbose=1, validation_split=0.0, )

Epoch 1/24
988129/988129 [==============================] - 22s 22us/sample - loss: 3.4355
Epoch 2/24
988129/988129 [==============================] - 21s 21us/sample - loss: 3.2733
Epoch 3/24
988129/988129 [==============================] - 20s 20us/sample - loss: 3.1565
Epoch 4/24
988129/988129 [==============================] - 22s 22us/sample - loss: 3.0615
Epoch 5/24
988129/988129 [==============================] - 21s 22us/sample - loss: 2.9840
Epoch 6/24
988129/988129 [==============================] - 18s 19us/sample - loss: 2.9255
Epoch 7/24
988129/988129 [==============================] - 18s 19us/sample - loss: 2.8788
Epoch 8/24
988129/988129 [==============================] - 23s 23us/sample - loss: 2.8405
Epoch 9/24
988129/988129 [==============================] - 19s 19us/sample - loss: 2.8063
Epoch 10/24
988129/988129 [==============================] - 19s 19us/sample - loss: 2.7827
Epoch 11/24
988129/988129 [==============================] - 20s 20us/sample - loss: 2.7556
Epoch 12/24
988129/988129 [==============================] - 22s 23us/sample - loss: 2.7341
Epoch 13/24
988129/988129 [==============================] - 21s 21us/sample - loss: 2.7157
Epoch 14/24
988129/988129 [==============================] - 22s 23us/sample - loss: 2.6986
Epoch 15/24
988129/988129 [==============================] - 20s 21us/sample - loss: 2.6853
Epoch 16/24
988129/988129 [==============================] - 20s 21us/sample - loss: 2.6761
Epoch 17/24
988129/988129 [==============================] - 21s 21us/sample - loss: 2.6563
Epoch 18/24
988129/988129 [==============================] - 20s 20us/sample - loss: 2.6502
Epoch 19/24
988129/988129 [==============================] - 19s 19us/sample - loss: 2.6322
Epoch 20/24
988129/988129 [==============================] - 19s 19us/sample - loss: 2.6246
Epoch 21/24
988129/988129 [==============================] - 19s 19us/sample - loss: 2.6189
Epoch 22/24
988129/988129 [==============================] - 21s 21us/sample - loss: 2.6049
Epoch 23/24
988129/988129 [==============================] - 19s 19us/sample - loss: 2.5951
Epoch 24/24
988129/988129 [==============================] - 23s 23us/sample - loss: 2.5924

训练完整后，由于在实际使用时，我们需要根据当前的用户特征实时产生用户侧向量，并对物品侧向量构建索引进行近似最近邻查找。这里由于是离线模拟，所以我们导出所有待测试用户的表示向量，和所有物品的表示向量。

## Generate user features for testing and full item features for retrieval

In [46]:
test_user_model_input = test_model_input
all_item_model_input = {"movie_id": item_profile['movie_id'].values,}

# 以下两行是deepmatch中的通用使用方法，分别获得用户向量模型和物品向量模型
user_embedding_model = Model(inputs=model.user_input, outputs=model.user_embedding)
item_embedding_model = Model(inputs=model.item_input, outputs=model.item_embedding)

# 输入对应的数据拿到对应的向量
user_embs = user_embedding_model.predict(test_user_model_input, batch_size=2 ** 12)
# user_embs = user_embs[:, i, :]  i in [0,k_max) if MIND
item_embs = item_embedding_model.predict(all_item_model_input, batch_size=2 ** 12)

print(user_embs.shape)
print(item_embs.shape)

(6040, 32)
(3706, 32)

## 使用faiss进行ANN查找并评估结果
[可选的]如果有安装faiss库的同学，可以体验以下将上一步导出的物品向量构建索引，然后用用户向量来进行ANN(Approximate Nearest Neighbor，近似最近邻)查找并评估效果

In [47]:
# ! pip install faiss-cpu
!pip freeze | grep faiss

faiss-cpu==1.6.3

In [48]:
test_true_label = {line[0]:[line[2]] for line in test_set}  # user_id: [next_item_id]

import numpy as np
import faiss
from tqdm import tqdm
from deepmatch.utils import recall_N

index = faiss.IndexFlatIP(embedding_dim)
# faiss.normalize_L2(item_embs)
index.add(item_embs)
# faiss.normalize_L2(user_embs)
D, I = index.search(user_embs, 50)
s = []
hit = 0
for i, uid in tqdm(enumerate(test_user_model_input['user_id'])):
    try:
        pred = [item_profile['movie_id'].values[x] for x in I[i]]
        filter_item = None
        recall_score = recall_N(test_true_label[uid], pred, N=50)
        s.append(recall_score)
        if test_true_label[uid] in pred:
            hit += 1
    except:
        print(i)
print("")
print("recall", np.mean(s))
print("hit rate", hit / len(test_user_model_input['user_id']))

## result
训练了24个epoch，top50召回达到了0.29，