In [1]:
# default_exp algo.rs.match.deepmatch

%reload_ext autoreload
%autoreload 2

# DeepMatch
https://zhuanlan.zhihu.com/p/126282487

随着深度学习技术的普及，越来越多的深度学习算法被应用到了工业界中。笔者自去年毕业进入企业后，有幸参与了某新业务的推荐系统搭建以及用户体验和业务指标的优化当中，其中在召回部分也进行过一些基于向量召回的探索并取得了一些收益。

之前在读研期间出于个人兴趣开发过一个基于深度学习的点击率预测算法库[DeepCTR](https://github.com/shenweichen/DeepCTR)，随着时间的迭代得到了一些同学的支持和认可，自己也亲身使用到了里面的算法应用到了自己的业务当中并取得了显著的收益。

相比于排序中各种点击率预估模型，自己对于召回模块的了解还有很多欠缺，借着这个机会，抱着学习的心态，和几位热心的优秀小伙伴一起做了DeepMatch这个项目，希望它能够帮助到大家！

https://github.com/shenweichen/DeepMatch


下面简单介绍一下如何
## 安装和使用

In [2]:
# !pip install -U deepmatch
!pip freeze | grep deepmatch

deepmatch==0.1.3

# 示例1: YoutubeDNN-ml_1m
https://github.com/shenweichen/DeepMatch/blob/master/examples/colab_MovieLen1M_YoutubeDNN.ipynb
    
下面已大家比较熟悉的YoutubeDNN为例子，给大家介绍如何使用deepmatch进行召回模型的训练，用户和物品向量的导出，以及使用faiss进行近似最近邻搜索。

整段代码不到100行，可以是非常的方便进行学习和使用了～

__运行环境 tf = 1.14.0, tf2会报错!!!__

## 任务
通过用户的历史点击，来预测用户下一次点击的item_id

X = [(user_id, hist_items_list, next_item, items_list_length),]

Y = [1, 0...]  二分类

## 导入需要的库

In [3]:
import pandas as pd
from deepctr.inputs import SparseFeat, VarLenSparseFeat
from sklearn.preprocessing import LabelEncoder
from tensorflow.python.keras import backend as K
from tensorflow.python.keras.models import Model

from deepmatch.models import *
from deepmatch.utils import sampledsoftmaxloss

/Users/luoyonggui/anaconda3/envs/tf14/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:516: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/Users/luoyonggui/anaconda3/envs/tf14/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:517: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/Users/luoyonggui/anaconda3/envs/tf14/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:518: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/Users/luoyonggui/anaconda3/envs/tf14/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/Users/luoyonggui/anaconda3/envs/tf14/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/Users/luoyonggui/anaconda3/envs/tf14/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:525: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])
/Users/luoyonggui/anaconda3/envs/tf14/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:541: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/Users/luoyonggui/anaconda3/envs/tf14/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:542: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/Users/luoyonggui/anaconda3/envs/tf14/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:543: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/Users/luoyonggui/anaconda3/envs/tf14/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:544: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/Users/luoyonggui/anaconda3/envs/tf14/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:545: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/Users/luoyonggui/anaconda3/envs/tf14/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:550: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

## preprocess

In [4]:
import random
import numpy as np
from tqdm import tqdm
from tensorflow.python.keras.preprocessing.sequence import pad_sequences

### gen_data_set

In [5]:
def gen_data_set(data, negsample: int=0):
    """
    negsample: 负样本数相对于正样本数的倍数
    """
    data.sort_values("timestamp", inplace=True)
    item_ids = data['movie_id'].unique()

    train_set = []
    test_set = []
    for reviewerID, hist in tqdm(data.groupby('user_id')):
        pos_list = hist['movie_id'].tolist()  # 用户看过的电影列表
        rating_list = hist['rating'].tolist()  # 用户看过的电影评分列表

        if negsample > 0:
            # 产生负样本，策略：从用户没有评分的items中随机有放回采样
            candidate_set = list(set(item_ids) - set(pos_list))
            neg_list = np.random.choice(candidate_set,size=len(pos_list)*negsample,replace=True)
        for i in range(1, len(pos_list)):
            hist = pos_list[:i]
            if i != len(pos_list) - 1:
                # (user_id, items_list, next_item, label, items_list_length, next_item_rating)
                train_set.append((reviewerID, hist[::-1], pos_list[i], 1,len(hist[::-1]),rating_list[i]))
                for negi in range(negsample):
                    train_set.append((reviewerID, hist[::-1], neg_list[i*negsample+negi], 0,len(hist[::-1])))
            else:
                test_set.append((reviewerID, hist[::-1], pos_list[i],1,len(hist[::-1]),rating_list[i]))

    random.shuffle(train_set)
    random.shuffle(test_set)

    print(len(train_set[0]),len(test_set[0]))

    return train_set,test_set

### gen_model_input

In [6]:
def gen_model_input(train_set,user_profile,seq_max_len):

    train_uid = np.array([line[0] for line in train_set])
    train_seq = [line[1] for line in train_set]
    train_iid = np.array([line[2] for line in train_set])
    train_label = np.array([line[3] for line in train_set])
    train_hist_len = np.array([line[4] for line in train_set])

    train_seq_pad = pad_sequences(train_seq, maxlen=seq_max_len, padding='post', truncating='post', value=0)
    train_model_input = {"user_id": train_uid, "movie_id": train_iid, "hist_movie_id": train_seq_pad,
                         "hist_len": train_hist_len}

    for key in ["gender", "age", "occupation", "zip"]:
        train_model_input[key] = user_profile.loc[train_model_input['user_id']][key].values

    return train_model_input,train_label

## 读取数据

In [28]:
data_path = "../data/rs/"

unames = ['user_id','gender','age','occupation','zip']
user = pd.read_csv(data_path+'ml_1m/users.dat',sep='::',header=None,names=unames)
rnames = ['user_id','movie_id','rating','timestamp']
ratings = pd.read_csv(data_path+'ml_1m/ratings.dat',sep='::',header=None,names=rnames)
mnames = ['movie_id','title','genres']
movies = pd.read_csv(data_path+'ml_1m/movies.dat',sep='::',header=None,names=mnames)

data = pd.merge(pd.merge(ratings,movies),user)#.iloc[:10000]

/Users/luoyonggui/anaconda3/envs/tf14/lib/python3.7/site-packages/ipykernel_launcher.py:4: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  after removing the cwd from sys.path.
/Users/luoyonggui/anaconda3/envs/tf14/lib/python3.7/site-packages/ipykernel_launcher.py:6: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.

/Users/luoyonggui/anaconda3/envs/tf14/lib/python3.7/site-packages/ipykernel_launcher.py:8: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.

In [29]:
data.head()

,user_id,movie_id,rating,timestamp,title,genres,gender,age,occupation,zip
0,1,1193,5,978300760,One Flew Over the Cuckoo's Nest (1975),Drama,F,1,10,48067
1,1,661,3,978302109,James and the Giant Peach (1996),Animation|Children's|Musical,F,1,10,48067
2,1,914,3,978301968,My Fair Lady (1964),Musical|Romance,F,1,10,48067
3,1,3408,4,978300275,Erin Brockovich (2000),Drama,F,1,10,48067
4,1,2355,5,978824291,"Bug's Life, A (1998)",Animation|Children's|Comedy,F,1,10,48067

## 构建特征列，训练模型，导出embedding

In [30]:
#data = pd.read_csvdata = pd.read_csv("./movielens_sample.txt")
sparse_features = ["movie_id", "user_id",
                    "gender", "age", "occupation", "zip", ]
SEQ_LEN = 50
negsample = 0

# 1.Label Encoding for sparse features,and process sequence features with `gen_date_set` and `gen_model_input`

features = ['user_id', 'movie_id', 'gender', 'age', 'occupation', 'zip']
feature_max_idx = {}
for feature in features:
    lbe = LabelEncoder()
    data[feature] = lbe.fit_transform(data[feature]) + 1
    feature_max_idx[feature] = data[feature].max() + 1

user_profile = data[["user_id", "gender", "age", "occupation", "zip"]].drop_duplicates('user_id')

item_profile = data[["movie_id"]].drop_duplicates('movie_id')

user_profile.set_index("user_id", inplace=True)

user_item_list = data.groupby("user_id")['movie_id'].apply(list)

In [31]:
user_item_list.head(2)

user_id
1    [1105, 640, 854, 3178, 2163, 1108, 1196, 2600,...
2    [1105, 2890, 2129, 1783, 1118, 1849, 1155, 126...
Name: movie_id, dtype: object

In [32]:
data.head(2)

,user_id,movie_id,rating,timestamp,title,genres,gender,age,occupation,zip
0,1,1105,5,978300760,One Flew Over the Cuckoo's Nest (1975),Drama,1,1,11,1589
1,1,640,3,978302109,James and the Giant Peach (1996),Animation|Children's|Musical,1,1,11,1589

In [33]:
train_set, test_set = gen_data_set(data, negsample)

100%|██████████| 6040/6040 [00:11<00:00, 512.09it/s]

6 6

In [34]:
train_set[:1]

[(678,
  [48,
   1458,
   1103,
   822,
   3522,
   3205,
   1902,
   180,
   1293,
   1702,
   429,
   779,
   2768,
   2363,
   473,
   2415,
   529,
   2416,
   1315,
   1609,
   24,
   1738,
   1985,
   468,
   746,
   2254,
   247,
   31,
   1473,
   706,
   213,
   692,
   2128,
   2148,
   2520,
   2634,
   1646,
   2125,
   2675,
   2506,
   183,
   1395,
   537,
   1431,
   3041,
   741,
   1463,
   1279,
   2240,
   2669,
   703,
   276,
   198,
   3000,
   191,
   344,
   230,
   524,
   2347,
   504,
   539,
   1739,
   2201,
   1845,
   1926,
   1429,
   1540,
   2060,
   2808,
   2,
   633,
   1481,
   3051,
   3024,
   308,
   2905,
   3031,
   3026,
   922,
   2255,
   56,
   1554,
   1476,
   3296,
   1571,
   173,
   1224,
   1847,
   1287,
   1844,
   160,
   1988,
   805,
   397,
   2832,
   963,
   218,
   2495,
   1559,
   395,
   744,
   172,
   1903,
   1568,
   1603,
   611,
   1306,
   1308,
   712,
   1594,
   10,
   3029,
   413,
   1932,
   1576,
   314,
   757,
   992,
   1298,
   540,
   1626,
   2309,
   1733,
   484,
   495,
   993,
   2406,
   2345,
   309,
   1242,
   1944,
   342,
   2083,
   1477,
   363,
   3040,
   1909,
   175,
   1520,
   573,
   1552,
   738,
   2503,
   956,
   280,
   574,
   1833,
   487,
   1586,
   3471,
   2685,
   1442,
   2303,
   1914,
   1614,
   2683,
   193,
   3038,
   951,
   358,
   1879,
   1493,
   1337,
   3027,
   371,
   2385,
   754,
   3445,
   1270,
   1407,
   3567,
   982,
   224,
   320,
   1866,
   1483,
   1021,
   1658,
   1259,
   525,
   1487,
   2632,
   2042,
   336,
   2910,
   1697,
   166,
   137,
   1313,
   501,
   1987,
   1274,
   1580,
   1480,
   146,
   441,
   2866,
   1865,
   2502,
   1827,
   700,
   182,
   217,
   333,
   1272,
   330,
   3030,
   2103,
   2892,
   2893,
   2470,
   3156,
   1446,
   339,
   2232,
   315,
   2948,
   2163,
   526,
   1503,
   2994,
   3047,
   1450,
   2942,
   1657,
   16,
   1246,
   347,
   2749,
   355,
   1595,
   140,
   3244,
   379,
   3267,
   584,
   660,
   437,
   1730,
   2348,
   478,
   2245,
   1634,
   1706,
   2111,
   1505,
   291,
   47,
   2709,
   3032,
   1517,
   232,
   2198,
   1546,
   348,
   156,
   1414,
   2384,
   2959,
   2846,
   2635,
   1175,
   1619,
   2658,
   1307,
   1440,
   1095,
   736,
   1945,
   2933,
   1126,
   1180,
   368,
   1104,
   2203,
   1479,
   3048,
   1891,
   444,
   1295,
   2521,
   216,
   3023,
   1100,
   1849,
   577,
   2132,
   580,
   3339,
   2976,
   1776,
   1957,
   2584,
   1201,
   3190,
   2586,
   1805,
   2176,
   2258,
   2697,
   2544,
   2285,
   1227,
   1291,
   3449,
   1230,
   1800,
   1817,
   3448,
   1801,
   2095,
   2187,
   2743,
   2442,
   1793,
   3161,
   1790,
   2230,
   3632,
   3163,
   2181,
   2656,
   1942,
   2319,
   2441,
   1283,
   3475,
   1941,
   1816,
   2212,
   2662,
   2219,
   1791,
   1870,
   1796,
   3447,
   2281,
   1792,
   2611,
   2696,
   2074,
   2590,
   3346,
   3210,
   2835,
   2210,
   3227,
   2264,
   2070,
   3467,
   2467,
   1908,
   2182,
   3672,
   1842,
   2229,
   3171,
   1943,
   1234,
   2531,
   1052,
   2513,
   2454,
   2183,
   2551,
   2323,
   3457,
   2279,
   2216,
   2227,
   2218,
   2805,
   1020,
   2186,
   1249,
   2529,
   1968,
   2286,
   3516,
   3158,
   2820,
   2588,
   2223,
   2066,
   1954,
   3265,
   3602,
   2224,
   3466,
   2583,
   1874,
   3293,
   3218,
   1275,
   596,
   2211,
   2542,
   969,
   2185,
   1457,
   3549,
   2804,
   2213,
   1812,
   1824,
   2178,
   2694,
   1969,
   2545,
   2412,
   2598,
   2261,
   1966,
   2548,
   2530,
   1832,
   1965,
   3292,
   2778,
   2779,
   2184,
   1917,
   3352,
   1059,
   2872,
   1913,
   2120,
   1925,
   1017,
   3691,
   2073,
   2277,
   3473,
   2661,
   2549,
   2978,
   2440,
   2748,
   2282,
   2591,
   680,
   2278,
   3460,
   1780,
   3246,
   3528,
   2222,
   2013,
   2228,
   1953,
   1826,
   2324,
   1935,
   1981,
   1277,
   3168,
   2231,
   1822,
   1053,
   2215,
   1994,
   2263,
   1960,
   1131,
   2265,
   1889,
   1815,
   1937,
   1199,
   2774,
   1885,
   3499,
   1184,
   3247,
   2271,
   1010,
   3458,
   1964,
   1906,
   2097,
   2710,
   2856,
   3462,
   3590,
   1116,
   3141,
   2984,
   2205,
   2276,
   1781,
   1779,
   1868,
   1777,
   3409,
   1527,
   3340,
   1250,
   1843,
   579,
   3521,
   1959,
   1225,
   3295,
   2889,
   3217,
   2722,
   1206,
   2214,
   1901,
   1155,
   3167,
   1098,
   2712,
   1821,
   1938,
   1920,
   2991,
   1166,
   2275,
   2535,
   1051,
   3132,
   2776,
   2826,
   2054,
   2711,
   2897,
   3294,
   1896,
   1783,
   3486,
   1048,
   1149,
   2512,
   2593,
   3273,
   1121,
   1211,
   1789,
   2883,
   1025,
   2553,
   972,
   2923,
   1085,
   1782,
   1197,
   1109,
   705,
   1004,
   3702,
   1744,
   968,
   3316,
   1958,
   1024,
   133,
   3187,
   2079,
   1278,
   464,
   1501,
   2758,
   978,
   2865,
   1194,
   2761,
   2014,
   1023,
   1728,
   1178,
   2890,
   1200,
   2137,
   1111,
   1768,
   971,
   854,
   1564,
   1183,
   2708,
   576,
   2831,
   948,
   1538,
   3130,
   2160,
   1179,
   427,
   3239,
   32,
   2129,
   581,
   2355,
   2401,
   528,
   3259,
   2206,
   1289,
   932,
   3472,
   1125,
   3312,
   3315,
   3550,
   1454,
   2487,
   145,
   2858,
   568,
   1167,
   1216,
   1174,
   2098,
   861,
   1019,
   1187,
   2122,
   582,
   1060,
   1108,
   36,
   2425,
   840,
   864,
   2873,
   1107,
   2795,
   1130,
   866,
   868,
   2059,
   254,
   288,
   2558,
   2600,
   1952,
   50,
   844,
   310,
   2786,
   859,
   862,
   2875,
   1486,
   1136,
   1033,
   2557,
   514,
   803,
   1798,
   3557,
   551,
   1797,
   832,
   1421,
   2207,
   271,
   1955,
   628,
   2052,
   1853,
   1195,
   2456,
   538,
   640,
   467,
   2121,
   2587,
   1818,
   2789,
   1612,
   139,
   3652,
   3251,
   511,
   260,
   107,
   1537,
   1168,
   2100,
   3174,
   1575,
   1850,
   2192,
   34,
   2375,
   2489,
   1585,
   594,
   2960,
   2144,
   2204,
   2652,
   2202,
   2141,
   2427,
   1399,
   2481,
   2484,
   2496,
   2517,
   2839,
   1,
   2899,
   2900,
   2702,
   2932,
   2945,
   3600,
   3280,
   3342,
   3578,
   3668,
   3706,
   3355,
   3618,
   3658,
   3556,
   3513,
   3504,
   3384,
   3551,
   3303,
   3278,
   3178,
   3249,
   3509,
   3541,
   3304,
   3623,
   1054,
   3624,
   3671,
   1026,
   3644],
  2311,
  1,
  736,
  2)]

In [35]:
train_seq = [line[1] for line in train_set]

In [36]:
train_seq[:2]

[[48,
  1458,
  1103,
  822,
  3522,
  3205,
  1902,
  180,
  1293,
  1702,
  429,
  779,
  2768,
  2363,
  473,
  2415,
  529,
  2416,
  1315,
  1609,
  24,
  1738,
  1985,
  468,
  746,
  2254,
  247,
  31,
  1473,
  706,
  213,
  692,
  2128,
  2148,
  2520,
  2634,
  1646,
  2125,
  2675,
  2506,
  183,
  1395,
  537,
  1431,
  3041,
  741,
  1463,
  1279,
  2240,
  2669,
  703,
  276,
  198,
  3000,
  191,
  344,
  230,
  524,
  2347,
  504,
  539,
  1739,
  2201,
  1845,
  1926,
  1429,
  1540,
  2060,
  2808,
  2,
  633,
  1481,
  3051,
  3024,
  308,
  2905,
  3031,
  3026,
  922,
  2255,
  56,
  1554,
  1476,
  3296,
  1571,
  173,
  1224,
  1847,
  1287,
  1844,
  160,
  1988,
  805,
  397,
  2832,
  963,
  218,
  2495,
  1559,
  395,
  744,
  172,
  1903,
  1568,
  1603,
  611,
  1306,
  1308,
  712,
  1594,
  10,
  3029,
  413,
  1932,
  1576,
  314,
  757,
  992,
  1298,
  540,
  1626,
  2309,
  1733,
  484,
  495,
  993,
  2406,
  2345,
  309,
  1242,
  1944,
  342,
  2083,
  1477,
  363,
  3040,
  1909,
  175,
  1520,
  573,
  1552,
  738,
  2503,
  956,
  280,
  574,
  1833,
  487,
  1586,
  3471,
  2685,
  1442,
  2303,
  1914,
  1614,
  2683,
  193,
  3038,
  951,
  358,
  1879,
  1493,
  1337,
  3027,
  371,
  2385,
  754,
  3445,
  1270,
  1407,
  3567,
  982,
  224,
  320,
  1866,
  1483,
  1021,
  1658,
  1259,
  525,
  1487,
  2632,
  2042,
  336,
  2910,
  1697,
  166,
  137,
  1313,
  501,
  1987,
  1274,
  1580,
  1480,
  146,
  441,
  2866,
  1865,
  2502,
  1827,
  700,
  182,
  217,
  333,
  1272,
  330,
  3030,
  2103,
  2892,
  2893,
  2470,
  3156,
  1446,
  339,
  2232,
  315,
  2948,
  2163,
  526,
  1503,
  2994,
  3047,
  1450,
  2942,
  1657,
  16,
  1246,
  347,
  2749,
  355,
  1595,
  140,
  3244,
  379,
  3267,
  584,
  660,
  437,
  1730,
  2348,
  478,
  2245,
  1634,
  1706,
  2111,
  1505,
  291,
  47,
  2709,
  3032,
  1517,
  232,
  2198,
  1546,
  348,
  156,
  1414,
  2384,
  2959,
  2846,
  2635,
  1175,
  1619,
  2658,
  1307,
  1440,
  1095,
  736,
  1945,
  2933,
  1126,
  1180,
  368,
  1104,
  2203,
  1479,
  3048,
  1891,
  444,
  1295,
  2521,
  216,
  3023,
  1100,
  1849,
  577,
  2132,
  580,
  3339,
  2976,
  1776,
  1957,
  2584,
  1201,
  3190,
  2586,
  1805,
  2176,
  2258,
  2697,
  2544,
  2285,
  1227,
  1291,
  3449,
  1230,
  1800,
  1817,
  3448,
  1801,
  2095,
  2187,
  2743,
  2442,
  1793,
  3161,
  1790,
  2230,
  3632,
  3163,
  2181,
  2656,
  1942,
  2319,
  2441,
  1283,
  3475,
  1941,
  1816,
  2212,
  2662,
  2219,
  1791,
  1870,
  1796,
  3447,
  2281,
  1792,
  2611,
  2696,
  2074,
  2590,
  3346,
  3210,
  2835,
  2210,
  3227,
  2264,
  2070,
  3467,
  2467,
  1908,
  2182,
  3672,
  1842,
  2229,
  3171,
  1943,
  1234,
  2531,
  1052,
  2513,
  2454,
  2183,
  2551,
  2323,
  3457,
  2279,
  2216,
  2227,
  2218,
  2805,
  1020,
  2186,
  1249,
  2529,
  1968,
  2286,
  3516,
  3158,
  2820,
  2588,
  2223,
  2066,
  1954,
  3265,
  3602,
  2224,
  3466,
  2583,
  1874,
  3293,
  3218,
  1275,
  596,
  2211,
  2542,
  969,
  2185,
  1457,
  3549,
  2804,
  2213,
  1812,
  1824,
  2178,
  2694,
  1969,
  2545,
  2412,
  2598,
  2261,
  1966,
  2548,
  2530,
  1832,
  1965,
  3292,
  2778,
  2779,
  2184,
  1917,
  3352,
  1059,
  2872,
  1913,
  2120,
  1925,
  1017,
  3691,
  2073,
  2277,
  3473,
  2661,
  2549,
  2978,
  2440,
  2748,
  2282,
  2591,
  680,
  2278,
  3460,
  1780,
  3246,
  3528,
  2222,
  2013,
  2228,
  1953,
  1826,
  2324,
  1935,
  1981,
  1277,
  3168,
  2231,
  1822,
  1053,
  2215,
  1994,
  2263,
  1960,
  1131,
  2265,
  1889,
  1815,
  1937,
  1199,
  2774,
  1885,
  3499,
  1184,
  3247,
  2271,
  1010,
  3458,
  1964,
  1906,
  2097,
  2710,
  2856,
  3462,
  3590,
  1116,
  3141,
  2984,
  2205,
  2276,
  1781,
  1779,
  1868,
  1777,
  3409,
  1527,
  3340,
  1250,
  1843,
  579,
  3521,
  1959,
  1225,
  3295,
  2889,
  3217,
  2722,
  1206,
  2214,
  1901,
  1155,
  3167,
  1098,
  2712,
  1821,
  1938,
  1920,
  2991,
  1166,
  2275,
  2535,
  1051,
  3132,
  2776,
  2826,
  2054,
  2711,
  2897,
  3294,
  1896,
  1783,
  3486,
  1048,
  1149,
  2512,
  2593,
  3273,
  1121,
  1211,
  1789,
  2883,
  1025,
  2553,
  972,
  2923,
  1085,
  1782,
  1197,
  1109,
  705,
  1004,
  3702,
  1744,
  968,
  3316,
  1958,
  1024,
  133,
  3187,
  2079,
  1278,
  464,
  1501,
  2758,
  978,
  2865,
  1194,
  2761,
  2014,
  1023,
  1728,
  1178,
  2890,
  1200,
  2137,
  1111,
  1768,
  971,
  854,
  1564,
  1183,
  2708,
  576,
  2831,
  948,
  1538,
  3130,
  2160,
  1179,
  427,
  3239,
  32,
  2129,
  581,
  2355,
  2401,
  528,
  3259,
  2206,
  1289,
  932,
  3472,
  1125,
  3312,
  3315,
  3550,
  1454,
  2487,
  145,
  2858,
  568,
  1167,
  1216,
  1174,
  2098,
  861,
  1019,
  1187,
  2122,
  582,
  1060,
  1108,
  36,
  2425,
  840,
  864,
  2873,
  1107,
  2795,
  1130,
  866,
  868,
  2059,
  254,
  288,
  2558,
  2600,
  1952,
  50,
  844,
  310,
  2786,
  859,
  862,
  2875,
  1486,
  1136,
  1033,
  2557,
  514,
  803,
  1798,
  3557,
  551,
  1797,
  832,
  1421,
  2207,
  271,
  1955,
  628,
  2052,
  1853,
  1195,
  2456,
  538,
  640,
  467,
  2121,
  2587,
  1818,
  2789,
  1612,
  139,
  3652,
  3251,
  511,
  260,
  107,
  1537,
  1168,
  2100,
  3174,
  1575,
  1850,
  2192,
  34,
  2375,
  2489,
  1585,
  594,
  2960,
  2144,
  2204,
  2652,
  2202,
  2141,
  2427,
  1399,
  2481,
  2484,
  2496,
  2517,
  2839,
  1,
  2899,
  2900,
  2702,
  2932,
  2945,
  3600,
  3280,
  3342,
  3578,
  3668,
  3706,
  3355,
  3618,
  3658,
  3556,
  3513,
  3504,
  3384,
  3551,
  3303,
  3278,
  3178,
  3249,
  3509,
  3541,
  3304,
  3623,
  1054,
  3624,
  3671,
  1026,
  3644],
 [1102,
  2684,
  2286,
  1197,
  536,
  2799,
  80,
  890,
  2235,
  978,
  1744,
  3187,
  1354,
  1149,
  1779,
  576,
  1890,
  108,
  2960,
  1784,
  2914,
  1926,
  2050,
  993,
  314,
  1573,
  2467,
  2440,
  862,
  2439,
  2441,
  1631,
  1527,
  2942,
  725,
  1100,
  1033,
  1144,
  2653,
  2751,
  2154,
  1540,
  320,
  2099,
  1273,
  1276,
  3458,
  1277,
  1168,
  2977,
  1966,
  1920,
  1433,
  368,
  1830,
  561,
  1657,
  652,
  2734,
  1025,
  971,
  2669,
  850,
  2748,
  3471,
  2646,
  581,
  2969,
  1975,
  526,
  527,
  1544,
  994,
  1006,
  2558,
  3025,
  525,
  1964,
  523,
  839,
  3051,
  3024,
  3038,
  2156,
  580,
  188,
  1167,
  522,
  310,
  3162,
  759,
  3191,
  2293,
  2204,
  3626,
  2884,
  998,
  3488,
  1098,
  2049,
  3494,
  519,
  17,
  47,
  516,
  1027,
  1571,
  1306,
  3192,
  3029,
  514,
  1849,
  2271,
  2203,
  2489,
  2042,
  511,
  510,
  1980,
  508,
  1884,
  2214,
  2217,
  1775,
  2456,
  2218,
  2775,
  146,
  2774,
  2885,
  2708,
  1141,
  1069,
  1018,
  502,
  364,
  2483,
  2722,
  1032,
  363,
  844,
  781,
  1296,
  1128,
  3123,
  1139,
  2546,
  1109,
  292,
  2823,
  1885,
  288,
  1130,
  3444,
  2109,
  1059,
  2202,
  1108,
  1638,
  291,
  3493,
  3296,
  1965,
  1338,
  584,
  3297,
  57,
  1908,
  2155,
  1834,
  3447,
  2849,
  2098,
  2129,
  2335,
  1019,
  1745,
  2169,
  495,
  838,
  1907,
  1045,
  1047,
  2081,
  2599,
  2277,
  3033,
  2239,
  1181,
  3547,
  1879,
  3294,
  1104,
  3492,
  2979,
  1264,
  3000,
  2668,
  2548,
  1733,
  1706,
  1777,
  2597,
  3487,
  1766,
  1048,
  3367,
  3393,
  1253,
  3275,
  2308,
  1646,
  746,
  3274,
  848,
  1644,
  3466,
  1158,
  908,
  3272,
  276,
  1878,
  2112,
  280,
  2883,
  1480,
  3381,
  854,
  2111,
  861,
  2051,
  1442,
  105,
  3168,
  333,
  3166,
  487,
  360,
  678,
  894,
  3352,
  3268,
  1568,
  2858,
  3194,
  630,
  2822,
  3524,
  3267,
  2206,
  2238,
  1902,
  51,
  1773,
  1567,
  3266,
  1329,
  1787,
  480,
  1450,
  2777,
  1335,
  1096,
  359,
  3265,
  2375,
  1827,
  1293,
  2058,
  1767,
  2001,
  3318,
  2871,
  1176,
  3437,
  1931,
  479,
  1153,
  1770,
  853,
  1212,
  3023,
  1103,
  266,
  476,
  3461,
  1203,
  378,
  1626,
  3572,
  2848,
  755,
  171,
  1148,
  2348,
  1846,
  2543,
  2139,
  1901,
  355,
  1064,
  2824,
  2021,
  259,
  1821,
  3159,
  25,
  3032,
  973,
  1307,
  1843,
  2937,
  472,
  2981,
  1781,
  767,
  1928,
  1776,
  1785,
  253,
  2369,
  2174,
  3350,
  3107,
  1208,
  170,
  3518,
  468,
  2228,
  78,
  467,
  3195,
  1295,
  1929,
  1289,
  1582,
  2200,
  3156,
  845,
  352,
  893,
  2862,
  823,
  3571,
  2516,
  2795,
  2736,
  3237,
  1200,
  2080,
  738,
  1771,
  1464,
  1483,
  1501,
  2094,
  350,
  729,
  2243,
  2962,
  1479,
  2258,
  3037,
  3235,
  458,
  240,
  3257,
  3132,
  1874,
  1565,
  2746,
  573,
  2110,
  3249,
  2714,
  1979,
  2739,
  2575,
  97,
  2225,
  1194,
  2355,
  2515,
  1662,
  1145,
  2657,
  2745,
  2715,
  2127,
  3026,
  2719,
  3316,
  3220,
  1385,
  1342,
  1174,
  3219,
  1092,
  693,
  2932,
  1824,
  2920,
  3167,
  1282,
  1171,
  589,
  1156,
  1124,
  3021,
  3217,
  1564,
  2740,
  1112,
  2531,
  1844,
  803,
  1970,
  1132,
  2141,
  2287,
  2384,
  1024,
  1151,
  2170,
  620,
  3342,
  2512,
  2513,
  1302,
  21,
  1761,
  1493,
  2959,
  1202,
  1456,
  1133,
  444,
  1505,
  2661,
  2741,
  2392,
  1774,
  230,
  442,
  2447,
  347,
  348,
  2553,
  3549,
  2263,
  346,
  1562,
  3083,
  2179,
  2735,
  2982,
  3445,
  441,
  1008,
  2744,
  779,
  2893,
  2711,
  2079,
  1211,
  1705,
  669,
  2886,
  874,
  2991,
  594,
  2039,
  1513,
  1191,
  2944,
  2954,
  3521,
  3443,
  3522,
  1446,
  2508,
  1818,
  2227,
  227,
  228,
  990,
  1945,
  455,
  3178,
  1053,
  1095,
  2161,
  1107,
  2144,
  2100,
  2122,
  2401,
  229,
  2953,
  605,
  1026,
  225,
  1165,
  1783,
  2807,
  3099,
  714,
  2742,
  1089,
  224,
  1357,
  1022,
  3134,
  3193,
  1173,
  1017,
  3310,
  2737,
  1015,
  972,
  1509,
  1864,
  2177,
  1088,
  1172,
  3130,
  2665,
  1561,
  3199,
  3035,
  1155,
  1930,
  36,
  428,
  2725,
  427,
  577,
  1841,
  15,
  1023,
  157,
  2763,
  2278,
  2930,
  1370,
  627,
  1459,
  1185,
  1086,
  22,
  3489,
  1454,
  2718,
  3483,
  2846,
  423,
  695,
  2282,
  2215,
  2535,
  39,
  1117,
  3239,
  341,
  217,
  340,
  2241,
  3473,
  1294,
  1085,
  863,
  2933,
  1161,
  1503,
  851,
  1778,
  568,
  3628,
  16,
  1248,
  852,
  2952,
  1246,
  1011,
  1247,
  3319,
  3312,
  2077,
  1213,
  1737,
  339,
  2163,
  3133,
  1704,
  139,
  3459,
  415,
  2054,
  103,
  1159,
  3346,
  3131,
  1789,
  3569,
  1110,
  107,
  117,
  2702,
  3142,
  414,
  2566,
  811,
  1013,
  3034,
  3073,
  1537,
  2710,
  1143,
  1131,
  1896,
  412,
  2743,
  3546,
  925,
  3430,
  2070,
  1237,
  3116,
  1850,
  1193,
  1585,
  932,
  2874,
  2593,
  2160,
  1337,
  2786,
  3284,
  1201,
  149,
  582,
  579,
  1021,
  799,
  653,
  404,
  1007,
  3500,
  337,
  2892,
  1179,
  3049,
  34,
  1973,
  1950,
  2253,
  1619,
  3292,
  3136,
  1178,
  2495,
  1738,
  849,
  145,
  1557,
  1119,
  2103,
  1140,
  3190,
  2345,
  1384,
  840,
  1556,
  2589,
  1225,
  3409,
  2137,
  2502,
  1136,
  2652,
  761,
  1763,
  866,
  3460,
  1125,
  2326,
  2328,
  2587,
  1477,
  2987,
  909,
  336,
  1944,
  335,
  1836,
  2312,
  1388,
  1160,
  905,
  864,
  936,
  3189,
  1114,
  3513,
  3476,
  3509,
  3379,
  2761,
  1105,
  3244,
  1486,
  254,
  121,
  2803]]

In [37]:
from tensorflow.python.keras.preprocessing.sequence import pad_sequences

In [38]:
pad_sequences(train_seq[:2], maxlen=50, padding='post', truncating='post', value=0)

array([[  48, 1458, 1103,  822, 3522, 3205, 1902,  180, 1293, 1702,  429,
         779, 2768, 2363,  473, 2415,  529, 2416, 1315, 1609,   24, 1738,
        1985,  468,  746, 2254,  247,   31, 1473,  706,  213,  692, 2128,
        2148, 2520, 2634, 1646, 2125, 2675, 2506,  183, 1395,  537, 1431,
        3041,  741, 1463, 1279, 2240, 2669],
       [1102, 2684, 2286, 1197,  536, 2799,   80,  890, 2235,  978, 1744,
        3187, 1354, 1149, 1779,  576, 1890,  108, 2960, 1784, 2914, 1926,
        2050,  993,  314, 1573, 2467, 2440,  862, 2439, 2441, 1631, 1527,
        2942,  725, 1100, 1033, 1144, 2653, 2751, 2154, 1540,  320, 2099,
        1273, 1276, 3458, 1277, 1168, 2977]], dtype=int32)

In [39]:
train_model_input, train_label = gen_model_input(train_set, user_profile, SEQ_LEN)
test_model_input, test_label = gen_model_input(test_set, user_profile, SEQ_LEN)

In [40]:
train_model_input

{'user_id': array([ 678, 3705,  186, ..., 2459,  245, 4523]),
 'movie_id': array([2311,  800, 2496, ..., 1849, 2711,  860]),
 'hist_movie_id': array([[  48, 1458, 1103, ..., 1279, 2240, 2669],
        [1102, 2684, 2286, ..., 1277, 1168, 2977],
        [2789,  705, 3494, ..., 1121, 2172,    0],
        ...,
        [1486,   50,  310, ...,    0,    0,    0],
        [1166, 3592, 2657, ..., 2182, 2735, 2485],
        [2100,  853, 3239, ...,   75, 3560, 2221]], dtype=int32),
 'hist_len': array([736, 714,  49, ...,  27, 375, 385]),
 'gender': array([2, 2, 2, ..., 2, 2, 2]),
 'age': array([3, 5, 2, ..., 6, 4, 2]),
 'occupation': array([ 1,  8,  6, ...,  8, 17,  3]),
 'zip': array([1258, 1072, 2875, ..., 1453, 2204, 1878])}

In [41]:
SparseFeat('user_id', feature_max_idx['user_id'], 16)

SparseFeat(name='user_id', vocabulary_size=6041, embedding_dim=16, use_hash=False, dtype='int32', embedding_name='user_id', group_name='default_group')

In [42]:
# 2.count #unique features for each sparse field and generate feature config for sequence feature

embedding_dim = 32

user_feature_columns = [SparseFeat('user_id', feature_max_idx['user_id'], 16),
                        SparseFeat("gender", feature_max_idx['gender'], 16),
                        SparseFeat("age", feature_max_idx['age'], 16),
                        SparseFeat("occupation", feature_max_idx['occupation'], 16),
                        SparseFeat("zip", feature_max_idx['zip'], 16),
                        VarLenSparseFeat(SparseFeat('hist_movie_id', feature_max_idx['movie_id'], embedding_dim,
                                                    embedding_name="movie_id"), SEQ_LEN, 'mean', 'hist_len'),
                        ]

item_feature_columns = [SparseFeat('movie_id', feature_max_idx['movie_id'], embedding_dim)]

## Define Model and train
召回模型的网络结构
![](img/rma01.png)

In [43]:
# 3.Define Model and train

K.set_learning_phase(True)

model = YoutubeDNN(user_feature_columns, item_feature_columns, num_sampled=200, user_dnn_hidden_units=(128,64, embedding_dim))
# model = MIND(user_feature_columns,item_feature_columns,dynamic_k=True,p=1,k_max=2,num_sampled=5,user_dnn_hidden_units=(64,16),init_std=0.001)

model.compile(optimizer="adam", loss=sampledsoftmaxloss)  # "binary_crossentropy")

WARNING:tensorflow:Entity <bound method SequencePoolingLayer.call of <deepctr.layers.sequence.SequencePoolingLayer object at 0x12f2c6190>> could not be transformed and will be executed as-is. Please report this to the AutgoGraph team. When filing the bug, set the verbosity to 10 (on Linux, `export AUTOGRAPH_VERBOSITY=10`) and attach the full output. Cause: converting <bound method SequencePoolingLayer.call of <deepctr.layers.sequence.SequencePoolingLayer object at 0x12f2c6190>>: AttributeError: module 'gast' has no attribute 'Num'
WARNING: Entity <bound method SequencePoolingLayer.call of <deepctr.layers.sequence.SequencePoolingLayer object at 0x12f2c6190>> could not be transformed and will be executed as-is. Please report this to the AutgoGraph team. When filing the bug, set the verbosity to 10 (on Linux, `export AUTOGRAPH_VERBOSITY=10`) and attach the full output. Cause: converting <bound method SequencePoolingLayer.call of <deepctr.layers.sequence.SequencePoolingLayer object at 0x12f2c6190>>: AttributeError: module 'gast' has no attribute 'Num'
WARNING:tensorflow:Entity <bound method NoMask.call of <deepctr.layers.utils.NoMask object at 0x12b519050>> could not be transformed and will be executed as-is. Please report this to the AutgoGraph team. When filing the bug, set the verbosity to 10 (on Linux, `export AUTOGRAPH_VERBOSITY=10`) and attach the full output. Cause: converting <bound method NoMask.call of <deepctr.layers.utils.NoMask object at 0x12b519050>>: AssertionError: Bad argument number for Name: 3, expecting 4
WARNING: Entity <bound method NoMask.call of <deepctr.layers.utils.NoMask object at 0x12b519050>> could not be transformed and will be executed as-is. Please report this to the AutgoGraph team. When filing the bug, set the verbosity to 10 (on Linux, `export AUTOGRAPH_VERBOSITY=10`) and attach the full output. Cause: converting <bound method NoMask.call of <deepctr.layers.utils.NoMask object at 0x12b519050>>: AssertionError: Bad argument number for Name: 3, expecting 4
WARNING:tensorflow:Entity <bound method NoMask.call of <deepctr.layers.utils.NoMask object at 0x12b519050>> could not be transformed and will be executed as-is. Please report this to the AutgoGraph team. When filing the bug, set the verbosity to 10 (on Linux, `export AUTOGRAPH_VERBOSITY=10`) and attach the full output. Cause: converting <bound method NoMask.call of <deepctr.layers.utils.NoMask object at 0x12b519050>>: AssertionError: Bad argument number for Name: 3, expecting 4
WARNING: Entity <bound method NoMask.call of <deepctr.layers.utils.NoMask object at 0x12b519050>> could not be transformed and will be executed as-is. Please report this to the AutgoGraph team. When filing the bug, set the verbosity to 10 (on Linux, `export AUTOGRAPH_VERBOSITY=10`) and attach the full output. Cause: converting <bound method NoMask.call of <deepctr.layers.utils.NoMask object at 0x12b519050>>: AssertionError: Bad argument number for Name: 3, expecting 4
WARNING:tensorflow:Entity <bound method NoMask.call of <deepctr.layers.utils.NoMask object at 0x12b519050>> could not be transformed and will be executed as-is. Please report this to the AutgoGraph team. When filing the bug, set the verbosity to 10 (on Linux, `export AUTOGRAPH_VERBOSITY=10`) and attach the full output. Cause: converting <bound method NoMask.call of <deepctr.layers.utils.NoMask object at 0x12b519050>>: AssertionError: Bad argument number for Name: 3, expecting 4
WARNING: Entity <bound method NoMask.call of <deepctr.layers.utils.NoMask object at 0x12b519050>> could not be transformed and will be executed as-is. Please report this to the AutgoGraph team. When filing the bug, set the verbosity to 10 (on Linux, `export AUTOGRAPH_VERBOSITY=10`) and attach the full output. Cause: converting <bound method NoMask.call of <deepctr.layers.utils.NoMask object at 0x12b519050>>: AssertionError: Bad argument number for Name: 3, expecting 4
WARNING:tensorflow:Entity <bound method NoMask.call of <deepctr.layers.utils.NoMask object at 0x12b519050>> could not be transformed and will be executed as-is. Please report this to the AutgoGraph team. When filing the bug, set the verbosity to 10 (on Linux, `export AUTOGRAPH_VERBOSITY=10`) and attach the full output. Cause: converting <bound method NoMask.call of <deepctr.layers.utils.NoMask object at 0x12b519050>>: AssertionError: Bad argument number for Name: 3, expecting 4
WARNING: Entity <bound method NoMask.call of <deepctr.layers.utils.NoMask object at 0x12b519050>> could not be transformed and will be executed as-is. Please report this to the AutgoGraph team. When filing the bug, set the verbosity to 10 (on Linux, `export AUTOGRAPH_VERBOSITY=10`) and attach the full output. Cause: converting <bound method NoMask.call of <deepctr.layers.utils.NoMask object at 0x12b519050>>: AssertionError: Bad argument number for Name: 3, expecting 4
WARNING:tensorflow:Entity <bound method NoMask.call of <deepctr.layers.utils.NoMask object at 0x12b519050>> could not be transformed and will be executed as-is. Please report this to the AutgoGraph team. When filing the bug, set the verbosity to 10 (on Linux, `export AUTOGRAPH_VERBOSITY=10`) and attach the full output. Cause: converting <bound method NoMask.call of <deepctr.layers.utils.NoMask object at 0x12b519050>>: AssertionError: Bad argument number for Name: 3, expecting 4
WARNING: Entity <bound method NoMask.call of <deepctr.layers.utils.NoMask object at 0x12b519050>> could not be transformed and will be executed as-is. Please report this to the AutgoGraph team. When filing the bug, set the verbosity to 10 (on Linux, `export AUTOGRAPH_VERBOSITY=10`) and attach the full output. Cause: converting <bound method NoMask.call of <deepctr.layers.utils.NoMask object at 0x12b519050>>: AssertionError: Bad argument number for Name: 3, expecting 4
WARNING:tensorflow:Entity <bound method NoMask.call of <deepctr.layers.utils.NoMask object at 0x12b519050>> could not be transformed and will be executed as-is. Please report this to the AutgoGraph team. When filing the bug, set the verbosity to 10 (on Linux, `export AUTOGRAPH_VERBOSITY=10`) and attach the full output. Cause: converting <bound method NoMask.call of <deepctr.layers.utils.NoMask object at 0x12b519050>>: AssertionError: Bad argument number for Name: 3, expecting 4
WARNING: Entity <bound method NoMask.call of <deepctr.layers.utils.NoMask object at 0x12b519050>> could not be transformed and will be executed as-is. Please report this to the AutgoGraph team. When filing the bug, set the verbosity to 10 (on Linux, `export AUTOGRAPH_VERBOSITY=10`) and attach the full output. Cause: converting <bound method NoMask.call of <deepctr.layers.utils.NoMask object at 0x12b519050>>: AssertionError: Bad argument number for Name: 3, expecting 4
WARNING:tensorflow:Entity <bound method DNN.call of <deepctr.layers.core.DNN object at 0x12f2cba90>> could not be transformed and will be executed as-is. Please report this to the AutgoGraph team. When filing the bug, set the verbosity to 10 (on Linux, `export AUTOGRAPH_VERBOSITY=10`) and attach the full output. Cause: converting <bound method DNN.call of <deepctr.layers.core.DNN object at 0x12f2cba90>>: AttributeError: module 'gast' has no attribute 'Num'
WARNING: Entity <bound method DNN.call of <deepctr.layers.core.DNN object at 0x12f2cba90>> could not be transformed and will be executed as-is. Please report this to the AutgoGraph team. When filing the bug, set the verbosity to 10 (on Linux, `export AUTOGRAPH_VERBOSITY=10`) and attach the full output. Cause: converting <bound method DNN.call of <deepctr.layers.core.DNN object at 0x12f2cba90>>: AttributeError: module 'gast' has no attribute 'Num'
WARNING:tensorflow:Entity <bound method EmbeddingIndex.call of <deepmatch.layers.core.EmbeddingIndex object at 0x129806990>> could not be transformed and will be executed as-is. Please report this to the AutgoGraph team. When filing the bug, set the verbosity to 10 (on Linux, `export AUTOGRAPH_VERBOSITY=10`) and attach the full output. Cause: converting <bound method EmbeddingIndex.call of <deepmatch.layers.core.EmbeddingIndex object at 0x129806990>>: AssertionError: Bad argument number for Name: 3, expecting 4

WARNING: Entity <bound method EmbeddingIndex.call of <deepmatch.layers.core.EmbeddingIndex object at 0x129806990>> could not be transformed and will be executed as-is. Please report this to the AutgoGraph team. When filing the bug, set the verbosity to 10 (on Linux, `export AUTOGRAPH_VERBOSITY=10`) and attach the full output. Cause: converting <bound method EmbeddingIndex.call of <deepmatch.layers.core.EmbeddingIndex object at 0x129806990>>: AssertionError: Bad argument number for Name: 3, expecting 4
WARNING:tensorflow:Entity <bound method NoMask.call of <deepctr.layers.utils.NoMask object at 0x12f2e0990>> could not be transformed and will be executed as-is. Please report this to the AutgoGraph team. When filing the bug, set the verbosity to 10 (on Linux, `export AUTOGRAPH_VERBOSITY=10`) and attach the full output. Cause: converting <bound method NoMask.call of <deepctr.layers.utils.NoMask object at 0x12f2e0990>>: AssertionError: Bad argument number for Name: 3, expecting 4
WARNING: Entity <bound method NoMask.call of <deepctr.layers.utils.NoMask object at 0x12f2e0990>> could not be transformed and will be executed as-is. Please report this to the AutgoGraph team. When filing the bug, set the verbosity to 10 (on Linux, `export AUTOGRAPH_VERBOSITY=10`) and attach the full output. Cause: converting <bound method NoMask.call of <deepctr.layers.utils.NoMask object at 0x12f2e0990>>: AssertionError: Bad argument number for Name: 3, expecting 4
WARNING:tensorflow:Entity <bound method PoolingLayer.call of <deepmatch.layers.core.PoolingLayer object at 0x12f2eb850>> could not be transformed and will be executed as-is. Please report this to the AutgoGraph team. When filing the bug, set the verbosity to 10 (on Linux, `export AUTOGRAPH_VERBOSITY=10`) and attach the full output. Cause: converting <bound method PoolingLayer.call of <deepmatch.layers.core.PoolingLayer object at 0x12f2eb850>>: AttributeError: module 'gast' has no attribute 'Num'
WARNING: Entity <bound method PoolingLayer.call of <deepmatch.layers.core.PoolingLayer object at 0x12f2eb850>> could not be transformed and will be executed as-is. Please report this to the AutgoGraph team. When filing the bug, set the verbosity to 10 (on Linux, `export AUTOGRAPH_VERBOSITY=10`) and attach the full output. Cause: converting <bound method PoolingLayer.call of <deepmatch.layers.core.PoolingLayer object at 0x12f2eb850>>: AttributeError: module 'gast' has no attribute 'Num'
WARNING:tensorflow:Entity <bound method SampledSoftmaxLayer.call of <deepmatch.layers.core.SampledSoftmaxLayer object at 0x12f2dad10>> could not be transformed and will be executed as-is. Please report this to the AutgoGraph team. When filing the bug, set the verbosity to 10 (on Linux, `export AUTOGRAPH_VERBOSITY=10`) and attach the full output. Cause: converting <bound method SampledSoftmaxLayer.call of <deepmatch.layers.core.SampledSoftmaxLayer object at 0x12f2dad10>>: AssertionError: Bad argument number for Name: 3, expecting 4
WARNING: Entity <bound method SampledSoftmaxLayer.call of <deepmatch.layers.core.SampledSoftmaxLayer object at 0x12f2dad10>> could not be transformed and will be executed as-is. Please report this to the AutgoGraph team. When filing the bug, set the verbosity to 10 (on Linux, `export AUTOGRAPH_VERBOSITY=10`) and attach the full output. Cause: converting <bound method SampledSoftmaxLayer.call of <deepmatch.layers.core.SampledSoftmaxLayer object at 0x12f2dad10>>: AssertionError: Bad argument number for Name: 3, expecting 4

In [50]:
model.summary()

Model: "model_3"
__________________________________________________________________________________________________
Layer (type)                    Output Shape         Param #     Connected to
==================================================================================================
movie_id (InputLayer)           [(None, 1)]          0
__________________________________________________________________________________________________
embedding_index_1 (EmbeddingInd (3707,)              0           movie_id[0][0]
__________________________________________________________________________________________________
hist_movie_id (InputLayer)      [(None, 50)]         0
__________________________________________________________________________________________________
sparse_seq_emb_hist_movie_id (E multiple             118624      hist_movie_id[0][0]
                                                                 embedding_index_1[0][0]
__________________________________________________________________________________________________
user_id (InputLayer)            [(None, 1)]          0
__________________________________________________________________________________________________
gender (InputLayer)             [(None, 1)]          0
__________________________________________________________________________________________________
age (InputLayer)                [(None, 1)]          0
__________________________________________________________________________________________________
occupation (InputLayer)         [(None, 1)]          0
__________________________________________________________________________________________________
zip (InputLayer)                [(None, 1)]          0
__________________________________________________________________________________________________
hist_len (InputLayer)           [(None, 1)]          0
__________________________________________________________________________________________________
sparse_emb_user_id (Embedding)  (None, 1, 16)        96656       user_id[0][0]
__________________________________________________________________________________________________
sparse_emb_gender (Embedding)   (None, 1, 16)        48          gender[0][0]
__________________________________________________________________________________________________
sparse_emb_age (Embedding)      (None, 1, 16)        128         age[0][0]
__________________________________________________________________________________________________
sparse_emb_occupation (Embeddin (None, 1, 16)        352         occupation[0][0]
__________________________________________________________________________________________________
sparse_emb_zip (Embedding)      (None, 1, 16)        55040       zip[0][0]
__________________________________________________________________________________________________
sequence_pooling_layer_1 (Seque (None, 1, 32)        0           sparse_seq_emb_hist_movie_id[0][0
                                                                 hist_len[0][0]
__________________________________________________________________________________________________
no_mask_2 (NoMask)              multiple             0           sparse_emb_user_id[0][0]
                                                                 sparse_emb_gender[0][0]
                                                                 sparse_emb_age[0][0]
                                                                 sparse_emb_occupation[0][0]
                                                                 sparse_emb_zip[0][0]
                                                                 sequence_pooling_layer_1[0][0]
__________________________________________________________________________________________________
concatenate_1 (Concatenate)     (None, 1, 112)       0           no_mask_2[0][0]
                                                                 no_mask_2[1][0]
                                                                 no_mask_2[2][0]
                                                                 no_mask_2[3][0]
                                                                 no_mask_2[4][0]
                                                                 no_mask_2[5][0]
__________________________________________________________________________________________________
no_mask_3 (NoMask)              (3707, 32)           0           sparse_seq_emb_hist_movie_id[1][0
__________________________________________________________________________________________________
flatten_1 (Flatten)             (None, 112)          0           concatenate_1[0][0]
__________________________________________________________________________________________________
pooling_layer_1 (PoolingLayer)  (3707, 32)           0           no_mask_3[0][0]
__________________________________________________________________________________________________
dnn_1 (DNN)                     (None, 32)           24800       flatten_1[0][0]
__________________________________________________________________________________________________
sampled_softmax_layer_1 (Sample (None, 1)            3707        pooling_layer_1[0][0]
                                                                 dnn_1[0][0]
                                                                 movie_id[0][0]
==================================================================================================
Total params: 299,355
Trainable params: 295,648
Non-trainable params: 3,707
__________________________________________________________________________________________________

In [45]:
history = model.fit(train_model_input, train_label,  # train_label,
                    batch_size=512, epochs=24, verbose=1, validation_split=0.0, )

Epoch 1/24
988129/988129 [==============================] - 22s 22us/sample - loss: 3.4355
Epoch 2/24
988129/988129 [==============================] - 21s 21us/sample - loss: 3.2733
Epoch 3/24
988129/988129 [==============================] - 20s 20us/sample - loss: 3.1565
Epoch 4/24
988129/988129 [==============================] - 22s 22us/sample - loss: 3.0615
Epoch 5/24
988129/988129 [==============================] - 21s 22us/sample - loss: 2.9840
Epoch 6/24
988129/988129 [==============================] - 18s 19us/sample - loss: 2.9255
Epoch 7/24
988129/988129 [==============================] - 18s 19us/sample - loss: 2.8788
Epoch 8/24
988129/988129 [==============================] - 23s 23us/sample - loss: 2.8405
Epoch 9/24
988129/988129 [==============================] - 19s 19us/sample - loss: 2.8063
Epoch 10/24
988129/988129 [==============================] - 19s 19us/sample - loss: 2.7827
Epoch 11/24
988129/988129 [==============================] - 20s 20us/sample - loss: 2.7556
Epoch 12/24
988129/988129 [==============================] - 22s 23us/sample - loss: 2.7341
Epoch 13/24
988129/988129 [==============================] - 21s 21us/sample - loss: 2.7157
Epoch 14/24
988129/988129 [==============================] - 22s 23us/sample - loss: 2.6986
Epoch 15/24
988129/988129 [==============================] - 20s 21us/sample - loss: 2.6853
Epoch 16/24
988129/988129 [==============================] - 20s 21us/sample - loss: 2.6761
Epoch 17/24
988129/988129 [==============================] - 21s 21us/sample - loss: 2.6563
Epoch 18/24
988129/988129 [==============================] - 20s 20us/sample - loss: 2.6502
Epoch 19/24
988129/988129 [==============================] - 19s 19us/sample - loss: 2.6322
Epoch 20/24
988129/988129 [==============================] - 19s 19us/sample - loss: 2.6246
Epoch 21/24
988129/988129 [==============================] - 19s 19us/sample - loss: 2.6189
Epoch 22/24
988129/988129 [==============================] - 21s 21us/sample - loss: 2.6049
Epoch 23/24
988129/988129 [==============================] - 19s 19us/sample - loss: 2.5951
Epoch 24/24
988129/988129 [==============================] - 23s 23us/sample - loss: 2.5924

训练完整后，由于在实际使用时，我们需要根据当前的用户特征实时产生用户侧向量，并对物品侧向量构建索引进行近似最近邻查找。这里由于是离线模拟，所以我们导出所有待测试用户的表示向量，和所有物品的表示向量。

## Generate user features for testing and full item features for retrieval

In [46]:
test_user_model_input = test_model_input
all_item_model_input = {"movie_id": item_profile['movie_id'].values,}

# 以下两行是deepmatch中的通用使用方法，分别获得用户向量模型和物品向量模型
user_embedding_model = Model(inputs=model.user_input, outputs=model.user_embedding)
item_embedding_model = Model(inputs=model.item_input, outputs=model.item_embedding)

# 输入对应的数据拿到对应的向量
user_embs = user_embedding_model.predict(test_user_model_input, batch_size=2 ** 12)
# user_embs = user_embs[:, i, :]  i in [0,k_max) if MIND
item_embs = item_embedding_model.predict(all_item_model_input, batch_size=2 ** 12)

print(user_embs.shape)
print(item_embs.shape)

(6040, 32)
(3706, 32)

## 使用faiss进行ANN查找并评估结果
[可选的]如果有安装faiss库的同学，可以体验以下将上一步导出的物品向量构建索引，然后用用户向量来进行ANN(Approximate Nearest Neighbor，近似最近邻)查找并评估效果

In [47]:
# ! pip install faiss-cpu
!pip freeze | grep faiss

faiss-cpu==1.6.3

In [48]:
test_true_label = {line[0]:[line[2]] for line in test_set}  # user_id: [next_item_id]

import numpy as np
import faiss
from tqdm import tqdm
from deepmatch.utils import recall_N

index = faiss.IndexFlatIP(embedding_dim)
# faiss.normalize_L2(item_embs)
index.add(item_embs)
# faiss.normalize_L2(user_embs)
D, I = index.search(user_embs, 50)
s = []
hit = 0
for i, uid in tqdm(enumerate(test_user_model_input['user_id'])):
    try:
        pred = [item_profile['movie_id'].values[x] for x in I[i]]
        filter_item = None
        recall_score = recall_N(test_true_label[uid], pred, N=50)
        s.append(recall_score)
        if test_true_label[uid] in pred:
            hit += 1
    except:
        print(i)
print("")
print("recall", np.mean(s))
print("hit rate", hit / len(test_user_model_input['user_id']))

## result
训练了24个epoch，top50召回达到了0.29，

# nb_export

In [4]:
from nbdev.export import *
notebook2script()

Converted 00_core.ipynb.
Converted engineering_nbdev.ipynb.
Converted index.ipynb.

In [7]:
!nbdev_build_docs

No notebooks were modified
converting /Users/luoyonggui/PycharmProjects/nbdevlib/index.ipynb to README.md