In [19]:
# default_exp eda

In [1]:
%reload_ext autoreload
%autoreload 2

In [1]:
from nbdev.export import create_config

create_config(host='localhost', lib_name='', user='ian', title='title1', copyright='cp1', description='des1')

# 说明

https://tianchi.aliyun.com/competition/entrance/231785/rankingList

https://zhuanlan.zhihu.com/p/127336206

## Background
本专题重点介绍曝光的公平性fariness of exposure，即如何推荐过去很少曝光的物品，以对抗推荐系统中经常遇到的马修效应。 尤其是，在对点击数据进行训练时，减少偏差对于该任务的成功至关重要。 就像现代推荐系统中记录的点击数据和实际在线环境之间存在差距一样，培训数据和测试数据之间也会存在差距，主要是关于趋势和项目的受欢迎程度。

* 获奖的解决方案需要在历史上很少接触的产品上表现良好。

* 培训数据和测试数据是在多个时期内收集的，甚至包括大规模的销售活动。 由于趋势的变化，对于可靠的预测不可避免地要执行偏差减小。

* 我们提供了商品的多模式功能以及一些（匿名的）关键用户功能，以帮助参与者探索能够抵抗数据偏差并能够很好地处理未开发商品的解决方案。

## Schedule
2020年3月30日：已发布培训数据样本集并开放注册。

2020年4月7日：发布了完整的培训和验证数据。

2020年4月13日：发布了（未标记）测试集A（仅用于开发，在确定最终的获奖解决方案时未考虑在内）。

2020年5月27日：报名截止日期。

2020年6月4日：（无标签）测试集B正式发布。

2020年6月11日：提交工作结束，提交技术报告的截止日期。

2020年6月20日：挑战赛获奖通知。

2020年8月23日至27日：KDD会议。

所有截止日期均为世界标准时间当天的晚上11:59。 如有必要，主办方保留更新比赛时间表的权利。

## Dataset
文件为CSV格式，采用UTF-8编码。 CSV文件的列可以是：

     item_id：商品的唯一标识符

     txt_vec：项目的文本特征，它是由预先训练的模型生成的128维实值向量

     img_vec：项目的图像特征，它是由预先训练的模型生成的128维实值向量

     user_id：用户的唯一标识符

     时间：点击事件发生的时间戳，即（（unix_timestamp-random_number_1）/ random_number_2

     user_age_level：用户所属的年龄段

     user_gender：用户的性别，可以为空

     user_city_level：用户所在城市的等级
     
     
数据收集时间超过十天，其中包括一次销售活动。 它涉及超过100万次点击，10万项和3万用户。 数据集的总大小约为500MB。

### 训练数据：underexpose_train.zip

underexpose_item_feat.csv的文件，其列为：item_id，txt_vec，img_vec

underexpose_user_feat.csv的文件，其列为：user_id，user_age_level，user_gender，user_city_level

它包含十个加密文件，其名称格式为underexpose_train_click-T.zip。 在这里T = 0,1,2，…，9表示我们处于比赛的阶段T。 比赛进入阶段T时，我们将在论坛中释放underexpose_train_click-T.zip的密码。underexpose_train_click-T.zip的内容为underexpose_train_click-T.csv，其列为：user_id，item_id，time

### 测试数据：underexpose_test.zip

它包含十个加密文件，其名称格式为underexpose_test_click-T.zip。 在这里T = 0,1,2，…，9表示我们处于比赛的阶段T。 当比赛进入阶段T时，我们将在论坛中释放underexpose_train_click-T.zip的密码。underexpose_test_click-T.zip的内容为underexpose_test_click-T.csv和underexpose_test_qtime-T.csv。

* underexpose_test_click-T.csv的列为：user_id，item_id，时间

* underexpose_test_qtime-T.csv的列为：user_id，query_time
这里的query_time是用户单击下一项的时间戳。 

这项比赛的任务是预测出现在underexpose_test_qtime-T.csv中的每个用户点击的下一项。 特别是，参与者需要为每个用户推荐五十个项目。 如果五十个推荐项目中的任何一个与实际情况相符，则参与者将获得positive score。

### 我们确保真实的下一项在underexpose_item_feat.csv中。 然而，在训练数据中可以观察到零次点击，尽管可能性不大。

## 提交
比赛进入阶段T时，参与者需要提交对underexpose_test_qtime-0,1,2，…，T.csv的预测。

     提交文件名：underexpose_submit-T.csv

     提交的文件应为51列的CSV文件。 不需要包括标题，即列的名称。 提交文件的51列应为：

         user_id，item_id_01，item_id_02，…，item_50

         这里item_id_01，item_id_02，…，item_id_50是为user_id推荐的五十个项目。 这五十个项目的顺序很重要。 请把最可能被用户点击的项目放在前面。 换句话说，item_id_01应该是最可能的。

         我们确保每个user_id不会出现在多个阶段中。 因此，您无需指定提交的每一行用于哪个阶段。

## Evaluation评价

以下官方提供的评估代码一目了然。
* user_id下一个要点击哪个item_id，必须要命中，才有分数。
* hitrate分数和rank(第几个命中)是没有关系的，
* NDCG则是rank越靠前，分数越高！
* hitrate和NDCG的关系:
* hitrage >= NDCG  只有所有的user_id预测item_id都第一个命中，等号才成立
* hitrage相同，NDCG较低，表示命中率相同，但是rank靠后




对于本次比赛，我们使用NDCG@50来衡量推荐列表的质量。

     我们将计算两个指标：NDCG@50-full和NDCG@50-rare。

         NDCG@50-full是对整个测试集（即underexpose_test_qtime-T.csv中的所有测试用例）进行计算的。

         在underexpose_test_qtime-T.csv中的一半测试用例上计算NDCG@50-rare。 所选的一半包括其下一个要预测的项目比过去训练集中的另一半更少探索的案例，即underexpose_train_click-0.zip，underexpose_train_click-1.zip，…，underexpose_train_click-T.zip。

     T = 0,1,2，…，6 用于开发。 参与者的最终排名将基于T = 7,8,9进行计算。

NDCG@50-full获胜团队需要跻身前10％，同时要在合格团队中获得最佳NDCG@50-rare。

# 思路

已知的数据包含 用户特征数据，item特征数据，user_item点击数据

任务：预测用户下一次点击哪个item?
## 思路1
baseline可以用UserCF和ItemCF来做，考虑到鱼佬说的，暂定用ItemCF来做
## 思路2
训练数据给出了很多的序列，可以按照NLG的思路做。

训练数据：
* abcdegf
* acdef
* ...

测试数据(?为待预测的数据):
* abc?
* cdf?

## 参考
### 鱼佬
https://zhuanlan.zhihu.com/p/127336206  
赛题主要考查如何消除人工智能偏见的问题，推荐历史点击次数少的商品。传统的召回方式，如协同过滤 item CF 和 user CF，user CF更加倾向于推荐热门商品，item CF推荐有很好的新颖性，很擅长推荐长尾里的物品，或许可以尝试一下。

根据向量相似性进行推荐，也是一个尝试的方向，不过看到用户前后点击的商品相似性并不高，让我有些迟疑。或许还需要更多的分析，如结合时间之类的属性。还有就是前后关系只能描述当前兴趣，可以尝试提取长期兴趣进行推荐。

还有就是深度学习模型进行召回，如YouTube的推荐系统算法，DSSM双塔模型等都是不错的方式。

对应排序阶段而言，一般都会上模型，需要考虑的就是特征，如何去区分热门商品，提高历史出现频次少的商品成为关键。要做到既能推荐对，又能推荐的够新颖。

# 导入库

In [3]:
# export

import numpy as np
from loguru import logger
import os
import pandas as pd
pd.set_option('display.max_rows', 200)
pd.set_option('display.max_columns', 100)  # 设置显示数据的最大列数，防止出现省略号…，导致数据显示不全
pd.set_option('expand_frame_repr', False)  # 当列太多时不自动换行
from code.config import args

In [4]:
import seaborn as sns
sns.set(font='Arial Unicode MS')  # 解决Seaborn中文显示问题
import sys
sys.path.append('/Users/luoyonggui/PycharmProjects/mayiutils_n1/mayiutils/data_prepare')
from data_explore import DataExplore as de

# load data

## train_user_df

In [14]:
# export

def get_user_data():
    col_str = 'user_id user_age_level user_gender user_city_level'.split()
    train_user_df = pd.read_csv(os.path.join(args.DATA_DIR, 'data_gen/underexpose_train/underexpose_user_feat.csv'), names=['user_id','user_age_level','user_gender','user_city_level'],
                               converters={c:str for c in col_str})
    train_user_df = train_user_df.drop_duplicates('user_id')    
    
    return train_user_df

In [15]:
user_df = get_user_data()

In [80]:
train_user_df[train_user_df.user_id.duplicated(keep=False)]

     user_id user_age_level user_gender user_city_level
1466   14818              3           M               3
1467   14818              2           M               3
5733   23453              5           F               2
5734   23453              5           F               5
6513   32152              1           F               6
6514   32152              2           F               6

In [81]:
train_user_df = train_user_df.drop_duplicates('user_id')

In [82]:
train_user_df.shape

(6786, 4)

In [83]:
# 用众数填充
train_user_df.loc[train_user_df.user_age_level=='', 'user_age_level'] = '4'
train_user_df.loc[train_user_df.user_gender=='', 'user_gender'] = 'F'
train_user_df.loc[train_user_df.user_city_level=='', 'user_city_level'] = '6'

In [84]:
train_user_df['feat'] = train_user_df['user_age_level user_gender user_city_level'.split()].values.tolist()
train_user_df['feat'] = train_user_df['feat'].map(tuple)

In [88]:
user_feat_inv = train_user_df.groupby('feat')['user_id'].agg(list)

In [96]:
user_feat = train_user_df['user_id feat'.split()].set_index('user_id')['feat']

In [98]:
user_feat.to_pickle(os.path.join(DATA_DIR, 'data_gen/user_feat.pkl'))

user_feat_inv.to_pickle(os.path.join(DATA_DIR, 'data_gen/user_feat_inv.pkl'))

In [85]:
train_user_df.head()

  user_id user_age_level user_gender user_city_level       feat
0      17              8           M               4  (8, M, 4)
1      26              7           M               2  (7, M, 2)
2      35              6           F               4  (6, F, 4)
3      40              6           M               1  (6, M, 1)
4      49              6           M               1  (6, M, 1)

In [86]:
train_user_df.feat.value_counts()

(4, F, 6)    366
(5, F, 6)    298
(4, F, 2)    265
(5, F, 2)    236
(4, F, 3)    204
(2, F, 2)    197
(5, F, 3)    190
(3, F, 6)    183
(7, F, 6)    175
(3, F, 2)    171
(6, F, 6)    161
(4, F, 5)    157
(2, F, 6)    154
(4, F, 1)    145
(7, F, 2)    144
(3, F, 3)    130
(6, F, 2)    129
(2, F, 3)    128
(5, F, 1)    123
(5, F, 5)    121
(7, F, 3)    115
(6, F, 3)    108
(4, F, 4)     99
(2, F, 5)     96
(5, M, 6)     90
(7, F, 5)     87
(7, M, 6)     85
(5, F, 4)     82
(3, F, 5)     81
(1, F, 6)     77
(3, F, 1)     77
(2, F, 4)     71
(6, F, 1)     68
(4, M, 3)     68
(6, F, 5)     68
(6, M, 6)     66
(2, F, 1)     65
(4, M, 6)     64
(7, F, 1)     62
(5, M, 3)     58
(8, F, 6)     55
(5, M, 2)     55
(6, M, 2)     51
(3, F, 4)     51
(7, M, 3)     51
(4, M, 2)     51
(7, F, 4)     49
(6, F, 4)     46
(5, M, 1)     46
(7, M, 2)     45
(6, M, 3)     44
(8, F, 2)     44
(2, M, 6)     41
(1, F, 3)     37
(4, M, 5)     36
(4, M, 1)     35
(3, M, 2)     35
(8, F, 3)     35
(3, M, 6)     35
(6, M, 1)     34
(1, F, 2)     34
(7, M, 1)     32
(5, M, 5)     32
(2, M, 5)     32
(2, M, 2)     31
(5, M, 4)     31
(7, M, 5)     29
(6, M, 5)     28
(2, M, 3)     26
(8, F, 1)     24
(8, F, 5)     24
(8, M, 6)     23
(8, M, 2)     22
(3, M, 3)     22
(1, F, 5)     21
(8, M, 3)     18
(4, M, 4)     18
(1, M, 6)     18
(8, F, 4)     18
(7, M, 4)     16
(2, M, 4)     15
(3, M, 1)     15
(6, M, 4)     14
(8, M, 1)     14
(1, F, 4)     12
(2, M, 1)     11
(8, M, 4)      9
(1, M, 5)      9
(3, M, 5)      9
(8, M, 5)      8
(1, F, 1)      7
(1, M, 3)      7
(3, M, 4)      7
(1, M, 2)      5
(1, M, 4)      3
(1, M, 1)      2
Name: feat, dtype: int64

In [13]:
de.describe(train_user_df)

num of records: 6789, num of columns: 4

                Data Type  Unique Values  count Missing  % Missing   Mode  Count Mode     % Mode     mean      std  min   25%    50%    75%    max
user_id             int64           6786              0        0.0  14818           2  0.0294594  17247.4  10062.6   10  8637  17196  25856  35432
user_age_level    float64              8             83        1.2      4        1425    20.9898  4.53579  1.80313    1     3      5      6      8
user_gender        object              2             81        1.2      F        5211    76.7565      NaN      NaN  NaN   NaN    NaN    NaN    NaN
user_city_level   float64              6             22        0.3      6        1870    27.5446  3.70844  1.79852    1     2      3      6      6

In [110]:
train_user_df = cfe.build_one_hot_features(train_user_df, ['user_age_level', 'user_gender', 'user_city_level'])

In [121]:
train_user_df.head()

   user_id  user_age_level_1.0  user_age_level_2.0  user_age_level_3.0  user_age_level_4.0  user_age_level_5.0  user_age_level_6.0  user_age_level_7.0  user_age_level_8.0  user_gender_F  user_gender_M  user_city_level_1.0  user_city_level_2.0  user_city_level_3.0  user_city_level_4.0  user_city_level_5.0  user_city_level_6.0
0       17                   0                   0                   0                   0                   0                   0                   0                   1              0              1                    0                    0                    0                    1                    0                    0
1       26                   0                   0                   0                   0                   0                   0                   1                   0              0              1                    0                    1                    0                    0                    0                    0
2       35                   0                   0                   0                   0                   0                   1                   0                   0              1              0                    0                    0                    0                    1                    0                    0
3       40                   0                   0                   0                   0                   0                   1                   0                   0              0              1                    1                    0                    0                    0                    0                    0
4       49                   0                   0                   0                   0                   0                   1                   0                   0              0              1                    1                    0                    0                    0                    0                    0

In [119]:
train_user_df.to_pickle('data_gen/user_features.pkl')

## train_item_df

In [17]:
# export
def get_item_data():
    train_item_df = pd.read_csv(os.path.join(args.DATA_DIR, 'data_gen/underexpose_train/underexpose_item_feat.csv'), sep=r',\s+|,\[|\],\[',
                                names=['item_id']+list(range(256)),
                                converters={'item_id':str})
    train_item_df.iloc[:, -1] = train_item_df.iloc[:, -1].str.replace(']', '').map(float)
    return train_item_df

In [18]:
item_df = get_item_data()

/Users/luoyonggui/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  """

In [19]:
train_item_df.head()

  item_id         0         1         2         3         4         5         6         7         8         9        10        11        12        13        14        15        16        17        18        19        20        21        22        23        24        25        26        27        28        29        30        31        32        33        34        35        36        37        38        39        40        41        42        43        44        45        46        47        48  ...       206       207       208       209       210       211       212       213       214       215       216       217       218       219       220       221       222       223       224       225       226       227       228       229       230       231       232       233       234       235       236       237       238       239       240       241       242       243       244       245       246       247       248       249       250       251       252       253       254       255
0   42844  1.757887 -1.102202 -0.222023  1.575777 -0.736294 -0.168443 -0.051297  1.292102 -1.863637  0.122845  0.121319  0.516905 -1.193824  0.189392  2.478445  0.412654  0.590463 -1.778120 -0.182573 -0.525687  0.844209  0.017419 -1.115269 -0.708528  0.106707  0.490688 -2.188021 -0.081683 -1.391624  0.291258  0.958997  0.045490  2.991187  1.561606  1.793469  1.150937  1.878136 -0.970536 -0.984191  1.551317  0.474756  0.914999 -1.354062 -1.495628 -0.643347 -1.667325  0.323319  0.531047  0.737569  ... -0.195995  1.444276 -0.072901 -0.649905  0.313999  0.988210 -0.742056  0.822419  0.413943 -0.523966  0.065430  1.101006  0.419622  0.656972  0.506902 -0.520453 -0.740179  0.218208  0.464606 -0.310160 -0.139749  0.813226 -0.256569  0.956343  0.706974  1.194861 -0.077909 -0.663368  0.870748  1.940528  0.026493  0.518132 -0.527107  0.472771  0.963207  0.769440  0.503484 -0.332108  0.052038  0.863489 -1.786997 -0.056063 -1.056496 -0.952991  0.031248 -0.152827 -0.978874  0.416639  0.195811  0.423983
1   67898 -1.991244 -0.326516 -0.044938  0.515855  0.126385 -1.246482  0.941128  0.369639 -0.077474 -1.062310  0.632865  0.164666 -0.173332  1.115121 -0.520361 -0.847728 -1.042623 -0.056352  0.944852  1.635520 -0.599170  1.156619  0.436259  0.267531  1.075779 -0.211385 -0.000299  0.345218 -0.341474 -1.053010  1.513930  0.653496 -0.469300  1.745750  0.987036  0.233495  1.047592 -1.159734  0.511048 -0.522723  0.477134  1.437587 -0.652003 -1.404134 -0.084294  0.686014 -0.904300  1.039448  1.496823  ...  1.124889  0.736584  0.545674 -0.009513 -1.045850 -0.668804  0.423577  0.171897 -0.275322 -0.681048  0.548542 -1.232298 -0.212655  0.004834 -0.140794 -0.092054 -0.245032  1.046985  1.073848 -0.769670 -0.949525 -0.597863  0.085385  0.776866 -0.633360  0.389113 -0.598649 -0.323668  0.895281 -0.135952 -1.063844  1.065588  0.598996  0.751578 -1.139146  0.487528  0.195173 -0.150884 -0.689160  1.808602 -0.216371 -0.787458  0.607339  1.105438 -0.344081  0.401650  0.457390 -0.167607  0.804866 -0.355152
2   66446  1.589194 -0.629173  0.165136 -0.293160 -2.015595 -0.534387 -0.391392  1.084667 -1.587032 -0.602641  0.629585  1.211532  1.398032  0.914748  1.689658 -0.638989  0.124860 -1.234778  0.925952  0.506249  0.799338 -1.057054 -0.649090 -1.383398  2.216329 -0.062202 -1.679064  1.023956 -2.058138 -0.317508  1.004609 -0.923267  2.105826  0.936795  1.615587  0.249596  0.350635 -1.605186 -0.075343  1.809761  0.214070  1.271264 -0.591021 -1.518127 -0.151818 -1.391590  0.180595  1.398965  1.130181  ... -0.397193  1.634975  0.236203 -0.976741 -0.337350  1.099469 -0.012963  0.976539  1.190066  0.306125 -0.066792  0.032141 -0.948426  0.705798  0.730033 -1.349935 -0.160542  0.559426 -0.148436  0.412128  0.434860  0.754910 -0.398259  0.077673  0.453511  1.775609  0.580855  0.593825 -0.404105  1.737629 -0.203567  1.072538 -1.685195  0.500954  0.963277 -0.183290 -0.295843  0.348906 -0.215870  0.612916 -2.455906  0.239636 -1.458252 -0.392869  1.010882 -0.593637 -0.630557  0.898723  0.735422  0.604839
3   63651  0.689737 -0.332909  0.157773 -1.694496  0.260846 -0.427423 -0.242087  1.545983 -1.906077  0.164312  0.161314 -1.439781  0.815043 -1.076477 -0.769554  1.355076  1.303593 -2.506697  0.895472 -0.416600 -0.450126 -1.080963 -0.598757  1.110443  1.010119 -0.216244  0.417873  1.292479 -1.177823  1.024824  0.963735 -0.721188  0.196403 -0.077413  1.190113  1.239477  0.822925  0.611071  0.071331  0.822149 -0.310218  0.908125 -0.946190 -0.744488  0.490659 -0.974751 -0.009493 -0.878472 -0.551132  ... -0.857661 -0.728202 -0.312866  2.376894  0.166350 -0.321873  0.762008 -0.574143 -0.636547 -0.423706  0.519493 -0.418202 -0.206378  0.945352 -0.176698  1.279369 -1.224019 -0.732667 -0.419778 -0.196754 -1.600217 -0.980272 -0.605248  0.098911  0.192824  0.564383 -0.136827 -1.137518 -1.532485  0.659212  0.144643 -0.415301 -0.005349 -0.927885  0.441368  0.789713  1.793275 -1.601870  0.880402 -0.037372 -0.188325 -0.307144  0.427826 -0.844992  0.595218  0.972442 -1.538305  0.304780  0.387363 -0.224345
4   46824  0.997028 -0.863685  0.205701 -0.184406 -1.072256  0.093747 -0.855997  0.968656 -0.274053  0.301880  0.212319  0.303167  0.537513  0.344976  1.916500  0.593948 -0.203398 -0.695782  0.159449 -0.122691  0.385496 -0.476776 -1.555443 -0.998501  0.407310  0.175971 -1.222786  0.665410 -0.918569  0.674891  0.412531 -0.890155  1.737586  0.505796  1.588599  0.363045  0.347869 -0.399554  0.360345  1.817452 -0.468302  0.471216 -0.036620 -1.295634  0.583520 -1.231348  0.378390  0.416563  0.289689  ...  0.293951  1.340045 -0.350242 -0.271880 -0.403367  0.028157 -1.056986 -0.115634 -0.814308  0.546637  0.377846 -0.156483 -0.067912  0.433466 -0.623674  0.159782 -0.209238  0.297731 -0.218346 -0.581757 -0.158783  0.521405  0.184101  0.537467 -0.233777  0.585517 -0.437079 -0.399037 -0.281447  1.062157  0.103906 -0.558608 -0.230069  0.699479 -0.250352 -0.027221  1.410785  0.003258  0.247631  1.087674 -0.262412 -0.440055  0.190708 -0.986612 -0.683425  1.001764 -1.371413  0.063809  0.628516  0.523904

[5 rows x 257 columns]

In [27]:
de.describe(train_item_df)

num of records: 108916, num of columns: 257

        Data Type  Unique Values  count Missing  % Missing      Mode  Count Mode       % Mode          mean           std        min           25%           50%           75%            max
item_id     int64         108916              0        0.0  1.000000           1  0.000918139  58485.345982  33065.656602   1.000000  30189.750000  58643.500000  87014.250000  117538.000000
0         float64         108745              0        0.0  0.619635           3   0.00275442      1.458865      1.738504  -8.101768      0.285449      1.489091      2.647692       8.362688
1         float64         108810              0        0.0 -1.928095           3   0.00275442     -0.317904      1.874272  -8.306049     -1.594721     -0.405978      0.838072       8.153514
2         float64         108771              0        0.0 -1.808081           3   0.00275442      0.863508      1.635397  -7.136532     -0.162674      0.919081      1.920463       8.325392
3         float64         108649              0        0.0 -2.129149           3   0.00275442     -2.251081      1.686890  -9.212244     -3.422497     -2.393868     -1.209849      11.561003
...           ...            ...            ...        ...       ...         ...          ...           ...           ...        ...           ...           ...           ...            ...
251       float64         108802              0        0.0 -0.310374           3   0.00275442      0.283913      1.766579 -10.643577     -0.726043      0.431549      1.425704       7.465464
252       float64         108791              0        0.0 -0.136049           3   0.00275442      0.507123      1.846375 -10.683113     -0.831946      0.641637      1.909708       6.809214
253       float64         108513              0        0.0  2.266967           3   0.00275442      2.334019      1.022302  -3.334639      1.690839      2.370883      3.020225       6.749975
254       float64         108610              0        0.0  1.178804           3   0.00275442      1.827126      1.169730  -5.783994      1.132481      1.855712      2.559368       7.211661
255       float64         108802              0        0.0 -0.389902           3   0.00275442     -0.278115      1.855785 -11.718633     -1.423774     -0.169232      0.942770       7.304533

[257 rows x 14 columns]

In [8]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler().fit(train_item_df.iloc[:, 1:])

train_item_df.iloc[:, 1:] = scaler.transform(train_item_df.iloc[:, 1:])

In [118]:
de.describe(train_item_df)

num of records: 108916, num of columns: 257

        Data Type  Unique Values  count Missing  % Missing      Mode  Count Mode       % Mode          mean           std       min           25%           50%           75%            max
item_id     int64         108916              0        0.0  1.000000           1  0.000918139  5.848535e+04  33065.656602  1.000000  30189.750000  58643.500000  87014.250000  117538.000000
0         float64         108745              0        0.0 -0.482733           3   0.00275442  1.666925e-17      1.000005 -5.499369     -0.674960      0.017387      0.683825       3.971146
1         float64         108810              0        0.0 -0.859107           3   0.00275442  5.616684e-18      1.000005 -4.262020     -0.681237     -0.046991      0.616763       4.519866
2         float64         108771              0        0.0 -1.633611           3   0.00275442  2.783203e-17      1.000005 -4.891827     -0.627485      0.033982      0.646302       4.562757
3         float64         108649              0        0.0  0.072283           3   0.00275442 -5.273651e-17      1.000005 -4.126645     -0.694427     -0.084645      0.617253       8.187938
...           ...            ...            ...        ...       ...         ...          ...           ...           ...       ...           ...           ...           ...            ...
251       float64         108802              0        0.0 -0.336408           3   0.00275442  3.092062e-17      1.000005 -6.185708     -0.571704      0.083572      0.646332       4.065249
252       float64         108791              0        0.0 -0.348344           3   0.00275442  2.916430e-17      1.000005 -6.060678     -0.725245      0.072853      0.759646       3.413239
253       float64         108513              0        0.0 -0.065590           3   0.00275442  1.383131e-16      1.000005 -5.545017     -0.629152      0.036060      0.671239       4.319638
254       float64         108610              0        0.0 -0.554252           3   0.00275442 -4.116090e-17      1.000005 -6.506763     -0.593853      0.024438      0.625996       4.603251
255       float64         108802              0        0.0 -0.060237           3   0.00275442 -3.321668e-17      1.000005 -6.164816     -0.617348      0.058672      0.657884       4.085971

[257 rows x 14 columns]

In [10]:
train_item_df.to_pickle(os.path.join(DATA_DIR, 'data_gen/item_features.pkl'))

# click_df

## load_whole_click_data

In [5]:
# export

def load_whole_click_data(now_phase, base_dir):
    """
    """
#     now_phase = 2  
    train_path = os.path.join(base_dir, 'data_gen/underexpose_train') 
    test_path = os.path.join(base_dir, 'data_gen/underexpose_test')  
    recom_item = []  

    whole_click = pd.DataFrame()  
    click_train = pd.DataFrame()   
    click_test = pd.DataFrame()  
    test_qtime = pd.DataFrame()  
    click_test_val = pd.DataFrame() 
     
    all_click_df = []
    for c in range(now_phase + 1):  
        logger.info(f'phase: {c}')  
        cols_str = 'user_id item_id time'.split()
        click_train1 = pd.read_csv(train_path + '/underexpose_train_click-{}.csv'.format(c), header=None,  names=['user_id', 'item_id', 'time'], converters={c: str for c in cols_str})  
        click_test1 = pd.read_csv(test_path + '/underexpose_test_click-{}/underexpose_test_click-{}.csv'.format(c, c), header=None,  names=['user_id', 'item_id', 'time'], converters={c: str for c in cols_str}) 
        test_qtime1 = pd.read_csv(test_path + '/underexpose_test_click-{}/underexpose_test_qtime-{}.csv'.format(c, c), header=None,  names=['user_id','time'], converters={c: str for c in cols_str})  
#         test_qtime1['item_id'] = -1
#         click_test1_val = click_test1.sort_values(['user_id', 'time']).drop_duplicates(subset=['user_id'],keep='last')
        
#         click_test1 = click_test1[~click_test1.index.isin(click_test1_val.index)]
        click_train1['phase'] = c    
        click_test1['phase'] = c    
        test_qtime1['phase'] = c    
        all_click = click_train1.append(click_test1)
#                     .append(test_qtime1)
        click_test = click_test.append(click_test1)
        whole_click = whole_click.append(all_click)
        test_qtime = test_qtime.append(test_qtime1) 
#         click_test_val = click_test_val.append(click_test1_val, ignore_index=True)
    
    whole_click = whole_click.sort_values('time').drop_duplicates(['user_id', 'item_id', 'time'], keep='last').reset_index(drop=True)
#     logger.info(f'去重前whole_click 共{whole_click.shape[0]}条')
#     whole_click = pd.merge(whole_click, test_qtime, how='left').fillna(100)
#     whole_filter = whole_click[whole_click.time > whole_click.query_time]
    
#     logger.info(f'filter click data that time > query_time 共{whole_filter.shape[0]}条')
#     whole_click = whole_click[whole_click.time <= whole_click.query_time]
#     del whole_click['query_time']
    # 只保留一个user_id购买最后一次的item_id
    whole_click_val = whole_click[whole_click.user_id.isin(test_qtime.user_id)].drop_duplicates(['user_id'], keep='last')
    whole_click_train = whole_click[~whole_click.index.isin(whole_click_val.index)]
    logger.info(f'whole_click_train: {whole_click_train.shape}, whole_click_val: {whole_click_val.shape}, click_test: {click_test.shape}, test_qtime: {test_qtime.shape}')
    return whole_click_train, whole_click_val, click_test, test_qtime

## load_click_data_per_phase

In [6]:
# export

def load_click_data_per_phase(now_phase, base_dir):
    """
    """
    train_path = os.path.join(base_dir, 'data_gen/underexpose_train') 
    test_path = os.path.join(base_dir, 'data_gen/underexpose_test')  
     
    all_click_df = []
    for c in range(now_phase + 1):  
        logger.info(f'phase: {c}')  
        cols_str = 'user_id item_id time'.split()
        click_train1 = pd.read_csv(train_path + '/underexpose_train_click-{}.csv'.format(c), header=None,  names=['user_id', 'item_id', 'time'], converters={c: str for c in cols_str})  
        click_test1 = pd.read_csv(test_path + '/underexpose_test_click-{}/underexpose_test_click-{}.csv'.format(c, c), header=None,  names=['user_id', 'item_id', 'time'], converters={c: str for c in cols_str}) 
        test_qtime1 = pd.read_csv(test_path + '/underexpose_test_click-{}/underexpose_test_qtime-{}.csv'.format(c, c), header=None,  names=['user_id','time'], converters={c: str for c in cols_str})  
        click_test1_val = click_test1.sort_values(['user_id', 'time']).drop_duplicates(subset=['user_id'],keep='last')
        
        click_test1 = click_test1[~click_test1.index.isin(click_test1_val.index)]
        all_click = click_train1.append(click_test1).drop_duplicates().sort_values('time')
        
        all_click_df.append((all_click, click_test1_val, test_qtime1))
        logger.info(f'all_click: {all_click.shape}, click_test1_val: {click_test1_val.shape}, test_qtime1: {test_qtime1.shape}')
    return all_click_df

In [7]:
now_phase = 6
all_click_df = load_click_data_per_phase(now_phase, args.DATA_DIR)

2020-05-25 12:25:46.309 | INFO     | __main__:load_click_data_per_phase:11 - phase: 0
2020-05-25 12:25:47.126 | INFO     | __main__:load_click_data_per_phase:22 - all_click: (261337, 3), click_test1_val: (1663, 3), test_qtime1: (1663, 2)
2020-05-25 12:25:47.127 | INFO     | __main__:load_click_data_per_phase:11 - phase: 1
2020-05-25 12:25:47.923 | INFO     | __main__:load_click_data_per_phase:22 - all_click: (264871, 3), click_test1_val: (1726, 3), test_qtime1: (1726, 2)
2020-05-25 12:25:47.924 | INFO     | __main__:load_click_data_per_phase:11 - phase: 2
2020-05-25 12:25:48.712 | INFO     | __main__:load_click_data_per_phase:22 - all_click: (264624, 3), click_test1_val: (1690, 3), test_qtime1: (1690, 2)
2020-05-25 12:25:48.713 | INFO     | __main__:load_click_data_per_phase:11 - phase: 3
2020-05-25 12:25:49.629 | INFO     | __main__:load_click_data_per_phase:22 - all_click: (286609, 3), click_test1_val: (1675, 3), test_qtime1: (1675, 2)
2020-05-25 12:25:49.630 | INFO     | __main__:load_click_data_per_phase:11 - phase: 4
2020-05-25 12:25:50.668 | INFO     | __main__:load_click_data_per_phase:22 - all_click: (291672, 3), click_test1_val: (1708, 3), test_qtime1: (1708, 2)
2020-05-25 12:25:50.670 | INFO     | __main__:load_click_data_per_phase:11 - phase: 5
2020-05-25 12:25:51.840 | INFO     | __main__:load_click_data_per_phase:22 - all_click: (313378, 3), click_test1_val: (1798, 3), test_qtime1: (1798, 2)
2020-05-25 12:25:51.841 | INFO     | __main__:load_click_data_per_phase:11 - phase: 6
2020-05-25 12:25:52.953 | INFO     | __main__:load_click_data_per_phase:22 - all_click: (337339, 3), click_test1_val: (1821, 3), test_qtime1: (1821, 2)

In [12]:
np.log2(all_click_df[0][0].item_id.value_counts()+1)

113569    7.876517
52766     7.734710
87107     7.599913
31005     7.294621
87254     7.276124
            ...
73948     1.000000
67309     1.000000
40494     1.000000
79881     1.000000
55173     1.000000
Name: item_id, Length: 40775, dtype: float64

In [9]:
all_click_df[0][0].item_id.value_counts()

113569    234
52766     212
87107     193
31005     156
87254     154
         ...
73948       1
67309       1
40494       1
79881       1
55173       1
Name: item_id, Length: 40775, dtype: int64

In [43]:
now_phase = 6
whole_click_train, whole_click_val, click_test, test_qtime = load_whole_click_data(now_phase, DATA_DIR)

2020-05-18 17:27:37.199 | INFO     | __main__:load_whole_click_data:19 - phase: 0
2020-05-18 17:27:37.525 | INFO     | __main__:load_whole_click_data:19 - phase: 1
2020-05-18 17:27:37.842 | INFO     | __main__:load_whole_click_data:19 - phase: 2
2020-05-18 17:27:38.208 | INFO     | __main__:load_whole_click_data:19 - phase: 3
2020-05-18 17:27:38.632 | INFO     | __main__:load_whole_click_data:19 - phase: 4
2020-05-18 17:27:39.080 | INFO     | __main__:load_whole_click_data:19 - phase: 5
2020-05-18 17:27:39.558 | INFO     | __main__:load_whole_click_data:19 - phase: 6
2020-05-18 17:27:49.682 | INFO     | __main__:load_whole_click_data:49 - whole_click_train: (954588, 4), whole_click_val: (12081, 4), click_test: (175274, 4), test_qtime: (12081, 3)

In [35]:
whole_click_val.head()

     user_id item_id                time  phase
557    22352   41533  0.9837401539912565      0
1664   20922   13603  0.9837412719246099      0
2423   34496   20710  0.9837421192070555      0
5249   14300   61627  0.9837507440754946      0
5547   13618   23794  0.9837525458913282      0

In [36]:
# 验证是否按照时间升序排序
whole_click_train[whole_click_train.user_id=='22352']

    user_id item_id                time  phase
123   22352   12622  0.9837397943851552      0
180   22352   92169  0.9837398435944112      0
187   22352   24716  0.9837398473797386      0
211   22352   84319  0.9837398669372635      0
214   22352   68848  0.9837398707225908      0
354   22352   75561  0.9837399792353091      0
465   22352   55241  0.9837400694522783      0
473   22352   81353  0.9837400770229331      0
527   22352   83177  0.9837401274939649      0
540   22352   25686  0.9837401388499469      0
545   22352   39644   0.983740144527938      0

In [37]:
# 完整的click数据
whole_click = whole_click_train.append(whole_click_val, ignore_index=True)

whole_click.shape

(966669, 4)

In [38]:
whole_click_val

       user_id item_id                time  phase
557      22352   41533  0.9837401539912565      0
1664     20922   13603  0.9837412719246099      0
2423     34496   20710  0.9837421192070555      0
5249     14300   61627  0.9837507440754946      0
5547     13618   23794  0.9837525458913282      0
...        ...     ...                 ...    ...
966658   27909   12993  0.9842847521960918      6
966659   24544   14338  0.9842847528269797      6
966661   15555  110293  0.9842847553505313      6
966663   25348     874  0.9842847553505313      6
966666   32100   38710  0.9842847578740829      6

[12081 rows x 4 columns]

## 查看每个阶段有feat的user和item占比

In [39]:
for p in range(now_phase+1):
    un = len(set(click_test.loc[click_test.phase==p, 'user_id'].tolist()).intersection(train_user_df.user_id.tolist()))
    itn = len(set(click_test.loc[click_test.phase==p, 'item_id'].tolist()).intersection(train_item_df.item_id.tolist()))
    
    print(f'phase {p}: users that have user_feat {un}/{click_test.loc[click_test.phase==p, "user_id"].nunique()}, items that have item_feat {itn}/{click_test.loc[click_test.phase==p, "item_id"].nunique()}')
    
un = len(set(click_test['user_id'].tolist()).intersection(train_user_df.user_id.tolist()))
itn = len(set(click_test['item_id'].tolist()).intersection(train_item_df.item_id.tolist()))
print(f'phase whole : users that have user_feat {un}, items that have item_feat {itn}')

phase 0: users that have user_feat 386/1663, items that have item_feat 14109/15670
phase 1: users that have user_feat 407/1726, items that have item_feat 15831/17295
phase 2: users that have user_feat 369/1690, items that have item_feat 15081/16314
phase 3: users that have user_feat 374/1675, items that have item_feat 15583/16830
phase 4: users that have user_feat 391/1708, items that have item_feat 16437/18048
phase 5: users that have user_feat 394/1798, items that have item_feat 17629/19194
phase 6: users that have user_feat 424/1821, items that have item_feat 18181/20001
phase whole : users that have user_feat 2745, items that have item_feat 59054

In [11]:
# 完整的click数据
whole_click = whole_click_train.append(click_test_val)

whole_click.shape

(712696, 4)

In [37]:
dft = pd.merge(whole_click, whole_click, on=['user_id', 'item_id'])

In [38]:
dft.shape

(800004, 6)

In [40]:
dft['timez'] = dft.time_y - dft.time_x

In [44]:
whole_click.time.describe()

count    712696.000000
mean          0.983977
std           0.000117
min           0.983740
25%           0.983884
50%           0.983986
75%           0.984068
max           0.984176
Name: time, dtype: float64

In [43]:
dft[dft.timez > 0].timez.describe()

count    4.365400e+04
mean     1.279125e-04
std      8.617598e-05
min      1.261776e-09
25%      5.652393e-05
50%      1.093764e-04
75%      1.821313e-04
max      4.349253e-04
Name: timez, dtype: float64

In [21]:
st = whole_click.groupby('user_id')['item_id'].agg(set).reset_index()

In [22]:
st1 = whole_click_train.groupby('user_id')['item_id'].agg(set).reset_index()

In [25]:
st['len1'] = st.item_id.str.len()

In [27]:
st1['len2'] = st1.item_id.str.len()

In [29]:
s = pd.merge(st, st1, on='user_id')

### 8462个user_id中有922测试集中最后一次购买的item是之前购买过的

In [34]:
s[s.user_id.isin(test_qtime.user_id) & (s.len1==s.len2)]

,user_id,item_id_x,len1,item_id_y,len2
1,2,"{62080, 1655, 109065, 83466, 18057, 7053, 5940...",54,"{62080, 1655, 109065, 83466, 18057, 7053, 5940...",54
26,34,"{14305, 18369, 8583, 2202, 63626, 75083, 37612...",17,"{14305, 18369, 8583, 2202, 63626, 75083, 37612...",17
44,55,"{78499, 110631, 46186, 67275, 42130, 103612, 1...",14,"{78499, 110631, 46186, 67275, 42130, 103612, 1...",14
65,81,"{103050, 50455, 41371, 65192, 12848, 59190, 52...",19,"{103050, 50455, 41371, 65192, 12848, 59190, 52...",19
70,88,"{96640, 110465, 6916, 56970, 44690, 18845, 637...",38,"{96640, 110465, 6916, 56970, 44690, 18845, 637...",38
...,...,...,...,...,...
27665,35277,"{2304, 12554, 18699, 17810, 96147, 37538, 4829...",25,"{2304, 12554, 18699, 17810, 96147, 37538, 4829...",25
27668,35280,"{67037, 57029, 95686, 114088, 106376, 107337, ...",16,"{67037, 57029, 95686, 114088, 106376, 107337, ...",16
27674,35290,"{8449, 97668, 70663, 103179, 116620, 22413, 19...",51,"{8449, 97668, 70663, 103179, 116620, 22413, 19...",51
27710,35343,"{20801, 24963, 22820, 29609, 42940, 45904, 564...",12,"{20801, 24963, 22820, 29609, 42940, 45904, 564...",12
27761,35421,"{74497, 26595, 58341, 72009, 56009, 28043, 360...",11,"{74497, 26595, 58341, 72009, 56009, 28043, 360...",11

In [35]:
s[s.user_id.isin(test_qtime.user_id)]

,user_id,item_id_x,len1,item_id_y,len2
0,1,"{2945, 14722, 97795, 40717, 26646, 4889, 11229...",37,"{2945, 14722, 97795, 40717, 26646, 4889, 11229...",36
1,2,"{62080, 1655, 109065, 83466, 18057, 7053, 5940...",54,"{62080, 1655, 109065, 83466, 18057, 7053, 5940...",54
2,3,"{73088, 45443, 8076, 5266, 95508, 83618, 96045...",24,"{45443, 8076, 5266, 95508, 83618, 96045, 11409...",23
9,11,"{23323, 22113, 66082, 43074, 75757, 64689, 282...",15,"{23323, 22113, 66082, 43074, 75757, 64689, 282...",14
11,13,"{23554, 33417, 39945, 96910, 39056, 20628, 494...",20,"{33417, 39945, 96910, 39056, 20628, 49448, 169...",19
...,...,...,...,...,...
27761,35421,"{74497, 26595, 58341, 72009, 56009, 28043, 360...",11,"{74497, 26595, 58341, 72009, 56009, 28043, 360...",11
27762,35422,"{66438, 61832, 19214, 81810, 75928, 45337, 673...",30,"{66438, 61832, 19214, 81810, 75928, 45337, 673...",29
27763,35424,"{26688, 54561, 28462, 78516, 4724}",5,"{26688, 54561, 78516, 28462}",4
27766,35434,"{42049, 84547, 16324, 70921, 72203, 47052, 770...",16,"{42049, 84547, 16324, 70921, 72203, 47052, 770...",15
27767,35435,"{25792, 74285, 23215, 40849, 3133, 65907, 8885...",9,"{25792, 74285, 23215, 40849, 3133, 65907, 8025...",8

In [ ]:
s

In [17]:
st = st.reset_index()

In [18]:
st['len'] = st.item_id.str.len()

In [19]:
st['last'] = st.item_id.str.get(-1)

In [20]:
st

       user_id                                            item_id  len   last
0            1  [78142, 26646, 89568, 76240, 87533, 78380, 637...   38  23039
1            2  [72912, 7745, 28099, 73084, 111576, 104635, 70...   55  19353
2            3  [2396, 41811, 96045, 44156, 5266, 83618, 74216...   24  73088
3            4  [8291, 6609, 13283, 35419, 64404, 90818, 18883...    8  43790
4            6  [40936, 69316, 20582, 44128, 67875, 92160, 756...   14  63634
...        ...                                                ...  ...    ...
27763    35424                 [28462, 78516, 54561, 26688, 4724]    5   4724
27764    35430                      [34145, 110210, 49795, 12941]    4  12941
27765    35432                              [19257, 42605, 36075]    3  36075
27766    35434  [90334, 42049, 79835, 101552, 47052, 108562, 1...   17  40989
27767    35435  [40849, 69405, 80251, 25792, 23215, 74285, 313...    9  88855

[27768 rows x 4 columns]

In [12]:
whole_click[whole_click.user_id==2]

      user_id  item_id      time  item_deg
511         2    72912  0.983765         4
515         2     7745  0.983783        14
529         2    28099  0.983783        10
539         2    73084  0.983784         6
545         2   111576  0.983819        35
580         2   104635  0.983819         6
586         2     7053  0.983819         4
590         2   109065  0.983819         8
598         2     8481  0.983830        25
623         2   115561  0.983841        71
694         2    23824  0.983872        10
704         2     4168  0.983872        11
715         2     4983  0.983872        24
739         2    93552  0.983884         5
744         2    58621  0.983884        73
817         2     5461  0.983948         9
826         2   111893  0.983981         5
831         2   107358  0.983983        22
853         2   107956  0.983983        11
864         2   115361  0.983983         7
871         2    40083  0.983983        14
885         2   108888  0.983983        18
903         2    35688  0.983984         6
909         2    59406  0.983984         4
913         2    66070  0.983984         4
917         2    46658  0.983984         5
922         2    89529  0.983984         4
926         2     2494  0.983985         9
935         2      436  0.983985         4
939         2    75839  0.983999         4
943         2    56169  0.984003        27
970         2    97209  0.984003        21
991         2    31297  0.984003         7
998         2    53046  0.984039         8
1006        2    83466  0.984039         9
1015        2    20507  0.984039        17
1032        2   103394  0.984039         4
1036        2    40696  0.984039         8
1044        2    18057  0.984039         6
1050        2    38861  0.984058        12
1062        2    91963  0.984058         4
1066        2     1655  0.984098        13
1079        2    62080  0.984098        13
1092        2    72295  0.984099         9
1101        2    48538  0.984104         4
1105        2   112873  0.984110         8
1113        2   107727  0.984110        12
1125        2   107716  0.984110         5
1130        2   109784  0.984110         4
1134        2   112705  0.984110         8
1142        2    19353  0.984115        48
1190        2    86837  0.984142         4
1194        2    32490  0.984153        16
1210        2    91616  0.984153        10
1143        2    19353  0.984167        48

In [9]:
click_test_val[click_test_val.user_id==2]

      user_id  item_id      time  item_deg
1143        2    19353  0.984167        48

In [7]:
click_test_val.head()

      user_id  item_id      time  item_deg
486         1    23039  0.984156        25
1143        2    19353  0.984167        48
1771        3    73088  0.984143       106
1930       11    64404  0.984034        18
5089       13    23554  0.984096         3

In [9]:
val = click_test_val[['user_id', 'item_id', 'item_deg']].set_index('user_id')

val['p'] = val.values.tolist()

answers = val['p'].to_dict()

val.head(2)

## whole_click和click_test_val没有数据重复
可以认为 train中有test的数据

In [8]:
whole_click_train.append(click_test_val).shape

(602047, 3)

In [9]:
whole_click_train.append(click_test_val).drop_duplicates().shape

(602047, 3)

## test_qtime.time全部大于click_test_val.time

In [10]:
click_test_val.append(test_qtime).drop_duplicates(['user_id', 'time']).shape

(13508, 3)

In [11]:
dfm = pd.merge(click_test_val, test_qtime, on='user_id')
dfm.head()

   user_id  item_id    time_x    time_y
0    22352    41533  0.983740  0.983740
1    20922    13603  0.983741  0.983744
2    34496    20710  0.983742  0.983742
3    21098    65218  0.983749  0.983749
4    14300    61627  0.983751  0.983751

In [12]:
dfm[dfm.time_y < dfm.time_x]

      user_id  item_id    time_x    time_y
72      33265    88721  0.983811  0.983811
120     34111    84299  0.983827  0.983827
144      2190    17182  0.983836  0.983836
153      4334    99564  0.983838  0.983837
213     13376     5814  0.983849  0.983797
...       ...      ...       ...       ...
6749    16094   113854  0.984121  0.984006
6750     7007      563  0.984121  0.983947
6751     4951    72090  0.984121  0.984008
6752     5148     9960  0.984121  0.983958
6753    11848   111584  0.984121  0.984012

[3765 rows x 4 columns]

## whole_click中['user_id', 'time']和test_qtime中没有重复

In [9]:
whole_click.append(test_qtime).head(2)

   user_id  item_id     time
0    20937  18599.0  0.98374
1    25129   3852.0  0.98374

In [11]:
whole_click.append(test_qtime).shape

(606507, 3)

In [24]:
whole_click.append(test_qtime)[whole_click.append(test_qtime).duplicated(['user_id', 'time'])]

        user_id  item_id      time
2917       4215  40538.0  0.983743
22227     15639  47879.0  0.983770
23282     21322  42634.0  0.983771
26952     13358  34528.0  0.983774
36026     27524  88100.0  0.983781
...         ...      ...       ...
565301    22260  70855.0  0.984106
577870    33024  18145.0  0.984113
580214     6964  69746.0  0.984114
598610     5102  24733.0  0.984121
599077      238  52399.0  0.984121

[109 rows x 3 columns]

In [23]:
whole_click.append(test_qtime)[whole_click.append(test_qtime).duplicated(['user_id', 'time'])].time.tolist()

[0.9837428119219664,
 0.983770396864372,
 0.9837711551916242,
 0.983773885674442,
 0.9837806311278362,
 0.9837870989905556,
 0.9838099510119586,
 0.9838117036185364,
 0.9838244835146646,
 0.983829140098232,
 0.983829140098232,
 0.9838324345948296,
 0.9838340275867694,
 0.9838418140051934,
 0.9838440479792364,
 0.9838464680652091,
 0.9838479512826548,
 0.983848189127392,
 0.9838698841003921,
 0.9838705951110518,
 0.9838752441239644,
 0.9838781455774024,
 0.98388108614589,
 0.9838816886438316,
 0.9838824684212722,
 0.9838891451078856,
 0.98389356258494,
 0.9838947606410562,
 0.9838947940781148,
 0.9838950098417756,
 0.9838951492680008,
 0.9838991806416622,
 0.9838994367821484,
 0.9838996739959976,
 0.9839005263255464,
 0.9839005389433044,
 0.9839057822526156,
 0.983908259749387,
 0.9839264640196532,
 0.9839281295637012,
 0.9839284790755959,
 0.9839301143370248,
 0.9839305685763108,
 0.9839421560943138,
 0.9839439503394928,
 0.9839469615674248,
 0.983947859320902,
 0.9839482839084568,
 0.9839525177971332,
 0.9839581232360972,
 0.983958964840552,
 0.9839744872063682,
 0.98397653254493,
 0.9839790378007688,
 0.9839790378007688,
 0.9839790378007688,
 0.9839828527798816,
 0.9839915602946352,
 0.9839987126707228,
 0.9840003037699988,
 0.9840064587123214,
 0.9840067306250051,
 0.9840080371938396,
 0.9840092907680908,
 0.9840100648675404,
 0.984010690077446,
 0.9840110673484084,
 0.984011963209222,
 0.9840120464864246,
 0.9840128451905021,
 0.9840197023110541,
 0.984021441038098,
 0.9840340770917856,
 0.9840363243144744,
 0.9840364498611659,
 0.9840374239520788,
 0.9840420174468564,
 0.9840456015209992,
 0.984046831752398,
 0.9840490102083064,
 0.9840523394037384,
 0.9840544024071614,
 0.984055904551244,
 0.9840572912428416,
 0.984059282325044,
 0.9840595933527774,
 0.9840642682320936,
 0.9840663520548172,
 0.9840670056546784,
 0.9840676415896786,
 0.9840691727546044,
 0.9840726754442084,
 0.9840731082333056,
 0.9840731340997094,
 0.9840736211451658,
 0.9840807741521412,
 0.9840893170051538,
 0.984089547910124,
 0.9840922525265382,
 0.9840965286847037,
 0.9840979261013952,
 0.9840991121706416,
 0.9841019070040252,
 0.9841045561023044,
 0.9841056071615406,
 0.9841127059121568,
 0.9841137538169538,
 0.9841206279714788,
 0.9841208916826196]

In [21]:
whole_click.append(test_qtime)[whole_click.append(test_qtime).duplicated(['user_id', 'time'], keep='last')]

        user_id  item_id      time
2916       4215  51622.0  0.983743
22226     15639  83985.0  0.983770
23281     21322  37951.0  0.983771
26950     13358  10593.0  0.983774
36025     27524  55646.0  0.983781
...         ...      ...       ...
565300    22260  58300.0  0.984106
577869    33024  60349.0  0.984113
580213     6964  97512.0  0.984114
598609     5102  31190.0  0.984121
599076      238   8003.0  0.984121

[109 rows x 3 columns]

In [12]:
whole_click.append(test_qtime).drop_duplicates(['user_id', 'time']).shape

(606398, 3)

In [18]:
whole_click[whole_click.time.isin(test_qtime.time.tolist())]

        user_id  item_id      time
649       25836     4667  0.983740
650       18934    10940  0.983740
9902      19602    65951  0.983761
20431     35104    65094  0.983769
20935     22226    97495  0.983769
...         ...      ...       ...
599718     7498    47332  0.984121
599719     3153   109881  0.984121
599720    11039    48729  0.984121
599721    20060    18327  0.984121
599733    27485    12779  0.984121

[10347 rows x 3 columns]

In [13]:
pd.merge(whole_click, test_qtime, on=['user_id', 'time']).shape

(0, 3)

In [3]:
whole_click.to_pickle('data_gen/whole_click_no_val_set.pkl')

In [5]:
whole_click_val.to_pickle('data_gen/whole_click_val_set.pkl')

In [4]:
whole_click_val.shape

(5079, 3)

In [4]:
test_qtime.to_pickle('data_gen/test_qtime.pkl')

In [17]:
whole_click.shape

(457791, 3)

In [18]:
test_qtime.shape

(5079, 2)

In [22]:
whole_click.groupby('user_id')['item_id'].count().sort_values()

user_id
20097      1
1068       1
18964      1
28215      1
30415      1
        ...
32578    178
32217    180
2072     198
5701     199
8330     233
Name: item_id, Length: 23816, dtype: int64

In [24]:
# 统计 test_qtime.user_id 购买过的 item_id
def t(s):
    return s.unique().tolist()
user_items = whole_click[whole_click.user_id.isin(test_qtime.user_id.tolist())].groupby('user_id')['item_id'].agg(t)

user_id
1        [78142, 26646, 89568, 76240, 87533, 78380, 637...
2        [72912, 7745, 28099, 73084, 111576, 104635, 70...
11       [88058, 66082, 29755, 78804, 43074, 75757, 233...
13       [92773, 33417, 60915, 52477, 49448, 30391, 969...
22       [34443, 4534, 32148, 4916, 1762, 53664, 628, 4...
                               ...
35388           [77047, 29119, 19584, 74161, 69152, 85186]
35389            [87393, 53697, 40642, 80958, 4089, 42837]
35398    [23910, 108785, 92218, 105870, 83758, 62340, 6...
35421           [58341, 74497, 80702, 36076, 93694, 28043]
35422                         [29675, 11885, 26290, 22446]
Name: item_id, Length: 5079, dtype: object

In [19]:
test_qtime.head()

   user_id  query_time
0       11    0.983869
1       22    0.983956
2       44    0.983924
3       55    0.983953
4       66    0.983895

## 验证是否存在一个user重复点击多次相同item_id的情况

### whole_click

In [99]:
def t(s):
    return s.nunique()

In [100]:
whole_click['t'] = range(whole_click.shape[0])

In [101]:
dft = whole_click.groupby('user_id').agg(t).sort_values('item_id')

In [102]:
# 可以看到重复点击的情况很少！
dft[dft.item_id != dft.t]

         item_id   time    t
user_id
13210          3    5.0    5
26768          3    4.0    4
21088          3    4.0    4
9318           4    5.0    5
15534          4    5.0    5
...          ...    ...  ...
26540        163  178.0  178
4262         175  176.0  176
2072         188  197.0  198
5701         193  199.0  199
8330         222  233.0  233

[5575 rows x 3 columns]

In [131]:
del click_test['t']

In [132]:
click_test.sort_values('time').drop_duplicates('user_id', keep='last')

       user_id  item_id      time
541      22946   102303  0.983740
14900    22352    41533  0.983740
20690    20922    13603  0.983741
6518     34496    20710  0.983742
8907     15290   111807  0.983744
...        ...      ...       ...
2127      4215     3014  0.984067
19616     8340    48809  0.984067
3583     22211    11830  0.984067
13272     7801    44841  0.984067
21486    26688    17417  0.984067

[5079 rows x 3 columns]

### click_test

In [103]:
click_test['t'] = range(click_test.shape[0])
dft = click_test.groupby('user_id').agg(t).sort_values('item_id')

In [104]:
# 在test中没有重复点击的情况
dft[dft.item_id != dft.t]

Empty DataFrame
Columns: [item_id, time, t]
Index: []

## test_click_df.user_id也在train_click_df中出现过

In [39]:
len(set(test_click_df.user_id).intersection(set(train_click_df.user_id)))

2866

## test_click_0_df.user_id有在train_click_1_df出现过，也就是可以phase1阶段的train_click数据来改进phase0阶段的结果

In [42]:
len(set(test_click_0_df.user_id).intersection(set(train_click_1_df.user_id)))

1402

In [9]:
test_click_0_df.head()

NameError: name 'test_click_0_df' is not defined

In [11]:
de.describe(test_click_0_df)

num of records: 21216, num of columns: 3

        Data Type  Unique Values  count Missing  % Missing           Mode  Count Mode     % Mode          mean           std       min           25%           50%         75%            max
user_id     int64           1663              0        0.0   35123.000000          98   0.461916  16435.225160  10072.244892  11.00000   7722.000000  15939.000000  24585.0000   35398.000000
item_id     int64          15670              0        0.0  113569.000000          19  0.0895551  56308.638763  34119.203232   1.00000  25690.500000  55536.500000  86055.7500  117069.000000
time      float64          20419              0        0.0       0.983876           4  0.0188537      0.983854      0.000061   0.98374      0.983794      0.983848      0.9839       0.983958

In [21]:
de.describe(test_click_1_df)

num of records: 24465, num of columns: 3

        Data Type  Unique Values  count Missing  % Missing          Mode  Count Mode     % Mode          mean           std        min           25%           50%           75%            max
user_id     int64           1726              0        0.0   4643.000000          93   0.380135  16739.294666   9831.424398   1.000000   8449.000000  16248.000000  24982.000000   35421.000000
item_id     int64          17295              0        0.0  52766.000000          30   0.122624  56504.339792  34130.032894  23.000000  26155.000000  55472.000000  86155.000000  117283.000000
time      float64          23408              0        0.0      0.983818           3  0.0122624      0.983909      0.000061   0.983794      0.983849      0.983902      0.983955       0.984012

In [25]:
de.describe(test_click_df)

num of records: 45681, num of columns: 3

        Data Type  Unique Values  count Missing  % Missing          Mode  Count Mode      % Mode          mean           std      min           25%           50%           75%            max
user_id     int64           3389              0        0.0  35123.000000          98    0.214531  16598.073181   9945.043089  1.00000   8107.000000  16061.000000  24839.000000   35421.000000
item_id     int64          27195              0        0.0  52766.000000          47    0.102887  56413.448764  34124.769689  1.00000  25955.000000  55495.000000  86099.000000  117283.000000
time      float64          42497              0        0.0      0.983876           4  0.00875638      0.983883      0.000067  0.98374      0.983832      0.983885      0.983938       0.984012

In [29]:
test_click_df.groupby('user_id')['item_id'].count().describe()

count    3389.000000
mean       13.479197
std        12.119118
min         2.000000
25%         6.000000
50%        10.000000
75%        17.000000
max        98.000000
Name: item_id, dtype: float64

## 验证test_qtime_df的user_id对应的query_time，是否在click_df的user_id对应的time之后
惊奇的发现，不是最后，有的user_id对应的query_time < click_df的user_id对应的time

经过验证，各自对应的阶段是没有这种情况的。所以直接使用phaseT阶段train的数据来预测phaseT-1好像有点数据泄露的问题。__至少应该把T阶段train_click中的属于T阶段之前的userid大于query_time的数据删掉，再来用它预测T阶段之前的数据！__

In [32]:
for uid in test_qtime_df['user_id'].tolist():
    if click_df.loc[click_df['user_id']==uid].sort_values('time')['time'].iloc[-1] >= test_qtime_df[test_qtime_df['user_id']==uid]['query_time'].iloc[-1]:
        print(click_df.loc[click_df['user_id']==uid].sort_values('time').iloc[-1])
        print(test_qtime_df[test_qtime_df['user_id']==uid])

user_id       22.00000
item_id    63202.00000
time           0.98399
Name: 355952, dtype: float64
   user_id  query_time
1       22    0.983956
user_id       44.000000
item_id    42253.000000
time           0.984003
Name: 251960, dtype: float64
   user_id  query_time
2       44    0.983924
user_id      55.000000
item_id    3476.000000
time          0.984008
Name: 359451, dtype: float64
   user_id  query_time
3       55    0.983953
user_id        66.000000
item_id    115018.000000
time            0.983986
Name: 424959, dtype: float64
   user_id  query_time
4       66    0.983895
user_id       88.000000
item_id    93044.000000
time           0.984011
Name: 365031, dtype: float64
   user_id  query_time
5       88    0.983901
user_id      132.000000
item_id    88637.000000
time           0.984007
Name: 328231, dtype: float64
   user_id  query_time
7      132    0.983954
user_id      143.000000
item_id    28434.000000
time           0.984004
Name: 280850, dtype: float64
   user_id  query_time
8      143    0.983941
user_id      154.000000
item_id    85749.000000
time           0.983992
Name: 445315, dtype: float64
   user_id  query_time
9      154    0.983883
user_id      187.000000
item_id    35480.000000
time           0.983986
Name: 376227, dtype: float64
    user_id  query_time
11      187    0.983949
user_id      242.000000
item_id    18537.000000
time           0.984009
Name: 345790, dtype: float64
    user_id  query_time
12      242    0.983952
user_id      253.000000
item_id    43541.000000
time           0.983992
Name: 303613, dtype: float64
    user_id  query_time
13      253    0.983952
user_id       297.000000
item_id    114125.000000
time            0.984003
Name: 476358, dtype: float64
    user_id  query_time
16      297    0.983948
user_id      319.000000
item_id    71526.000000
time           0.983988
Name: 327240, dtype: float64
    user_id  query_time
17      319    0.983832
user_id      352.00000
item_id    11860.00000
time           0.98401
Name: 448099, dtype: float64
    user_id  query_time
19      352    0.983947
user_id      363.000000
item_id    32023.000000
time           0.984008
Name: 346731, dtype: float64
    user_id  query_time
20      363    0.983957
user_id      385.000000
item_id    36976.000000
time           0.983979
Name: 281333, dtype: float64
    user_id  query_time
22      385    0.983918
user_id       407.000000
item_id    110334.000000
time            0.983954
Name: 278398, dtype: float64
    user_id  query_time
24      407     0.98389
user_id      451.00000
item_id    21237.00000
time           0.98399
Name: 448699, dtype: float64
    user_id  query_time
25      451    0.983955
user_id       473.000000
item_id    114551.000000
time            0.983974
Name: 388259, dtype: float64
    user_id  query_time
27      473    0.983953
user_id      484.000000
item_id    76943.000000
time           0.983996
Name: 481525, dtype: float64
    user_id  query_time
28      484    0.983956
user_id      506.000000
item_id    45169.000000
time           0.984012
Name: 259598, dtype: float64
    user_id  query_time
29      506    0.983923
user_id      572.000000
item_id    13302.000000
time           0.984012
Name: 360164, dtype: float64
    user_id  query_time
30      572    0.983957
user_id      583.000000
item_id    50493.000000
time           0.984007
Name: 355150, dtype: float64
    user_id  query_time
31      583    0.983906
user_id     594.000000
item_id    4207.000000
time          0.984008
Name: 286448, dtype: float64
    user_id  query_time
32      594    0.983945
user_id      616.000000
item_id    86972.000000
time           0.983956
Name: 320831, dtype: float64
    user_id  query_time
33      616    0.983894
user_id       660.000000
item_id    106031.000000
time            0.983984
Name: 321958, dtype: float64
    user_id  query_time
34      660    0.983882
user_id       682.000000
item_id    115045.000000
time            0.984001
Name: 359129, dtype: float64
    user_id  query_time
35      682    0.983954
user_id      704.000000
item_id    67285.000000
time           0.984006
Name: 283163, dtype: float64
    user_id  query_time
36      704    0.983835
user_id     781.000000
item_id    3565.000000
time          0.984001
Name: 279065, dtype: float64
    user_id  query_time
40      781    0.983944
user_id      836.000000
item_id    35582.000000
time           0.984011
Name: 251522, dtype: float64
    user_id  query_time
41      836    0.983958
user_id      858.000000
item_id    27575.000000
time           0.984009
Name: 456600, dtype: float64
    user_id  query_time
43      858    0.983946
user_id      869.000000
item_id    23514.000000
time           0.984002
Name: 324271, dtype: float64
    user_id  query_time
44      869    0.983936
user_id      880.000000
item_id    48172.000000
time           0.984006
Name: 435587, dtype: float64
    user_id  query_time
45      880    0.983939
user_id      891.000000
item_id    17317.000000
time           0.984004
Name: 287409, dtype: float64
    user_id  query_time
46      891    0.983936
user_id      902.000000
item_id    68793.000000
time           0.983988
Name: 349007, dtype: float64
    user_id  query_time
47      902    0.983948
user_id      924.000000
item_id    37513.000000
time           0.984011
Name: 317727, dtype: float64
    user_id  query_time
48      924    0.983953
user_id      968.000000
item_id    75761.000000
time           0.983984
Name: 312702, dtype: float64
    user_id  query_time
50      968    0.983957
user_id      990.000000
item_id    76270.000000
time           0.984011
Name: 290983, dtype: float64
    user_id  query_time
52      990    0.983942
user_id     1012.000000
item_id    52025.000000
time           0.983956
Name: 384548, dtype: float64
    user_id  query_time
54     1012    0.983956
user_id     1034.000000
item_id    92981.000000
time           0.983957
Name: 438319, dtype: float64
    user_id  query_time
55     1034    0.983941
user_id     1067.000000
item_id    10716.000000
time           0.983987
Name: 396530, dtype: float64
    user_id  query_time
57     1067    0.983898
user_id     1100.000000
item_id    53791.000000
time           0.983983
Name: 443339, dtype: float64
    user_id  query_time
58     1100    0.983948
user_id     1122.000000
item_id    96064.000000
time           0.984001
Name: 453408, dtype: float64
    user_id  query_time
60     1122    0.983956
user_id     1133.000000
item_id    70031.000000
time           0.984006
Name: 327143, dtype: float64
    user_id  query_time
61     1133    0.983953
user_id     1265.000000
item_id    60028.000000
time           0.983982
Name: 275320, dtype: float64
    user_id  query_time
64     1265    0.983931
user_id     1287.000
item_id    97110.000
time           0.984
Name: 372695, dtype: float64
    user_id  query_time
65     1287    0.983895
user_id     1353.000000
item_id    10229.000000
time           0.983995
Name: 352599, dtype: float64
    user_id  query_time
67     1353    0.983957
user_id     1397.000000
item_id    21621.000000
time           0.983992
Name: 382635, dtype: float64
    user_id  query_time
71     1397    0.983956
user_id      1419.000000
item_id    102489.000000
time            0.984007
Name: 461007, dtype: float64
    user_id  query_time
72     1419    0.983939
user_id     1430.000000
item_id    77113.000000
time           0.983997
Name: 481553, dtype: float64
    user_id  query_time
73     1430    0.983957
user_id     1507.000000
item_id    78914.000000
time           0.984002
Name: 430066, dtype: float64
    user_id  query_time
76     1507     0.98395
user_id    1540.000000
item_id    8458.000000
time          0.984008
Name: 286807, dtype: float64
    user_id  query_time
79     1540    0.983932
user_id     1551.00000
item_id    51441.00000
time           0.98401
Name: 355206, dtype: float64
    user_id  query_time
80     1551     0.98392
user_id     1562.000000
item_id    43760.000000
time           0.983997
Name: 296285, dtype: float64
    user_id  query_time
81     1562    0.983956
user_id     1639.000000
item_id    73525.000000
time           0.984006
Name: 283540, dtype: float64
    user_id  query_time
83     1639    0.983943
user_id     1661.000000
item_id    42651.000000
time           0.984004
Name: 251990, dtype: float64
    user_id  query_time
84     1661    0.983935
user_id     1683.000000
item_id    72598.000000
time           0.984005
Name: 415174, dtype: float64
    user_id  query_time
86     1683    0.983952
user_id     1705.000000
item_id    84553.000000
time           0.983858
Name: 408424, dtype: float64
    user_id  query_time
87     1705    0.983857
user_id     1727.000000
item_id    42493.000000
time           0.983989
Name: 376641, dtype: float64
    user_id  query_time
88     1727    0.983926
user_id     1738.000000
item_id    47778.000000
time           0.983976
Name: 406167, dtype: float64
    user_id  query_time
89     1738    0.983874
user_id     1749.000000
item_id    80331.000000
time           0.983955
Name: 466890, dtype: float64
    user_id  query_time
90     1749    0.983954
user_id     1771.000000
item_id    39669.000000
time           0.983995
Name: 442415, dtype: float64
    user_id  query_time
91     1771    0.983954
user_id     1793.00000
item_id    21252.00000
time           0.98398
Name: 265538, dtype: float64
    user_id  query_time
92     1793    0.983896
user_id    1848.000000
item_id    2131.000000
time          0.983975
Name: 432497, dtype: float64
    user_id  query_time
93     1848    0.983957

user_id     1881.00000
item_id    29035.00000
time           0.98401
Name: 375825, dtype: float64
    user_id  query_time
95     1881    0.983801
user_id     2035.000000
item_id    74938.000000
time           0.984006
Name: 246473, dtype: float64
     user_id  query_time
103     2035    0.983956
user_id      2057.000000
item_id    108666.000000
time            0.984001
Name: 314685, dtype: float64
     user_id  query_time
104     2057    0.983953
user_id     2079.000000
item_id    73319.000000
time           0.983996
Name: 385821, dtype: float64
     user_id  query_time
105     2079    0.983908
user_id     2123.000000
item_id    49524.000000
time           0.984007
Name: 398994, dtype: float64
     user_id  query_time
106     2123    0.983909
user_id      2134.000000
item_id    105153.000000
time            0.984005
Name: 248314, dtype: float64
     user_id  query_time
107     2134    0.983952
user_id     2145.000000
item_id    38501.000000
time           0.984009
Name: 390949, dtype: float64
     user_id  query_time
108     2145    0.983952
user_id     2156.000000
item_id    11170.000000
time           0.984003
Name: 448044, dtype: float64
     user_id  query_time
109     2156    0.983937
user_id      2200.000000
item_id    113801.000000
time            0.983989
Name: 476332, dtype: float64
     user_id  query_time
110     2200    0.983935
user_id     2244.000000
item_id    14981.000000
time           0.983989
Name: 352944, dtype: float64
     user_id  query_time
113     2244    0.983956
user_id     2255.000000
item_id    54166.000000
time           0.983959
Name: 252791, dtype: float64
     user_id  query_time
114     2255    0.983887
user_id     2266.00000
item_id    31227.00000
time           0.98398
Name: 353931, dtype: float64
     user_id  query_time
115     2266    0.983957
user_id      2299.000000
item_id    109853.000000
time            0.984007
Name: 402597, dtype: float64
     user_id  query_time
116     2299    0.983956
user_id     2310.000000
item_id    13209.000000
time           0.983993
Name: 418715, dtype: float64
     user_id  query_time
117     2310    0.983847
user_id      2321.000000
item_id    109797.000000
time            0.983987
Name: 409979, dtype: float64
     user_id  query_time
118     2321      0.9839
user_id     2431.000000
item_id    46546.000000
time           0.983999
Name: 391470, dtype: float64
     user_id  query_time
124     2431    0.983951
user_id     2453.000000
item_id    34535.000000
time           0.984004
Name: 346881, dtype: float64
     user_id  query_time
125     2453    0.983954
user_id     2464.000000
item_id    22113.000000
time           0.984012
Name: 456226, dtype: float64
     user_id  query_time
126     2464    0.983872
user_id     2475.000000
item_id    32481.000000
time           0.984011
Name: 288364, dtype: float64
     user_id  query_time
127     2475    0.983903
user_id     2508.000000
item_id    55287.000000
time           0.984009
Name: 384721, dtype: float64
     user_id  query_time
128     2508    0.983919
user_id     2519.000000
item_id    14180.000000
time           0.984009
Name: 477559, dtype: float64
     user_id  query_time
129     2519    0.983929
user_id     2585.000000
item_id    64323.000000
time           0.984012
Name: 429158, dtype: float64
     user_id  query_time
131     2585    0.983955
user_id     2640.000000
item_id    25860.000000
time           0.983989
Name: 287956, dtype: float64
     user_id  query_time
132     2640    0.983944
user_id     2662.000000
item_id    94915.000000
time           0.984011
Name: 321285, dtype: float64
     user_id  query_time
134     2662    0.983945
user_id     2673.000000
item_id    78724.000000
time           0.984006
Name: 291132, dtype: float64
     user_id  query_time
135     2673    0.983859
user_id    2772.000000
item_id    8315.000000
time          0.984001
Name: 315869, dtype: float64
     user_id  query_time
138     2772    0.983951
user_id      2805.000000
item_id    101889.000000
time            0.984005
Name: 365559, dtype: float64
     user_id  query_time
139     2805      0.9839
user_id     2849.000000
item_id    71223.000000
time           0.984009
Name: 349142, dtype: float64
     user_id  query_time
141     2849    0.983906
user_id    2882.000000
item_id    1604.000000
time          0.983996
Name: 256556, dtype: float64
     user_id  query_time
142     2882    0.983932
user_id     2904.000000
item_id    64558.000000
time           0.983989
Name: 341264, dtype: float64
     user_id  query_time
144     2904    0.983906
user_id      2937.000000
item_id    100344.000000
time            0.984001
Name: 416831, dtype: float64
     user_id  query_time
145     2937     0.98395
user_id     3025.00000
item_id    10169.00000
time           0.98401
Name: 264781, dtype: float64
     user_id  query_time
146     3025    0.983948
user_id     3036.000000
item_id    84375.000000
time           0.984012
Name: 445236, dtype: float64
     user_id  query_time
147     3036    0.983903
user_id    3047.00000
item_id    6115.00000
time          0.98401
Name: 410923, dtype: float64
     user_id  query_time
148     3047    0.983949
user_id      3058.000000
item_id    108156.000000
time            0.984006
Name: 307489, dtype: float64
     user_id  query_time
149     3058    0.983942
user_id    3102.00000
item_id    4341.00000
time          0.98399
Name: 242092, dtype: float64
     user_id  query_time
150     3102    0.983957
user_id     3124.000000
item_id    34565.000000
time           0.984008
Name: 478899, dtype: float64
     user_id  query_time
151     3124    0.983949
user_id     3157.000000
item_id    74309.000000
time           0.983987
Name: 253977, dtype: float64
     user_id  query_time
153     3157    0.983904
user_id     3179.000000
item_id    99936.000000
time           0.983994
Name: 409353, dtype: float64
     user_id  query_time
155     3179    0.983933
user_id     3190.000000
item_id    96610.000000
time           0.983993
Name: 365255, dtype: float64
     user_id  query_time
156     3190    0.983942
user_id     3234.000000
item_id    15935.000000
time           0.984011
Name: 352997, dtype: float64
     user_id  query_time
159     3234    0.983954
user_id     3256.00000
item_id    68240.00000
time           0.98401
Name: 444221, dtype: float64
     user_id  query_time
160     3256    0.983946
user_id     3300.000000
item_id    48562.000000
time           0.984011
Name: 267244, dtype: float64
     user_id  query_time
161     3300    0.983957
user_id     3333.000000
item_id    41918.000000
time           0.984008
Name: 413259, dtype: float64
     user_id  query_time
163     3333    0.983895
user_id     3344.000000
item_id    36829.000000
time           0.983993
Name: 339582, dtype: float64
     user_id  query_time
164     3344    0.983956
user_id     3366.000000
item_id    24648.000000
time           0.984004
Name: 390111, dtype: float64
     user_id  query_time
166     3366    0.983954
user_id     3388.000000
item_id    38771.000000
time           0.983979
Name: 303291, dtype: float64
     user_id  query_time
168     3388    0.983956
user_id    3443.000000
item_id    4401.000000
time          0.984001
Name: 337482, dtype: float64
     user_id  query_time
170     3443    0.983903
user_id     3465.000000
item_id    45861.000000
time           0.984006
Name: 406057, dtype: float64
     user_id  query_time
171     3465     0.98395
user_id     3487.000000
item_id    27863.000000
time           0.984004
Name: 317163, dtype: float64
     user_id  query_time
173     3487    0.983894
user_id    3498.000000
item_id    4426.000000
time          0.984011
Name: 308291, dtype: float64
     user_id  query_time
174     3498    0.983955
user_id     3520.000000
item_id    47783.000000
time           0.984005
Name: 457828, dtype: float64
     user_id  query_time
176     3520    0.983958
user_id     3542.000
item_id    32015.000
time           0.984
Name: 390569, dtype: float64
     user_id  query_time
178     3542    0.983947
user_id     3564.000000
item_id    52131.000000
time           0.984011
Name: 355245, dtype: float64
     user_id  query_time
179     3564    0.983946
user_id     3575.00000
item_id    63019.00000
time           0.98399
Name: 260687, dtype: float64
     user_id  query_time
180     3575    0.983958
user_id     3619.000000
item_id    77962.000000
time           0.983981
Name: 356799, dtype: float64
     user_id  query_time
181     3619    0.983929
user_id    3652.000000
item_id    1604.000000
time          0.983999
Name: 322742, dtype: float64
     user_id  query_time
183     3652    0.983941
user_id     3685.000000
item_id    44708.000000
time           0.984002
Name: 274340, dtype: float64
     user_id  query_time
185     3685    0.983952
user_id     3696.000000
item_id    78273.000000
time           0.984008
Name: 452320, dtype: float64
     user_id  query_time
186     3696    0.983956
user_id     3751.000000
item_id    72076.000000
time           0.983989
Name: 407632, dtype: float64
     user_id  query_time
188     3751    0.983886
user_id      3839.000000
item_id    100400.000000
time            0.984005
Name: 431341, dtype: float64
     user_id  query_time
193     3839    0.983941
user_id     3861.000000
item_id    77292.000000
time           0.984009
Name: 481564, dtype: float64
     user_id  query_time
194     3861    0.983941
user_id      3872.000000
item_id    110083.000000
time            0.984007
Name: 307597, dtype: float64
     user_id  query_time
195     3872    0.983951

user_id     3927.000000
item_id    22424.000000
time           0.984012
Name: 389963, dtype: float64
     user_id  query_time
196     3927      0.9839
user_id      3949.000000
item_id    112334.000000
time            0.984005
Name: 263753, dtype: float64
     user_id  query_time
198     3949    0.983957
user_id     3960.000
item_id    20435.000
time           0.984
Name: 338605, dtype: float64
     user_id  query_time
199     3960    0.983926
user_id     3971.000000
item_id    75225.000000
time           0.984012
Name: 246494, dtype: float64
     user_id  query_time
200     3971    0.983872
user_id      3993.000
item_id    109069.000
time            0.984
Name: 454139, dtype: float64
     user_id  query_time
201     3993    0.983954
user_id      4004.000000
item_id    102584.000000
time            0.983998
Name: 416978, dtype: float64
     user_id  query_time
202     4004    0.983955
user_id     4015.000000
item_id    89335.000000
time           0.983983
Name: 452949, dtype: float64
     user_id  query_time
203     4015    0.983938
user_id     4070.000000
item_id    12370.000000
time           0.983961
Name: 242675, dtype: float64
     user_id  query_time
205     4070    0.983912
user_id    4136.000000
item_id    4992.000000
time          0.983982
Name: 293808, dtype: float64
     user_id  query_time
208     4136    0.983952
user_id     4147.000000
item_id    44981.000000
time           0.983921
Name: 472073, dtype: float64
     user_id  query_time
209     4147     0.98392
user_id     4158.000000
item_id    41936.000000
time           0.983973
Name: 405765, dtype: float64
     user_id  query_time
210     4158     0.98392
user_id    4180.00000
item_id    4856.00000
time          0.98396
Name: 249415, dtype: float64
     user_id  query_time
212     4180    0.983907
user_id     4224.000000
item_id    11833.000000
time           0.983996
Name: 272202, dtype: float64
     user_id  query_time
214     4224     0.98395
user_id     4279.000000
item_id    27575.000000
time           0.984009
Name: 302619, dtype: float64
     user_id  query_time
215     4279    0.983953
user_id    4301.00000
item_id    3080.00000
time          0.98399
Name: 256721, dtype: float64
     user_id  query_time
216     4301    0.983952
user_id     4334.000000
item_id    99564.000000
time           0.983838
Name: 401963, dtype: float64
     user_id  query_time
217     4334    0.983837
user_id     4356.000000
item_id    17379.000000
time           0.984008
Name: 360430, dtype: float64
     user_id  query_time
219     4356    0.983891
user_id     4378.000000
item_id    42483.000000
time           0.984008
Name: 398561, dtype: float64
     user_id  query_time
220     4378    0.983944
user_id     4400.000000
item_id    16902.000000
time           0.983986
Name: 360397, dtype: float64
     user_id  query_time
222     4400    0.983787
user_id    4433.000000
item_id    7737.000000
time          0.984002
Name: 374409, dtype: float64
     user_id  query_time
223     4433    0.983838
user_id     4499.000000
item_id    55349.000000
time           0.984009
Name: 392060, dtype: float64
     user_id  query_time
226     4499    0.983951
user_id      4510.000000
item_id    105841.000000
time            0.984007
Name: 380399, dtype: float64
     user_id  query_time
227     4510    0.983932
user_id     4521.000000
item_id    67757.000000
time           0.983994
Name: 319620, dtype: float64
     user_id  query_time
228     4521    0.983952
user_id     4543.000000
item_id    85899.000000
time           0.984003
Name: 254657, dtype: float64
     user_id  query_time
230     4543    0.983946
user_id     4554.000000
item_id    91456.000000
time           0.983987
Name: 482459, dtype: float64
     user_id  query_time
231     4554    0.983953
user_id     4565.000000
item_id    99467.000000
time           0.984011
Name: 380054, dtype: float64
     user_id  query_time
232     4565    0.983944
user_id     4631.000000
item_id    44255.000000
time           0.983974
Name: 252095, dtype: float64
     user_id  query_time
236     4631    0.983945
user_id    4642.000000
item_id    1077.000000
time          0.984008
Name: 249143, dtype: float64
     user_id  query_time
237     4642    0.983941
user_id     4664.000000
item_id    95777.000000
time           0.983983
Name: 431071, dtype: float64
     user_id  query_time
238     4664     0.98395
user_id     4675.000000
item_id    60680.000000
time           0.984007
Name: 333822, dtype: float64
     user_id  query_time
239     4675    0.983925
user_id    4741.000000
item_id    8812.000000
time          0.983984
Name: 323303, dtype: float64
     user_id  query_time
242     4741     0.98395
user_id     4763.000000
item_id    87254.000000
time           0.983987
Name: 306235, dtype: float64
     user_id  query_time
243     4763    0.983924
user_id      4785.000000
item_id    106521.000000
time            0.984012
Name: 483302, dtype: float64
     user_id  query_time
245     4785    0.983957
user_id     4796.000000
item_id    62616.000000
time           0.983981
Name: 473175, dtype: float64
     user_id  query_time
246     4796    0.983923
user_id     4829.00000
item_id    52131.00000
time           0.98401
Name: 333336, dtype: float64
     user_id  query_time
247     4829    0.983956
user_id      4873.000000
item_id    115633.000000
time            0.984012
Name: 366413, dtype: float64
     user_id  query_time
250     4873    0.983942
user_id     4917.000000
item_id    58727.000000
time           0.984003
Name: 267859, dtype: float64
     user_id  query_time
254     4917     0.98395
user_id      4928.000000
item_id    105078.000000
time            0.983992
Name: 278051, dtype: float64
     user_id  query_time
255     4928    0.983956
user_id     4939.000000
item_id    98319.000000
time           0.983983
Name: 431213, dtype: float64
     user_id  query_time
256     4939    0.983926
user_id     4950.000000
item_id    81109.000000
time           0.984007
Name: 305894, dtype: float64
     user_id  query_time
257     4950    0.983953
user_id     4961.000000
item_id    94582.000000
time           0.983998
Name: 482606, dtype: float64
     user_id  query_time
258     4961    0.983876
user_id     5016.000000
item_id    99083.000000
time           0.983999
Name: 255389, dtype: float64
     user_id  query_time
261     5016    0.983945
user_id     5038.000000
item_id    42745.000000
time           0.984007
Name: 281694, dtype: float64
     user_id  query_time
262     5038    0.983945
user_id     5049.000000
item_id    44667.000000
time           0.984011
Name: 479520, dtype: float64
     user_id  query_time
263     5049    0.983881
user_id     5082.000000
item_id    44159.000000
time           0.983958
Name: 347496, dtype: float64
     user_id  query_time
265     5082    0.983957
user_id     5093.000000
item_id    91526.000000
time           0.984011
Name: 306502, dtype: float64
     user_id  query_time
266     5093    0.983957
user_id     5126.000000
item_id    70803.000000
time           0.983976
Name: 275986, dtype: float64
     user_id  query_time
268     5126    0.983873
user_id      5148.000000
item_id    112171.000000
time            0.983996
Name: 446955, dtype: float64
     user_id  query_time
270     5148    0.983958
user_id     5159.000000
item_id    95243.000000
time           0.984004
Name: 409065, dtype: float64
     user_id  query_time
271     5159    0.983955
user_id      5181.000000
item_id    109977.000000
time            0.984004
Name: 424641, dtype: float64
     user_id  query_time
272     5181    0.983943
user_id     5236.000000
item_id    13754.000000
time           0.984003
Name: 433345, dtype: float64
     user_id  query_time
274     5236    0.983952
user_id    5269.000000
item_id    6262.000000
time          0.983934
Name: 330369, dtype: float64
     user_id  query_time
276     5269    0.983893
user_id     5302.000000
item_id    27975.000000
time           0.983992
Name: 383066, dtype: float64
     user_id  query_time
278     5302    0.983948
user_id     5324.000000
item_id    44404.000000
time           0.984006
Name: 274309, dtype: float64
     user_id  query_time
279     5324      0.9839
user_id     5335.000000
item_id    76943.000000
time           0.984007
Name: 371463, dtype: float64
     user_id  query_time
280     5335    0.983954
user_id     5401.000000
item_id    97502.000000
time           0.984003
Name: 365289, dtype: float64
     user_id  query_time
283     5401     0.98395
user_id     5412.000000
item_id    66612.000000
time           0.984002
Name: 392688, dtype: float64
     user_id  query_time
284     5412    0.983949
user_id     5445.000000
item_id    87061.000000
time           0.983989
Name: 460097, dtype: float64
     user_id  query_time
286     5445    0.983951
user_id     5456.000000
item_id    36181.000000
time           0.983956
Name: 368973, dtype: float64
     user_id  query_time
287     5456    0.983887
user_id     5500.000000
item_id    37152.000000
time           0.984011
Name: 303208, dtype: float64
     user_id  query_time
290     5500    0.983952
user_id     5544.000000
item_id    73968.000000
time           0.983986
Name: 429754, dtype: float64
     user_id  query_time
292     5544    0.983937
user_id     5599.000000
item_id    46664.000000
time           0.984003
Name: 362279, dtype: float64
     user_id  query_time
295     5599    0.983938

user_id     5632.000000
item_id    74228.000000
time           0.984002
Name: 261359, dtype: float64
     user_id  query_time
297     5632    0.983951
user_id    5643.000000
item_id    3460.000000
time          0.984006
Name: 344669, dtype: float64
     user_id  query_time
298     5643    0.983955
user_id     5665.000000
item_id    21557.000000
time           0.984009
Name: 265553, dtype: float64
     user_id  query_time
299     5665    0.983954
user_id     5676.000000
item_id    67285.000000
time           0.984007
Name: 283162, dtype: float64
     user_id  query_time
300     5676      0.9839
user_id     5731.000000
item_id    44290.000000
time           0.983987
Name: 376747, dtype: float64
     user_id  query_time
303     5731    0.983934
user_id     5764.000000
item_id    53686.000000
time           0.983919
Name: 326203, dtype: float64
     user_id  query_time
305     5764    0.983918
user_id    5841.000000
item_id    9537.000000
time          0.984011
Name: 301334, dtype: float64
     user_id  query_time
307     5841    0.983951
user_id      5852.000000
item_id    104370.000000
time            0.983993
Name: 299945, dtype: float64
     user_id  query_time
308     5852    0.983956
user_id    5863.000000
item_id    2359.000000
time          0.983998
Name: 300807, dtype: float64
     user_id  query_time
309     5863    0.983887
user_id     5874.000000
item_id    52766.000000
time           0.984003
Name: 480077, dtype: float64
     user_id  query_time
310     5874    0.983952
user_id     5907.000000
item_id    23287.000000
time           0.984011
Name: 346125, dtype: float64
     user_id  query_time
313     5907    0.983898
user_id     5918.000000
item_id    11577.000000
time           0.984006
Name: 425910, dtype: float64
     user_id  query_time
314     5918    0.983926
user_id     5940.000000
item_id    38343.000000
time           0.984011
Name: 457221, dtype: float64
     user_id  query_time
315     5940    0.983952
user_id      5973.000000
item_id    103143.000000
time            0.983993
Name: 277929, dtype: float64
     user_id  query_time
316     5973    0.983952
user_id    5995.000000
item_id    3610.000000
time          0.984002
Name: 271556, dtype: float64
     user_id  query_time
317     5995     0.98395
user_id     6039.000000
item_id    61624.000000
time           0.984012
Name: 385094, dtype: float64
     user_id  query_time
320     6039    0.983951
user_id     6072.000000
item_id    12541.000000
time           0.983999
Name: 264935, dtype: float64
     user_id  query_time
321     6072    0.983927
user_id     6083.000000
item_id    24130.000000
time           0.983941
Name: 463577, dtype: float64
     user_id  query_time
322     6083    0.983941
user_id    6127.000000
item_id     941.000000
time          0.983999
Name: 432412, dtype: float64
     user_id  query_time
323     6127    0.983873
user_id    6138.000000
item_id    6009.000000
time          0.984008
Name: 323086, dtype: float64
     user_id  query_time
324     6138     0.98393
user_id     6149.000000
item_id    23053.000000
time           0.983908
Name: 287773, dtype: float64
     user_id  query_time
325     6149    0.983908
user_id    6182.000000
item_id     650.000000
time          0.983958
Name: 395818, dtype: float64
     user_id  query_time
328     6182    0.983957
user_id     6204.000000
item_id    14084.000000
time           0.984002
Name: 455684, dtype: float64
     user_id  query_time
329     6204    0.983946
user_id     6215.000000
item_id    21343.000000
time           0.984003
Name: 433920, dtype: float64
     user_id  query_time
330     6215    0.983946
user_id     6237.000000
item_id    69721.000000
time           0.983995
Name: 363630, dtype: float64
     user_id  query_time
332     6237    0.983955
user_id     6259.000000
item_id    14202.000000
time           0.983987
Name: 257535, dtype: float64
     user_id  query_time
333     6259     0.98395
user_id     6270.000000
item_id    39714.000000
time           0.984007
Name: 339771, dtype: float64
     user_id  query_time
334     6270    0.983883
user_id      6281.000000
item_id    111890.000000
time            0.983939
Name: 358969, dtype: float64
     user_id  query_time
335     6281    0.983939
user_id     6314.000000
item_id    13474.000000
time           0.984007
Name: 374820, dtype: float64
     user_id  query_time
336     6314    0.983948
user_id     6369.000000
item_id    57881.000000
time           0.983959
Name: 458419, dtype: float64
     user_id  query_time
338     6369    0.983912
user_id     6380.000000
item_id    31675.000000
time           0.983892
Name: 478718, dtype: float64
     user_id  query_time
339     6380    0.983875
user_id    6446.000000
item_id    1954.000000
time          0.984006
Name: 249196, dtype: float64
     user_id  query_time
342     6446    0.983954
user_id     6468.000000
item_id    87993.000000
time           0.984006
Name: 394027, dtype: float64
     user_id  query_time
343     6468    0.983918
user_id     6490.000000
item_id    23733.000000
time           0.984006
Name: 316875, dtype: float64
     user_id  query_time
344     6490    0.983953
user_id    6556.000000
item_id     643.000000
time          0.983958
Name: 403015, dtype: float64
     user_id  query_time
347     6556    0.983907
user_id    6633.000000
item_id    7358.000000
time          0.984004
Name: 323181, dtype: float64
     user_id  query_time
349     6633    0.983952
user_id     6699.000000
item_id    65778.000000
time           0.984005
Name: 341315, dtype: float64
     user_id  query_time
351     6699    0.983958
user_id     6743.000000
item_id    78144.000000
time           0.983994
Name: 466763, dtype: float64
     user_id  query_time
353     6743    0.983935
user_id     6754.000000
item_id    99471.000000
time           0.983982
Name: 328864, dtype: float64
     user_id  query_time
354     6754    0.983872
user_id     6765.000000
item_id    25269.000000
time           0.984008
Name: 382855, dtype: float64
     user_id  query_time
355     6765    0.983954
user_id     6809.000000
item_id    93252.000000
time           0.983961
Name: 379675, dtype: float64
     user_id  query_time
357     6809     0.98388
user_id     6820.000000
item_id    67926.000000
time           0.984003
Name: 312256, dtype: float64
     user_id  query_time
358     6820    0.983938
user_id      6842.00000
item_id    110148.00000
time            0.98398
Name: 336791, dtype: float64
     user_id  query_time
359     6842    0.983873
user_id     6875.000000
item_id    45762.000000
time           0.983934
Name: 362233, dtype: float64
     user_id  query_time
360     6875    0.983934
user_id     6897.000
item_id    35444.000
time           0.984
Name: 244163, dtype: float64
     user_id  query_time
362     6897    0.983952
user_id    6930.000000
item_id    9301.000000
time          0.984007
Name: 301323, dtype: float64
     user_id  query_time
363     6930    0.983893
user_id     6941.000000
item_id    14282.000000
time           0.984012
Name: 294463, dtype: float64
     user_id  query_time
364     6941    0.983956
user_id      6952.000000
item_id    114278.000000
time            0.984002
Name: 300524, dtype: float64
     user_id  query_time
365     6952    0.983953
user_id    6985.000000
item_id     652.000000
time          0.984009
Name: 366525, dtype: float64
     user_id  query_time
367     6985      0.9839
user_id     6996.000000
item_id    47621.000000
time           0.984007
Name: 259768, dtype: float64
     user_id  query_time
368     6996    0.983956
user_id     7007.000000
item_id    35098.000000
time           0.984012
Name: 398069, dtype: float64
     user_id  query_time
369     7007    0.983947
user_id     7029.000000
item_id    25434.000000
time           0.984007
Name: 360986, dtype: float64
     user_id  query_time
371     7029    0.983957
user_id     7084.000000
item_id    31671.000000
time           0.983984
Name: 412658, dtype: float64
     user_id  query_time
372     7084     0.98387
user_id     7117.00000
item_id    53336.00000
time           0.98401
Name: 245240, dtype: float64
     user_id  query_time
373     7117    0.983943
user_id    7150.00000
item_id    2638.00000
time          0.98401
Name: 278999, dtype: float64
     user_id  query_time
374     7150    0.983954
user_id     7183.000000
item_id    74821.000000
time           0.983988
Name: 246468, dtype: float64
     user_id  query_time
376     7183    0.983934
user_id     7249.000000
item_id    27762.000000
time           0.984007
Name: 243655, dtype: float64
     user_id  query_time
378     7249    0.983953
user_id     7260.000000
item_id    52131.000000
time           0.984011
Name: 399171, dtype: float64
     user_id  query_time
379     7260    0.983956
user_id     7271.000000
item_id    75683.000000
time           0.983994
Name: 378605, dtype: float64
     user_id  query_time
380     7271    0.983898
user_id     7293.000000
item_id    20170.000000
time           0.984009
Name: 316666, dtype: float64
     user_id  query_time
381     7293    0.983848
user_id    7315.000000
item_id    5075.000000
time          0.984007
Name: 264400, dtype: float64
     user_id  query_time
382     7315    0.983938
user_id      7326.00000
item_id    111774.00000
time            0.98397
Name: 468845, dtype: float64
     user_id  query_time
383     7326    0.983864
user_id     7337.00000
item_id    21550.00000
time           0.98398
Name: 280424, dtype: float64
     user_id  query_time
384     7337    0.983939
user_id      7370.000000
item_id    109133.000000
time            0.983999
Name: 336728, dtype: float64
     user_id  query_time
385     7370      0.9839
user_id    7381.00000
item_id    4835.00000
time          0.98401
Name: 410824, dtype: float64
     user_id  query_time
386     7381    0.983956
user_id     7425.000000
item_id    16662.000000
time           0.984007
Name: 360385, dtype: float64
     user_id  query_time
388     7425    0.983904
user_id     7447.000000
item_id    49534.000000
time           0.984006
Name: 457928, dtype: float64
     user_id  query_time
389     7447    0.983956
user_id     7469.00000
item_id    26928.00000
time           0.98401
Name: 258419, dtype: float64
     user_id  query_time
391     7469    0.983953
user_id     7491.000000
item_id    29082.000000
time           0.983853
Name: 471122, dtype: float64
     user_id  query_time
392     7491    0.983853

user_id     7513.00000
item_id    14403.00000
time           0.98398
Name: 287248, dtype: float64
     user_id  query_time
393     7513     0.98394
user_id     7535.00000
item_id    63736.00000
time           0.98401
Name: 377888, dtype: float64
     user_id  query_time
394     7535     0.98395
user_id     7546.000000
item_id    36152.000000
time           0.983961
Name: 361619, dtype: float64
     user_id  query_time
395     7546    0.983929
user_id    7612.000000
item_id    5013.000000
time          0.983988
Name: 308332, dtype: float64
     user_id  query_time
397     7612    0.983938
user_id     7645.000000
item_id    25559.000000
time           0.983999
Name: 338910, dtype: float64
     user_id  query_time
398     7645    0.983953
user_id     7667.000000
item_id    37541.000000
time           0.984008
Name: 251638, dtype: float64
     user_id  query_time
399     7667    0.983956
user_id     7678.000000
item_id    57491.000000
time           0.984004
Name: 340871, dtype: float64
     user_id  query_time
400     7678    0.983889
user_id      7711.000000
item_id    104620.000000
time            0.984007
Name: 424295, dtype: float64
     user_id  query_time
402     7711    0.983947
user_id     7722.000000
item_id    79082.000000
time           0.984009
Name: 254242, dtype: float64
     user_id  query_time
403     7722    0.983933
user_id    7755.000000
item_id    2499.000000
time          0.984001
Name: 278982, dtype: float64
     user_id  query_time
405     7755    0.983942
user_id     7832.000000
item_id    74622.000000
time           0.984007
Name: 290881, dtype: float64
     user_id  query_time
408     7832     0.98395
user_id     7854.000000
item_id    43263.000000
time           0.984008
Name: 405869, dtype: float64
     user_id  query_time
409     7854    0.983953
user_id     7865.000000
item_id    43817.000000
time           0.984002
Name: 289052, dtype: float64
     user_id  query_time
410     7865    0.983895
user_id      7876.000000
item_id    114108.000000
time            0.984009
Name: 351763, dtype: float64
     user_id  query_time
411     7876    0.983955
user_id     7887.000000
item_id    75696.000000
time           0.983997
Name: 334690, dtype: float64
     user_id  query_time
412     7887    0.983943
user_id      7909.000000
item_id    103886.000000
time            0.983984
Name: 380268, dtype: float64
     user_id  query_time
413     7909    0.983949
user_id     7964.000000
item_id    58486.000000
time           0.984008
Name: 428836, dtype: float64
     user_id  query_time
414     7964    0.983955
user_id     7975.000000
item_id    15309.000000
time           0.983928
Name: 331060, dtype: float64
     user_id  query_time
415     7975    0.983902
user_id     8019.000000
item_id    16352.000000
time           0.983993
Name: 242924, dtype: float64
     user_id  query_time
417     8019     0.98389
user_id     8107.000000
item_id    41115.000000
time           0.984009
Name: 244485, dtype: float64
     user_id  query_time
420     8107    0.983955
user_id     8129.000000
item_id    56469.000000
time           0.983997
Name: 275114, dtype: float64
     user_id  query_time
422     8129    0.983933
user_id     8173.000000
item_id    68781.000000
time           0.984012
Name: 466164, dtype: float64
     user_id  query_time
423     8173    0.983957
user_id     8195.000000
item_id    48491.000000
time           0.984012
Name: 391614, dtype: float64
     user_id  query_time
425     8195      0.9839
user_id     8217.000000
item_id    47961.000000
time           0.983981
Name: 259802, dtype: float64
     user_id  query_time
426     8217    0.983902
user_id     8239.000000
item_id    34716.000000
time           0.983999
Name: 464192, dtype: float64
     user_id  query_time
427     8239     0.98395
user_id     8294.000000
item_id    38036.000000
time           0.983962
Name: 295960, dtype: float64
     user_id  query_time
428     8294    0.983925
user_id     8349.000000
item_id    40776.000000
time           0.983999
Name: 303435, dtype: float64
     user_id  query_time
432     8349    0.983901
user_id     8371.000000
item_id    64315.000000
time           0.984004
Name: 297565, dtype: float64
     user_id  query_time
434     8371    0.983946
user_id     8382.000000
item_id    36327.000000
time           0.983997
Name: 420186, dtype: float64
     user_id  query_time
435     8382    0.983936
user_id     8415.000000
item_id    98725.000000
time           0.984007
Name: 358124, dtype: float64
     user_id  query_time
437     8415    0.983955
user_id     8470.000
item_id    99152.000
time           0.984
Name: 416766, dtype: float64
     user_id  query_time
439     8470    0.983948
user_id     8503.000000
item_id    26754.000000
time           0.984009
Name: 309779, dtype: float64
     user_id  query_time
440     8503    0.983954
user_id    8514.000000
item_id    2071.000000
time          0.983982
Name: 388510, dtype: float64
     user_id  query_time
441     8514    0.983943
user_id    8547.000000
item_id    6866.000000
time          0.984007
Name: 337688, dtype: float64
     user_id  query_time
442     8547    0.983956
user_id     8624.000000
item_id    68350.000000
time           0.983995
Name: 480995, dtype: float64
     user_id  query_time
444     8624     0.98394
user_id     8646.000000
item_id    91875.000000
time           0.984011
Name: 313745, dtype: float64
     user_id  query_time
445     8646    0.983957
user_id     8657.00000
item_id    12757.00000
time           0.98398
Name: 374764, dtype: float64
     user_id  query_time
446     8657    0.983952
user_id    8734.000000
item_id     925.000000
time          0.984007
Name: 271357, dtype: float64
     user_id  query_time
449     8734    0.983925
user_id    8745.000000
item_id    2546.000000
time          0.984002
Name: 337329, dtype: float64
     user_id  query_time
450     8745    0.983941
user_id     8756.00000
item_id    77304.00000
time           0.98401
Name: 268925, dtype: float64
     user_id  query_time
451     8756    0.983949
user_id     8888.000000
item_id    51126.000000
time           0.983985
Name: 267402, dtype: float64
     user_id  query_time
454     8888    0.983952
user_id     8932.000000
item_id    15452.000000
time           0.983985
Name: 418879, dtype: float64
     user_id  query_time
457     8932    0.983907
user_id     8965.000000
item_id    29405.000000
time           0.984012
Name: 383152, dtype: float64
     user_id  query_time
459     8965    0.983957
user_id     8976.000000
item_id    74509.000000
time           0.983981
Name: 459354, dtype: float64
     user_id  query_time
460     8976    0.983954
user_id      8987.000000
item_id    115052.000000
time            0.984012
Name: 256368, dtype: float64
     user_id  query_time
461     8987    0.983958
user_id     9064.000000
item_id    60063.000000
time           0.983963
Name: 465640, dtype: float64
     user_id  query_time
462     9064    0.983923
user_id     9097.000000
item_id    37152.000000
time           0.984008
Name: 281353, dtype: float64
     user_id  query_time
464     9097    0.983954
user_id      9119.00000
item_id    116659.00000
time            0.98401
Name: 366455, dtype: float64
     user_id  query_time
466     9119      0.9839
user_id     9163.000000
item_id    28194.000000
time           0.984008
Name: 434348, dtype: float64
     user_id  query_time
467     9163    0.983953
user_id     9185.000000
item_id    25108.000000
time           0.983992
Name: 338876, dtype: float64
     user_id  query_time
468     9185    0.983956
user_id     9218.000000
item_id    14731.000000
time           0.984011
Name: 287270, dtype: float64
     user_id  query_time
470     9218    0.983956
user_id    9262.000000
item_id    5944.000000
time          0.983986
Name: 432818, dtype: float64
     user_id  query_time
473     9262    0.983955
user_id     9317.000000
item_id    55157.000000
time           0.984012
Name: 414123, dtype: float64
     user_id  query_time
474     9317    0.983941
user_id     9383.000
item_id    75139.000
time           0.984
Name: 429814, dtype: float64
     user_id  query_time
478     9383    0.983904
user_id     9394.000000
item_id    45875.000000
time           0.984012
Name: 464870, dtype: float64
     user_id  query_time
479     9394    0.983954
user_id    9427.000000
item_id    2181.000000
time          0.984005
Name: 395940, dtype: float64
     user_id  query_time
480     9427    0.983876
user_id    9438.000000
item_id    2658.000000
time          0.983977
Name: 439917, dtype: float64
     user_id  query_time
481     9438    0.983951
user_id     9504.000000
item_id    96017.000000
time           0.983975
Name: 416582, dtype: float64
     user_id  query_time
483     9504    0.983941
user_id     9515.000000
item_id    68793.000000
time           0.983961
Name: 436819, dtype: float64
     user_id  query_time
484     9515    0.983949

user_id     9526.000000
item_id    47555.000000
time           0.984008
Name: 384251, dtype: float64
     user_id  query_time
485     9526    0.983943
user_id     9537.000000
item_id    97017.000000
time           0.983992
Name: 277576, dtype: float64
     user_id  query_time
486     9537    0.983939
user_id     9570.000000
item_id    56454.000000
time           0.983984
Name: 362840, dtype: float64
     user_id  query_time
488     9570    0.983893
user_id    9691.000000
item_id    6866.000000
time          0.984001
Name: 447715, dtype: float64
     user_id  query_time
493     9691    0.983953
user_id     9702.000000
item_id    90291.000000
time           0.984004
Name: 320998, dtype: float64
     user_id  query_time
494     9702    0.983957
user_id     9735.000000
item_id    17563.000000
time           0.984006
Name: 345738, dtype: float64
     user_id  query_time
495     9735    0.983946
user_id     9757.000000
item_id    58092.000000
time           0.983926
Name: 252997, dtype: float64
     user_id  query_time
496     9757    0.983926
user_id      9867.000000
item_id    112625.000000
time            0.983968
Name: 314996, dtype: float64
     user_id  query_time
502     9867    0.983918
user_id     9878.000000
item_id    75576.000000
time           0.984008
Name: 254044, dtype: float64
     user_id  query_time
503     9878    0.983846
user_id     9889.000000
item_id    98831.000000
time           0.983991
Name: 350767, dtype: float64
     user_id  query_time
504     9889    0.983932
user_id     9955.000000
item_id    95445.000000
time           0.983989
Name: 306730, dtype: float64
     user_id  query_time
506     9955    0.983834
user_id     9966.000000
item_id    54418.000000
time           0.984007
Name: 245308, dtype: float64
     user_id  query_time
507     9966    0.983956
user_id     10054.00000
item_id    102748.00000
time            0.98398
Name: 402133, dtype: float64
     user_id  query_time
511    10054    0.983934
user_id    10109.000000
item_id    15745.000000
time           0.983998
Name: 331078, dtype: float64
     user_id  query_time
514    10109    0.983902
user_id    10131.000000
item_id    46254.000000
time           0.984009
Name: 310993, dtype: float64
     user_id  query_time
515    10131    0.983843
user_id    10142.000000
item_id    85124.000000
time           0.984011
Name: 401094, dtype: float64
     user_id  query_time
516    10142    0.983942
user_id    10153.000000
item_id      904.000000
time           0.983986
Name: 417871, dtype: float64
     user_id  query_time
517    10153    0.983947
user_id    10175.000000
item_id    71665.000000
time           0.983988
Name: 246306, dtype: float64
     user_id  query_time
518    10175    0.983888
user_id    10241.000000
item_id    50163.000000
time           0.984012
Name: 479903, dtype: float64
     user_id  query_time
522    10241    0.983957
user_id     10274.000000
item_id    107211.000000
time            0.984011
Name: 475888, dtype: float64
     user_id  query_time
524    10274    0.983946
user_id    10307.000000
item_id    39564.000000
time           0.984007
Name: 266670, dtype: float64
     user_id  query_time
526    10307    0.983947
user_id    10329.000000
item_id    39281.000000
time           0.983989
Name: 398348, dtype: float64
     user_id  query_time
527    10329    0.983949
user_id    10351.000000
item_id    15311.000000
time           0.983998
Name: 279957, dtype: float64
     user_id  query_time
528    10351    0.983957
user_id    10406.000000
item_id    21467.000000
time           0.983979
Name: 346012, dtype: float64
     user_id  query_time
532    10406    0.983875
user_id    10450.000000
item_id    11494.000000
time           0.984008
Name: 477358, dtype: float64
     user_id  query_time
534    10450    0.983887
user_id    10494.000000
item_id    45140.000000
time           0.984008
Name: 398727, dtype: float64
     user_id  query_time
536    10494    0.983921
user_id    10516.000000
item_id    90799.000000
time           0.984001
Name: 313673, dtype: float64
     user_id  query_time
537    10516      0.9839
user_id    10626.000000
item_id     1883.000000
time           0.983992
Name: 278915, dtype: float64
     user_id  query_time
540    10626    0.983943
user_id    10692.00000
item_id     2950.00000
time           0.98401
Name: 439934, dtype: float64
     user_id  query_time
543    10692    0.983954
user_id    10703.000000
item_id    63511.000000
time           0.984009
Name: 399807, dtype: float64
     user_id  query_time
544    10703    0.983953
user_id    10714.000000
item_id    10804.000000
time           0.983987
Name: 360010, dtype: float64
     user_id  query_time
545    10714    0.983953
user_id    10725.000000
item_id    69191.000000
time           0.984008
Name: 275859, dtype: float64
     user_id  query_time
546    10725     0.98394
user_id    10769.000000
item_id    79988.000000
time           0.984004
Name: 269104, dtype: float64
     user_id  query_time
548    10769    0.983923
user_id    10802.000000
item_id     5249.000000
time           0.984004
Name: 410862, dtype: float64
     user_id  query_time
550    10802    0.983936
user_id    10813.000000
item_id    86510.000000
time           0.984002
Name: 460056, dtype: float64
     user_id  query_time
551    10813    0.983957
user_id    10824.000000
item_id    29830.000000
time           0.984006
Name: 397765, dtype: float64
     user_id  query_time
552    10824    0.983932
user_id    10857.000000
item_id    29286.000000
time           0.984006
Name: 302734, dtype: float64
     user_id  query_time
554    10857    0.983845
user_id    10868.000000
item_id    25737.000000
time           0.983978
Name: 382897, dtype: float64
     user_id  query_time
555    10868    0.983926
user_id    10879.000000
item_id     5873.000000
time           0.983999
Name: 301080, dtype: float64
     user_id  query_time
556    10879    0.983948
user_id    10912.000000
item_id    89919.000000
time           0.983994
Name: 247411, dtype: float64
     user_id  query_time
557    10912    0.983953
user_id     10923.000000
item_id    113708.000000
time            0.984007
Name: 256301, dtype: float64
     user_id  query_time
558    10923    0.983938
user_id    10956.000000
item_id    93322.000000
time           0.983985
Name: 423600, dtype: float64
     user_id  query_time
561    10956    0.983895
user_id    10978.000000
item_id    24100.000000
time           0.984006
Name: 382784, dtype: float64
     user_id  query_time
562    10978    0.983956
user_id    11022.000000
item_id     7793.000000
time           0.983993
Name: 264604, dtype: float64
     user_id  query_time
565    11022    0.983951
user_id    11033.000000
item_id     5726.000000
time           0.984004
Name: 352301, dtype: float64
     user_id  query_time
566    11033    0.983894
user_id    11044.000000
item_id    58476.000000
time           0.983995
Name: 260461, dtype: float64
     user_id  query_time
567    11044    0.983935
user_id    11066.000000
item_id    35558.000000
time           0.984009
Name: 390777, dtype: float64
     user_id  query_time
568    11066    0.983947
user_id    11099.000000
item_id    82526.000000
time           0.984001
Name: 379005, dtype: float64
     user_id  query_time
569    11099    0.983955
user_id    11165.000000
item_id     4484.000000
time           0.983998
Name: 271614, dtype: float64
     user_id  query_time
572    11165    0.983951
user_id    11187.000000
item_id    95382.000000
time           0.983952
Name: 365179, dtype: float64
     user_id  query_time
574    11187      0.9839
user_id    11209.000000
item_id    34716.000000
time           0.984007
Name: 266361, dtype: float64
     user_id  query_time
576    11209    0.983935
user_id    11220.000000
item_id    79026.000000
time           0.984012
Name: 378805, dtype: float64
     user_id  query_time
577    11220     0.98395
user_id    11242.000000
item_id    78308.000000
time           0.983997
Name: 312897, dtype: float64
     user_id  query_time
578    11242    0.983941
user_id    11253.000000
item_id    88230.000000
time           0.983951
Name: 408615, dtype: float64
     user_id  query_time
579    11253     0.98395
user_id    11264.000000
item_id    49203.000000
time           0.983959
Name: 406252, dtype: float64
     user_id  query_time
580    11264     0.98395
user_id    11275.000000
item_id    63480.000000
time           0.984005
Name: 451404, dtype: float64
     user_id  query_time
581    11275    0.983928
user_id    11330.000000
item_id    21082.000000
time           0.984012
Name: 360700, dtype: float64
     user_id  query_time
583    11330    0.983957
user_id    11352.000000
item_id    66719.000000
time           0.984005
Name: 370846, dtype: float64
     user_id  query_time
585    11352    0.983934
user_id    11407.000000
item_id    43042.000000
time           0.984008
Name: 288993, dtype: float64
     user_id  query_time
587    11407    0.983929
user_id    11440.00000
item_id    71103.00000
time           0.98401
Name: 481185, dtype: float64
     user_id  query_time
589    11440    0.983848
user_id    11495.000000
item_id    73369.000000
time           0.984009
Name: 298104, dtype: float64
     user_id  query_time
593    11495    0.983944
user_id    11506.000000
item_id    14832.000000
time           0.984011
Name: 440843, dtype: float64
     user_id  query_time
594    11506    0.983958
user_id    11517.000000
item_id    45090.000000
time           0.984009
Name: 384104, dtype: float64
     user_id  query_time
595    11517    0.983936
user_id    11528.000000
item_id    96159.000000
time           0.984007
Name: 453417, dtype: float64
     user_id  query_time
596    11528    0.983938

user_id     11550.000000
item_id    114264.000000
time            0.984009
Name: 315100, dtype: float64
     user_id  query_time
597    11550    0.983956
user_id    11583.000000
item_id    43018.000000
time           0.984001
Name: 405847, dtype: float64
     user_id  query_time
598    11583    0.983954
user_id    11627.00000
item_id    95818.00000
time           0.98401
Name: 335946, dtype: float64
     user_id  query_time
600    11627    0.983957
user_id    11660.000000
item_id    90752.000000
time           0.984001
Name: 321036, dtype: float64
     user_id  query_time
601    11660    0.983912
user_id    11693.000000
item_id    40703.000000
time           0.983997
Name: 274065, dtype: float64
     user_id  query_time
602    11693    0.983933
user_id    11704.000000
item_id    87257.000000
time           0.983989
Name: 284408, dtype: float64
     user_id  query_time
603    11704    0.983949
user_id    11715.000000
item_id     1400.000000
time           0.984009
Name: 425149, dtype: float64
     user_id  query_time
604    11715    0.983951
user_id     11759.000000
item_id    109635.000000
time            0.984012
Name: 431911, dtype: float64
     user_id  query_time
605    11759    0.983958
user_id    11803.000000
item_id    33706.000000
time           0.983997
Name: 478839, dtype: float64
     user_id  query_time
608    11803    0.983951
user_id    11847.000000
item_id     7842.000000
time           0.984004
Name: 271870, dtype: float64
     user_id  query_time
611    11847    0.983932
user_id    11902.00000
item_id    24911.00000
time           0.98401
Name: 448946, dtype: float64
     user_id  query_time
613    11902    0.983935
user_id    11935.000000
item_id    17820.000000
time           0.983987
Name: 426312, dtype: float64
     user_id  query_time
616    11935    0.983948
user_id    11946.000000
item_id    75603.000000
time           0.983986
Name: 452120, dtype: float64
     user_id  query_time
617    11946    0.983957
user_id    11968.000000
item_id    44534.000000
time           0.984005
Name: 252119, dtype: float64
     user_id  query_time
619    11968    0.983957
user_id    12012.000000
item_id     9565.000000
time           0.983951
Name: 374554, dtype: float64
     user_id  query_time
621    12012    0.983946
user_id    12045.00000
item_id    41716.00000
time           0.98401
Name: 310712, dtype: float64
     user_id  query_time
622    12045     0.98392
user_id    12056.000000
item_id    42830.000000
time           0.983963
Name: 281698, dtype: float64
     user_id  query_time
623    12056    0.983945
user_id     12111.000000
item_id    105489.000000
time            0.983988
Name: 417171, dtype: float64
     user_id  query_time
625    12111    0.983883
user_id    12199.000000
item_id    64323.000000
time           0.984001
Name: 407144, dtype: float64
     user_id  query_time
628    12199    0.983935
user_id    12210.000000
item_id    44981.000000
time           0.984011
Name: 318237, dtype: float64
     user_id  query_time
629    12210    0.983887
user_id    12276.000000
item_id     1127.000000
time           0.983993
Name: 432423, dtype: float64
     user_id  query_time
634    12276    0.983925
user_id    12342.000000
item_id    70053.000000
time           0.983987
Name: 297910, dtype: float64
     user_id  query_time
637    12342    0.983956
user_id    12375.000000
item_id    32347.000000
time           0.983987
Name: 464058, dtype: float64
     user_id  query_time
639    12375    0.983934
user_id    12397.00000
item_id    10972.00000
time           0.98401
Name: 381892, dtype: float64
     user_id  query_time
640    12397    0.983956
user_id    12419.000000
item_id    19250.000000
time           0.983993
Name: 389700, dtype: float64
     user_id  query_time
641    12419    0.983956
user_id    12430.00000
item_id    13845.00000
time           0.98401
Name: 433361, dtype: float64
     user_id  query_time
642    12430    0.983951
user_id    12441.000000
item_id     2226.000000
time           0.984011
Name: 300798, dtype: float64
     user_id  query_time
643    12441     0.98394
user_id    12474.000000
item_id    36439.000000
time           0.984002
Name: 434835, dtype: float64
     user_id  query_time
645    12474    0.983934
user_id    12485.000000
item_id     7598.000000
time           0.984004
Name: 432956, dtype: float64
     user_id  query_time
646    12485    0.983924
user_id    12518.000000
item_id    63744.000000
time           0.983988
Name: 297529, dtype: float64
     user_id  query_time
648    12518    0.983932
user_id     12529.000000
item_id    115902.000000
time            0.984008
Name: 373831, dtype: float64
     user_id  query_time
649    12529    0.983928
user_id     12540.000000
item_id    113601.000000
time            0.983998
Name: 388195, dtype: float64
     user_id  query_time
650    12540    0.983928
user_id    12551.000000
item_id    38548.000000
time           0.983983
Name: 398298, dtype: float64
     user_id  query_time
651    12551    0.983948
user_id    12573.000000
item_id    65972.000000
time           0.984011
Name: 399966, dtype: float64
     user_id  query_time
652    12573    0.983948
user_id    12650.000000
item_id    40032.000000
time           0.984012
Name: 332621, dtype: float64
     user_id  query_time
654    12650    0.983957
user_id     12705.000000
item_id    117041.000000
time            0.984009
Name: 454631, dtype: float64
     user_id  query_time
655    12705    0.983953
user_id    12760.00000
item_id    49371.00000
time           0.98401
Name: 428247, dtype: float64
     user_id  query_time
656    12760    0.983953
user_id    12771.000000
item_id    99215.000000
time           0.984006
Name: 299615, dtype: float64
     user_id  query_time
657    12771    0.983932
user_id    12782.000000
item_id    35416.000000
time           0.983988
Name: 258958, dtype: float64
     user_id  query_time
658    12782    0.983951
user_id    12804.000000
item_id    28282.000000
time           0.983954
Name: 243697, dtype: float64
     user_id  query_time
660    12804    0.983906
user_id     12826.000000
item_id    108124.000000
time            0.984001
Name: 468581, dtype: float64
     user_id  query_time
661    12826    0.983946
user_id    12848.000000
item_id    31836.000000
time           0.984002
Name: 317389, dtype: float64
     user_id  query_time
663    12848    0.983894
user_id    12958.000
item_id    63041.000
time           0.984
Name: 473201, dtype: float64
     user_id  query_time
667    12958    0.983934
user_id    12980.000000
item_id    60765.000000
time           0.984008
Name: 253142, dtype: float64
     user_id  query_time
669    12980    0.983908
user_id    13013.000000
item_id    70717.000000
time           0.984003
Name: 400234, dtype: float64
     user_id  query_time
671    13013    0.983949
user_id    13024.000000
item_id    70414.000000
time           0.983982
Name: 290606, dtype: float64
     user_id  query_time
672    13024    0.983936
user_id     13101.000000
item_id    105442.000000
time            0.984005
Name: 285506, dtype: float64
     user_id  query_time
673    13101    0.983942
user_id    13156.000000
item_id    57236.000000
time           0.984011
Name: 355584, dtype: float64
     user_id  query_time
675    13156    0.983915
user_id    13178.000000
item_id    60093.000000
time           0.984003
Name: 370484, dtype: float64
     user_id  query_time
676    13178    0.983953
user_id    13211.00000
item_id    38254.00000
time           0.98401
Name: 457216, dtype: float64
     user_id  query_time
677    13211    0.983955
user_id    13277.000000
item_id    21129.000000
time           0.984008
Name: 397225, dtype: float64
     user_id  query_time
680    13277    0.983945
user_id    13310.000000
item_id    82853.000000
time           0.983959
Name: 474419, dtype: float64
     user_id  query_time
681    13310    0.983944
user_id     13354.000000
item_id    112733.000000
time            0.984005
Name: 373641, dtype: float64
     user_id  query_time
683    13354    0.983952
user_id    13376.000000
item_id     5814.000000
time           0.983849
Name: 264449, dtype: float64
     user_id  query_time
685    13376    0.983797
user_id    13398.000000
item_id    26087.000000
time           0.984005
Name: 382930, dtype: float64
     user_id  query_time
686    13398    0.983943
user_id    13409.000000
item_id    54310.000000
time           0.983993
Name: 267616, dtype: float64
     user_id  query_time
687    13409    0.983955
user_id    13420.000000
item_id    14876.000000
time           0.984009
Name: 389422, dtype: float64
     user_id  query_time
688    13420    0.983952
user_id    13431.000000
item_id    45683.000000
time           0.983975
Name: 347596, dtype: float64
     user_id  query_time
689    13431     0.98392
user_id    13442.000
item_id    37265.000
time           0.984
Name: 442273, dtype: float64
     user_id  query_time
690    13442    0.983939
user_id    13464.000000
item_id    18587.000000
time           0.984001
Name: 243059, dtype: float64
     user_id  query_time
692    13464    0.983941
user_id    13486.000000
item_id    21480.000000
time           0.984012
Name: 448735, dtype: float64
     user_id  query_time
694    13486     0.98395
user_id    13497.000000
item_id    16927.000000
time           0.984002
Name: 265225, dtype: float64
     user_id  query_time
695    13497    0.983892
user_id    13519.000000
item_id    94428.000000
time           0.983961
Name: 328590, dtype: float64
     user_id  query_time
697    13519    0.983892
user_id    13530.000000
item_id    74848.000000
time           0.983988
Name: 393197, dtype: float64
     user_id  query_time
698    13530    0.983941
user_id    13563.000000
item_id    41700.000000
time           0.983989
Name: 288914, dtype: float64
     user_id  query_time
700    13563    0.983958
user_id    13574.000000
item_id    90006.000000
time           0.984002
Name: 247418, dtype: float64
     user_id  query_time
701    13574    0.983957

user_id    13662.000000
item_id     9528.000000
time           0.984002
Name: 477242, dtype: float64
     user_id  query_time
705    13662    0.983953
user_id    13794.00000
item_id    71109.00000
time           0.98401
Name: 415071, dtype: float64
     user_id  query_time
712    13794    0.983949
user_id    13816.000000
item_id    33978.000000
time           0.984004
Name: 251433, dtype: float64
     user_id  query_time
714    13816    0.983878
user_id    13838.00000
item_id    57105.00000
time           0.98398
Name: 260384, dtype: float64
     user_id  query_time
715    13838    0.983935
user_id    13871.000000
item_id    85158.000000
time           0.983991
Name: 284260, dtype: float64
     user_id  query_time
717    13871      0.9839
user_id    13904.000000
item_id     3894.000000
time           0.983983
Name: 344702, dtype: float64
     user_id  query_time
719    13904    0.983952
user_id    13948.000000
item_id    80152.000000
time           0.983991
Name: 459660, dtype: float64
     user_id  query_time
720    13948    0.983955
user_id    13970.000000
item_id    35156.000000
time           0.984001
Name: 412849, dtype: float64
     user_id  query_time
721    13970    0.983956
user_id    14025.000000
item_id     3209.000000
time           0.984001
Name: 352093, dtype: float64
     user_id  query_time
722    14025    0.983957
user_id    14047.000
item_id    28993.000
time           0.984
Name: 302718, dtype: float64
     user_id  query_time
724    14047    0.983933
user_id    14069.000000
item_id    40154.000000
time           0.983996
Name: 391078, dtype: float64
     user_id  query_time
726    14069    0.983955
user_id     14102.000000
item_id    112076.000000
time            0.983975
Name: 373579, dtype: float64
     user_id  query_time
727    14102    0.983867
user_id    14113.000000
item_id    75835.000000
time           0.984004
Name: 393260, dtype: float64
     user_id  query_time
728    14113    0.983954
user_id    14124.000000
item_id    77434.000000
time           0.984005
Name: 437366, dtype: float64
     user_id  query_time
729    14124    0.983951
user_id     14135.000000
item_id    110723.000000
time            0.983998
Name: 454246, dtype: float64
     user_id  query_time
730    14135    0.983953
user_id    14234.000000
item_id    81924.000000
time           0.983989
Name: 481838, dtype: float64
     user_id  query_time
736    14234    0.983944
user_id    14289.000000
item_id    20148.000000
time           0.984005
Name: 331386, dtype: float64
     user_id  query_time
737    14289     0.98393
user_id    14322.000000
item_id    76071.000000
time           0.984008
Name: 298260, dtype: float64
     user_id  query_time
739    14322    0.983957
user_id    14366.000000
item_id    52005.000000
time           0.983996
Name: 450683, dtype: float64
     user_id  query_time
741    14366    0.983949
user_id    14377.000000
item_id    14822.000000
time           0.983958
Name: 462983, dtype: float64
     user_id  query_time
742    14377    0.983957
user_id    14399.000000
item_id    25030.000000
time           0.984009
Name: 338867, dtype: float64
     user_id  query_time
743    14399    0.983795
user_id    14432.000000
item_id    72775.000000
time           0.983978
Name: 283499, dtype: float64
     user_id  query_time
744    14432    0.983925
user_id    14465.00000
item_id    48672.00000
time           0.98399
Name: 318486, dtype: float64
     user_id  query_time
745    14465    0.983881
user_id    14509.000000
item_id    42634.000000
time           0.984006
Name: 310765, dtype: float64
     user_id  query_time
748    14509    0.983936
user_id     14520.00000
item_id    111952.00000
time            0.98401
Name: 468862, dtype: float64
     user_id  query_time
749    14520    0.983954
user_id    14531.000000
item_id    30330.000000
time           0.984007
Name: 302798, dtype: float64
     user_id  query_time
750    14531    0.983954
user_id    14564.00000
item_id    52521.00000
time           0.98401
Name: 355264, dtype: float64
     user_id  query_time
751    14564    0.983938
user_id     14630.000000
item_id    108294.000000
time            0.983988
Name: 454086, dtype: float64
     user_id  query_time
755    14630     0.98393
user_id    14674.000000
item_id    61599.000000
time           0.984012
Name: 245673, dtype: float64
     user_id  query_time
757    14674    0.983888
user_id    14740.000000
item_id    43336.000000
time           0.983958
Name: 471973, dtype: float64
     user_id  query_time
759    14740    0.983958
user_id    14806.000000
item_id    35823.000000
time           0.984006
Name: 464273, dtype: float64
     user_id  query_time
763    14806    0.983933
user_id    14839.000000
item_id    90792.000000
time           0.983996
Name: 423446, dtype: float64
     user_id  query_time
765    14839    0.983923
user_id     14883.000000
item_id    114330.000000
time            0.983982
Name: 322492, dtype: float64
     user_id  query_time
767    14883    0.983925
user_id    14916.000000
item_id    91690.000000
time           0.983989
Name: 430801, dtype: float64
     user_id  query_time
769    14916    0.983853
user_id    14960.00000
item_id    15910.00000
time           0.98401
Name: 331088, dtype: float64
     user_id  query_time
772    14960    0.983955
user_id    14993.000000
item_id    86918.000000
time           0.984007
Name: 401211, dtype: float64
     user_id  query_time
774    14993     0.98394
user_id     15059.000000
item_id    100775.000000
time            0.983998
Name: 343390, dtype: float64
     user_id  query_time
777    15059    0.983949
user_id    15103.000000
item_id    16078.000000
time           0.984007
Name: 389505, dtype: float64
     user_id  query_time
779    15103    0.983941
user_id    15114.000000
item_id    70339.000000
time           0.983995
Name: 334379, dtype: float64
     user_id  query_time
780    15114    0.983936
user_id    15125.000000
item_id    32533.000000
time           0.983998
Name: 383291, dtype: float64
     user_id  query_time
781    15125      0.9839
user_id    15136.000000
item_id    55825.000000
time           0.984006
Name: 428667, dtype: float64
     user_id  query_time
782    15136    0.983928
user_id    15147.000000
item_id    38791.000000
time           0.984007
Name: 383687, dtype: float64
     user_id  query_time
783    15147    0.983935
user_id    15191.000000
item_id    94852.000000
time           0.983958
Name: 379783, dtype: float64
     user_id  query_time
785    15191    0.983957
user_id    15202.000000
item_id    56393.000000
time           0.984007
Name: 245426, dtype: float64
     user_id  query_time
786    15202    0.983955
user_id    15257.000000
item_id    99212.000000
time           0.984012
Name: 482854, dtype: float64
     user_id  query_time
788    15257    0.983936
user_id    15268.000000
item_id     7561.000000
time           0.983897
Name: 301203, dtype: float64
     user_id  query_time
789    15268    0.983897
user_id    15290.000000
item_id    57780.000000
time           0.983995
Name: 377557, dtype: float64
     user_id  query_time
790    15290    0.983824
user_id    15323.000000
item_id    69489.000000
time           0.983998
Name: 253678, dtype: float64
     user_id  query_time
791    15323    0.983952
user_id     15389.000000
item_id    111888.000000
time            0.983993
Name: 278486, dtype: float64
     user_id  query_time
793    15389    0.983955
user_id    15422.000000
item_id    36702.000000
time           0.983985
Name: 398182, dtype: float64
     user_id  query_time
794    15422    0.983874
user_id    15433.000000
item_id    48241.000000
time           0.984008
Name: 384288, dtype: float64
     user_id  query_time
795    15433    0.983945
user_id    15488.000000
item_id    90894.000000
time           0.984012
Name: 386836, dtype: float64
     user_id  query_time
796    15488    0.983939
user_id    15521.000000
item_id    16280.000000
time           0.984011
Name: 250256, dtype: float64
     user_id  query_time
799    15521     0.98395
user_id    15576.000000
item_id    11581.000000
time           0.983998
Name: 455493, dtype: float64
     user_id  query_time
800    15576    0.983946
user_id    15587.00000
item_id    22298.00000
time           0.98401
Name: 419324, dtype: float64
     user_id  query_time
801    15587     0.98394
user_id    15620.000000
item_id    77050.000000
time           0.983958
Name: 356729, dtype: float64
     user_id  query_time
802    15620    0.983882
user_id    15697.000000
item_id    13396.000000
time           0.984008
Name: 426022, dtype: float64
     user_id  query_time
803    15697    0.983887
user_id    15708.000000
item_id    49020.000000
time           0.983989
Name: 472335, dtype: float64
     user_id  query_time
804    15708    0.983946
user_id    15719.000000
item_id    56702.000000
time           0.983979
Name: 370295, dtype: float64
     user_id  query_time
805    15719    0.983951
user_id    15730.000000
item_id    34989.000000
time           0.983987
Name: 244136, dtype: float64
     user_id  query_time
806    15730    0.983935
user_id    15796.000000
item_id    10286.000000
time           0.983979
Name: 272063, dtype: float64
     user_id  query_time
808    15796    0.983923

user_id    15851.00000
item_id    29447.00000
time           0.98399
Name: 331969, dtype: float64
     user_id  query_time
809    15851    0.983935
user_id    15862.000000
item_id     3134.000000
time           0.983994
Name: 476722, dtype: float64
     user_id  query_time
810    15862    0.983941
user_id     15895.000000
item_id    104641.000000
time            0.984006
Name: 438986, dtype: float64
     user_id  query_time
811    15895     0.98394
user_id    15906.000000
item_id     4525.000000
time           0.983991
Name: 476844, dtype: float64
     user_id  query_time
812    15906    0.983939
user_id    15928.000000
item_id    92122.000000
time           0.984005
Name: 416364, dtype: float64
     user_id  query_time
813    15928     0.98395
user_id    15950.000000
item_id    65794.000000
time           0.983961
Name: 378028, dtype: float64
     user_id  query_time
815    15950    0.983942
user_id    15972.00000
item_id    33621.00000
time           0.98401
Name: 368832, dtype: float64
     user_id  query_time
816    15972    0.983953
user_id     15994.00000
item_id    114865.00000
time            0.98398
Name: 483842, dtype: float64
     user_id  query_time
817    15994    0.983957
user_id    16049.000000
item_id    89175.000000
time           0.983981
Name: 364797, dtype: float64
     user_id  query_time
819    16049    0.983887
user_id    16093.000000
item_id    48161.000000
time           0.984006
Name: 274551, dtype: float64
     user_id  query_time
820    16093      0.9839
user_id    16104.000000
item_id    75446.000000
time           0.984004
Name: 473949, dtype: float64
     user_id  query_time
821    16104    0.983956
user_id    16115.000000
item_id    52652.000000
time           0.984006
Name: 340599, dtype: float64
     user_id  query_time
822    16115    0.983937
user_id    16170.000000
item_id    70886.000000
time           0.983877
Name: 466304, dtype: float64
     user_id  query_time
823    16170    0.983876
user_id    16247.000000
item_id    65349.000000
time           0.983989
Name: 341298, dtype: float64
     user_id  query_time
824    16247    0.983883
user_id    16280.000000
item_id    96129.000000
time           0.984003
Name: 270047, dtype: float64
     user_id  query_time
826    16280    0.983946
user_id     16302.000000
item_id    114128.000000
time            0.984012
Name: 256335, dtype: float64
     user_id  query_time
827    16302    0.983951
user_id    16313.0000
item_id     1359.0000
time           0.9839
Name: 447268, dtype: float64
     user_id  query_time
828    16313      0.9839
user_id    16335.000000
item_id     8021.000000
time           0.984011
Name: 411075, dtype: float64
     user_id  query_time
830    16335    0.983956
user_id    16357.000000
item_id    34701.000000
time           0.984004
Name: 376170, dtype: float64
     user_id  query_time
831    16357    0.983942
user_id    16401.000000
item_id    36971.000000
time           0.984008
Name: 369033, dtype: float64
     user_id  query_time
833    16401    0.983875
user_id    16500.000000
item_id    69411.000000
time           0.983994
Name: 444293, dtype: float64
     user_id  query_time
838    16500    0.983881
user_id     16522.000000
item_id    101797.000000
time            0.983991
Name: 321652, dtype: float64
     user_id  query_time
839    16522    0.983953
user_id    16544.000000
item_id    86112.000000
time           0.984001
Name: 350048, dtype: float64
     user_id  query_time
840    16544    0.983953
user_id    16599.00000
item_id     1059.00000
time           0.98401
Name: 271370, dtype: float64
     user_id  query_time
841    16599    0.983955
user_id    16643.000000
item_id     6701.000000
time           0.984012
Name: 410984, dtype: float64
     user_id  query_time
843    16643    0.983922
user_id    16665.000000
item_id    29630.000000
time           0.983958
Name: 317255, dtype: float64
     user_id  query_time
845    16665    0.983957
user_id    16709.00000
item_id    52089.00000
time           0.98398
Name: 428426, dtype: float64
     user_id  query_time
847    16709    0.983894
user_id    16819.000000
item_id    40549.000000
time           0.983996
Name: 442497, dtype: float64
     user_id  query_time
852    16819    0.983942
user_id    16830.000000
item_id    78470.000000
time           0.983984
Name: 400675, dtype: float64
     user_id  query_time
853    16830    0.983943
user_id    16896.000000
item_id    56811.000000
time           0.984012
Name: 472814, dtype: float64
     user_id  query_time
854    16896    0.983956
user_id    16907.000000
item_id    27337.000000
time           0.984009
Name: 302602, dtype: float64
     user_id  query_time
855    16907    0.983956
user_id    17017.000000
item_id    41727.000000
time           0.983981
Name: 413251, dtype: float64
     user_id  query_time
860    17017    0.983951
user_id     17028.000000
item_id    107888.000000
time            0.983982
Name: 395239, dtype: float64
     user_id  query_time
861    17028    0.983953
user_id    17105.000000
item_id     6921.000000
time           0.984012
Name: 271806, dtype: float64
     user_id  query_time
864    17105    0.983949
user_id    17127.000000
item_id    40983.000000
time           0.983983
Name: 303449, dtype: float64
     user_id  query_time
865    17127    0.983955
user_id     17138.000000
item_id    103372.000000
time            0.983993
Name: 409575, dtype: float64
     user_id  query_time
866    17138    0.983938
user_id    17193.00000
item_id     1632.00000
time           0.98401
Name: 432458, dtype: float64
     user_id  query_time
869    17193    0.983952
user_id    17259.000000
item_id    71109.000000
time           0.984005
Name: 371105, dtype: float64
     user_id  query_time
871    17259    0.983957
user_id    17336.00000
item_id    52972.00000
time           0.98401
Name: 472623, dtype: float64
     user_id  query_time
872    17336    0.983887
user_id    17369.000000
item_id     7118.000000
time           0.984009
Name: 432921, dtype: float64
     user_id  query_time
873    17369    0.983955
user_id    17424.000
item_id    62868.000
time           0.984
Name: 385151, dtype: float64
     user_id  query_time
874    17424    0.983932
user_id    17534.000000
item_id    17442.000000
time           0.983993
Name: 309198, dtype: float64
     user_id  query_time
878    17534    0.983955
user_id    17545.000000
item_id    75601.000000
time           0.984004
Name: 481432, dtype: float64
     user_id  query_time
879    17545    0.983948
user_id     17567.000000
item_id    100666.000000
time            0.983989
Name: 277775, dtype: float64
     user_id  query_time
881    17567    0.983874
user_id    17600.000000
item_id    25885.000000
time           0.983959
Name: 470921, dtype: float64
     user_id  query_time
882    17600    0.983867
user_id    17611.000000
item_id    11846.000000
time           0.983996
Name: 440605, dtype: float64
     user_id  query_time
883    17611    0.983907
user_id     17622.000000
item_id    102888.000000
time            0.983992
Name: 270430, dtype: float64
     user_id  query_time
884    17622    0.983886
user_id    17644.000000
item_id    44015.000000
time           0.984007
Name: 310865, dtype: float64
     user_id  query_time
885    17644    0.983901
user_id    17655.000000
item_id    51807.000000
time           0.984009
Name: 458086, dtype: float64
     user_id  query_time
886    17655    0.983942
user_id    17666.00000
item_id    39385.00000
time           0.98398
Name: 361781, dtype: float64
     user_id  query_time
887    17666    0.983825
user_id    17677.000000
item_id    71275.000000
time           0.984008
Name: 253802, dtype: float64
     user_id  query_time
888    17677    0.983951
user_id    17710.000000
item_id    33960.000000
time           0.983987
Name: 273701, dtype: float64
     user_id  query_time
890    17710    0.983945
user_id    17721.000000
item_id    73030.000000
time           0.984005
Name: 451984, dtype: float64
     user_id  query_time
891    17721    0.983931
user_id    17787.000000
item_id    21956.000000
time           0.983988
Name: 478133, dtype: float64
     user_id  query_time
893    17787    0.983818
user_id    17809.000000
item_id    81769.000000
time           0.983996
Name: 422877, dtype: float64
     user_id  query_time
895    17809    0.983955
user_id    17820.000000
item_id    29437.000000
time           0.983991
Name: 412523, dtype: float64
     user_id  query_time
896    17820    0.983938
user_id    17831.000000
item_id    11372.000000
time           0.983986
Name: 338026, dtype: float64
     user_id  query_time
897    17831    0.983955
user_id    17842.000000
item_id    19027.000000
time           0.984003
Name: 389683, dtype: float64
     user_id  query_time
898    17842    0.983886
user_id    17864.000000
item_id    58988.000000
time           0.983981
Name: 480423, dtype: float64
     user_id  query_time
899    17864    0.983928
user_id    17886.00000
item_id     8267.00000
time           0.98398
Name: 323265, dtype: float64
     user_id  query_time
900    17886    0.983848
user_id     17919.000000
item_id    102661.000000
time            0.983992
Name: 424175, dtype: float64
     user_id  query_time
901    17919    0.983952
user_id    17930.000000
item_id    83989.000000
time           0.984007
Name: 276784, dtype: float64
     user_id  query_time
902    17930    0.983949
user_id    18007.000000
item_id    53982.000000
time           0.983957
Name: 421214, dtype: float64
     user_id  query_time
905    18007    0.983957
user_id     18029.000000
item_id    109838.000000
time            0.983877
Name: 248657, dtype: float64
     user_id  query_time
907    18029    0.983837
user_id    18062.000000
item_id     8812.000000
time           0.983989
Name: 279508, dtype: float64
     user_id  query_time
909    18062    0.983833

user_id    18095.000000
item_id    31995.000000
time           0.983995
Name: 332108, dtype: float64
     user_id  query_time
910    18095      0.9839
user_id    18117.000000
item_id     7257.000000
time           0.984009
Name: 411020, dtype: float64
     user_id  query_time
912    18117    0.983947
user_id    18216.000000
item_id    52777.000000
time           0.984001
Name: 421158, dtype: float64
     user_id  query_time
916    18216    0.983939
user_id    18271.000000
item_id    65742.000000
time           0.983977
Name: 319514, dtype: float64
     user_id  query_time
919    18271    0.983906
user_id    18282.000000
item_id    19075.000000
time           0.983975
Name: 272712, dtype: float64
     user_id  query_time
920    18282    0.983931
user_id    18337.000000
item_id     5193.000000
time           0.984008
Name: 337552, dtype: float64
     user_id  query_time
921    18337    0.983926
user_id    18403.000000
item_id     2215.000000
time           0.983978
Name: 425208, dtype: float64
     user_id  query_time
924    18403    0.983953
user_id    18414.000000
item_id    93942.000000
time           0.983959
Name: 284809, dtype: float64
     user_id  query_time
925    18414    0.983947
user_id    18436.000000
item_id     4297.000000
time           0.983996
Name: 300970, dtype: float64
     user_id  query_time
926    18436    0.983957
user_id    18480.00000
item_id    71530.00000
time           0.98398
Name: 415107, dtype: float64
     user_id  query_time
927    18480    0.983951
user_id    18524.000000
item_id     6366.000000
time           0.984008
Name: 271751, dtype: float64
     user_id  query_time
929    18524    0.983892
user_id    18612.000000
item_id    29309.000000
time           0.983958
Name: 317242, dtype: float64
     user_id  query_time
933    18612    0.983902
user_id    18623.000000
item_id    80217.000000
time           0.983994
Name: 254318, dtype: float64
     user_id  query_time
934    18623    0.983897
user_id    18634.000000
item_id    41150.000000
time           0.983997
Name: 391137, dtype: float64
     user_id  query_time
935    18634    0.983953
user_id    18711.000000
item_id    42371.000000
time           0.984002
Name: 244560, dtype: float64
     user_id  query_time
938    18711    0.983935
user_id    18722.000000
item_id    14026.000000
time           0.984007
Name: 301645, dtype: float64
     user_id  query_time
939    18722    0.983955
user_id    18777.000000
item_id    59320.000000
time           0.984002
Name: 260494, dtype: float64
     user_id  query_time
941    18777    0.983958
user_id    18788.000000
item_id    26279.000000
time           0.983996
Name: 273235, dtype: float64
     user_id  query_time
942    18788    0.983951
user_id    18799.000000
item_id    77552.000000
time           0.983959
Name: 291064, dtype: float64
     user_id  query_time
943    18799    0.983953
user_id    18898.000
item_id     2400.000
time           0.984
Name: 286347, dtype: float64
     user_id  query_time
948    18898    0.983943
user_id     18920.000000
item_id    106892.000000
time            0.984012
Name: 248432, dtype: float64
     user_id  query_time
949    18920     0.98395
user_id    18942.000000
item_id    25525.000000
time           0.984006
Name: 295235, dtype: float64
     user_id  query_time
950    18942    0.983939
user_id    18953.000000
item_id    74290.000000
time           0.984009
Name: 268785, dtype: float64
     user_id  query_time
951    18953      0.9839
user_id    19008.000000
item_id     7048.000000
time           0.983999
Name: 344953, dtype: float64
     user_id  query_time
953    19008    0.983943
user_id    19030.000000
item_id    85218.000000
time           0.984006
Name: 254606, dtype: float64
     user_id  query_time
954    19030    0.983933
user_id    19085.00000
item_id    31249.00000
time           0.98401
Name: 266152, dtype: float64
     user_id  query_time
957    19085    0.983798
user_id    19151.000
item_id    90211.000
time           0.984
Name: 284576, dtype: float64
     user_id  query_time
958    19151    0.983955
user_id     19217.000000
item_id    100814.000000
time            0.983997
Name: 475485, dtype: float64
     user_id  query_time
960    19217    0.983825
user_id    19239.000000
item_id    13302.000000
time           0.984008
Name: 382056, dtype: float64
     user_id  query_time
961    19239    0.983955
user_id    19250.000000
item_id     9569.000000
time           0.983977
Name: 249771, dtype: float64
     user_id  query_time
962    19250    0.983929
user_id    19261.000000
item_id     2472.000000
time           0.983982
Name: 330101, dtype: float64
     user_id  query_time
963    19261    0.983933
user_id    19283.000000
item_id    31317.000000
time           0.983995
Name: 441898, dtype: float64
     user_id  query_time
964    19283    0.983945
user_id    19316.000000
item_id      152.000000
time           0.983986
Name: 417815, dtype: float64
     user_id  query_time
966    19316    0.983944
user_id    19360.000000
item_id    11494.000000
time           0.983957
Name: 367319, dtype: float64
     user_id  query_time
967    19360    0.983957
user_id    19382.000000
item_id    80227.000000
time           0.983925
Name: 246800, dtype: float64
     user_id  query_time
968    19382    0.983924
user_id    19393.000000
item_id    35075.000000
time           0.983995
Name: 376196, dtype: float64
     user_id  query_time
969    19393      0.9839
user_id     19404.000000
item_id    116814.000000
time            0.984006
Name: 351853, dtype: float64
     user_id  query_time
970    19404    0.983955
user_id    19415.000000
item_id    16203.000000
time           0.984009
Name: 418909, dtype: float64
     user_id  query_time
971    19415    0.983939
user_id    19470.000000
item_id    24839.000000
time           0.983999
Name: 382824, dtype: float64
     user_id  query_time
972    19470     0.98395
user_id    19503.000000
item_id    33766.000000
time           0.984006
Name: 346834, dtype: float64
     user_id  query_time
974    19503    0.983951
user_id     19536.000000
item_id    108850.000000
time            0.983874
Name: 468640, dtype: float64
     user_id  query_time
977    19536    0.983802
user_id    19569.000000
item_id    60824.000000
time           0.984003
Name: 436366, dtype: float64
     user_id  query_time
979    19569    0.983887
user_id    19602.00000
item_id    80203.00000
time           0.98398
Name: 276578, dtype: float64
     user_id  query_time
981    19602    0.983958
user_id    19635.000000
item_id    67445.000000
time           0.983945
Name: 268409, dtype: float64
     user_id  query_time
984    19635    0.983945
user_id    19646.000000
item_id    15053.000000
time           0.984012
Name: 265108, dtype: float64
     user_id  query_time
985    19646    0.983949
user_id    19657.000000
item_id    69094.000000
time           0.984004
Name: 370989, dtype: float64
     user_id  query_time
986    19657    0.983952
user_id    19734.000000
item_id    76337.000000
time           0.983999
Name: 364049, dtype: float64
     user_id  query_time
989    19734    0.983946
user_id     19789.000000
item_id    101445.000000
time            0.983989
Name: 460931, dtype: float64
     user_id  query_time
992    19789    0.983952
user_id    19800.000000
item_id    66401.000000
time           0.983963
Name: 385343, dtype: float64
     user_id  query_time
993    19800    0.983953
user_id    19855.000000
item_id    85021.000000
time           0.984012
Name: 349984, dtype: float64
     user_id  query_time
996    19855    0.983954
user_id    19877.00000
item_id    98795.00000
time           0.98399
Name: 343285, dtype: float64
     user_id  query_time
997    19877    0.983951
user_id     19943.000000
item_id    105808.000000
time            0.983986
Name: 351193, dtype: float64
     user_id  query_time
999    19943    0.983936
user_id    19976.000000
item_id    51893.000000
time           0.983926
Name: 333324, dtype: float64
      user_id  query_time
1000    19976    0.983926
user_id    19987.000
item_id    97030.000
time           0.984
Name: 446041, dtype: float64
      user_id  query_time
1001    19987    0.983958
user_id    20009.000000
item_id    79162.000000
time           0.983999
Name: 400735, dtype: float64
      user_id  query_time
1003    20009    0.983934
user_id    20020.000
item_id    60497.000
time           0.984
Name: 451203, dtype: float64
      user_id  query_time
1004    20020    0.983958
user_id    20042.000000
item_id    34716.000000
time           0.984008
Name: 266365, dtype: float64
      user_id  query_time
1006    20042     0.98394
user_id    20119.000000
item_id    43245.000000
time           0.983982
Name: 413350, dtype: float64
      user_id  query_time
1009    20119     0.98394
user_id    20152.000000
item_id    61299.000000
time           0.984012
Name: 326650, dtype: float64
      user_id  query_time
1010    20152    0.983945
user_id    20229.000000
item_id     7546.000000
time           0.984007
Name: 381631, dtype: float64
      user_id  query_time
1012    20229    0.983937
user_id    20240.000000
item_id    95191.000000
time           0.983991
Name: 313919, dtype: float64
      user_id  query_time
1013    20240    0.983957
user_id    20284.000000
item_id    91486.000000
time           0.983992
Name: 254927, dtype: float64
      user_id  query_time
1014    20284    0.983955
user_id    20306.000000
item_id    14180.000000
time           0.983993
Name: 433391, dtype: float64
      user_id  query_time
1015    20306    0.983928
user_id    20317.000000
item_id    33195.000000
time           0.984009
Name: 427267, dtype: float64
      user_id  query_time
1016    20317    0.983953
user_id    20350.000000
item_id    10997.000000
time           0.983996
Name: 448034, dtype: float64
      user_id  query_time
1017    20350    0.983941

user_id    20405.000000
item_id    22274.000000
time           0.983977
Name: 287725, dtype: float64
      user_id  query_time
1018    20405     0.98384
user_id    20427.000000
item_id    70088.000000
time           0.984006
Name: 334363, dtype: float64
      user_id  query_time
1019    20427    0.983899
user_id    20460.000000
item_id    95393.000000
time           0.983988
Name: 255198, dtype: float64
      user_id  query_time
1021    20460     0.98388
user_id    20482.000000
item_id    24794.000000
time           0.984008
Name: 456417, dtype: float64
      user_id  query_time
1022    20482    0.983953
user_id    20493.00000
item_id     5984.00000
time           0.98401
Name: 469592, dtype: float64
      user_id  query_time
1023    20493    0.983907
user_id     20526.000000
item_id    107338.000000
time            0.983977
Name: 255923, dtype: float64
      user_id  query_time
1024    20526    0.983952
user_id    20570.000000
item_id    98934.000000
time           0.984012
Name: 328840, dtype: float64
      user_id  query_time
1027    20570    0.983904
user_id    20680.00000
item_id    78168.00000
time           0.98401
Name: 466765, dtype: float64
      user_id  query_time
1033    20680    0.983955
user_id    20702.000000
item_id     3215.000000
time           0.983939
Name: 366775, dtype: float64
      user_id  query_time
1034    20702    0.983939
user_id    20768.000000
item_id    30736.000000
time           0.983995
Name: 317319, dtype: float64
      user_id  query_time
1039    20768    0.983956
user_id    20801.000000
item_id    88727.000000
time           0.983985
Name: 394092, dtype: float64
      user_id  query_time
1040    20801    0.983957
user_id    20834.000000
item_id    61129.000000
time           0.984008
Name: 355809, dtype: float64
      user_id  query_time
1043    20834    0.983943
user_id    20845.000000
item_id    76138.000000
time           0.984009
Name: 276322, dtype: float64
      user_id  query_time
1044    20845    0.983934
user_id    20900.000000
item_id    91389.000000
time           0.984008
Name: 445715, dtype: float64
      user_id  query_time
1046    20900    0.983954
user_id    20933.000000
item_id    40571.000000
time           0.983996
Name: 303418, dtype: float64
      user_id  query_time
1048    20933    0.983952
user_id    20966.000000
item_id    30809.000000
time           0.984003
Name: 441872, dtype: float64
      user_id  query_time
1049    20966    0.983941
user_id    21010.000000
item_id    53029.000000
time           0.983986
Name: 340632, dtype: float64
      user_id  query_time
1051    21010     0.98394
user_id    21087.000000
item_id    55146.000000
time           0.984002
Name: 399340, dtype: float64
      user_id  query_time
1052    21087    0.983955
user_id    21109.000000
item_id     8812.000000
time           0.984001
Name: 411139, dtype: float64
      user_id  query_time
1054    21109    0.983919
user_id    21131.000000
item_id    12832.000000
time           0.984005
Name: 382028, dtype: float64
      user_id  query_time
1055    21131    0.983949
user_id    21219.000000
item_id    87260.000000
time           0.984011
Name: 393970, dtype: float64
      user_id  query_time
1059    21219    0.983903
user_id    21285.000000
item_id    33581.000000
time           0.984003
Name: 295708, dtype: float64
      user_id  query_time
1062    21285    0.983954
user_id    21296.000000
item_id     3819.000000
time           0.983993
Name: 315479, dtype: float64
      user_id  query_time
1063    21296    0.983847
user_id    21307.000000
item_id    33826.000000
time           0.984005
Name: 427310, dtype: float64
      user_id  query_time
1064    21307    0.983956
user_id    21362.000000
item_id    82986.000000
time           0.984011
Name: 276733, dtype: float64
      user_id  query_time
1066    21362    0.983795
user_id    21384.000000
item_id     6296.000000
time           0.983978
Name: 418222, dtype: float64
      user_id  query_time
1067    21384    0.983937
user_id    21439.000000
item_id    99681.000000
time           0.984006
Name: 285142, dtype: float64
      user_id  query_time
1069    21439    0.983953
user_id    21461.000000
item_id    74731.000000
time           0.983987
Name: 290884, dtype: float64
      user_id  query_time
1070    21461    0.983885
user_id    21494.000000
item_id     7462.000000
time           0.983991
Name: 367102, dtype: float64
      user_id  query_time
1072    21494    0.983925
user_id    21593.000000
item_id    27099.000000
time           0.983993
Name: 470990, dtype: float64
      user_id  query_time
1077    21593    0.983838
user_id    21604.000000
item_id     6368.000000
time           0.984002
Name: 279297, dtype: float64
      user_id  query_time
1078    21604    0.983958
user_id     21615.000000
item_id    116527.000000
time            0.983954
Name: 483902, dtype: float64
      user_id  query_time
1079    21615    0.983932
user_id     21626.000000
item_id    106441.000000
time            0.983962
Name: 402337, dtype: float64
      user_id  query_time
1080    21626    0.983939
user_id     21648.000000
item_id    117127.000000
time            0.983982
Name: 286167, dtype: float64
      user_id  query_time
1082    21648    0.983937
user_id    21659.000000
item_id    14544.000000
time           0.984011
Name: 455713, dtype: float64
      user_id  query_time
1083    21659    0.983957
user_id    21725.00000
item_id    24024.00000
time           0.98401
Name: 382782, dtype: float64
      user_id  query_time
1085    21725    0.983903
user_id     21780.00000
item_id    114058.00000
time            0.98399
Name: 432181, dtype: float64
      user_id  query_time
1087    21780    0.983928
user_id    21791.000000
item_id    62148.000000
time           0.983992
Name: 275450, dtype: float64
      user_id  query_time
1088    21791    0.983957
user_id    21802.000000
item_id    81063.000000
time           0.983957
Name: 481789, dtype: float64
      user_id  query_time
1089    21802    0.983956
user_id    21846.000000
item_id    98346.000000
time           0.983979
Name: 292345, dtype: float64
      user_id  query_time
1090    21846    0.983942
user_id    21857.000000
item_id    77047.000000
time           0.983983
Name: 452228, dtype: float64
      user_id  query_time
1091    21857    0.983953
user_id     21879.000000
item_id    108520.000000
time            0.983997
Name: 322123, dtype: float64
      user_id  query_time
1093    21879    0.983939
user_id    21912.000000
item_id    99556.000000
time           0.983997
Name: 394710, dtype: float64
      user_id  query_time
1094    21912    0.983889
user_id    21978.000000
item_id    25890.000000
time           0.984006
Name: 478378, dtype: float64
      user_id  query_time
1096    21978    0.983955
user_id    22077.000000
item_id    64592.000000
time           0.984011
Name: 429181, dtype: float64
      user_id  query_time
1100    22077    0.983903
user_id    22132.000000
item_id    82583.000000
time           0.983998
Name: 371801, dtype: float64
      user_id  query_time
1103    22132    0.983947
user_id    22198.000000
item_id    21397.000000
time           0.984005
Name: 389885, dtype: float64
      user_id  query_time
1106    22198    0.983954
user_id    22220.00000
item_id    83093.00000
time           0.98401
Name: 422954, dtype: float64
      user_id  query_time
1107    22220    0.983951
user_id    22253.000000
item_id     6465.000000
time           0.983993
Name: 337645, dtype: float64
      user_id  query_time
1109    22253    0.983935
user_id    22264.000000
item_id    70175.000000
time           0.984003
Name: 422199, dtype: float64
      user_id  query_time
1110    22264    0.983954
user_id    22319.000000
item_id    64799.000000
time           0.983987
Name: 297590, dtype: float64
      user_id  query_time
1112    22319    0.983918
user_id    22385.000000
item_id    58821.000000
time           0.983984
Name: 406810, dtype: float64
      user_id  query_time
1117    22385    0.983942
user_id    22462.000000
item_id    47308.000000
time           0.983995
Name: 362317, dtype: float64
      user_id  query_time
1121    22462    0.983937
user_id    22484.000000
item_id    77434.000000
time           0.983956
Name: 261547, dtype: float64
      user_id  query_time
1123    22484    0.983955

user_id     22660.000000
item_id    102105.000000
time            0.984004
Name: 372959, dtype: float64
      user_id  query_time
1129    22660    0.983955
user_id    22671.000000
item_id    32851.000000
time           0.983972
Name: 471344, dtype: float64
      user_id  query_time
1130    22671     0.98388
user_id    22682.000000
item_id    39018.000000
time           0.984003
Name: 479162, dtype: float64
      user_id  query_time
1131    22682    0.983889
user_id     22704.000000
item_id    104583.000000
time            0.983963
Name: 424292, dtype: float64
      user_id  query_time
1133    22704    0.983954
user_id    22759.00000
item_id    90665.00000
time           0.98401
Name: 262343, dtype: float64
      user_id  query_time
1135    22759    0.983954
user_id    22891.000000
item_id    64656.000000
time           0.983977
Name: 334051, dtype: float64
      user_id  query_time
1139    22891     0.98388
user_id    22924.000000
item_id    16414.000000
time           0.984008
Name: 338355, dtype: float64
      user_id  query_time
1140    22924    0.983958
user_id    22957.000000
item_id    61226.000000
time           0.984009
Name: 297381, dtype: float64
      user_id  query_time
1142    22957    0.983958
user_id    23001.000000
item_id    73168.000000
time           0.983984
Name: 407719, dtype: float64
      user_id  query_time
1144    23001    0.983879
user_id    23012.000000
item_id    70249.000000
time           0.983958
Name: 341636, dtype: float64
      user_id  query_time
1145    23012    0.983958
user_id     23045.000
item_id    100651.000
time            0.984
Name: 248077, dtype: float64
      user_id  query_time
1147    23045    0.983925
user_id     23100.000000
item_id    107044.000000
time            0.983968
Name: 329315, dtype: float64
      user_id  query_time
1149    23100    0.983903
user_id     23111.000000
item_id    112131.000000
time            0.984001
Name: 373584, dtype: float64
      user_id  query_time
1150    23111    0.983888
user_id    23155.000000
item_id    61855.000000
time           0.984011
Name: 282871, dtype: float64
      user_id  query_time
1152    23155    0.983937
user_id     23166.000000
item_id    102296.000000
time            0.984003
Name: 321687, dtype: float64
      user_id  query_time
1153    23166    0.983952
user_id    23199.000000
item_id    83151.000000
time           0.984005
Name: 393723, dtype: float64
      user_id  query_time
1154    23199     0.98395
user_id    23210.000000
item_id    75511.000000
time           0.984012
Name: 356641, dtype: float64
      user_id  query_time
1155    23210    0.983958
user_id    23221.000000
item_id    33925.000000
time           0.983996
Name: 281152, dtype: float64
      user_id  query_time
1156    23221     0.98395
user_id    23254.000000
item_id    75101.000000
time           0.984006
Name: 385923, dtype: float64
      user_id  query_time
1158    23254     0.98384
user_id    23331.000000
item_id    95517.000000
time           0.983998
Name: 379819, dtype: float64
      user_id  query_time
1161    23331    0.983898
user_id    23397.000000
item_id    85763.000000
time           0.983978
Name: 284315, dtype: float64
      user_id  query_time
1162    23397    0.983936
user_id    23408.000000
item_id    74544.000000
time           0.984003
Name: 298170, dtype: float64
      user_id  query_time
1163    23408    0.983952
user_id    23441.000000
item_id    63606.000000
time           0.983992
Name: 304835, dtype: float64
      user_id  query_time
1165    23441    0.983956
user_id    23474.00000
item_id    92869.00000
time           0.98401
Name: 460462, dtype: float64
      user_id  query_time
1166    23474    0.983888
user_id    23529.000000
item_id     7376.000000
time           0.984005
Name: 308512, dtype: float64
      user_id  query_time
1167    23529    0.983901
user_id    23551.000000
item_id    67862.000000
time           0.984007
Name: 370915, dtype: float64
      user_id  query_time
1168    23551     0.98395
user_id    23562.00000
item_id    70126.00000
time           0.98398
Name: 429499, dtype: float64
      user_id  query_time
1169    23562    0.983942
user_id    23628.000000
item_id    31855.000000
time           0.983998
Name: 405158, dtype: float64
      user_id  query_time
1173    23628    0.983899
user_id    23661.000000
item_id    74856.000000
time           0.984009
Name: 429799, dtype: float64
      user_id  query_time
1175    23661    0.983924
user_id    23672.000000
item_id    66787.000000
time           0.983981
Name: 370850, dtype: float64
      user_id  query_time
1176    23672    0.983933
user_id    23694.000000
item_id    12968.000000
time           0.984012
Name: 330874, dtype: float64
      user_id  query_time
1177    23694    0.983957
user_id     23749.000000
item_id    100220.000000
time            0.984011
Name: 343357, dtype: float64
      user_id  query_time
1180    23749    0.983904
user_id    23837.000000
item_id    17982.000000
time           0.983986
Name: 367767, dtype: float64
      user_id  query_time
1182    23837    0.983893
user_id    23870.000000
item_id    19270.000000
time           0.983995
Name: 477905, dtype: float64
      user_id  query_time
1183    23870    0.983938
user_id    23881.00000
item_id    44957.00000
time           0.98396
Name: 354809, dtype: float64
      user_id  query_time
1184    23881    0.983886
user_id    23892.000000
item_id     9187.000000
time           0.984001
Name: 425735, dtype: float64
      user_id  query_time
1185    23892    0.983878
user_id    23914.000000
item_id      116.000000
time           0.984005
Name: 315213, dtype: float64
      user_id  query_time
1186    23914     0.98395
user_id    23980.00000
item_id    39708.00000
time           0.98399
Name: 303350, dtype: float64
      user_id  query_time
1188    23980    0.983922
user_id    24002.00000
item_id    37260.00000
time           0.98401
Name: 354341, dtype: float64
      user_id  query_time
1190    24002    0.983957
user_id     24123.000000
item_id    106954.000000
time            0.984004
Name: 475866, dtype: float64
      user_id  query_time
1195    24123    0.983948
user_id     24134.000000
item_id    100058.000000
time            0.984008
Name: 394757, dtype: float64
      user_id  query_time
1196    24134    0.983948
user_id    24156.000
item_id    54304.000
time           0.984
Name: 340704, dtype: float64
      user_id  query_time
1197    24156    0.983943
user_id    24167.000000
item_id    29309.000000
time           0.983998
Name: 427037, dtype: float64
      user_id  query_time
1198    24167    0.983936
user_id    24244.000000
item_id    65766.000000
time           0.983996
Name: 283082, dtype: float64
      user_id  query_time
1200    24244    0.983955
user_id    24321.000000
item_id    79817.000000
time           0.983995
Name: 378842, dtype: float64
      user_id  query_time
1204    24321    0.983947
user_id    24343.000000
item_id    52398.000000
time           0.983998
Name: 435875, dtype: float64
      user_id  query_time
1205    24343    0.983957
user_id    24365.00000
item_id    53336.00000
time           0.98399
Name: 333408, dtype: float64
      user_id  query_time
1207    24365    0.983945
user_id    24398.000000
item_id    29022.000000
time           0.983998
Name: 404992, dtype: float64
      user_id  query_time
1209    24398    0.983951
user_id    24420.000000
item_id    25800.000000
time           0.984009
Name: 404792, dtype: float64
      user_id  query_time
1210    24420     0.98395
user_id    24442.000000
item_id    95389.000000
time           0.984006
Name: 262632, dtype: float64
      user_id  query_time
1211    24442    0.983957
user_id    24530.000000
item_id    51291.000000
time           0.983983
Name: 282251, dtype: float64
      user_id  query_time
1214    24530    0.983833
user_id     24585.000000
item_id    108690.000000
time            0.984008
Name: 270798, dtype: float64
      user_id  query_time
1217    24585    0.983944
user_id    24607.000000
item_id    32997.000000
time           0.983997
Name: 258805, dtype: float64
      user_id  query_time
1218    24607    0.983957
user_id    24629.000000
item_id    87855.000000
time           0.984008
Name: 416091, dtype: float64
      user_id  query_time
1220    24629    0.983944
user_id    24640.000000
item_id     7099.000000
time           0.984011
Name: 271821, dtype: float64
      user_id  query_time
1221    24640    0.983958
user_id    24750.000000
item_id    15744.000000
time           0.984001
Name: 265153, dtype: float64
      user_id  query_time
1224    24750    0.983952
user_id    24816.000000
item_id    99607.000000
time           0.984006
Name: 401967, dtype: float64
      user_id  query_time
1226    24816    0.983951
user_id    24827.00000
item_id    71261.00000
time           0.98399
Name: 290669, dtype: float64
      user_id  query_time
1227    24827    0.983943
user_id    24882.000000
item_id    67242.000000
time           0.984006
Name: 400049, dtype: float64
      user_id  query_time
1229    24882    0.983884
user_id    24893.000000
item_id    79297.000000
time           0.983997
Name: 430082, dtype: float64
      user_id  query_time
1230    24893    0.983876
user_id    24904.000000
item_id    93701.000000
time           0.984003
Name: 365062, dtype: float64
      user_id  query_time
1231    24904    0.983893
user_id    24915.00000
item_id    44081.00000
time           0.98399
Name: 252084, dtype: float64
      user_id  query_time
1232    24915    0.983952
user_id    24937.000000
item_id    48131.000000
time           0.984006
Name: 413668, dtype: float64
      user_id  query_time

1233    24937    0.983951
user_id    24948.000000
item_id    91931.000000
time           0.983969
Name: 284710, dtype: float64
      user_id  query_time
1234    24948    0.983808
user_id    24959.000000
item_id    20036.000000
time           0.983999
Name: 441178, dtype: float64
      user_id  query_time
1235    24959    0.983942
user_id    25003.000000
item_id    19496.000000
time           0.983981
Name: 367882, dtype: float64
      user_id  query_time
1238    25003     0.98395
user_id    25014.000000
item_id    64422.000000
time           0.984004
Name: 465872, dtype: float64
      user_id  query_time
1239    25014    0.983948
user_id    25058.000000
item_id    42836.000000
time           0.983931
Name: 420583, dtype: float64
      user_id  query_time
1241    25058    0.983894
user_id    25102.000000
item_id    82529.000000
time           0.984009
Name: 342350, dtype: float64
      user_id  query_time
1243    25102    0.983954
user_id    25201.000000
item_id    90641.000000
time           0.984001
Name: 254881, dtype: float64
      user_id  query_time
1244    25201    0.983948
user_id    25311.000000
item_id    72746.000000
time           0.983998
Name: 261263, dtype: float64
      user_id  query_time
1249    25311    0.983903
user_id    25322.000000
item_id    61719.000000
time           0.983967
Name: 355849, dtype: float64
      user_id  query_time
1250    25322    0.983952
user_id    25344.000000
item_id    57702.000000
time           0.984012
Name: 377555, dtype: float64
      user_id  query_time
1251    25344    0.983892
user_id    25355.000000
item_id    38813.000000
time           0.983882
Name: 339714, dtype: float64
      user_id  query_time
1252    25355    0.983882
user_id    25432.000000
item_id    11146.000000
time           0.983994
Name: 301452, dtype: float64
      user_id  query_time
1254    25432    0.983955
user_id    25487.000000
item_id    88371.000000
time           0.983999
Name: 328212, dtype: float64
      user_id  query_time
1255    25487     0.98393
user_id     25531.000000
item_id    111253.000000
time            0.984009
Name: 395473, dtype: float64
      user_id  query_time
1256    25531    0.983952
user_id    25542.000000
item_id    14562.000000
time           0.983998
Name: 462956, dtype: float64
      user_id  query_time
1257    25542    0.983932
user_id    25575.000000
item_id    94401.000000
time           0.984004
Name: 423666, dtype: float64
      user_id  query_time
1258    25575    0.983934
user_id    25652.000000
item_id    30937.000000
time           0.983988
Name: 266127, dtype: float64
      user_id  query_time
1261    25652    0.983944
user_id    25663.000000
item_id     2420.000000
time           0.983997
Name: 366687, dtype: float64
      user_id  query_time
1262    25663    0.983957
user_id    25674.00000
item_id    79023.00000
time           0.98401
Name: 452370, dtype: float64
      user_id  query_time
1263    25674    0.983955
user_id    25839.000000
item_id    90792.000000
time           0.983977
Name: 467540, dtype: float64
      user_id  query_time
1269    25839    0.983952
user_id    25850.000000
item_id    53139.000000
time           0.983995
Name: 289616, dtype: float64
      user_id  query_time
1270    25850    0.983942
user_id    25872.000000
item_id    29994.000000
time           0.984011
Name: 412560, dtype: float64
      user_id  query_time
1272    25872    0.983945
user_id     25960.000000
item_id    112788.000000
time            0.984002
Name: 461635, dtype: float64
      user_id  query_time
1275    25960    0.983941
user_id    25982.000000
item_id    10609.000000
time           0.983995
Name: 403807, dtype: float64
      user_id  query_time
1276    25982    0.983882
user_id    25993.000000
item_id    78598.000000
time           0.984007
Name: 452347, dtype: float64
      user_id  query_time
1277    25993    0.983873
user_id    26048.000000
item_id    73004.000000
time           0.983973
Name: 451981, dtype: float64
      user_id  query_time
1278    26048    0.983884
user_id    26158.000000
item_id    64786.000000
time           0.983992
Name: 429192, dtype: float64
      user_id  query_time
1279    26158    0.983937
user_id    26202.000000
item_id    76662.000000
time           0.983985
Name: 261493, dtype: float64
      user_id  query_time
1280    26202    0.983945
user_id    26213.000000
item_id    63757.000000
time           0.983989
Name: 319396, dtype: float64
      user_id  query_time
1281    26213     0.98389
user_id    26224.000000
item_id     3049.000000
time           0.983996
Name: 249273, dtype: float64
      user_id  query_time
1282    26224    0.983821
user_id    26235.000000
item_id    14777.000000
time           0.984005
Name: 294504, dtype: float64
      user_id  query_time
1283    26235    0.983946
user_id    26279.000
item_id    10844.000
time           0.984
Name: 462682, dtype: float64
      user_id  query_time
1284    26279    0.983945
user_id    26312.000000
item_id    63437.000000
time           0.983958
Name: 326782, dtype: float64
      user_id  query_time
1285    26312    0.983954
user_id    26356.000
item_id     8180.000
time           0.984
Name: 359823, dtype: float64
      user_id  query_time
1287    26356    0.983944
user_id    26400.000000
item_id      731.000000
time           0.983989
Name: 366534, dtype: float64
      user_id  query_time
1288    26400    0.983952
user_id    26411.000000
item_id    26039.000000
time           0.984009
Name: 478389, dtype: float64
      user_id  query_time
1289    26411    0.983957
user_id     26510.000000
item_id    108299.000000
time            0.983948
Name: 336673, dtype: float64
      user_id  query_time
1291    26510    0.983927
user_id    26521.00000
item_id    72995.00000
time           0.98401
Name: 312556, dtype: float64
      user_id  query_time
1292    26521    0.983886
user_id    26543.000000
item_id     3492.000000
time           0.983983
Name: 286404, dtype: float64
      user_id  query_time
1293    26543    0.983893
user_id    26576.000000
item_id     5291.000000
time           0.984009
Name: 323048, dtype: float64
      user_id  query_time
1294    26576    0.983958
user_id    26664.000000
item_id    28455.000000
time           0.984008
Name: 471082, dtype: float64
      user_id  query_time
1297    26664    0.983954
user_id    26752.000000
item_id    87917.000000
time           0.983959
Name: 460175, dtype: float64
      user_id  query_time
1301    26752    0.983908
user_id     26785.000000
item_id    101921.000000
time            0.984008
Name: 277862, dtype: float64
      user_id  query_time
1302    26785    0.983931
user_id    26873.00000
item_id    83745.00000
time           0.98396
Name: 284193, dtype: float64
      user_id  query_time
1306    26873    0.983949
user_id     26950.000000
item_id    115924.000000
time            0.983978
Name: 359167, dtype: float64
      user_id  query_time
1308    26950     0.98394
user_id     26994.000000
item_id    112562.000000
time            0.983987
Name: 439494, dtype: float64
      user_id  query_time
1309    26994    0.983958
user_id     27005.00000
item_id    114292.00000
time            0.98401
Name: 300525, dtype: float64
      user_id  query_time
1310    27005    0.983937
user_id    27115.000000
item_id    90537.000000
time           0.983975
Name: 482406, dtype: float64
      user_id  query_time
1313    27115    0.983934
user_id     27170.000000
item_id    113511.000000
time            0.984008
Name: 439573, dtype: float64
      user_id  query_time
1314    27170    0.983933
user_id    27181.000000
item_id    44793.000000
time           0.983998
Name: 318223, dtype: float64
      user_id  query_time
1315    27181    0.983889
user_id    27236.000000
item_id    43380.000000
time           0.983985
Name: 405875, dtype: float64
      user_id  query_time
1318    27236    0.983904
user_id     27269.000000
item_id    104690.000000
time            0.983992
Name: 270559, dtype: float64
      user_id  query_time
1320    27269    0.983951
user_id    27346.000000
item_id    46797.000000
time           0.983993
Name: 376905, dtype: float64
      user_id  query_time
1323    27346    0.983828
user_id    27412.000
item_id    27975.000
time           0.984
Name: 426972, dtype: float64
      user_id  query_time
1324    27412    0.983949
user_id    27445.00000
item_id    90430.00000
time           0.98398
Name: 262318, dtype: float64
      user_id  query_time
1325    27445     0.98394
user_id    27456.000000
item_id    33874.000000
time           0.983961
Name: 266302, dtype: float64
      user_id  query_time
1326    27456    0.983947
user_id     27500.000000
item_id    100058.000000
time            0.984008
Name: 262941, dtype: float64
      user_id  query_time
1328    27500    0.983846
user_id    27610.000000
item_id    58688.000000
time           0.984009
Name: 377611, dtype: float64
      user_id  query_time
1331    27610    0.983934
user_id    27643.000000
item_id    45198.000000
time           0.984002
Name: 428012, dtype: float64
      user_id  query_time
1332    27643    0.983827

user_id    27687.000000
item_id    70744.000000
time           0.984012
Name: 305274, dtype: float64
      user_id  query_time
1335    27687    0.983927
user_id    27753.000000
item_id    37885.000000
time           0.984005
Name: 405531, dtype: float64
      user_id  query_time
1341    27753    0.983954
user_id    27764.000000
item_id    31726.000000
time           0.984009
Name: 412662, dtype: float64
      user_id  query_time
1342    27764    0.983954
user_id    27775.000000
item_id    69353.000000
time           0.984009
Name: 341554, dtype: float64
      user_id  query_time
1343    27775    0.983929
user_id    27786.000000
item_id    30065.000000
time           0.983999
Name: 309995, dtype: float64
      user_id  query_time
1344    27786    0.983955
user_id    27819.000000
item_id    17616.000000
time           0.984006
Name: 294687, dtype: float64
      user_id  query_time
1346    27819     0.98395
user_id    27830.000000
item_id    86132.000000
time           0.984011
Name: 460043, dtype: float64
      user_id  query_time
1347    27830    0.983947
user_id    27874.000000
item_id    26211.000000
time           0.983991
Name: 346353, dtype: float64
      user_id  query_time
1349    27874    0.983948
user_id     27907.000000
item_id    103218.000000
time            0.983944
Name: 468281, dtype: float64
      user_id  query_time
1350    27907    0.983944
user_id    27951.000000
item_id    71637.000000
time           0.984006
Name: 349177, dtype: float64
      user_id  query_time
1351    27951    0.983954
user_id    27973.000000
item_id    25609.000000
time           0.983985
Name: 397510, dtype: float64
      user_id  query_time
1352    27973    0.983885
user_id    28050.000000
item_id    17330.000000
time           0.984012
Name: 455932, dtype: float64
      user_id  query_time
1355    28050    0.983849
user_id    28061.00000
item_id    13302.00000
time           0.98401
Name: 382058, dtype: float64
      user_id  query_time
1356    28061    0.983924
user_id    28072.000000
item_id    87507.000000
time           0.984011
Name: 474653, dtype: float64
      user_id  query_time
1357    28072    0.983956
user_id    28138.000000
item_id    83196.000000
time           0.984008
Name: 371851, dtype: float64
      user_id  query_time
1358    28138    0.983902
user_id    28149.000000
item_id     2674.000000
time           0.983999
Name: 447336, dtype: float64
      user_id  query_time
1359    28149    0.983954
user_id    28160.000000
item_id    78889.000000
time           0.983998
Name: 430064, dtype: float64
      user_id  query_time
1360    28160    0.983952
user_id    28171.000000
item_id    47301.000000
time           0.984003
Name: 244867, dtype: float64
      user_id  query_time
1361    28171    0.983894
user_id    28204.000000
item_id    25252.000000
time           0.984008
Name: 316973, dtype: float64
      user_id  query_time
1363    28204    0.983931
user_id    28226.000000
item_id    68846.000000
time           0.984003
Name: 370972, dtype: float64
      user_id  query_time
1365    28226    0.983899
user_id    28237.000000
item_id    55673.000000
time           0.984002
Name: 436074, dtype: float64
      user_id  query_time
1366    28237    0.983929
user_id    28248.000000
item_id    93045.000000
time           0.983998
Name: 408916, dtype: float64
      user_id  query_time
1367    28248    0.983953
user_id    28270.000000
item_id    22136.000000
time           0.984009
Name: 331512, dtype: float64
      user_id  query_time
1369    28270    0.983955
user_id    28402.00000
item_id      494.00000
time           0.98401
Name: 293438, dtype: float64
      user_id  query_time
1374    28402    0.983943
user_id    28468.000000
item_id    16425.000000
time           0.984002
Name: 301852, dtype: float64
      user_id  query_time
1375    28468    0.983885
user_id    28523.000000
item_id    54627.000000
time           0.983959
Name: 289715, dtype: float64
      user_id  query_time
1377    28523    0.983907
user_id    28578.000000
item_id    67548.000000
time           0.984012
Name: 392752, dtype: float64
      user_id  query_time
1380    28578    0.983898
user_id    28743.000000
item_id    35784.000000
time           0.983995
Name: 361581, dtype: float64
      user_id  query_time
1388    28743    0.983931
user_id     28754.000000
item_id    108205.000000
time            0.983981
Name: 248530, dtype: float64
      user_id  query_time
1389    28754    0.983953
user_id    28798.000000
item_id     6294.000000
time           0.984006
Name: 330375, dtype: float64
      user_id  query_time
1391    28798    0.983949
user_id    28820.000000
item_id    12033.000000
time           0.983949
Name: 294319, dtype: float64
      user_id  query_time
1393    28820    0.983947
user_id    28908.000000
item_id    91248.000000
time           0.983982
Name: 408800, dtype: float64
      user_id  query_time
1395    28908    0.983926
user_id    28919.000000
item_id    16188.000000
time           0.984005
Name: 404152, dtype: float64
      user_id  query_time
1396    28919    0.983896
user_id    28952.000000
item_id    19099.000000
time           0.983994
Name: 470472, dtype: float64
      user_id  query_time
1397    28952    0.983957
user_id    29018.000000
item_id    81697.000000
time           0.984009
Name: 335071, dtype: float64
      user_id  query_time
1400    29018    0.983883
user_id    29073.000000
item_id    63241.000000
time           0.983965
Name: 436503, dtype: float64
      user_id  query_time
1404    29073    0.983844
user_id    29128.000000
item_id    79739.000000
time           0.984008
Name: 254286, dtype: float64
      user_id  query_time
1406    29128     0.98395
user_id    29150.000000
item_id     7596.000000
time           0.984007
Name: 330491, dtype: float64
      user_id  query_time
1408    29150    0.983945
user_id     29315.000000
item_id    108467.000000
time            0.984008
Name: 417359, dtype: float64
      user_id  query_time
1412    29315    0.983907
user_id    29381.000000
item_id    97119.000000
time           0.983998
Name: 255279, dtype: float64
      user_id  query_time
1414    29381    0.983939
user_id    29414.000000
item_id    30370.000000
time           0.984007
Name: 471187, dtype: float64
      user_id  query_time
1415    29414    0.983897
user_id    29458.000000
item_id    17852.000000
time           0.983916
Name: 287451, dtype: float64
      user_id  query_time
1417    29458    0.983916
user_id    29590.000000
item_id      937.000000
time           0.984011
Name: 439789, dtype: float64
      user_id  query_time
1420    29590      0.9839
user_id    29678.000000
item_id    23737.000000
time           0.983986
Name: 243374, dtype: float64
      user_id  query_time
1426    29678    0.983944
user_id    29744.00000
item_id    26114.00000
time           0.98398
Name: 478391, dtype: float64
      user_id  query_time
1430    29744    0.983955
user_id    29799.000000
item_id    93972.000000
time           0.983995
Name: 408974, dtype: float64
      user_id  query_time
1431    29799    0.983952
user_id    29832.000000
item_id    81994.000000
time           0.984001
Name: 481844, dtype: float64
      user_id  query_time
1433    29832    0.983951
user_id    29876.00000
item_id    98872.00000
time           0.98399
Name: 247953, dtype: float64
      user_id  query_time
1435    29876    0.983944
user_id    29887.000000
item_id    56281.000000
time           0.984009
Name: 340820, dtype: float64
      user_id  query_time
1436    29887    0.983939
user_id    29898.00000
item_id     5984.00000
time           0.98401
Name: 469594, dtype: float64
      user_id  query_time
1437    29898    0.983956
user_id    29909.000000
item_id    17696.000000
time           0.983996
Name: 389611, dtype: float64
      user_id  query_time
1438    29909    0.983894
user_id    29964.000000
item_id    95463.000000
time           0.983931
Name: 284887, dtype: float64
      user_id  query_time
1440    29964    0.983883
user_id    29975.000000
item_id    22183.000000
time           0.983935
Name: 463455, dtype: float64
      user_id  query_time
1441    29975    0.983934
user_id     30008.000
item_id    106814.000
time            0.984
Name: 278167, dtype: float64
      user_id  query_time
1442    30008    0.983952
user_id    30019.00000
item_id    26769.00000
time           0.98401
Name: 441636, dtype: float64
      user_id  query_time
1443    30019    0.983947
user_id    30074.000000
item_id    40575.000000
time           0.983993
Name: 347252, dtype: float64
      user_id  query_time
1446    30074    0.983948

user_id    30228.000
item_id    81907.000
time           0.984
Name: 335085, dtype: float64
      user_id  query_time
1451    30228    0.983936
user_id    30272.000000
item_id    42601.000000
time           0.983997
Name: 427820, dtype: float64
      user_id  query_time
1453    30272    0.983957
user_id    30492.000000
item_id    42045.000000
time           0.983942
Name: 383890, dtype: float64
      user_id  query_time
1458    30492    0.983941
user_id    30503.000000
item_id    22405.000000
time           0.983997
Name: 441343, dtype: float64
      user_id  query_time
1459    30503    0.983947
user_id    30514.000000
item_id    47673.000000
time           0.984002
Name: 406160, dtype: float64
      user_id  query_time
1460    30514    0.983951
user_id    30525.000
item_id    84438.000
time           0.984
Name: 349947, dtype: float64
      user_id  query_time
1461    30525    0.983874
user_id    30547.000000
item_id    30694.000000
time           0.984006
Name: 449305, dtype: float64
      user_id  query_time
1462    30547    0.983953
user_id    30569.000000
item_id    13454.000000
time           0.983895
Name: 403979, dtype: float64
      user_id  query_time
1464    30569    0.983895
user_id    30624.000000
item_id    19173.000000
time           0.983966
Name: 463262, dtype: float64
      user_id  query_time
1467    30624    0.983935
user_id     30668.000000
item_id    103229.000000
time            0.984009
Name: 248203, dtype: float64
      user_id  query_time
1468    30668    0.983824
user_id    30679.000000
item_id    61421.000000
time           0.983998
Name: 326655, dtype: float64
      user_id  query_time
1469    30679    0.983851
user_id    30833.000000
item_id    66893.000000
time           0.983993
Name: 392710, dtype: float64
      user_id  query_time
1472    30833    0.983948
user_id    30888.000000
item_id    15566.000000
time           0.984003
Name: 331070, dtype: float64
      user_id  query_time
1476    30888    0.983954
user_id    31009.000000
item_id    70863.000000
time           0.983994
Name: 385650, dtype: float64
      user_id  query_time
1478    31009    0.983926
user_id    31086.000000
item_id     6368.000000
time           0.984003
Name: 367020, dtype: float64
      user_id  query_time
1480    31086    0.983951
user_id    31108.000000
item_id    16857.000000
time           0.983997
Name: 477755, dtype: float64
      user_id  query_time
1481    31108    0.983945
user_id    31119.000000
item_id    99097.000000
time           0.984004
Name: 468039, dtype: float64
      user_id  query_time
1482    31119     0.98394
user_id     31141.000000
item_id    103053.000000
time            0.984008
Name: 461055, dtype: float64
      user_id  query_time
1483    31141    0.983893
user_id    31229.000000
item_id    76806.000000
time           0.984004
Name: 429928, dtype: float64
      user_id  query_time
1487    31229    0.983953
user_id    31306.000000
item_id    94364.000000
time           0.984012
Name: 343023, dtype: float64
      user_id  query_time
1491    31306    0.983847
user_id     31361.000000
item_id    104246.000000
time            0.983998
Name: 343608, dtype: float64
      user_id  query_time
1493    31361    0.983848
user_id    31416.000000
item_id    73060.000000
time           0.983961
Name: 290775, dtype: float64
      user_id  query_time
1495    31416    0.983954
user_id    31449.000000
item_id    96352.000000
time           0.983989
Name: 394523, dtype: float64
      user_id  query_time
1497    31449    0.983876
user_id    31471.000000
item_id    44896.000000
time           0.984012
Name: 318233, dtype: float64
      user_id  query_time
1498    31471    0.983941
user_id     31504.000000
item_id    104848.000000
time            0.984012
Name: 475739, dtype: float64
      user_id  query_time
1499    31504    0.983918
user_id    31515.000000
item_id    26683.000000
time           0.984012
Name: 434257, dtype: float64
      user_id  query_time
1500    31515    0.983938
user_id    31614.000000
item_id    26681.000000
time           0.983964
Name: 426891, dtype: float64
      user_id  query_time
1501    31614    0.983929
user_id    31625.000000
item_id    30442.000000
time           0.984007
Name: 434475, dtype: float64
      user_id  query_time
1502    31625    0.983956
user_id    31691.000000
item_id    62334.000000
time           0.983979
Name: 275462, dtype: float64
      user_id  query_time
1504    31691    0.983936
user_id    31702.000000
item_id    43645.000000
time           0.983993
Name: 457568, dtype: float64
      user_id  query_time
1505    31702    0.983937
user_id    31713.000000
item_id    93654.000000
time           0.983896
Name: 372479, dtype: float64
      user_id  query_time
1506    31713    0.983872
user_id    31834.000000
item_id    62337.000000
time           0.983997
Name: 377805, dtype: float64
      user_id  query_time
1510    31834    0.983901
user_id    31933.000000
item_id     3355.000000
time           0.984003
Name: 410711, dtype: float64
      user_id  query_time
1513    31933     0.98395
user_id    31944.000000
item_id    42503.000000
time           0.984011
Name: 369405, dtype: float64
      user_id  query_time
1514    31944    0.983946
user_id     31977.000000
item_id    103372.000000
time            0.983988
Name: 409576, dtype: float64
      user_id  query_time
1515    31977     0.98395
user_id    31988.000000
item_id    44214.000000
time           0.983983
Name: 464774, dtype: float64
      user_id  query_time
1516    31988    0.983868
user_id    32054.000000
item_id     5686.000000
time           0.983997
Name: 264441, dtype: float64
      user_id  query_time
1517    32054    0.983924
user_id    32098.000000
item_id    21569.000000
time           0.983995
Name: 258060, dtype: float64
      user_id  query_time
1518    32098    0.983873
user_id     32109.000000
item_id    112081.000000
time            0.983976
Name: 468871, dtype: float64
      user_id  query_time
1519    32109     0.98395
user_id    32164.000
item_id    76746.000
time           0.984
Name: 364076, dtype: float64
      user_id  query_time
1522    32164     0.98393
user_id    32252.00000
item_id    23743.00000
time           0.98401
Name: 346153, dtype: float64
      user_id  query_time
1525    32252    0.983956
user_id    32285.000000
item_id    93409.000000
time           0.984011
Name: 306605, dtype: float64
      user_id  query_time
1526    32285    0.983954
user_id    32384.00000
item_id    93242.00000
time           0.98399
Name: 313818, dtype: float64
      user_id  query_time
1529    32384    0.983952
user_id    32461.000000
item_id    23442.000000
time           0.983977
Name: 287800, dtype: float64
      user_id  query_time
1531    32461    0.983934
user_id    32505.000000
item_id    27269.000000
time           0.984005
Name: 331842, dtype: float64
      user_id  query_time
1532    32505    0.983933
user_id    32516.000000
item_id    35449.000000
time           0.984012
Name: 449596, dtype: float64
      user_id  query_time
1533    32516    0.983901
user_id    32538.000000
item_id    60407.000000
time           0.984009
Name: 428954, dtype: float64
      user_id  query_time
1534    32538    0.983929
user_id    32549.000000
item_id    91731.000000
time           0.984008
Name: 474932, dtype: float64
      user_id  query_time
1535    32549    0.983957
user_id     32593.000000
item_id    100818.000000
time            0.983999
Name: 277797, dtype: float64
      user_id  query_time
1537    32593    0.983922
user_id    32604.000000
item_id    43091.000000
time           0.984001
Name: 457540, dtype: float64
      user_id  query_time
1538    32604    0.983956
user_id    32659.000
item_id    36844.000
time           0.984
Name: 383571, dtype: float64
      user_id  query_time
1539    32659    0.983955
user_id     32692.000000
item_id    113941.000000
time            0.984006
Name: 263865, dtype: float64
      user_id  query_time
1540    32692    0.983953
user_id    32758.000000
item_id    40756.000000
time           0.983978
Name: 464570, dtype: float64
      user_id  query_time
1543    32758    0.983943
user_id     32769.000000
item_id    114890.000000
time            0.983991
Name: 447103, dtype: float64
      user_id  query_time
1544    32769    0.983867
user_id    32934.000000
item_id    92236.000000
time           0.983999
Name: 321100, dtype: float64
      user_id  query_time
1548    32934    0.983933
user_id    33011.000000
item_id    11470.000000
time           0.983994
Name: 367318, dtype: float64
      user_id  query_time
1551    33011    0.983848
user_id    33022.000000
item_id    13018.000000
time           0.984004
Name: 374789, dtype: float64
      user_id  query_time
1552    33022    0.983904
user_id    33044.000000
item_id    73720.000000
time           0.983996
Name: 276181, dtype: float64
      user_id  query_time
1553    33044    0.983936
user_id    33077.000000
item_id    14777.000000
time           0.984005
Name: 426120, dtype: float64
      user_id  query_time
1554    33077    0.983953
user_id    33099.000000
item_id    12880.000000
time           0.983993
Name: 477465, dtype: float64
      user_id  query_time
1556    33099    0.983958

user_id    33110.000000
item_id    37596.000000
time           0.983984
Name: 259103, dtype: float64
      user_id  query_time
1557    33110      0.9839
user_id    33154.000000
item_id    33642.000000
time           0.984007
Name: 442020, dtype: float64
      user_id  query_time
1558    33154    0.983927
user_id    33165.000000
item_id    39466.000000
time           0.984012
Name: 310576, dtype: float64
      user_id  query_time
1559    33165    0.983947
user_id    33275.000000
item_id    25474.000000
time           0.984001
Name: 287931, dtype: float64
      user_id  query_time
1566    33275    0.983946
user_id    33297.000000
item_id    82543.000000
time           0.983985
Name: 298640, dtype: float64
      user_id  query_time
1567    33297    0.983943
user_id    33440.000000
item_id    67697.000000
time           0.983975
Name: 341456, dtype: float64
      user_id  query_time
1572    33440    0.983951
user_id    33473.000000
item_id    98837.000000
time           0.983964
Name: 277665, dtype: float64
      user_id  query_time
1573    33473    0.983903
user_id    33528.000000
item_id    49787.000000
time           0.983992
Name: 384405, dtype: float64
      user_id  query_time
1575    33528    0.983934
user_id     33539.000000
item_id    104791.000000
time            0.983999
Name: 351130, dtype: float64
      user_id  query_time
1576    33539    0.983928
user_id    33561.000000
item_id    85421.000000
time           0.984004
Name: 437842, dtype: float64
      user_id  query_time
1578    33561    0.983893
user_id    33572.000000
item_id    22591.000000
time           0.984004
Name: 478174, dtype: float64
      user_id  query_time
1579    33572    0.983955
user_id    33583.000000
item_id    66280.000000
time           0.983986
Name: 290367, dtype: float64
      user_id  query_time
1580    33583    0.983953
user_id     33605.000000
item_id    112885.000000
time            0.984005
Name: 359021, dtype: float64
      user_id  query_time
1581    33605    0.983886
user_id     33660.000000
item_id    106635.000000
time            0.983992
Name: 483311, dtype: float64
      user_id  query_time
1583    33660    0.983894
user_id    33682.000000
item_id    53764.000000
time           0.983993
Name: 480121, dtype: float64
      user_id  query_time
1584    33682    0.983936
user_id    33693.000000
item_id    61529.000000
time           0.984004
Name: 260618, dtype: float64
      user_id  query_time
1585    33693    0.983934
user_id    33781.000000
item_id    40955.000000
time           0.983989
Name: 442530, dtype: float64
      user_id  query_time
1590    33781    0.983885
user_id    33792.000000
item_id    97390.000000
time           0.984004
Name: 336034, dtype: float64
      user_id  query_time
1591    33792     0.98389
user_id    33891.000000
item_id    32840.000000
time           0.983948
Name: 346775, dtype: float64
      user_id  query_time
1594    33891    0.983948
user_id    33913.000000
item_id    92671.000000
time           0.983993
Name: 247569, dtype: float64
      user_id  query_time
1595    33913     0.98394
user_id    33979.000000
item_id    10857.000000
time           0.983936
Name: 448020, dtype: float64
      user_id  query_time
1599    33979    0.983936
user_id    34023.000000
item_id    48332.000000
time           0.984008
Name: 311101, dtype: float64
      user_id  query_time
1600    34023    0.983947
user_id    34056.000000
item_id    73219.000000
time           0.984011
Name: 283525, dtype: float64
      user_id  query_time
1602    34056    0.983934
user_id    34067.000000
item_id    34891.000000
time           0.983982
Name: 281211, dtype: float64
      user_id  query_time
1603    34067    0.983949
user_id    34100.000000
item_id    42342.000000
time           0.984011
Name: 259412, dtype: float64
      user_id  query_time
1606    34100     0.98395
user_id    34111.000000
item_id    84299.000000
time           0.983827
Name: 261950, dtype: float64
      user_id  query_time
1607    34111    0.983827
user_id     34166.00000
item_id    112666.00000
time            0.98401
Name: 476267, dtype: float64
      user_id  query_time
1610    34166    0.983956
user_id     34254.000000
item_id    111640.000000
time            0.983959
Name: 351588, dtype: float64
      user_id  query_time
1612    34254    0.983885
user_id     34287.00000
item_id    105752.00000
time            0.98401
Name: 263301, dtype: float64
      user_id  query_time
1613    34287    0.983921
user_id    34375.000000
item_id     6368.000000
time           0.984011
Name: 256964, dtype: float64
      user_id  query_time
1616    34375      0.9839
user_id    34397.000000
item_id     2570.000000
time           0.984007
Name: 264201, dtype: float64
      user_id  query_time
1617    34397    0.983957
user_id    34419.000000
item_id    35842.000000
time           0.984012
Name: 266439, dtype: float64
      user_id  query_time
1618    34419    0.983957
user_id    34551.000000
item_id    63003.000000
time           0.984006
Name: 333964, dtype: float64
      user_id  query_time
1622    34551    0.983957
user_id    34562.000000
item_id    91802.000000
time           0.983999
Name: 453115, dtype: float64
      user_id  query_time
1623    34562    0.983909
user_id    34606.000000
item_id    34735.000000
time           0.983994
Name: 427360, dtype: float64
      user_id  query_time
1625    34606    0.983843
user_id    34639.000000
item_id     8631.000000
time           0.984005
Name: 455306, dtype: float64
      user_id  query_time
1627    34639    0.983871
user_id    34727.000000
item_id    59793.000000
time           0.983994
Name: 311792, dtype: float64
      user_id  query_time
1633    34727    0.983954
user_id    34771.000000
item_id    21461.000000
time           0.984008
Name: 404516, dtype: float64
      user_id  query_time
1634    34771    0.983955
user_id    34804.000000
item_id    75618.000000
time           0.983996
Name: 320124, dtype: float64
      user_id  query_time
1636    34804    0.983902
user_id    34826.000000
item_id    78196.000000
time           0.984001
Name: 459559, dtype: float64
      user_id  query_time
1637    34826    0.983935
user_id    34837.000000
item_id    13312.000000
time           0.983978
Name: 345432, dtype: float64
      user_id  query_time
1638    34837    0.983924
user_id    34859.000000
item_id    65614.000000
time           0.983989
Name: 378012, dtype: float64
      user_id  query_time
1639    34859    0.983953
user_id    34870.000000
item_id    25747.000000
time           0.983956
Name: 250899, dtype: float64
      user_id  query_time
1640    34870    0.983956
user_id    34903.000000
item_id    11430.000000
time           0.983986
Name: 455486, dtype: float64
      user_id  query_time
1641    34903    0.983879
user_id    34914.000000
item_id     1609.000000
time           0.983987
Name: 454756, dtype: float64
      user_id  query_time
1642    34914    0.983838
user_id    34925.000000
item_id    60792.000000
time           0.983998
Name: 341077, dtype: float64
      user_id  query_time
1643    34925    0.983927
user_id     34936.000000
item_id    105275.000000
time            0.984007
Name: 358493, dtype: float64
      user_id  query_time
1644    34936     0.98392
user_id    34947.00000
item_id    11031.00000
time           0.98398
Name: 381901, dtype: float64
      user_id  query_time
1645    34947     0.98392
user_id    34980.000000
item_id    23620.000000
time           0.983996
Name: 346144, dtype: float64
      user_id  query_time
1647    34980    0.983888
user_id    35002.000000
item_id    32268.000000
time           0.983978
Name: 281056, dtype: float64
      user_id  query_time
1648    35002    0.983873
user_id    35123.00000
item_id    71921.00000
time           0.98401
Name: 422277, dtype: float64
      user_id  query_time
1652    35123    0.983953
user_id    35277.00000
item_id    17810.00000
time           0.98401
Name: 426308, dtype: float64
      user_id  query_time
1656    35277    0.983926
user_id    35321.00000
item_id    22867.00000
time           0.98399
Name: 265616, dtype: float64
      user_id  query_time
1658    35321    0.983892
user_id     2190.000000
item_id    17182.000000
time           0.983836
Name: 1150, dtype: float64
      user_id  query_time
1774     2190    0.983836
user_id     3532.000000
item_id    49990.000000
time           0.983901
Name: 222968, dtype: float64
      user_id  query_time
1841     3532    0.983901
user_id     3807.000000
item_id    70430.000000
time           0.983949
Name: 107016, dtype: float64
      user_id  query_time
1855     3807    0.983948
user_id     3829.000000
item_id    80024.000000
time           0.983955
Name: 42017, dtype: float64
      user_id  query_time
1857     3829    0.983954

user_id     4500.000000
item_id    42083.000000
time           0.983946
Name: 10032, dtype: float64
      user_id  query_time
1883     4500    0.983845
user_id     5402.000000
item_id    25119.000000
time           0.983954
Name: 118955, dtype: float64
      user_id  query_time
1938     5402    0.983896
user_id     5600.000000
item_id    10026.000000
time           0.983942
Name: 22830, dtype: float64
      user_id  query_time
1948     5600    0.983942
user_id    5633.000000
item_id    7247.000000
time          0.983898
Name: 88430, dtype: float64
      user_id  query_time
1950     5633    0.983894
user_id     5842.000000
item_id    35165.000000
time           0.983942
Name: 46493, dtype: float64
      user_id  query_time
1963     5842    0.983942
user_id     7459.000000
item_id    79122.000000
time           0.983943
Name: 4984, dtype: float64
      user_id  query_time
2042     7459    0.983943
user_id     7767.000000
item_id    10338.000000
time           0.983943
Name: 198396, dtype: float64
      user_id  query_time
2058     7767    0.983939
user_id     9087.000000
item_id    30123.000000
time           0.983849
Name: 31463, dtype: float64
      user_id  query_time
2115     9087    0.983847
user_id     9142.00000
item_id    82803.00000
time           0.98393
Name: 129899, dtype: float64
      user_id  query_time
2118     9142    0.983902
user_id     9571.000000
item_id    64022.000000
time           0.983939
Name: 209200, dtype: float64
      user_id  query_time
2139     9571    0.983935
user_id     9846.000000
item_id    41191.000000
time           0.983928
Name: 112564, dtype: float64
      user_id  query_time
2154     9846    0.983868
user_id    9890.000000
item_id    5465.000000
time          0.983938
Name: 102931, dtype: float64
      user_id  query_time
2155     9890    0.983938
user_id    10330.00000
item_id     5753.00000
time           0.98394
Name: 176333, dtype: float64
      user_id  query_time
2176    10330    0.983938
user_id    11815.000000
item_id    30763.000000
time           0.983892
Name: 163177, dtype: float64
      user_id  query_time
2244    11815    0.983891

KeyboardInterrupt:

In [35]:
for uid in test_qtime_0_df['user_id'].tolist():
    try:
        # 因为test_qtime_0_df的uid不一定都在train_click_0_df中
        if train_click_0_df.loc[train_click_0_df['user_id']==uid].sort_values('time')['time'].iloc[-1] >= test_qtime_0_df[test_qtime_0_df['user_id']==uid]['query_time'].iloc[-1]:
            print(train_click_0_df.loc[train_click_0_df['user_id']==uid].sort_values('time').iloc[-1])
            print(test_qtime_0_df[test_qtime_0_df['user_id']==uid])
    except:
        pass

In [36]:
for uid in test_qtime_1_df['user_id'].tolist():
    try:
        # 因为test_qtime_1_df的uid不一定都在train_click_1_df中
        if train_click_1_df.loc[train_click_1_df['user_id']==uid].sort_values('time')['time'].iloc[-1] >= test_qtime_1_df[test_qtime_1_df['user_id']==uid]['query_time'].iloc[-1]:
            print(train_click_1_df.loc[train_click_1_df['user_id']==uid].sort_values('time').iloc[-1])
            print(test_qtime_1_df[test_qtime_1_df['user_id']==uid])
    except:
        pass

In [33]:
# test数据中test_click_df的时间都在test_qtime_df之前
for uid in test_qtime_df['user_id'].tolist():
#     print(test_click_df.loc[test_click_df['user_id']==uid].sort_values('time')['time'].iloc[-1])
#     print(test_qtime_df[test_qtime_df['user_id']==uid]['query_time'].iloc[-1])
    if test_click_df.loc[test_click_df['user_id']==uid].sort_values('time')['time'].iloc[-1] >= test_qtime_df[test_qtime_df['user_id']==uid]['query_time'].iloc[-1]:
        print('----------')
        print(test_click_df.loc[test_click_df['user_id']==uid].sort_values('time').iloc[-1])
        print(test_qtime_df[test_qtime_df['user_id']==uid])

In [25]:
test_qtime_df[test_qtime_df['user_id']==1]

      user_id  query_time
1663        1    0.983942

## 大部分test_qtime_df.user_id都没给出user feature!!!

In [55]:
test_qtime_df.shape

(3389, 2)

In [60]:
test_qtime_df[~test_qtime_df.user_id.isin(train_user_df.user_id.tolist())].shape

(2596, 2)

In [61]:
test_qtime_df[test_qtime_df.user_id.isin(train_user_df.user_id.tolist())].shape

(793, 2)

# Word2Vec

In [46]:
from gensim.models import Word2Vec

In [51]:
whole_click.head()

        user_id  item_id     time
247       25129     3852  0.98374
89202     20937    18599  0.98374
97167     12136    28195  0.98374
9827      22528    48057  0.98374
188473    23813    85991  0.98374

In [49]:
doc = whole_click.groupby(['user_id'])['item_id'].agg({list})

In [50]:
doc.head()

                                                      list
user_id
1        [78142, 26646, 89568, 76240, 87533, 78380, 637...
2        [72912, 7745, 28099, 73084, 111576, 104635, 70...
3        [2396, 41811, 96045, 44156, 5266, 83618, 74216...
4        [8291, 6609, 13283, 35419, 64404, 90818, 18883...
6        [40936, 69316, 20582, 44128, 67875, 92160, 756...

In [53]:
doc = doc.reset_index()['list'].values.tolist()

In [59]:
doc

[['78142',
  '26646',
  '89568',
  '76240',
  '87533',
  '78380',
  '63733',
  '85492',
  '97795',
  '17770',
  '18522',
  '81337',
  '47611',
  '31443',
  '17887',
  '72939',
  '69359'],
 ['72912',
  '7745',
  '28099',
  '73084',
  '111576',
  '104635',
  '7053',
  '109065',
  '8481',
  '115561',
  '23824',
  '4168',
  '4983',
  '93552',
  '58621',
  '5461',
  '111893',
  '107358',
  '107956',
  '115361',
  '40083',
  '108888',
  '35688',
  '46658',
  '2494',
  '56169',
  '97209',
  '53046',
  '83466',
  '20507',
  '40696',
  '18057'],
 ['2396',
  '41811',
  '96045',
  '44156',
  '5266',
  '83618',
  '74216',
  '95508',
  '51939',
  '68822',
  '114094',
  '64509',
  '51966',
  '26297'],
 ['8291', '6609', '13283', '35419', '64404', '90818', '18883', '43790'],
 ['40936',
  '69316',
  '20582',
  '44128',
  '67875',
  '92160',
  '75640',
  '40062',
  '60291',
  '77900',
  '18551'],
 ['19110', '24258', '39291', '6731', '23436', '1417', '27337', '30778'],
 ['109463',
  '88371',
  '78360',
  '63216',
  '30767',
  '102526',
  '88400',
  '114268',
  '22929'],
 ['74658',
  '114577',
  '9946',
  '69421',
  '30076',
  '51956',
  '59454',
  '68248',
  '110931',
  '86467',
  '17210',
  '27152',
  '94823',
  '48047',
  '104565',
  '88804',
  '24792',
  '24496',
  '75205',
  '39091',
  '43104',
  '102075',
  '68096',
  '52009',
  '96274',
  '2954',
  '26664',
  '2331',
  '96274',
  '12892',
  '10404',
  '57701',
  '7298',
  '35393',
  '2427',
  '2331',
  '11166',
  '85589',
  '2954',
  '9579',
  '2242',
  '28933',
  '26442',
  '83468',
  '1330',
  '56695',
  '99418',
  '105559'],
 ['88058',
  '66082',
  '29755',
  '78804',
  '43074',
  '75757',
  '23323',
  '22113',
  '20317',
  '64689',
  '28210',
  '823',
  '8052'],
 ['77035', '5716', '28615', '14543', '87382', '68061'],
 ['92773',
  '33417',
  '60915',
  '52477',
  '49448',
  '30391',
  '96910',
  '50018',
  '49258',
  '20628',
  '39056',
  '105715',
  '39945',
  '94015',
  '42719'],
 ['22922',
  '34078',
  '33420',
  '34958',
  '4672',
  '14336',
  '11549',
  '563',
  '4672',
  '3120'],
 ['42208', '6587', '71907', '13831', '20997'],
 ['91546', '13333', '112658', '21557', '110640', '51607', '90272'],
 ['30963',
  '72387',
  '995',
  '4446',
  '106789',
  '95746',
  '63715',
  '2838',
  '31379'],
 ['34443',
  '4534',
  '32148',
  '4916',
  '1762',
  '53664',
  '628',
  '4492',
  '51765',
  '45800',
  '95549',
  '60556',
  '51359',
  '35498',
  '63202',
  '33696',
  '101862'],
 ['15116', '113234', '36075', '4941', '51689', '72365', '75082'],
 ['59863',
  '28668',
  '29418',
  '69383',
  '7179',
  '111077',
  '112995',
  '66177',
  '38891',
  '90926',
  '93024',
  '36073'],
 ['17464',
  '76967',
  '74157',
  '102886',
  '52844',
  '25952',
  '24155',
  '42211',
  '39719',
  '35927',
  '82194',
  '93802',
  '72436',
  '14078',
  '24491',
  '42928',
  '32839',
  '40916'],
 ['88897',
  '84118',
  '3080',
  '54124',
  '11103',
  '15700',
  '26453',
  '34125',
  '70985'],
 ['2346',
  '91657',
  '73319',
  '4600',
  '11511',
  '83492',
  '62906',
  '693',
  '25881',
  '76110',
  '83204',
  '93472',
  '6081',
  '13403',
  '80227',
  '4340',
  '57849',
  '65393',
  '64829',
  '108651',
  '57849',
  '15974',
  '4340',
  '7882',
  '80227',
  '20590',
  '13403',
  '114330',
  '71671',
  '71848'],
 ['13661',
  '27903',
  '5307',
  '109556',
  '31753',
  '62847',
  '112347',
  '4871',
  '7103'],
 ['42747',
  '8583',
  '2524',
  '58847',
  '5789',
  '11614',
  '14305',
  '77242',
  '105521',
  '70430'],
 ['84962',
  '85174',
  '88501',
  '91433',
  '37904',
  '74969',
  '36812',
  '16547',
  '40957',
  '74351',
  '39593',
  '2893',
  '13660',
  '74137',
  '39810',
  '18932',
  '10701',
  '7900',
  '2323',
  '67161',
  '68758',
  '22371',
  '35098',
  '112784',
  '71138',
  '13553',
  '91872',
  '6164',
  '3393',
  '27915',
  '109065',
  '91823',
  '111774',
  '73601'],
 ['63282',
  '14425',
  '16487',
  '58836',
  '57283',
  '22038',
  '50436',
  '41902',
  '94805',
  '33031',
  '70921',
  '37315',
  '92109',
  '48621',
  '20335',
  '30736',
  '13704',
  '52170',
  '81572',
  '106202',
  '113759'],
 ['5944', '119', '43064', '29215', '42884'],
 ['13924',
  '68417',
  '14547',
  '44994',
  '68431',
  '67427',
  '28007',
  '64375',
  '5795',
  '19037',
  '4843',
  '5719',
  '69',
  '88058',
  '79868',
  '47056',
  '47176',
  '73755',
  '23741',
  '52640',
  '87061',
  '2713',
  '26315',
  '61707',
  '108938',
  '9922',
  '67201',
  '13924',
  '33729',
  '26736',
  '69',
  '10408',
  '103757'],
 ['91310', '27484', '38408', '38223', '46317', '26206', '7103'],
 ['1775', '114539', '112107', '104728'],
 ['114125',
  '27161',
  '100713',
  '109463',
  '88385',
  '1609',
  '71517',
  '25353',
  '79761',
  '56160',
  '25473',
  '25164'],
 ['19968',
  '106680',
  '62743',
  '87266',
  '1322',
  '80938',
  '22233',
  '18806',
  '70728',
  '43007',
  '1182',
  '50847',
  '34955',
  '57326',
  '63837',
  '1051',
  '849',
  '2961',
  '21704',
  '1733',
  '33544',
  '104720',
  '69154',
  '3302',
  '12285',
  '34861',
  '12288',
  '37931',
  '3762',
  '67605',
  '86',
  '69445',
  '47859',
  '62270',
  '52773',
  '21377',
  '65047',
  '77926',
  '77838',
  '12086',
  '35264',
  '79701',
  '74684',
  '93784',
  '89060',
  '101030',
  '45412',
  '11449',
  '30246',
  '30246',
  '18987',
  '26641',
  '49540',
  '12818',
  '29931',
  '27483',
  '43477',
  '64135',
  '48473',
  '113203',
  '1604',
  '106250',
  '33596',
  '34452',
  '29969',
  '115308',
  '110121',
  '110030',
  '104728',
  '113538',
  '84390',
  '111955',
  '112107',
  '114740',
  '114204',
  '90847',
  '80438',
  '52677',
  '34862',
  '109180',
  '67452',
  '12508',
  '115141',
  '110731',
  '80085',
  '11449',
  '11265',
  '43776',
  '50729',
  '33729',
  '53664',
  '4744',
  '26295',
  '26419',
  '45913',
  '70627',
  '70625',
  '1518',
  '2611',
  '3826',
  '1733',
  '18578',
  '41046',
  '6739',
  '6386'],
 ['44975',
  '69930',
  '8019',
  '86966',
  '93252',
  '81023',
  '111622',
  '11259',
  '43669',
  '16752',
  '52300',
  '11259',
  '26440',
  '8515',
  '111622',
  '113026',
  '36995',
  '112334',
  '115819'],
 ['71764', '35844', '103941'],
 ['18537',
  '15646',
  '82929',
  '77775',
  '78385',
  '12160',
  '92126',
  '14343',
  '28259',
  '11368',
  '18399',
  '7999',
  '43847',
  '105905',
  '33792',
  '66770'],
 ['73113',
  '82010',
  '60302',
  '49898',
  '68014',
  '103599',
  '98489',
  '9338',
  '7709',
  '111225',
  '48733',
  '60648',
  '108170',
  '65465',
  '111489',
  '73689',
  '18786',
  '10677',
  '92004',
  '87970',
  '38963',
  '107358',
  '107435',
  '36926',
  '37913',
  '67942',
  '74263',
  '45821',
  '85794',
  '13845',
  '5945',
  '30213',
  '19724',
  '21476',
  '57849',
  '31857',
  '47514',
  '33354',
  '73113',
  '45821',
  '57849',
  '64927',
  '60667'],
 ['67812',
  '109184',
  '114744',
  '93784',
  '114107',
  '16659',
  '8453',
  '11354',
  '13827',
  '49163',
  '113442',
  '114626',
  '1194',
  '114896',
  '37590'],
 ['37932', '45579', '13285'],
 ['42130', '46186', '106996', '67275', '78499', '31487', '110631'],
 ['42949',
  '15192',
  '52285',
  '24827',
  '42002',
  '73088',
  '16424',
  '24847',
  '33779',
  '81349',
  '58789',
  '48112',
  '9174',
  '12691'],
 ['5320',
  '105842',
  '107806',
  '109237',
  '52693',
  '27575',
  '76943',
  '855',
  '105151'],
 ['80610',
  '14168',
  '67634',
  '86607',
  '89340',
  '80080',
  '68870',
  '23883',
  '41956',
  '98506'],
 ['83044',
  '34751',
  '83003',
  '45968',
  '18845',
  '33805',
  '50',
  '31550',
  '114256',
  '85158',
  '73070',
  '90153',
  '2753',
  '16362',
  '86',
  '47356',
  '38340',
  '60',
  '32990',
  '85276',
  '107941',
  '3028',
  '53300',
  '25473',
  '27211',
  '44722',
  '86265',
  '14731',
  '56294'],
 ['80848',
  '70769',
  '89759',
  '108238',
  '81198',
  '90566',
  '66680',
  '47940',
  '87299',
  '84663',
  '43439',
  '90566',
  '103967',
  '72743',
  '46605'],
 ['17594',
  '609',
  '12465',
  '17687',
  '84539',
  '102868',
  '82140',
  '80433',
  '58990',
  '108548',
  '33782',
  '12843',
  '92577',
  '24521',
  '20979'],
 ['64319',
  '47713',
  '2806',
  '115062',
  '28264',
  '32490',
  '57793',
  '60088',
  '19650',
  '5572',
  '57793'],
 ['45621',
  '113759',
  '3832',
  '90077',
  '1562',
  '75025',
  '108198',
  '110104',
  '89413',
  '4341',
  '7552',
  '10301',
  '14563',
  '15974',
  '94281',
  '31360',
  '96593',
  '113760',
  '47255',
  '100796',
  '100802',
  '109576',
  '110718',
  '114784',
  '109582',
  '109585',
  '52901',
  '105502',
  '92682',
  '94169',
  '101480',
  '95046',
  '53612',
  '59529',
  '105391',
  '94022',
  '90077',
  '3832',
  '103113'],
 ['39360',
  '11989',
  '11512',
  '55579',
  '67216',
  '72108',
  '37954',
  '78495',
  '53293',
  '23097',
  '70010',
  '51493',
  '59311',
  '46377',
  '43854',
  '65068',
  '7924',
  '90289',
  '74574',
  '92052',
  '66868',
  '85159',
  '24848',
  '54618',
  '20817',
  '27879'],
 ['11259', '97419', '36995', '79754'],
 ['35410',
  '75694',
  '77447',
  '23710',
  '95527',
  '22973',
  '21252',
  '85481',
  '104505',
  '33698',
  '33300',
  '84820',
  '112351',
  '25881',
  '74188',
  '62706',
  '54244',
  '81408',
  '82885',
  '73893',
  '67633',
  '65996',
  '40946',
  '9975',
  '33691',
  '7154',
  '42458',
  '7158',
  '7556',
  '7943',
  '92171',
  '62571',
  '31064',
  '9826',
  '100597',
  '7156',
  '52766',
  '41487',
  '50650',
  '26292',
  '12283',
  '45195',
  '88346',
  '99499',
  '71844',
  '44023',
  '63570'],
 ['101135',
  '86072',
  '116130',
  '116083',
  '92044',
  '23829',
  '76857',
  '14082',
  '7575',
  '28',
  '36190',
  '48391',
  '48870',
  '23849',
  '3625',
  '5232',
  '2412',
  '51957',
  '58281',
  '54400',
  '23608',
  '12687',
  '8674',
  '3373',
  '6343',
  '8153',
  '24243',
  '3329',
  '85431',
  '3437',
  '48391',
  '3242',
  '3244',
  '24243',
  '23829',
  '6343',
  '5232',
  '3242',
  '3244',
  '3625',
  '5232'],
 ['65936',
  '15075',
  '57841',
  '66692',
  '47990',
  '93677',
  '24130',
  '64963',
  '6167',
  '8784',
  '40963',
  '79155',
  '113941',
  '54548',
  '39097',
  '115346',
  '11654',
  '46040'],
 ['102105',
  '29054',
  '5833',
  '43642',
  '87566',
  '14502',
  '12971',
  '5130',
  '41933',
  '77723'],
 ['86205',
  '108491',
  '22667',
  '90391',
  '15227',
  '106388',
  '76219',
  '2073',
  '33074',
  '14030',
  '11209',
  '94924',
  '64892',
  '10393',
  '27595',
  '8774',
  '18357',
  '8180',
  '40334',
  '4483',
  '100468',
  '21476',
  '2005',
  '81088',
  '23612',
  '86337',
  '16863',
  '4895',
  '24074',
  '93127',
  '33074',
  '12752',
  '76833',
  '10410',
  '86220',
  '76833',
  '115517',
  '36925'],
 ['34190', '85492', '23947', '38701', '100989', '9792'],
 ['37596',
  '3684',
  '40925',
  '64334',
  '45688',
  '3443',
  '66330',
  '101044',
  '78803',
  '2312'],
 ['57843',
  '17868',
  '108888',
  '103050',
  '65192',
  '39007',
  '52551',
  '47984',
  '112866',
  '50455'],
 ['4330', '83618', '78211', '19781', '4119'],
 ['25525', '88371', '25385', '98556', '112907', '72985', '41740', '53005'],
 ['72872',
  '109650',
  '100235',
  '109650',
  '42493',
  '28156',
  '36308',
  '67715',
  '25814',
  '77299',
  '5063',
  '84873',
  '38225',
  '40070',
  '24536',
  '11383',
  '83918',
  '100879'],
 ['83121',
  '67829',
  '89318',
  '52149',
  '56970',
  '80299',
  '112582',
  '18845',
  '29398',
  '111798',
  '63775',
  '44690',
  '61124',
  '42784'],
 ['111529', '111522', '58695', '3525', '82366', '25992'],
 ['105506',
  '73689',
  '23683',
  '75614',
  '100810',
  '76825',
  '86255',
  '54099',
  '94153',
  '73637',
  '81994',
  '75009',
  '48672',
  '109758',
  '46442',
  '39895',
  '21822',
  '7215',
  '96060',
  '87399',
  '66263',
  '65384',
  '31034',
  '54427',
  '52439',
  '103424',
  '100495',
  '60921',
  '54886',
  '107306',
  '84038',
  '45432',
  '29458',
  '105511',
  '46902',
  '44468',
  '26258',
  '70009',
  '73699',
  '78802',
  '108912',
  '11860',
  '36992',
  '80227',
  '19724',
  '26432',
  '3302',
  '13403'],
 ['58498',
  '26508',
  '21569',
  '95722',
  '8246',
  '53014',
  '89102',
  '66469',
  '59765',
  '33032',
  '52848'],
 ['65376',
  '19267',
  '76050',
  '56830',
  '87933',
  '71944',
  '89007',
  '68951',
  '32955',
  '109891',
  '113869',
  '4471',
  '106792',
  '4420',
  '54270',
  '30823',
  '111046',
  '16018',
  '76460',
  '78804',
  '7685',
  '3492',
  '81924',
  '106324',
  '8698',
  '23997',
  '81714',
  '93365',
  '93189',
  '87306',
  '40034',
  '39026'],
 ['49641',
  '95386',
  '49473',
  '771',
  '34901',
  '74261',
  '26977',
  '12389',
  '54827',
  '20893',
  '11199',
  '2048',
  '107413',
  '794',
  '1102',
  '17952',
  '48513',
  '61556',
  '15407',
  '19262',
  '52844',
  '62331',
  '32446'],
 ['6825', '75815', '7221', '92070', '94562', '108491'],
 ['407',
  '24196',
  '12051',
  '93448',
  '26418',
  '45343',
  '27980',
  '19850',
  '50144',
  '51155',
  '13577',
  '104111',
  '50859',
  '92051',
  '1922'],
 ['102661',
  '18607',
  '55287',
  '96436',
  '56735',
  '101722',
  '13644',
  '68661',
  '116911',
  '88162',
  '48332',
  '117085',
  '82807',
  '76579',
  '82038',
  '107408',
  '13948',
  '78747',
  '88160',
  '12086',
  '99247',
  '96990',
  '116757',
  '44862',
  '94215',
  '51533',
  '27975',
  '56881',
  '116911',
  '31931',
  '78607',
  '48332',
  '50298',
  '88796',
  '76028',
  '111333',
  '24843',
  '92671',
  '100555'],
 ['114118',
  '14062',
  '4421',
  '4695',
  '44679',
  '21712',
  '104181',
  '44926',
  '93728',
  '100491',
  '63439',
  '51311',
  '46322',
  '71102',
  '37857',
  '49039',
  '29167',
  '72654',
  '64145',
  '115275',
  '18009',
  '114123',
  '80785',
  '48320',
  '17571',
  '17636',
  '4483',
  '53864',
  '7939',
  '60054',
  '114064',
  '42946',
  '46066',
  '25619',
  '14062',
  '8180',
  '1433',
  '7914',
  '65524',
  '7029',
  '53256',
  '38415',
  '23727',
  '104181',
  '88767',
  '93728',
  '52690',
  '20510',
  '48320'],
 ['70944',
  '51599',
  '42082',
  '50146',
  '18034',
  '38825',
  '60299',
  '99254',
  '53751',
  '60176',
  '52542',
  '105378',
  '35519',
  '38071',
  '38666',
  '18997',
  '33455'],
 ['62106',
  '550',
  '51671',
  '79574',
  '49546',
  '74156',
  '112139',
  '69773',
  '112108',
  '12680',
  '6250',
  '88646',
  '4784',
  '6230',
  '102526',
  '46565',
  '102877',
  '29476',
  '50753',
  '19580',
  '4387',
  '907',
  '109589',
  '46565',
  '6230',
  '12680',
  '6657',
  '112108',
  '103130'],
 ['50888',
  '7016',
  '116349',
  '3598',
  '45431',
  '116437',
  '5388',
  '982',
  '50548'],
 ['26062', '20440', '16813', '11354'],
 ['97512', '6269', '92066', '25790', '6513', '70650'],
 ['68286', '89667', '28392', '74798', '35798'],
 ['102661',
  '64568',
  '5866',
  '67195',
  '8642',
  '72775',
  '17198',
  '55660',
  '40465',
  '92722',
  '49117',
  '45093',
  '46351',
  '26518',
  '96445',
  '30048',
  '12713',
  '19774',
  '58621',
  '81205',
  '27543',
  '96512',
  '15266',
  '64518',
  '15266',
  '84611',
  '52280',
  '92423',
  '61160',
  '15685',
  '4721',
  '19774',
  '39367',
  '79938',
  '68499',
  '35844',
  '51823',
  '45362',
  '15266',
  '58692',
  '55660'],
 ['83944',
  '71750',
  '90796',
  '82985',
  '107588',
  '112492',
  '47167',
  '106817',
  '73689',
  '18638',
  '4550',
  '51505',
  '18075',
  '85443',
  '37838',
  '15646',
  '42652',
  '34510',
  '67190',
  '13523',
  '8373',
  '20668',
  '10959',
  '44690',
  '115162',
  '37351',
  '33671',
  '34861',
  '23526',
  '26352',
  '58695',
  '70728',
  '9174',
  '25972',
  '79643',
  '102578',
  '88555',
  '77095',
  '88555',
  '85491',
  '79643',
  '96466',
  '85003',
  '94685',
  '15646',
  '132'],
 ['29277', '109891', '77610', '110692', '16457', '591', '42666'],
 ['62564', '36078', '23716', '55063', '84057', '27369'],
 ['78420',
  '77849',
  '57863',
  '106984',
  '70381',
  '81493',
  '91403',
  '90357',
  '91391',
  '80592',
  '92458',
  '107118',
  '115029',
  '102932',
  '110330',
  '51300',
  '106932',
  '63172',
  '56095',
  '56973',
  '99207',
  '89459',
  '39459',
  '49704',
  '92384'],
 ['94397',
  '109243',
  '25633',
  '15867',
  '93074',
  '27510',
  '109524',
  '104564',
  '106791',
  '51862',
  '99747',
  '94315',
  '45914',
  '109977',
  '50762',
  '50075',
  '55944',
  '18235',
  '30272',
  '87395',
  '98020',
  '80510',
  '68544'],
 ['20545',
  '18211',
  '24485',
  '51323',
  '32672',
  '46223',
  '40230',
  '37697',
  '48367',
  '62830',
  '39673',
  '50545',
  '41588',
  '70731',
  '106336',
  '109633',
  '105822',
  '109812',
  '110143',
  '108888',
  '93105',
  '109587',
  '16933',
  '43742',
  '72143',
  '61636',
  '60716',
  '66351',
  '49940',
  '113632',
  '107435',
  '82022',
  '62786'],
 ['7559',
  '109854',
  '132',
  '48622',
  '822',
  '5210',
  '33391',
  '650',
  '4494',
  '12114',
  '2020',
  '63465',
  '14062',
  '115865',
  '84299',
  '9672',
  '84267',
  '88584',
  '111921',
  '80344',
  '111604',
  '39066',
  '26312',
  '95527',
  '4909',
  '107783',
  '116292',
  '114539',
  '109632',
  '115268',
  '78490',
  '86241'],
 ['822',
  '255',
  '36704',
  '22175',
  '73516',
  '61261',
  '48643',
  '54313',
  '43675',
  '30729',
  '84456',
  '103932',
  '56249',
  '56957',
  '102200',
  '73543',
  '69053',
  '44262',
  '59828',
  '69625',
  '40377',
  '90153',
  '41136',
  '1690',
  '48385',
  '7323',
  '15646',
  '32227',
  '4471',
  '20878',
  '25739',
  '71848',
  '19899',
  '89623',
  '97773',
  '114055',
  '108319',
  '10086',
  '11996',
  '60469',
  '114055',
  '18939',
  '79676',
  '18262',
  '10086',
  '7158',
  '7154',
  '7153',
  '42458',
  '41487',
  '7156'],
 ['28002', '84479', '37509', '10230', '31992'],
 ['39273', '4538', '11650', '18592', '38365'],
 ['35758', '9134', '67015', '80007'],
 ['100192',
  '103021',
  '100562',
  '99306',
  '52794',
  '104916',
  '114871',
  '116032',
  '113587',
  '112275',
  '108271',
  '108268',
  '106765',
  '101458',
  '97934',
  '102475',
  '113821',
  '110473',
  '88897',
  '3030',
  '99875',
  '106921',
  '87796',
  '64691',
  '107731',
  '26141',
  '108684',
  '102032',
  '71147',
  '112526',
  '31912',
  '62395',
  '112438',
  '112416',
  '58044',
  '111647',
  '4663',
  '25562',
  '108987',
  '107015',
  '110859',
  '106921',
  '32902',
  '114288',
  '109757',
  '57657',
  '106833'],
 ['95322',
  '37170',
  '87107',
  '28507',
  '113418',
  '23583',
  '116073',
  '64838',
  '115860',
  '112489',
  '44438',
  '109125',
  '19666',
  '28943',
  '8076',
  '92379',
  '49467',
  '29987',
  '21569',
  '12148',
  '21569',
  '55626',
  '59040',
  '31034',
  '48661',
  '2246',
  '51524',
  '95887',
  '33321',
  '31621',
  '43913',
  '91058'],
 ['423', '18000', '13466', '3274', '12511', '94330'],
 ['4452',
  '22256',
  '41658',
  '62601',
  '29116',
  '71112',
  '16244',
  '107217',
  '11496',
  '2246',
  '25324',
  '23564',
  '8900',
  '12056',
  '31626',
  '16768',
  '18861',
  '70564',
  '63151',
  '15274',
  '19724',
  '9528',
  '36917',
  '44235',
  '43472',
  '19104',
  '72486',
  '14713',
  '19986',
  '26706',
  '65393',
  '44255',
  '42164',
  '111833',
  '17813',
  '59573',
  '100804',
  '8643',
  '57221',
  '23470',
  '73535',
  '42274',
  '39285',
  '19246',
  '15977',
  '1341',
  '23470',
  '8897',
  '15274',
  '42164',
  '43099',
  '14908',
  '12056',
  '87638',
  '12056',
  '19485',
  '42274',
  '16768',
  '23564',
  '89882',
  '8900',
  '8897',
  '29116',
  '4985',
  '70875',
  '43472',
  '44235',
  '70564',
  '73535'],
 ['69837',
  '101111',
  '76571',
  '8146',
  '28953',
  '85254',
  '7154',
  '52766',
  '15489',
  '22490',
  '72561',
  '30313',
  '34570',
  '69327',
  '104519',
  '100500',
  '17108',
  '6394',
  '7003',
  '35989',
  '25742',
  '9465',
  '33140',
  '24081',
  '76711',
  '49004',
  '85411',
  '75008',
  '11622',
  '93601',
  '89386',
  '92451',
  '53374',
  '78442'],
 ['19246', '104853', '16452', '80473'],
 ['13463',
  '22660',
  '111829',
  '53602',
  '87711',
  '83622',
  '65933',
  '66309',
  '21126',
  '112107',
  '116292',
  '114204',
  '13061',
  '116083',
  '116135',
  '114268',
  '111215',

In [54]:
# 转为字符串型才能进行训练
for i in range(len(doc)):
    doc[i] = [str(x) for x in doc[i]]
    
model = Word2Vec(doc, size=128, window=5, min_count=3, sg=0, hs=1, seed=14)

In [55]:
# 训练结果提取
values = set(whole_click['item_id'].values)
w2v=[]

In [58]:
for v in values:
    try:
        a = [int(v)]
        a.extend(model[str(v)])
        w2v.append(a)
    except:
        print(v)

/Users/luoyonggui/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: DeprecationWarning: Call to deprecated `__getitem__` (Method will be removed in 4.0.0, use self.wv.__getitem__() instead).
  after removing the cwd from sys.path.

497
627
748
1004
1007
1028
1126
1167
1262
1288
1463
1534
1554
1753
1861
1904
1970
2001
2058
2268
2421
2492
2847
2880
2892
2975
3290
3536
3630
3639
3711
3875
3910
3955
3988
4008
4162
4404
4444
4598
4685
4871
4904
5051
5755
5990
6065
6153
6266
6327
6366
6524
6577
6759
6848
6932
7341
7493
7504
8126
8309
8703
8909
9081
9259
9327
9569
9577
9861
9887
9891
10000
10069
10257
10285
10379
10473
10652
10741
10813
11001
11743
11899
11999
12026
12057
12310
12723
12756
12986
13185
13191
13275
13454
13476
13508
13546
13578
13769
13855
13934
14316
14372
14453
14634
14887
14981
15210
15385
15566
15643
15672
15769
15827
16038
16187
16219
16617
16878
16988
17005
18954
19103
19624
19686
19769
19789
20010
20024
20049
20176
20197
20257
20282
20732
20775
20880
21089
21308
21672
21686
21733
21762
21870
21938
22063
22264
22277
22309
22572
23081
23642
23756
24461
25127
25266
25580
25962
25979
26326
26727
26838
26914
27046
27116
27560
27822
27999
28005
28078
28167
28351
28410
28590
28656
28891
29095
29382
29406
29438
29662
29701
29970
30195
30461
30601
30972
31076
31158
31275
31341
31487
31542
31912
31918
32030
32238
32804
32849
32965
33055
33146
33228
33375
33397
33472
33512
33615
33628
34020
34062
34142
34145
34166
34294
34535
34713
34815
34899
34931
34992
35126
35171
35332
35342
35768
35902
35994
36276
36297
36359
36379
36533
36545
36598
36946
36966
37113
37163
37221
37233
37555
37647
37674
37694
37931
39000
39189
39304
39395
39537
39568
39824
39992
39999
40186
40267
40770
40844
40870
40999
41218
41229
41336
41518
41591
41949
42045
42097
42268
42363
42369
42575
42601
43122
43458
43810
43824
44011
44076
44449
44647
44773
44924
44993
45196
46467
47082
47314
47371
47529
47589
47657
47665
47737
48038
48059
48306
48475
48669
48715
48892
48936
49210
49378
49748
49834
49837
50384
50392
50405
50543
50715
50737
51085
51722
51748
51762
51873
52221
52251
52312
52345
52706
52964
53170
53369
53393
53396
53656
53830
54036
54158
54421
54629
55013
55134
55173
55420
55879
55921
55938
56144
56293
56401
56450
56485
56511
56716
56717
56922
57340
57401
57577
57603
57613
57715
57732
57922
57986
58273
58347
58437
58868
58875
58888
59028
59029
59041
59213
59372
59455
59508
59686
59817
59868
60150
60172
60286
60309
60322
60429
60497
60533
60615
60815
60887
60954
60966
61066
61067
61182
61576
61750
61823
62006
62096
62437
62801
62868
63002
63682
63722
63956
64203
64212
64296
64323
64383
64433
64473
64786
64806
65337
65445
65550
65614
65987
66347
66974
67210
67295
67309
67335
67392
67470
67671
67903
68232
68386
68401
68520
68583
68628
68964
68967
69149
69282
69318
69454
69620
69708
70018
70330
70796
70812
70863
70961
71211
71271
71465
71917
72267
72287
72363
72368
72410
72549
72897
72901
72925
73035
73047
73137
73166
73286
73588
73948
74143
74190
74401
74429
74475
74577
74626
74753
75105
75175
75453
75500
75531
75628
75822
75913
76013
76737
76917
77443
77605
77720
77781
77783
78084
78284
78449
78759
78808
79128
79341
79403
79451
79684
79750
79881
80024
80674
80721
80784
81109
81380
81557
81934
82171
82423
82784
82816
83001
83242
83302
83309
83405
83523
83743
83920
83942
84360
84637
84992
85143
85313
85662
85666
86331
86417
86547
86595
86626
86911
86944
86953
86969
87056
87098
87174
87181
87500
87799
87914
87975
88092
88111
88234
88344
88597
88727
88896
88913
89079
89246
89580
89587
89636
90003
90188
90211
90333
90481
90496
90551
90792
90800
90817
90838
91036
91097
91130
91155
91192
91419
91447
91931
92064
92066
92281
92283
92539
92581
92605
92771
93083
93095
93242
93383
93427
93500
93554
93584
93630
93664
93835
94233
94348
94569
94677
94736
95084
95354
95359
95463
95723
95840
95995
96070
96140
96178
96235
96247
96351
96440
96534
96798
97253
97414
97616
97708
97966
98244
98661
98706
98867
99049
99370
99448
99752
99770
99900
99957
100096
100149
100222
100759
100857
100862
100902
101011
101099
101447
101553
101606
101761
101943
102213
102270
102409
102665
103049
103053
103072
103219
103344
103375
104202
104309
104848
104933
105211
105466
105526
105930
106179
106228
106429
106522
106630
106767
107402
107659
108055
108077
108083
108653
108673
108738
108750
108960
109138
109290
109610
109907
110041
110275
110342
110444
110695
111129
111326
111350
111371
111452
111617
111701
111740
112594
113242
113579
113640
113896
114474
114904
114952
115003
115572
116486
116785

# 开源版本 0.2
https://mp.weixin.qq.com/s/GbnhlATPGHwVsmF069VpHw


"该赛道的数据集强调电商推荐系统的公平性，尤其是流量较少的广大中小商家所面临的“有好货缺无人问津”的困境。数据横跨十余天，中间还穿插了某次全网促销活动，涵盖了一些商品从上新时无人问津、到逐渐成为高潜力爆款的历程。欲获胜的队伍需格外关注曝光不足的商品上的推荐准确度，需探索“如何抵消掉历史点击数据的选择性偏差以便避免只推爆款”、“如何注意数据分布随时间的变化以便及时发现高潜力冷门好货”、“如何利用多模态图文商品信息来辅助商品冷启动”等重要课题。"--解题关键

       首先感谢青禹小生的开源，本文是在其基础上进行更多的细化， 也将对更多优化方向和建模思路进行简单介绍。

## 关联商品打分

In [6]:
def get_sim_item(df_, user_col, item_col, use_iif=False):

    df = df_.copy()
    user_item_ = df.groupby(user_col)[item_col].agg(list).reset_index()
    user_item_dict = dict(zip(user_item_[user_col], user_item_[item_col]))

    user_time_ = df.groupby(user_col)['time'].agg(list).reset_index() # 引入时间因素
    user_time_dict = dict(zip(user_time_[user_col], user_time_['time']))

    sim_item = {}  
    item_cnt = defaultdict(int)  # 商品被点击次数
    for user, items in tqdm(user_item_dict.items()):  
        for loc1, item in enumerate(items):  
            item_cnt[item] += 1  
            sim_item.setdefault(item, {})  
            for loc2, relate_item in enumerate(items):  
                if item == relate_item:  
                    continue  
                t1 = user_time_dict[user][loc1] # 点击时间提取
                t2 = user_time_dict[user][loc2]
                sim_item[item].setdefault(relate_item, 0)  
                if not use_iif:  
                    if loc1-loc2>0:
                        sim_item[item][relate_item] += 1 * 0.7 * (0.8**(loc1-loc2-1)) * (1 - (t1 - t2) * 10000) / math.log(1 + len(items)) # 逆向
                    else:
                        sim_item[item][relate_item] += 1 * 1.0 * (0.8**(loc2-loc1-1)) * (1 - (t2 - t1) * 10000) / math.log(1 + len(items)) # 正向
                else:  
                    sim_item[item][relate_item] += 1 / math.log(1 + len(items))

    sim_item_corr = sim_item.copy() # 引入AB的各种被点击次数  
    for i, related_items in tqdm(sim_item.items()):  
        for j, cij in related_items.items():  
            sim_item_corr[i][j] = cij / ((item_cnt[i] * item_cnt[j]) ** 0.2)

    return sim_item_corr, user_item_dict

这里在原有基础上考虑了两点因素，关联位置因素和关联时间因素。强关联的发生是有向的、有位置的和有时间的。

比如我们先买了手机，那下一次买手机壳的关联，和先买手机壳再买手机的关联，这两种很明显，A到B大于B到A，这是有向性；

我先买了手机，然后买了手机壳，又买了耳机，很明显，手机和手机壳的关联性大于手机与耳机的关联性，这是位置性；

那么如果再加上时间这层因素，时间相隔越远的关联性肯定是不高的。

这三点因素就可以组成我们的优化思路，有向性打分*位置打分*时间打分，得到最终关联打分。

## 交互行为打分

In [8]:
def recommend(sim_item_corr, user_item_dict, user_id, top_k, item_num):

    rank = {}  
    interacted_items = user_item_dict[user_id] 
    interacted_items = interacted_items[::-1]
    for loc, i in enumerate(interacted_items):  
        for j, wij in sorted(sim_item_corr[i].items(), reverse=True)[0:top_k]:  
            if j not in interacted_items:  
                rank.setdefault(j, 0)  
                rank[j] += wij * (0.7**loc) 
     
     return sorted(rank.items(), key=lambda d: d[1], reverse=True)[:item_num]

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 12)

这里的优化也很符合我们的主观认识，距离下次点击月近的行为，相关性越接近，所有可以根据位置远近考虑重要性，添加权重因子。当然还可以添加时间权重因子。



## 优化方向

      切勿陷入思维定势，也许我的优化方向和baseline会使大家产生一个误区。就像之前安泰杯的比赛，决赛中评委也说到了baseline，很大程度影响的大家的思维方向。没有说baseline不好，而这只能作为无数解题思路中的一小部分，一个分支。不是沿着这个分支走下去，而是去创造更多分支。这就如同多路召回，之将其当作融合的一部分罢了。

       目前只是从关联的角度解决问题，这个角度可以做的更细。也可以考虑其它方向，目前大家做的还都是起点，而不是终点。向量召回、模型召回，以及后面的排序都需要进一步尝试。



## 建模思路

没有相关经验的同学可能会问正负样本怎么来，那其实很简单，需要我们去构造label。这里分为两步：

样本提取。我们线下验证的时候，一般是用户最后一次点击进行验证，会进行召回50个商品，然后观察召回率。这样的50个商品及对应的用户就是样本数据。

样本打标。召回的50个商品中是最后一次点击的商品labael是1，反之为0。

这样我们就能得到训练集，测试集构造方式一样，只不过需要去预测其label，最后将label的概率进行排序，top50就是最终建模得到的结果。

为了防止数据泄露，构造特征时一定要用历史的点击行为进行构造。最后我们就可以像一般的二分类问题进行解题了。

# nb

In [8]:
from nbdev.export import *
notebook2script('0EDA.ipynb')

Converted 0EDA.ipynb.