In [1]:
# default_exp rank

In [1]:
%reload_ext autoreload
%autoreload 2

%matplotlib inline

In [2]:
# export
import os
import sys
sys.path.append('../mylib/')
from algo.rs.matrix import *
from code.val import main as val
from code.eda import * 
from code.config import args
import pandas as pd  
import numpy as np
from tqdm import tqdm  
from collections import defaultdict  
import math  
from sklearn.metrics.pairwise import cosine_similarity
from loguru import logger
from utils.pickle import PickleWrapper

In [3]:
trace = logger.add(os.path.join(args.DATA_DIR, 'data_gen/runtime.log'))

# val

In [4]:
def val1(df, topk, click_val):
    """
    :sr: pd.Series
        user_id
        1        [52766, 17359, 8142, 114592, 82010, 102105, 11...
        2        [111215, 4207, 49803, 5291, 68704, 113633, 712...
    """
    sr = df.groupby('user_id')['item_id_pred'].agg(list)
    r_list = []
    pred_num = click_val.shape[0]
    for line in click_val.itertuples():
        try:
#             t = [i[0] for i in sr[line.user_id]]
            df.loc[df.user_id==line.user_id, 'item_id_true'] = line.item_id
            t = sr[line.user_id]
#             print(t)
            i = t.index(line.item_id)
        except:
            i = 99999

        r_list.append(i)
    r_series = pd.Series(r_list)
    for i in range(50, topk+1, 50):
        logger.info(f'recall{i}:{r_series[r_series<i].shape[0]/pred_num}')
        
#     r_series[r_series<9999].plot(kind='box', title='pp', rot=45)
    return df

# load click data

In [5]:
all_click_df = load_click_data_per_phase(args.now_phase, args.DATA_DIR)

2020-05-28 15:43:02.196 | INFO     | code.eda:load_click_data_per_phase:97 - phase: 0
2020-05-28 15:43:02.969 | INFO     | code.eda:load_click_data_per_phase:108 - all_click: (261337, 3), click_test1_val: (1663, 3), test_qtime1: (1663, 2)
2020-05-28 15:43:02.970 | INFO     | code.eda:load_click_data_per_phase:97 - phase: 1
2020-05-28 15:43:03.776 | INFO     | code.eda:load_click_data_per_phase:108 - all_click: (264871, 3), click_test1_val: (1726, 3), test_qtime1: (1726, 2)
2020-05-28 15:43:03.777 | INFO     | code.eda:load_click_data_per_phase:97 - phase: 2
2020-05-28 15:43:04.632 | INFO     | code.eda:load_click_data_per_phase:108 - all_click: (264624, 3), click_test1_val: (1690, 3), test_qtime1: (1690, 2)
2020-05-28 15:43:04.634 | INFO     | code.eda:load_click_data_per_phase:97 - phase: 3
2020-05-28 15:43:05.532 | INFO     | code.eda:load_click_data_per_phase:108 - all_click: (286609, 3), click_test1_val: (1675, 3), test_qtime1: (1675, 2)
2020-05-28 15:43:05.533 | INFO     | code.eda:load_click_data_per_phase:97 - phase: 4
2020-05-28 15:43:06.425 | INFO     | code.eda:load_click_data_per_phase:108 - all_click: (291672, 3), click_test1_val: (1708, 3), test_qtime1: (1708, 2)
2020-05-28 15:43:06.426 | INFO     | code.eda:load_click_data_per_phase:97 - phase: 5
2020-05-28 15:43:07.379 | INFO     | code.eda:load_click_data_per_phase:108 - all_click: (313378, 3), click_test1_val: (1798, 3), test_qtime1: (1798, 2)
2020-05-28 15:43:07.380 | INFO     | code.eda:load_click_data_per_phase:97 - phase: 6
2020-05-28 15:43:08.543 | INFO     | code.eda:load_click_data_per_phase:108 - all_click: (337339, 3), click_test1_val: (1821, 3), test_qtime1: (1821, 2)

In [6]:
item_feat = get_item_data()

/Users/luoyonggui/PycharmProjects/myappsexlib/a_0330_0527_Modern_E_Commerce_Platform_Debiasing/code/eda.py:32: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  converters={'item_id':str})

In [208]:
item_feat.iloc[:, 1:129].shape

(108916, 128)

In [209]:
item_feat.iloc[:, 129:257].shape

(108916, 128)

In [7]:
item_feat['text_vec'] = item_feat.iloc[:, 1:129].values.tolist()
item_feat['img_vec'] = item_feat.iloc[:, 129:257].values.tolist()

item_feat['text_vec'] = item_feat['text_vec'].map(np.array)

item_feat['img_vec'] = item_feat['img_vec'].map(np.array)

item_feat.set_index('item_id', inplace=True)

In [8]:
phase = [0, 1, 2, 3, 5, 6]
# match_num = 200
match_num = 500

In [185]:
# 计算每个phase的item_id user_cnt  # 貌似每个phase的item只会被user唯一点击一次，那就没必要统计了。。。
def t(s):
    return s.nunique()
all_click_df[0][0].groupby('item_id')['user_id'].agg(t)

item_id
1          4
1000      13
100000     8
10001      5
100013     5
          ..
99990      6
99991      3
99993      5
99994      5
99998      5
Name: user_id, Length: 40775, dtype: int64

In [177]:
# temp_ = all_click_df[0][0].groupby('user_id')['item_id'].agg(list)
temp_ = all_click_df[0][0].groupby('item_id')['user_id'].agg(list)

In [179]:
temp_

item_id
1                               [1489, 10088, 13420, 19312]
1000      [14546, 9531, 32114, 6934, 20558, 30360, 33492...
100000    [20800, 17064, 33901, 5699, 8541, 1940, 20705,...
10001                      [6572, 17178, 25162, 6383, 8264]
100013                    [18924, 32480, 7696, 6319, 32706]
                                ...
99990              [30399, 8084, 2969, 21225, 32152, 34183]
99991                                  [9430, 32852, 31855]
99993                   [23622, 22023, 12546, 31661, 21784]
99994                     [9287, 6305, 28964, 17648, 22420]
99998                    [24217, 9796, 20948, 25551, 16599]
Name: user_id, Length: 40775, dtype: object

In [178]:
temp_.str.len().describe()

count    40775.000000
mean         6.409246
std          6.358793
min          1.000000
25%          4.000000
50%          5.000000
75%          7.000000
max        234.000000
Name: user_id, dtype: float64

In [ ]:
for p in phase:
    # 获取test用户的近n次点击
    temp_ = all_click_df[0][0].groupby('user_id')['item_id'].agg(list)
    temp_ = pd.DataFrame(temp_)
    for i in range(5):
        temp_[f'last_{i+1}'] = temp_.item_id.str.get(-(i+1))
        
    # 计算每个phase的item_id cnt
    all_click_df[0][0].groupby('item_id')['user_id'].count()

In [164]:
whole_click_train, whole_click_val, click_test, test_qtime = load_whole_click_data(args.now_phase, args.DATA_DIR)

2020-05-28 05:06:06.627 | INFO     | code.eda:load_whole_click_data:54 - phase: 0
2020-05-28 05:06:06.989 | INFO     | code.eda:load_whole_click_data:54 - phase: 1
2020-05-28 05:06:07.275 | INFO     | code.eda:load_whole_click_data:54 - phase: 2
2020-05-28 05:06:07.585 | INFO     | code.eda:load_whole_click_data:54 - phase: 3
2020-05-28 05:06:07.939 | INFO     | code.eda:load_whole_click_data:54 - phase: 4
2020-05-28 05:06:08.331 | INFO     | code.eda:load_whole_click_data:54 - phase: 5
2020-05-28 05:06:08.812 | INFO     | code.eda:load_whole_click_data:54 - phase: 6
2020-05-28 05:06:16.617 | INFO     | code.eda:load_whole_click_data:84 - whole_click_train: (954588, 4), whole_click_val: (12081, 4), click_test: (175274, 4), test_qtime: (12081, 3)

In [165]:
click_test_val = click_test.sort_values('time').drop_duplicates('user_id', keep='last')

In [166]:
click_test = click_test[~click_test.index.isin(click_test_val.index)].sort_values('time')

In [167]:
click_test.shape

(109018, 4)

In [168]:
click_test.user_id.nunique()

11724

In [169]:
click_test_val.user_id.nunique()

12081

# load match result

In [76]:
# r_itemcf = PickleWrapper.loadFromFile(os.path.join(args.DATA_DIR, 'data_gen/r_list_itemcf_0525.pkl'))

# r_binn = PickleWrapper.loadFromFile(os.path.join(args.DATA_DIR, 'data_gen/r_list_binn_0525.pkl'))

r_itemcf = PickleWrapper.loadFromFile(os.path.join(args.DATA_DIR, 'data_gen/r_list_itemcf_0527.pkl'))

r_binn = PickleWrapper.loadFromFile(os.path.join(args.DATA_DIR, 'data_gen/r_list_binn_0527.pkl'))

r_itemcf_yl = PickleWrapper.loadFromFile(os.path.join(args.DATA_DIR, 'data_gen/r_list_itemcf_yulao_0527.pkl'))

r_itemcf_yl = [r_itemcf_yl[0], r_itemcf_yl[1],r_itemcf_yl[2],r_itemcf_yl[3],r_itemcf_yl[5],r_itemcf_yl[6]]

In [77]:

df1 = pd.DataFrame()
df2 = pd.DataFrame()
df3 = pd.DataFrame()
for i in range(len(phase)):
    r_itemcf[i]['phase'] = phase[i]
    r_binn[i]['phase'] = phase[i]
    r_itemcf_yl[i]['phase'] = phase[i]
    df1 = df1.append(r_itemcf[i])
    df2 = df2.append(r_binn[i])
    df3 = df3.append(r_itemcf_yl[i])

In [78]:
# s_itemcf.shape, s_binn.shape

# from multiprocessing import Pool
# pool = Pool(6)

In [79]:

# # for i, v in tqdm(s_itemcf.items()):
# def m1(p):
#     i, v = p[0], p[1]
# #     print(i)
#     dft = pd.DataFrame(columns='score1 rank1'.split())
#     cnt = 1
#     for item_id, score in v[:match_num]:
#         dft.loc[item_id] = [score, cnt]
#         cnt += 1
#     dft = dft.reset_index()
#     dft.columns = 'next_item score1 rank1'.split()
#     dft['user_id'] = i
#     return dft
# #     df1 = df1.append(dft)

# dfr_list = pool.map(m1, s_itemcf.items())

# len(dfr_list)


# # for i, v in s_binn.items():
# def m2(p):
#     i, v = p[0], p[1]
# #     print(i)
#     dft = pd.DataFrame(columns='score2 rank2'.split())
#     cnt = 1
#     for item_id, score in v[:match_num]:
#         dft.loc[item_id] = [score, cnt]
#         cnt += 1
#     dft = dft.reset_index()
#     dft.columns = 'next_item score2 rank2'.split()
#     dft['user_id'] = i
#     return dft
# #     df2 = df.append(dft)

# dfr2_list = pool.map(m2, s_binn.items())

# len(dfr2_list)

# df1 = pd.DataFrame()

# for i in tqdm(dfr_list):
#     df1 = df1.append(i)

# df2 = pd.DataFrame()
# for i in tqdm(dfr2_list):
#     df2 = df2.append(i)

# df1.shape

# df2.shape

In [80]:
df1.shape, df2.shape, df3.shape,

((5186489, 6), (4248843, 6), (4996488, 6))

In [81]:
df1.columns

Index(['user_id', 'item_id_pred', 'score', 'rank', 'item_id_true', 'phase'], dtype='object')

In [139]:

df1_ = df1[df1['rank']<(match_num+1)]
df2_ = df2[df2['rank']<(match_num+1)]
df3_ = df3[df3['rank']<(match_num+1)]

In [140]:
df = pd.merge(pd.merge(df1_, df2_, on='user_id item_id_pred item_id_true phase'.split(), how='outer'), 
              df3_, on='user_id item_id_pred item_id_true phase'.split(), how='outer')

In [141]:
df.shape

(9536065, 10)

In [142]:
df['label'] = (df['item_id_pred'] == df['item_id_true']).map(int)

In [143]:
df.head()

  user_id item_id_pred   score_x  rank_x item_id_true  phase   score_y  rank_y     score   rank  label
0      11        79868  6.019197     1.0         8052      0  2.023002     1.0  0.010625  142.0      0
1      11        15844  5.328522     2.0         8052      0  0.326349    86.0  0.086894    6.0      0
2      11        10528  5.246875     3.0         8052      0  0.461508    52.0  0.067450   11.0      0
3      11       113564  5.100132     4.0         8052      0  0.386057    66.0  0.136157    1.0      0
4      11        20389  4.636769     5.0         8052      0  0.415892    62.0  0.048790   19.0      0

In [144]:
df.label.value_counts()

0    9533232
1       2833
Name: label, dtype: int64

In [145]:
df.user_id.nunique()

10373

In [146]:
df = df.fillna(0)

In [147]:
df[df.label==1]

        user_id item_id_pred    score_x  rank_x item_id_true  phase   score_y  rank_y     score   rank  label
101          11         8052   1.900682   102.0         8052      0  0.324958    87.0  0.018896   82.0      1
1039         44        25164   2.845496    40.0        25164      0  0.207407   180.0  0.037454   29.0      1
2017         66        43836  22.465015    18.0        43836      0  1.488082    18.0  0.100061   13.0      1
3512        132       117039  15.770346    13.0       117039      0  0.955082    21.0  0.174193    2.0      1
8675        319       112967   4.998704   176.0       112967      0  0.280866   201.0  0.079765    7.0      1
...         ...          ...        ...     ...          ...    ...       ...     ...       ...    ...    ...
9485044   28771        30238   0.000000     0.0        30238      6  0.000000     0.0  0.055383   13.0      1
9503352   30696        30780   0.000000     0.0        30780      6  0.000000     0.0  0.000044  245.0      1
9514064   28749        34356   0.000000     0.0        34356      6  0.000000     0.0  0.001915  412.0      1
9515694    2591        18934   0.000000     0.0        18934      6  0.000000     0.0  0.024958   49.0      1
9521065   20774         3376   0.000000     0.0         3376      6  0.000000     0.0  0.009262  332.0      1

[2833 rows x 11 columns]

In [198]:
df['item_cnt'] = 0

In [9]:
dft = pd.DataFrame()
for p in tqdm(phase):
    # 获取test用户的近n次点击
    temp_ = all_click_df[p][0][all_click_df[p][0].user_id.isin(all_click_df[p][1].user_id)].groupby('user_id')['item_id'].agg(list)
    temp_ = pd.DataFrame(temp_)
    for i in range(3, 5):
        temp_[f'last_{i+1}'] = temp_.item_id.str.get(-(i+1))
    dft = dft.append(temp_.reset_index())
    # 计算每个phase的item_id cnt
#     t_ = all_click_df[p][0].groupby('item_id')['user_id'].count()
#     df.loc[df.phase==p, 'item_cnt'] = df.item_id_pred.map(lambda x: t_[x] if x in t_ else 0)

100%|██████████| 6/6 [00:01<00:00,  4.23it/s]

In [202]:
df.user_id.nunique()

10373

In [201]:
dft.user_id.nunique()

10373

In [14]:
dft

     user_id                                            item_id  last_4  last_5
0       1001                               [76967, 2827, 11599]     NaN     NaN
1      10032            [109286, 102996, 105116, 55841, 111687]  102996  109286
2      10043         [28313, 40108, 33417, 37789, 94638, 60146]   33417   40108
3      10054   [3267, 66757, 99792, 69011, 74906, 45861, 45652]   69011   99792
4      10065  [24421, 12510, 43671, 81447, 13429, 41118, 411...   13429   81447
...      ...                                                ...     ...     ...
1816    9928  [35046, 13255, 3111, 1386, 14552, 6950, 110758...   89727  117577
1817    9939  [59450, 98514, 101033, 67247, 84198, 27172, 94...   67247  101033
1818     996  [105489, 112335, 104526, 112448, 110288, 11244...   87846   25594
1819    9961  [54961, 52178, 34923, 95221, 106441, 83545, 87...   98886   87494
1820    9994          [26111, 45156, 20291, 14626, 9066, 15197]   20291   45156

[10373 rows x 4 columns]

In [16]:
df = pd.merge(df, dft.drop(columns='item_id'))

In [221]:
df['item_id_pred_text_vec'] = df.item_id_pred.map(lambda x: item_feat['text_vec'][x] if x in item_feat['text_vec'] else np.zeros(128))

df['item_id_pred_img_vec'] = df.item_id_pred.map(lambda x: item_feat['img_vec'][x] if x in item_feat['img_vec'] else np.arange(128))

In [226]:
for c in tqdm('last_1 last_2 last_3'.split()):
    df[f'{c}_text_vec'] = df.item_id_pred.map(lambda x: item_feat['text_vec'][x] if x in item_feat['text_vec'] else np.zeros(128))

    df[f'{c}_img_vec'] = df.item_id_pred.map(lambda x: item_feat['img_vec'][x] if x in item_feat['img_vec'] else np.arange(128))

In [17]:
for c in tqdm('last_4 last_5'.split()):
    df[f'{c}_text_vec'] = df.item_id_pred.map(lambda x: item_feat['text_vec'][x] if x in item_feat['text_vec'] else np.zeros(128))

    df[f'{c}_img_vec'] = df.item_id_pred.map(lambda x: item_feat['img_vec'][x] if x in item_feat['img_vec'] else np.arange(128))

100%|██████████| 2/2 [09:19<00:00, 279.83s/it]

In [ ]:
# df.to_pickle(os.path.join(args.DATA_DIR, f'data_gen/dft{match_num}.pkl'))

In [10]:
# df = pd.read_pickle(os.path.join(args.DATA_DIR, f'data_gen/dft{match_num}.pkl'))

# FE

In [11]:
df.shape

(9536065, 24)

In [12]:
df.head(2)

  user_id item_id_pred   score_x  rank_x item_id_true  phase   score_y  rank_y     score   rank  label  item_cnt                                            item_id last_1 last_2 last_3                              item_id_pred_text_vec                               item_id_pred_img_vec                                    last_1_text_vec                                     last_1_img_vec                                    last_2_text_vec                                     last_2_img_vec                                    last_3_text_vec                                     last_3_img_vec
0      11        79868  6.019197     1.0         8052      0  2.023002     1.0  0.010625  142.0      0        47  [88058, 66082, 29755, 78804, 43074, 75757, 233...  28210  64689  20317  [2.3873836994171143, 1.274107813835144, 0.2217...  [-2.599696159362793, 1.5488953590393066, -1.48...  [2.3873836994171143, 1.274107813835144, 0.2217...  [-2.599696159362793, 1.5488953590393066, -1.48...  [2.3873836994171143, 1.274107813835144, 0.2217...  [-2.599696159362793, 1.5488953590393066, -1.48...  [2.3873836994171143, 1.274107813835144, 0.2217...  [-2.599696159362793, 1.5488953590393066, -1.48...
1      11        15844  5.328522     2.0         8052      0  0.326349    86.0  0.086894    6.0      0         5  [88058, 66082, 29755, 78804, 43074, 75757, 233...  28210  64689  20317  [3.9976482391357417, 1.0751028060913086, 0.722...  [-1.5042964220046997, -1.333038091659546, 0.13...  [3.9976482391357417, 1.0751028060913086, 0.722...  [-1.5042964220046997, -1.333038091659546, 0.13...  [3.9976482391357417, 1.0751028060913086, 0.722...  [-1.5042964220046997, -1.333038091659546, 0.13...  [3.9976482391357417, 1.0751028060913086, 0.722...  [-1.5042964220046997, -1.333038091659546, 0.13...

In [ ]:
df['sim1_text'] = (df['item_id_pred_text_vec'] * df['last_1_text_vec']).map(sum)

df['sim1_img'] = (df['item_id_pred_img_vec'] * df['last_1_img_vec']).map(sum)

df['sim2_text'] = (df['item_id_pred_text_vec'] * df['last_2_text_vec']).map(sum)
df['sim2_img'] = (df['item_id_pred_img_vec'] * df['last_2_img_vec']).map(sum)

df['sim3_text'] = (df['item_id_pred_text_vec'] * df['last_3_text_vec']).map(sum)
df['sim3_img'] = (df['item_id_pred_img_vec'] * df['last_3_img_vec']).map(sum)

# df['sim4_text'] = (df['item_id_pred_text_vec'] * df['last_4_text_vec']).map(sum)
# df['sim4_img'] = (df['item_id_pred_img_vec'] * df['last_4_img_vec']).map(sum)

# df['sim5_text'] = (df['item_id_pred_text_vec'] * df['last_5_text_vec']).map(sum)
# df['sim5_img'] = (df['item_id_pred_img_vec'] * df['last_5_img_vec']).map(sum)

In [39]:
df.columns

Index(['user_id', 'item_id_pred', 'score_x', 'rank_x', 'item_id_true', 'phase',
       'score_y', 'rank_y', 'score', 'rank', 'label', 'item_cnt', 'item_id',
       'last_1', 'last_2', 'last_3', 'item_id_pred_text_vec',
       'item_id_pred_img_vec', 'last_1_text_vec', 'last_1_img_vec',
       'last_2_text_vec', 'last_2_img_vec', 'last_3_text_vec',
       'last_3_img_vec', 'sim1', 'sim1_text', 'sim1_img', 'sim2_text',
       'sim2_img', 'sim3_text', 'sim3_img', 'rank1_sub_rank2',
       'rank1_add_rank2', 'rank1_mul_rank2', 'rank1_sub_rank3',
       'rank1_add_rank3', 'rank1_mul_rank3', 'rank2_sub_rank3',
       'rank2_add_rank3', 'rank2_mul_rank3', 'score1_sub_score2',
       'score1_add_score2', 'score1_mul_score2', 'score1_sub_score3',
       'score1_add_score3', 'score1_mul_score3', 'score2_sub_score3',
       'score2_add_score3', 'score2_mul_score3', 'fscore', 'frank',
       'sim1_text_img', 'sim2_text_img', 'sim3_text_img', 'sim12_text',
       'sim123_text', 'sim12_img', 'sim123_img', 'sim12_text_img',
       'sim123_text_img'],
      dtype='object')

In [20]:
temp_ = pd.read_pickle(os.path.join(args.DATA_DIR, f'data_gen/dft{match_num}_features.pkl'))

In [21]:
temp_.columns

Index(['user_id', 'item_id_pred', 'score_x', 'rank_x', 'item_id_true', 'phase',
       'score_y', 'rank_y', 'score', 'rank', 'label', 'item_cnt', 'item_id',
       'last_1', 'last_2', 'last_3', 'sim1_text', 'sim1_img', 'sim2_text',
       'sim2_img', 'sim3_text', 'sim3_img'],
      dtype='object')

In [19]:
df.head(2)

  user_id item_id_pred   score_x  rank_x item_id_true  phase   score_y  rank_y     score   rank  label  item_cnt                                            item_id last_1 last_2 last_3                              item_id_pred_text_vec                               item_id_pred_img_vec                                    last_1_text_vec                                     last_1_img_vec                                    last_2_text_vec                                     last_2_img_vec                                    last_3_text_vec                                     last_3_img_vec last_4 last_5                                    last_4_text_vec                                     last_4_img_vec                                    last_5_text_vec                                     last_5_img_vec   sim4_text    sim4_img   sim5_text    sim5_img
0      11        79868  6.019197     1.0         8052      0  2.023002     1.0  0.010625  142.0      0        47  [88058, 66082, 29755, 78804, 43074, 75757, 233...  28210  64689  20317  [2.3873836994171143, 1.274107813835144, 0.2217...  [-2.599696159362793, 1.5488953590393066, -1.48...  [2.3873836994171143, 1.274107813835144, 0.2217...  [-2.599696159362793, 1.5488953590393066, -1.48...  [2.3873836994171143, 1.274107813835144, 0.2217...  [-2.599696159362793, 1.5488953590393066, -1.48...  [2.3873836994171143, 1.274107813835144, 0.2217...  [-2.599696159362793, 1.5488953590393066, -1.48...  22113  23323  [2.3873836994171143, 1.274107813835144, 0.2217...  [-2.599696159362793, 1.5488953590393066, -1.48...  [2.3873836994171143, 1.274107813835144, 0.2217...  [-2.599696159362793, 1.5488953590393066, -1.48...  644.601963  461.714453  644.601963  461.714453
1      11        15844  5.328522     2.0         8052      0  0.326349    86.0  0.086894    6.0      0         5  [88058, 66082, 29755, 78804, 43074, 75757, 233...  28210  64689  20317  [3.9976482391357417, 1.0751028060913086, 0.722...  [-1.5042964220046997, -1.333038091659546, 0.13...  [3.9976482391357417, 1.0751028060913086, 0.722...  [-1.5042964220046997, -1.333038091659546, 0.13...  [3.9976482391357417, 1.0751028060913086, 0.722...  [-1.5042964220046997, -1.333038091659546, 0.13...  [3.9976482391357417, 1.0751028060913086, 0.722...  [-1.5042964220046997, -1.333038091659546, 0.13...  22113  23323  [3.9976482391357417, 1.0751028060913086, 0.722...  [-1.5042964220046997, -1.333038091659546, 0.13...  [3.9976482391357417, 1.0751028060913086, 0.722...  [-1.5042964220046997, -1.333038091659546, 0.13...  692.266290  515.405634  692.266290  515.405634

In [22]:
df = pd.merge(temp_, df['user_id item_id_pred sim4_text sim4_img sim5_text sim5_img'.split()])

In [24]:
temp_.shape

(9536065, 22)

In [23]:
df.shape

(9536641, 26)

In [25]:
df.drop_duplicates('user_id item_id_pred'.split(), inplace=True)

In [26]:
df.shape

(9535777, 26)

In [30]:
df.columns

Index(['user_id', 'item_id_pred', 'score_x', 'rank_x', 'item_id_true', 'phase',
       'score_y', 'rank_y', 'score', 'rank', 'label', 'item_cnt', 'item_id',
       'last_1', 'last_2', 'last_3', 'sim1_text', 'sim1_img', 'sim2_text',
       'sim2_img', 'sim3_text', 'sim3_img', 'sim4_text', 'sim4_img',
       'sim5_text', 'sim5_img'],
      dtype='object')

In [28]:
# df[['user_id', 'item_id_pred', 'score_x', 'rank_x', 'item_id_true', 'phase',
#        'score_y', 'rank_y', 'score', 'rank', 'label', 'item_cnt', 'item_id',
#        'last_1', 'last_2', 'last_3','sim1_text', 'sim1_img', 'sim2_text',
#        'sim2_img', 'sim3_text', 'sim3_img', 'sim4_text', 'sim4_img',
#        'sim5_text', 'sim5_img']].to_pickle(os.path.join(args.DATA_DIR, f'data_gen/dft{match_num}_features.pkl'))

# model

In [29]:
#export
from sklearn.metrics import classification_report

from catboost import Pool, CatBoostClassifier

from sklearn.model_selection import train_test_split

In [127]:
# df.loc[:, 'rank_x'] = df.rank_x.map(lambda x: 999 if x==0 else x)
# df.loc[:, 'rank_y'] = df.rank_x.map(lambda x: 999 if x==0 else x)
# df.loc[:, 'rank'] = df.rank_x.map(lambda x: 999 if x==0 else x)

In [31]:
for i in 'rank score'.split():
#     for ii in [1, 2]:
#         df['f{i}{ii}']
    df[f'{i}1_sub_{i}2'] = df[f'{i}_x']-df[f'{i}_y']
    df[f'{i}1_add_{i}2'] = df[f'{i}_x']+df[f'{i}_y']
    df[f'{i}1_mul_{i}2'] = df[f'{i}_x']*df[f'{i}_y']
    
    df[f'{i}1_sub_{i}3'] = df[f'{i}_x']-df[f'{i}']
    df[f'{i}1_add_{i}3'] = df[f'{i}_x']+df[f'{i}']
    df[f'{i}1_mul_{i}3'] = df[f'{i}_x']*df[f'{i}']
    
    df[f'{i}2_sub_{i}3'] = df[f'{i}_y']-df[f'{i}']
    df[f'{i}2_add_{i}3'] = df[f'{i}_y']+df[f'{i}']
    df[f'{i}2_mul_{i}3'] = df[f'{i}_y']*df[f'{i}']

In [32]:


df['sim1_text_img'] = df['sim1_text'] *  df['sim1_img']
df['sim2_text_img'] = df['sim2_text'] *  df['sim2_img']
df['sim3_text_img'] = df['sim3_text'] *  df['sim3_img']
df['sim4_text_img'] = df['sim4_text'] *  df['sim4_img']
df['sim5_text_img'] = df['sim5_text'] *  df['sim5_img']

df['sim12_text'] = df['sim1_text'] + df['sim2_text']
df['sim123_text'] = df['sim1_text'] + df['sim2_text'] + df['sim3_text']
df['sim1234_text'] = df['sim1_text'] + df['sim2_text'] + df['sim3_text'] + df['sim4_text']
df['sim12345_text'] = df['sim1_text'] + df['sim2_text'] + df['sim3_text'] + df['sim4_text'] + df['sim5_text']

df['sim12_img'] = df['sim1_img'] + df['sim2_img']
df['sim123_img'] = df['sim1_img'] + df['sim2_img'] + df['sim3_img']
df['sim1234_img'] = df['sim1_img'] + df['sim2_img'] + df['sim3_img'] + df['sim4_img']
df['sim12345_img'] = df['sim1_img'] + df['sim2_img'] + df['sim3_img'] + df['sim4_img'] + df['sim5_img']

df['sim12_text_img'] = df['sim1_text_img'] + df['sim2_text_img']
df['sim123_text_img'] = df['sim1_text_img'] + df['sim2_text_img'] + df['sim3_text_img']
df['sim1234_text_img'] = df['sim1_text_img'] + df['sim2_text_img'] + df['sim3_text_img'] + df['sim4_text_img']
df['sim12345_text_img'] = df['sim1_text_img'] + df['sim2_text_img'] + df['sim3_text_img'] + df['sim4_text_img'] + df['sim5_text_img']

In [33]:
df.columns

Index(['user_id', 'item_id_pred', 'score_x', 'rank_x', 'item_id_true', 'phase',
       'score_y', 'rank_y', 'score', 'rank', 'label', 'item_cnt', 'item_id',
       'last_1', 'last_2', 'last_3', 'sim1_text', 'sim1_img', 'sim2_text',
       'sim2_img', 'sim3_text', 'sim3_img', 'sim4_text', 'sim4_img',
       'sim5_text', 'sim5_img', 'rank1_sub_rank2', 'rank1_add_rank2',
       'rank1_mul_rank2', 'rank1_sub_rank3', 'rank1_add_rank3',
       'rank1_mul_rank3', 'rank2_sub_rank3', 'rank2_add_rank3',
       'rank2_mul_rank3', 'score1_sub_score2', 'score1_add_score2',
       'score1_mul_score2', 'score1_sub_score3', 'score1_add_score3',
       'score1_mul_score3', 'score2_sub_score3', 'score2_add_score3',
       'score2_mul_score3', 'sim1_text_img', 'sim2_text_img', 'sim3_text_img',
       'sim4_text_img', 'sim5_text_img', 'sim12_text', 'sim123_text',
       'sim1234_text', 'sim12345_text', 'sim12_img', 'sim123_img',
       'sim1234_img', 'sim12345_img', 'sim12_text_img', 'sim123_text_img',
       'sim1234_text_img', 'sim12345_text_img'],
      dtype='object')

In [40]:
cols = ['score_x', 'rank_x', 'score_y', 'rank_y','score', 'rank',
'rank1_sub_rank2',
'rank1_add_rank2', 'rank1_mul_rank2', 'score1_sub_score2',
'score1_add_score2', 'score1_mul_score2', 'rank1_sub_rank3',
'rank1_add_rank3', 'rank1_mul_rank3', 'rank2_sub_rank3',
'rank2_add_rank3', 'rank2_mul_rank3', 'score1_sub_score3',
'score1_add_score3', 'score1_mul_score3', 'score2_sub_score3',
'score2_add_score3', 'score2_mul_score3',
'item_cnt','sim1_text', 'sim1_img', 'sim2_text',
       'sim2_img', 'sim3_text', 'sim3_img',
'sim1_text_img', 'sim2_text_img', 'sim3_text_img', 'sim12_text',
       'sim123_text', 'sim12_img', 'sim123_img', 'sim12_text_img',
       'sim123_text_img'
]

In [34]:
cols = ['score_x', 'rank_x', 
       'score_y', 'rank_y', 'score', 'rank', 'item_cnt',
       'sim1_text', 'sim1_img', 'sim2_text',
       'sim2_img', 'sim3_text', 'sim3_img', 'sim4_text', 'sim4_img',
       'sim5_text', 'sim5_img', 'rank1_sub_rank2', 'rank1_add_rank2',
       'rank1_mul_rank2', 'rank1_sub_rank3', 'rank1_add_rank3',
       'rank1_mul_rank3', 'rank2_sub_rank3', 'rank2_add_rank3',
       'rank2_mul_rank3', 'score1_sub_score2', 'score1_add_score2',
       'score1_mul_score2', 'score1_sub_score3', 'score1_add_score3',
       'score1_mul_score3', 'score2_sub_score3', 'score2_add_score3',
       'score2_mul_score3', 'sim1_text_img', 'sim2_text_img', 'sim3_text_img',
       'sim4_text_img', 'sim5_text_img', 'sim12_text', 'sim123_text',
       'sim1234_text', 'sim12345_text', 'sim12_img', 'sim123_img',
       'sim1234_img', 'sim12345_img', 'sim12_text_img', 'sim123_text_img',
       'sim1234_text_img', 'sim12345_text_img']

In [35]:
df['phase'].value_counts()

6    1820867
5    1776430
3    1599358
2    1565472
1    1524428
0    1249222
Name: phase, dtype: int64

In [36]:
df['fscore'] = 0
df['frank'] = 999

In [37]:
X_train, X_test, y_train, y_test = df.loc[df['phase']<6, cols], df.loc[df['phase']==6, cols], df.loc[df['phase']<6, 'label'],\
                                       df.loc[df['phase']==6, 'label']

In [38]:
cat_cols = []
train_data = Pool(data=X_train,
                   label=y_train,
                   cat_features=cat_cols)
val_data = Pool(data=X_test, label=y_test, cat_features=cat_cols)

In [39]:
df.loc[df['phase']==6].user_id.nunique()

1821

In [40]:
df.loc[df['phase']==6].shape

(1820867, 63)

In [45]:
params = {
    'iterations': 360,
    'learning_rate': 0.1,
    'random_seed': 144,
    'custom_metric': 'F1',
    'loss_function': 'Logloss',
    'class_weights': [1, 20],
#     'use_best_model': False
    }
print(params)
model = CatBoostClassifier(**params)

{'iterations': 360, 'learning_rate': 0.1, 'random_seed': 144, 'custom_metric': 'F1', 'loss_function': 'Logloss', 'class_weights': [1, 20]}

In [108]:
# val1(r_itemcf[-1], 100, all_click_df[6][1])
# 2020-05-27 17:39:59.717 | INFO     | __main__:val1:24 - recall50:0.15595826468973092
# 2020-05-27 17:39:59.728 | INFO     | __main__:val1:24 - recall100:0.18231740801757276

In [46]:
r = model.fit(train_data, 
#               eval_set=val_data, 
              verbose=False,plot=False)
df.loc[df['phase']==6, 'fscore'] = model.predict_proba(val_data)[:, 1]

df.loc[df['phase']==6, 'frank'] = df.loc[df['phase']==6].groupby('user_id')['fscore'].rank(method='first', ascending=False)
r = val1(df.loc[(df['phase']==6)&(df['frank']<101)], 100, all_click_df[6][1])

2020-05-28 17:35:07.937 | INFO     | __main__:val1:24 - recall50:0.17298187808896212
2020-05-28 17:35:07.940 | INFO     | __main__:val1:24 - recall100:0.21087314662273476

In [42]:
r = model.fit(train_data, 
#               eval_set=val_data, 
              verbose=False,plot=False)
df.loc[df['phase']==6, 'fscore'] = model.predict_proba(val_data)[:, 1]

df.loc[df['phase']==6, 'frank'] = df.loc[df['phase']==6].groupby('user_id')['fscore'].rank(method='first', ascending=False)
r = val1(df.loc[(df['phase']==6)&(df['frank']<101)], 100, all_click_df[6][1])

/Users/luoyonggui/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s
2020-05-28 16:54:12.975 | INFO     | __main__:val1:24 - recall50:0.16035145524437122
2020-05-28 16:54:12.994 | INFO     | __main__:val1:24 - recall100:0.20043931905546403

In [47]:
# model.save_model(os.path.join(args.DATA_DIR, 'data_gen/catboost_model500_feat_last12345.dump'))

In [43]:
for a in range(10):
    print(a)
    r = model.fit(train_data, 
#                   eval_set=val_data, 
                  verbose=False,plot=False, init_model=model)
    df.loc[df['phase']==6, 'fscore'] = model.predict_proba(val_data)[:, 1]

    df.loc[df['phase']==6, 'frank'] = df.loc[df['phase']==6].groupby('user_id')['fscore'].rank(method='first', ascending=False)

    r = val1(df.loc[(df['phase']==6)&(df['frank']<101)], 100, all_click_df[6][1])

0

2020-05-28 16:55:58.189 | INFO     | __main__:val1:24 - recall50:0.16474464579901152
2020-05-28 16:55:58.191 | INFO     | __main__:val1:24 - recall100:0.20922570016474465

1

2020-05-28 16:57:14.376 | INFO     | __main__:val1:24 - recall50:0.1658429434376716
2020-05-28 16:57:14.378 | INFO     | __main__:val1:24 - recall100:0.20922570016474465

2

2020-05-28 16:58:27.180 | INFO     | __main__:val1:24 - recall50:0.16639209225700163
2020-05-28 16:58:27.181 | INFO     | __main__:val1:24 - recall100:0.2097748489840747

3

2020-05-28 16:59:38.387 | INFO     | __main__:val1:24 - recall50:0.1685886875343218
2020-05-28 16:59:38.390 | INFO     | __main__:val1:24 - recall100:0.2086765513454146

4

2020-05-28 17:00:48.822 | INFO     | __main__:val1:24 - recall50:0.1702361339923119
2020-05-28 17:00:48.825 | INFO     | __main__:val1:24 - recall100:0.20812740252608458

5

2020-05-28 17:02:03.010 | INFO     | __main__:val1:24 - recall50:0.16913783635365184
2020-05-28 17:02:03.013 | INFO     | __main__:val1:24 - recall100:0.20757825370675453

6

2020-05-28 17:03:17.286 | INFO     | __main__:val1:24 - recall50:0.1696869851729819
2020-05-28 17:03:17.290 | INFO     | __main__:val1:24 - recall100:0.20647995606809447

7

2020-05-28 17:04:27.437 | INFO     | __main__:val1:24 - recall50:0.1696869851729819
2020-05-28 17:04:27.438 | INFO     | __main__:val1:24 - recall100:0.2070291048874245

8

2020-05-28 17:05:36.891 | INFO     | __main__:val1:24 - recall50:0.1702361339923119
2020-05-28 17:05:36.892 | INFO     | __main__:val1:24 - recall100:0.20812740252608458

9

2020-05-28 17:06:48.050 | INFO     | __main__:val1:24 - recall50:0.171334431630972
2020-05-28 17:06:48.052 | INFO     | __main__:val1:24 - recall100:0.2086765513454146

In [44]:
for a in range(10):
    print(a)
    r = model.fit(train_data, 
#                   eval_set=val_data, 
                  verbose=False,plot=False, init_model=model)
    df.loc[df['phase']==6, 'fscore'] = model.predict_proba(val_data)[:, 1]

    df.loc[df['phase']==6, 'frank'] = df.loc[df['phase']==6].groupby('user_id')['fscore'].rank(method='first', ascending=False)

    r = val1(df.loc[(df['phase']==6)&(df['frank']<101)], 100, all_click_df[6][1])

0

2020-05-28 17:10:27.420 | INFO     | __main__:val1:24 - recall50:0.171334431630972
2020-05-28 17:10:27.424 | INFO     | __main__:val1:24 - recall100:0.2086765513454146

1

2020-05-28 17:11:40.422 | INFO     | __main__:val1:24 - recall50:0.17078528281164196
2020-05-28 17:11:40.424 | INFO     | __main__:val1:24 - recall100:0.2086765513454146

2

2020-05-28 17:12:55.253 | INFO     | __main__:val1:24 - recall50:0.1702361339923119
2020-05-28 17:12:55.254 | INFO     | __main__:val1:24 - recall100:0.2086765513454146

3

2020-05-28 17:14:05.452 | INFO     | __main__:val1:24 - recall50:0.1696869851729819
2020-05-28 17:14:05.453 | INFO     | __main__:val1:24 - recall100:0.2097748489840747

4

2020-05-28 17:15:14.942 | INFO     | __main__:val1:24 - recall50:0.1702361339923119
2020-05-28 17:15:14.943 | INFO     | __main__:val1:24 - recall100:0.21087314662273476

5

2020-05-28 17:16:26.736 | INFO     | __main__:val1:24 - recall50:0.171334431630972
2020-05-28 17:16:26.738 | INFO     | __main__:val1:24 - recall100:0.2097748489840747

6

2020-05-28 17:17:37.904 | INFO     | __main__:val1:24 - recall50:0.17298187808896212
2020-05-28 17:17:37.906 | INFO     | __main__:val1:24 - recall100:0.21087314662273476

7

2020-05-28 17:18:51.216 | INFO     | __main__:val1:24 - recall50:0.17243272926963207
2020-05-28 17:18:51.217 | INFO     | __main__:val1:24 - recall100:0.21032399780340472

8

2020-05-28 17:20:03.536 | INFO     | __main__:val1:24 - recall50:0.171334431630972
2020-05-28 17:20:03.540 | INFO     | __main__:val1:24 - recall100:0.20812740252608458

9

2020-05-28 17:21:18.146 | INFO     | __main__:val1:24 - recall50:0.17078528281164196
2020-05-28 17:21:18.148 | INFO     | __main__:val1:24 - recall100:0.20922570016474465

In [48]:
for a in range(10):
    print(a)
    r = model.fit(train_data, 
#                   eval_set=val_data, 
                  verbose=False,plot=False, init_model=model)
    df.loc[df['phase']==6, 'fscore'] = model.predict_proba(val_data)[:, 1]

    df.loc[df['phase']==6, 'frank'] = df.loc[df['phase']==6].groupby('user_id')['fscore'].rank(method='first', ascending=False)

    r = val1(df.loc[(df['phase']==6)&(df['frank']<101)], 100, all_click_df[6][1])

0

2020-05-28 11:55:56.561 | INFO     | __main__:val1:24 - recall50:0.1702361339923119
2020-05-28 11:55:56.564 | INFO     | __main__:val1:24 - recall100:0.2114222954420648

1

2020-05-28 11:57:09.415 | INFO     | __main__:val1:24 - recall50:0.1696869851729819
2020-05-28 11:57:09.416 | INFO     | __main__:val1:24 - recall100:0.2097748489840747

2

2020-05-28 11:58:19.222 | INFO     | __main__:val1:24 - recall50:0.16913783635365184
2020-05-28 11:58:19.223 | INFO     | __main__:val1:24 - recall100:0.2086765513454146

3

2020-05-28 11:59:30.939 | INFO     | __main__:val1:24 - recall50:0.16913783635365184
2020-05-28 11:59:30.941 | INFO     | __main__:val1:24 - recall100:0.2070291048874245

4

2020-05-28 12:00:40.302 | INFO     | __main__:val1:24 - recall50:0.1685886875343218
2020-05-28 12:00:40.305 | INFO     | __main__:val1:24 - recall100:0.20593080724876442

5

2020-05-28 12:01:51.198 | INFO     | __main__:val1:24 - recall50:0.16913783635365184
2020-05-28 12:01:51.199 | INFO     | __main__:val1:24 - recall100:0.20483250961010435

6

KeyboardInterrupt:

In [36]:
for a in range(10):
    print(a)
    r = model.fit(train_data, 
#                   eval_set=val_data, 
                  verbose=False,plot=False, init_model=model)
    df.loc[df['phase']==6, 'fscore'] = model.predict_proba(val_data)[:, 1]

    df.loc[df['phase']==6, 'frank'] = df.loc[df['phase']==6].groupby('user_id')['fscore'].rank(method='first', ascending=False)

    r = val1(df.loc[(df['phase']==6)&(df['frank']<101)], 100, all_click_df[6][1])

0

2020-05-28 11:27:10.489 | INFO     | __main__:val1:24 - recall50:0.1685886875343218
2020-05-28 11:27:10.492 | INFO     | __main__:val1:24 - recall100:0.2086765513454146

1

2020-05-28 11:28:16.959 | INFO     | __main__:val1:24 - recall50:0.16749038989566173
2020-05-28 11:28:16.962 | INFO     | __main__:val1:24 - recall100:0.20593080724876442

2

2020-05-28 11:29:30.797 | INFO     | __main__:val1:24 - recall50:0.16639209225700163
2020-05-28 11:29:30.800 | INFO     | __main__:val1:24 - recall100:0.20373421197144426

3

2020-05-28 11:30:44.796 | INFO     | __main__:val1:24 - recall50:0.16694124107633168
2020-05-28 11:30:44.799 | INFO     | __main__:val1:24 - recall100:0.20483250961010435

4

2020-05-28 11:31:56.103 | INFO     | __main__:val1:24 - recall50:0.16694124107633168
2020-05-28 11:31:56.105 | INFO     | __main__:val1:24 - recall100:0.20593080724876442

5

2020-05-28 11:33:01.188 | INFO     | __main__:val1:24 - recall50:0.16749038989566173
2020-05-28 11:33:01.189 | INFO     | __main__:val1:24 - recall100:0.20647995606809447

6

2020-05-28 11:34:09.125 | INFO     | __main__:val1:24 - recall50:0.16749038989566173
2020-05-28 11:34:09.126 | INFO     | __main__:val1:24 - recall100:0.20538165842943437

7

2020-05-28 11:35:16.526 | INFO     | __main__:val1:24 - recall50:0.16694124107633168
2020-05-28 11:35:16.528 | INFO     | __main__:val1:24 - recall100:0.20538165842943437

8

2020-05-28 11:36:25.212 | INFO     | __main__:val1:24 - recall50:0.16694124107633168
2020-05-28 11:36:25.214 | INFO     | __main__:val1:24 - recall100:0.20483250961010435

9

KeyboardInterrupt:

In [247]:
df.loc[df['phase']==6, 'fscore'] = model.predict_proba(val_data)[:, 1]

df.loc[df['phase']==6, 'frank'] = df.loc[df['phase']==6].groupby('user_id')['fscore'].rank(method='first', ascending=False)

r = val1(df.loc[(df['phase']==6)&(df['frank']<101)], 100, all_click_df[6][1])

In [227]:
df.loc[df['phase']==6]

        user_id item_id_pred    score_x  rank_x item_id_true  phase   score_y  rank_y     score   rank  label  rank1_sub_rank2  rank1_add_rank2  rank1_mul_rank2  rank1_sub_rank3  rank1_add_rank3  rank1_mul_rank3  rank2_sub_rank3  rank2_add_rank3  rank2_mul_rank3  score1_sub_score2  score1_add_score2  score1_mul_score2  score1_sub_score3  score1_add_score3  score1_mul_score3  score2_sub_score3  score2_add_score3  score2_mul_score3    fscore  frank
1710400      17         6322  23.536825     1.0        55640      6  2.233642     1.0  0.000000    0.0      0              0.0              2.0              1.0              1.0              1.0              0.0              1.0              1.0              0.0          21.303183          25.770466          52.572834          23.536825          23.536825           0.000000           2.233642           2.233642           0.000000  0.356126    1.0
1710401      17        25684  20.098247     2.0        55640      6  1.012120    10.0  0.052460    7.0      0             -8.0             12.0             20.0             -5.0              9.0             14.0              3.0             17.0             70.0          19.086126          21.110367          20.341845          20.045786          20.150707           1.054360           0.959660           1.064581           0.053096  0.218838    3.0
1710402      17        51966  18.027037     3.0        55640      6  1.600439     2.0  0.023134   81.0      0              1.0              5.0              6.0            -78.0             84.0            243.0            -79.0             83.0            162.0          16.426597          19.627476          28.851180          18.003903          18.050171           0.417040           1.577305           1.623574           0.037025  0.150970    6.0
1710403      17       107085  15.216324     4.0        55640      6  0.652856    24.0  0.128767    1.0      0            -20.0             28.0             96.0              3.0              5.0              4.0             23.0             25.0             24.0          14.563469          15.869180           9.934063          15.087558          15.345091           1.959357           0.524089           0.781622           0.084066  0.330119    2.0
1710404      17        31821  14.821069     5.0        55640      6  0.706890    20.0  0.000000    0.0      0            -15.0             25.0            100.0              5.0              5.0              0.0             20.0             20.0              0.0          14.114179          15.527960          10.476869          14.821069          14.821069           0.000000           0.706890           0.706890           0.000000  0.191946    4.0
...         ...          ...        ...     ...          ...    ...       ...     ...       ...    ...    ...              ...              ...              ...              ...              ...              ...              ...              ...              ...                ...                ...                ...                ...                ...                ...                ...                ...                ...       ...    ...
4139627    8795        91479   0.000000     0.0        40240      6  0.000000     0.0  0.009082  196.0      0              0.0              0.0              0.0           -196.0            196.0              0.0           -196.0            196.0              0.0           0.000000           0.000000           0.000000          -0.009082           0.009082           0.000000          -0.009082           0.009082           0.000000  0.019953  366.0
4139628    8795        39758   0.000000     0.0        40240      6  0.000000     0.0  0.009079  197.0      0              0.0              0.0              0.0           -197.0            197.0              0.0           -197.0            197.0              0.0           0.000000           0.000000           0.000000          -0.009079           0.009079           0.000000          -0.009079           0.009079           0.000000  0.019953  367.0
4139629    8795        76959   0.000000     0.0        40240      6  0.000000     0.0  0.008984  198.0      0              0.0              0.0              0.0           -198.0            198.0              0.0           -198.0            198.0              0.0           0.000000           0.000000           0.000000          -0.008984           0.008984           0.000000          -0.008984           0.008984           0.000000  0.019953  368.0
4139630    8795       101735   0.000000     0.0        40240      6  0.000000     0.0  0.008927  199.0      0              0.0              0.0              0.0           -199.0            199.0              0.0           -199.0            199.0              0.0           0.000000           0.000000           0.000000          -0.008927           0.008927           0.000000          -0.008927           0.008927           0.000000  0.019953  369.0
4139631    8795         1113   0.000000     0.0        40240      6  0.000000     0.0  0.008854  200.0      0              0.0              0.0              0.0           -200.0            200.0              0.0           -200.0            200.0              0.0           0.000000           0.000000           0.000000          -0.008854           0.008854           0.000000          -0.008854           0.008854           0.000000  0.019953  370.0

[773002 rows x 31 columns]

In [81]:
#export
def val(model, df_val, y_val, cat_cols):
    test_data = Pool(data=df_val,
                  cat_features=cat_cols)
    print(pd.Series(model.predict(test_data)).value_counts())
    print(classification_report(y_val, model.predict(test_data)))
    dfr = pd.DataFrame(y_val)
    dfr.columns = ['true_label']
#     dfr['CHANGE_ID'] = df_val['CHANGE_ID']
    y_test_hat = model.predict_proba(test_data)[:, 1]
    dfr['score'] = y_test_hat
    dfr['predict_label'] = model.predict(test_data)
    dfr = dfr.sort_values('score', ascending=False)
    dfr['order'] = range(1, dfr.shape[0] + 1)
    print(dfr[dfr.true_label == 1])
    return dfr

In [102]:
X_test.shape

(208305, 10)

In [101]:
val(model, X_test, y_test, cat_cols)

0    208305
dtype: int64

/Users/luoyonggui/anaconda3/lib/python3.7/site-packages/sklearn/metrics/classification.py:1437: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)

              precision    recall  f1-score   support

           0       1.00      1.00      1.00    208100
           1       0.00      0.00      0.00       205

    accuracy                           1.00    208305
   macro avg       0.50      0.50      0.50    208305
weighted avg       1.00      1.00      1.00    208305

         true_label     score  predict_label   order
958400            1  0.471337              0       4
125400            1  0.428180              0      46
168800            1  0.412973              0      93
58800             1  0.409844              0     104
1860400           1  0.394665              0     148
...             ...       ...            ...     ...
265571            1  0.004100              0  179877
974383            1  0.003933              0  182775
1298148           1  0.003745              0  185544
1310507           1  0.003516              0  190538
1989783           1  0.003029              0  195754

[205 rows x 4 columns]

         true_label     score  predict_label   order
241200            0  0.499405              0       1
26000             0  0.477325              0       2
1906400           0  0.471995              0       3
958400            1  0.471337              0       4
602600            0  0.454994              0       5
...             ...       ...            ...     ...
178187            0  0.000198              0  208301
855179            0  0.000195              0  208302
289974            0  0.000195              0  208303
1708754           0  0.000190              0  208304
1387963           0  0.000146              0  208305

[208305 rows x 4 columns]

In [17]:
dft.name='item_id'

In [18]:
dft.reset_index()

      index    score1  rank1
0     79868  6.019197    1.0
1     15844  5.328522    2.0
2     10528  5.246875    3.0
3    113564  5.100132    4.0
4     20389  4.636769    5.0
..      ...       ...    ...
495  100781  0.956455  496.0
496   27555  0.955564  497.0
497   34764  0.953188  498.0
498   73319  0.953118  499.0
499    2116  0.952860  500.0

[500 rows x 3 columns]

In [15]:
dft

          score1  rank1
79868   6.019197    1.0
15844   5.328522    2.0
10528   5.246875    3.0
113564  5.100132    4.0
20389   4.636769    5.0
...          ...    ...
100781  0.956455  496.0
27555   0.955564  497.0
34764   0.953188  498.0
73319   0.953118  499.0
2116    0.952860  500.0

[500 rows x 2 columns]